<li class="helpheader helpbutton help-fix-position-popover">   
<i class="icon-question-sign helphome helppopover" id="helpcategoriesid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.categories1_html')%>" href='#' value="" ></i>
<div class="contenthome" id="contentcategoriesid" style="display: none">
  <div>
    <%= t('document.help.categories2_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<%content_for :javascript do%>
  $('#helpcategoriesid').popover({ 
    html : true,
    content: function() {
      return $('#contentcategoriesid').html();
    }
  });
<%end%>
