<li class="helpheader_modal helpbutton">   
<i class="icon-question-sign helpCategorize helppopover" id="helpcategorizeid" data-placement='bottom' aria-hidden="true" data-original-title="<%= t('categories.actions.verb')%>" href='#' value="" ></i>
<div class="contentCategorize" id="contenthelpcategorizeid" style="display: none">
  <div>
  <%= t('document.help.categorize_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<%content_for :javascript do%>
  $('#helpcategorizeid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpcategorizeid').html();
    }
  });
<%end%>
