<span class="helpheader">   
  <i class="fa fa-question-circle helphome" id="helpprofileid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.profile1_html')%>" href='#' value="" ></i>
  <div class="contenthome" id="contenthelpprofileid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.profile2_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>
<%content_for :javascript do%>
  $('#helpprofileid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpprofileid').html();
    }
  });
<%end%>
