<span class="helpheader">   
  <i class="fa fa-question-circle helphome" id="helpfavoriteid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.favourite1_html')%>" href='#' value="" ></i>
  <div class="contenthome" id="contenthelpfavoriteid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.favourite2_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>

<%content_for :javascript do%>
  $('#helpfavoriteid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpfavoriteid').html();
    }
  });
<%end%>

