<li class="helpheader helpbutton">   
<i class="icon-question-sign helphome helppopover" id="helpexcursionid" data-placement='top' aria-hidden="true" data-original-title="<%= t('document.help.excursions1_html')%>" href='#' value="" ></i>
<div class="contenthome" id="contenthelpexcursionid" style="display: none">
  <div>
  <%= t('document.help.excursions2_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<%content_for :javascript do%>
  $('#helpexcursionid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpexcursionid').html();
    }
  });
<%end%>
