<span class="helpheader">   
  <i class="fa fa-question-circle" data-placement='left' aria-hidden="true" data-original-title="<%=t('document.help.activity1_html')%>" href='#' value="" ></i>
  <div class="contenthome" style="display: none">
    <div>
      <%= t('document.help.activity2_html')%>
    </div>
    <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>
<script>
$(document).ready(function(){
  $('.fa-question-circle').popover({ 
    html : true,
    content: function() {
      return $('.contenthome').html();
    }
  });
});
</script>

<script>
$('body').on('click', function (e) {
    $('.fa-question-circle').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>