<span class="helpheader">   
  <i class="fa fa-question-circle" id="helpcategoriesid"  data-toggle="popover" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.categories1_html')%>" href='#' value="" ></i>
  <div id="contentcategoriesid" style="display: none">
    <div class="popover-body">
      <p><%= t('document.help.categories2_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>

<%content_for :javascript do%>
  $('#helpcategoriesid').popover({
    html : true,
    content: function() {
      return $('#contentcategoriesid').html();
    }
  });
<%end%>
