<span class="helpheader">   
  <i class="fa fa-question-circle helpCategorize" id="helpcategorizeid" data-placement='left' aria-hidden="true" data-original-title="<%= t('categories.actions.verb')%>" href='#' value="" ></i>
  <div class="contenthelpCategorize" id="contenthelpcategorizeid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.categorize_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>
<script>
$(document).ready(function(){
  $('#helpcategorizeid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpcategorizeid').html();
    }
  });
});
</script>
