<li class="helpheader helpbutton help-fix-position-popover">   
<i class="icon-question-sign helpactivity helppopover" data-placement='left' aria-hidden="true" data-original-title="<%=t('document.help.activity1_html')%>" href='#' value="" ></i>
<div class="contentactivity" style="display: none">
  <div>
    <%= t('document.help.activity2_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<%content_for :javascript do%>
  $('.helpactivity').popover({ 
    html : true,
    content: function() {
      return $('.contentactivity').html();
    }
  });
<%end%>

