<li class="helpheader helpbutton">   
  <i class="icon-question-sign helphome helppopover" id="helpshowresourceid" data-placement='top' aria-hidden="true" data-original-title="<%= t('document.help.resources1_html')%>" href='#'></i>
  <div class="contenthome" id="contenthelpshowresourceid" style="display: none">
    <div>
      <%= t('document.help.resources2_html')%>
    </div>
    <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</li>
<%content_for :javascript do%>
  $('#helpshowresourceid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpshowresourceid').html();
    }
  });
<%end%>
