<span class="helpheader">   
  <i class="fa fa-question-circle" id="helpinvitationsid" data-toggle="popover"  data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.inv')%>" href='#' value="" ></i>
  <div id="contenthelpinvitationsid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.inv1_html')%><br/><%= t('document.help.inv2_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>

<script>
  $('#helpinvitationsid').popover({
    html : true,
    content: function() {
      return $('#contenthelpinvitationsid').html();
    }
  });
</script>

