<li class="helpheader">   
<i class="fa fa-question-circle helpCategories" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.cat')%>" href='#' value="" ></i>
<div class="contenthelpCategories" style="display: none">
  <div>
          <%= t('document.help.cat1_html')%>  <br/>
          <%= t('document.help.cat2_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<script>
$(document).ready(function(){
  $('.helpCategories').popover({ 
    html : true,
    content: function() {
      return $('.contenthelpCategories').html();
    }
  });
});
</script>

<script>
$('body').on('click', function (e) {
    $('.helpCategories').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>


