<li class="helpheader helpbutton help-fix-position-popover">   
<i class="icon-question-sign helphome helppopover" id="helpprofileid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.profile1_html')%>" href='#' value="" ></i>
<div class="contenthome" id="contenthelpprofileid" style="display: none">
  <div>
    <%= t('document.help.profile2_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<%content_for :javascript do%>
  $('#helpprofileid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpprofileid').html();
    }
  });
<%end%>
