<li class="helpheader helpbutton help-fix-position-popover">   
  <i class="icon-question-sign helphome helppopover" id="helpsearchid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.exse2_html')%>" href='#' value="" ></i>
  <div class="contenthome" id="contenthelpsearchid" style="display: none">
    <div>
      <%= t('document.help.exse_html')%>
    </div>
    <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</li>

<%content_for :javascript do%>
    $('#helpsearchid').popover({ 
      html : true,
      content: function() {
        return $('#contenthelpsearchid').html();
      }
    });
<%end%>
