<li class="helpheader helpbutton">   
<i class="icon-question-sign helphome helppopover" id="helpfavoriteid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.favourite1_html')%>" href='#' value="" ></i>
<div class="contentfavorite" id="contenthelpfavoriteid" style="display: none">
  <div>
    <%= t('document.help.favourite2_html')%>
  </div>
  <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
</div>
</li>
<%content_for :javascript do%>
  $('#helpfavoriteid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpfavoriteid').html();
    }
  });
<%end%>

