<span class="helpheader">
  <i class="fa fa-question-circle" id="helppstudentid"  data-toggle="popover" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.private_student1_html')%>" href='#' value="" ></i>
  <div id="contentpstudentid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.private_student2_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>

<%content_for :javascript do%>
  $('#helppstudentid').popover({
    html : true,
    content: function() {
      return $('#contentpstudentid').html();
    }
  });
<%end%>
