<li class="helpheader helpbutton">   
  <i class="icon-question-sign helpCategories helppopover" id="helpcategorienewid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.cat')%>" href='#' value="" ></i>
  <div class="contenthelpCategories" id="contenthelpcategorienewid" style="display: none">
    <div>
       <%= t('document.help.cat1_html')%>
       <br/>
       <%= t('document.help.cat2_html')%>
    </div>
    <div class="modal-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</li>
<%content_for :javascript do%>
  $('#helpcategorienewid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpcategorienewid').html();
    }
  });

<%end%>


