#document,
#picture,
#embed
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .document,
  .picture,
  .embed
    .box-show-resource
      @include grid-fluid-span(9, $fluidGridColumnWidth, $fluidGridGutterWidth)
      //visor
      .container-visor-resource
        display: inline-block
        position: relative
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        .caja-visor-resource
          background-color: $grayLighter
          @include border-radius($baseBorderRadius)
          .picture_show,
          .embed_show
            padding: 10px 0px
            img
              @include border-radius($baseBorderRadius)
              margin: 0 auto
              display: block

    //description
    .description-activity-resource
      @include border-bottom-radius(5px)
      background-color: $white
      @include box-shadow(0 -1px 10px rgba(50,51,51,0.10))


      .box_description
        display: inline-block
        float: left
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        //tool
        .excursion_tool
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          display: inline-block
          float: left
          .tabbable
            @include header-tabbable-show
            //@include box-shadow(0 -1px 10px rgba(50,51,51,0.10))
            @include grid-fluid-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
            clear: none
            margin-top: 0px
            height: 50px
          .tab-content > .active, .pill-content > .active
            display: block
            margin-top: 0px !important
          h2
            margin-top: 0px
            padding-left: 20px
            font-family: $secondFontFamily
            color: $grayDark
            width: 75%
            font-size: 25px
            
            float: left
            display: inline-block
          .tab-content
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            #document-edit,
            .contentReport
              @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
              margin-left: 20px
              float: left
              .upload
                @include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
              .title
                @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
              .description

                @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                textarea
                  width: 93%
                  height: 100px

              .tags
                @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                display: none
              .btn
                float: left
                clear: both
                background-image: none
                margin-bottom: 10px
            textarea.report
              margin-left: 20px
              @include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
              clear: right
              display: block
            button.report
              margin-left: 20px
              float: right !important
              clear: both

          .viewsAndConunt
            width: 20%
            float: left
            display: block
            margin-top: 11px
            .like
              float: left
              width: auto
              display: inline-block
              .count
                font-size: 1.5em
                font-family: $thirdFontFamily
                display: inline-block
                margin-left: 5px
              a
                display: inline-block
                .icon-star-empty, 
                .icon-star
                  font-size: 1.4em
                  margin-right: 5px
                &:hover
                  text-decoration: none
            .views:after
              content: " / "
            .views
              font-size: 1.5em
              font-family: $thirdFontFamily
              float: left
              display: inline-block
              span
                font-size: 1em
                font-family: $firstFontFamily
          .excursion-social
            float: left
            display: inline-block
          .btn-group
            margin-top: 0px
            float: right
            display: inline-block
            .btn:first-child
              border-top-left-radius: 0px
            .btn
              padding: 8px 12px
        //description
        .toggler
          min-height: 50px
          position: relative
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          display: block
          float: left
          #effect
            position: relative
            min-height: 55px
            .author
              margin-left: 20px
              display: block
              float: left
              width: 180px
              a
                display: block
                float: left
                @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
                img
                  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                  @include border-radius($baseBorderRadius)     
              p
                font-size: 1em
                margin-left: 20px
                margin-bottom: 5px
                width: 115px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                display: block
                float: left
                color: $gray
              .add
                margin-top: -2px
                display: block
                float: left
                padding-left: 20px
                @include follow-profile
            .dl-horizontal
              @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
              display: block
              float: left
          .newClass
            height: 0px
            overflow: hidden
          .anotherNewClass
            height: auto
            overflow: auto
            clear: both
        #showMore
          width: 22%
          @include center-block()
          text-align: center
          margin-top: 0px
          background-color: $grayLighter
          border: none
          border-bottom: 1px solid $grayLight
          @include border-radius($baseBorderRadius)
          margin-top: 15px
          margin-bottom: 5px
          a
            padding-top: 3px
    .recomended-items-resource
      .recomended_documents
        display: block
        float: right
        margin-bottom: 80px
    .activity-box-resource
      background-color: $white
      border-radius-bottom: $baseBorderRadius
      margin-bottom: 20px
      .activity
        .tabbable
          @include header-tabbable
          ul
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .tab-content
            overflow: hidden
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            .activity
              margin-bottom: 10px
