<div id="workshops_tab_ready" class="entities">
	<ul>
		<% if profile_subject_is_current? and page===1%>
			<%= render partial: 'workshops/add_new' %>
		<% end %>
		<%= render partial: 'workshops/workshops_profile', :locals => { :scope => scope, :limit => limit, :page => page, :sort_by=> sort_by} %>
	</ul> 
</div>