<div class="recomended">
  <ul class="items">
    <p class="info_action"><%= t('activity.items.infoaction.workshop') %></p>
    <%= render :partial => "workshops/workshop" , locals: { workshop: workshop } %>
  </ul>
</div>
