<div class="layout_form_WS">
<p> Editing Workshop Details </p>
<%= render :partial => "common_resources/form" , :locals => {:resource => @workshop }%>
<p><a href="<%=edit_workshop_path(@workshop)%>">Cancel and go to Workshop</a></p>
</div>