<p> Show Workshop </p>
<p><a href="<%=edit_workshop_path(@workshop)%>">Turn on editing mode</a></p>

<p> Title </p>
<p><b><%=@workshop.title%></b></p>
<p> Tags </p>
<p><b><%=@workshop.tag_list%></b></p>