<%= div_for officedocument, :class => 'content_size' do %>

  <div class="office_document_show">
    <iframe src="http://docs.google.com/viewer?url=<%=u request.url+'/download' %>&embedded=true" width="475" height="475" style="border: none;"></iframe>
  </div>

<% end %>
