<script>
//CAMBIOS con respecto al formulario original. Toda la parte del ckeditor
//quitado todo lo de accordion.
//sitios donde pone XXX
//sustituido AddWriting por AddWriting porque me daba conflicto con el del header los selectores, habría que hacer refactoring de todo si va bien

  $(document).ready(function() {  
    //Specified CKEditor configuration
    var config = {};


    //Select the features of the toolbar
    config.toolbar = 'Full';
    config.toolbar_Full =
    [
      { name: 'first', items : ['Bold','Italic','Underline','-','Subscript','Superscript','Font','FontSize','TextColor','BGColor'] },
      '/',
      { name: 'lists', items : ['NumberedList','BulletedList','Table'] },
      { name: 'alignment', items : ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'] },
      { name: 'link', items : ['Link'] },
      { name: 'Objects', items : ['Image','MediaEmbed'] },
      { name: 'symbols', items : ['SpecialChar'] }
    ];

    //Disable toolbar expansion
    config.toolbarCanCollapse = false;
    //Disable resizing
    config.resize_enabled = false;
    //Disable bottom tags
    config.removePlugins = 'elementspath';
    //Enable table resize and autogrow
    config.extraPlugins = 'tableresize,autogrow,specialchar,mediaembed';
    
    config.autoGrow_minHeight = 34;
    config.autoGrow_maxHeight = 800;

    //Fit the current area
    config.width = '600px';
    //The height value defines the height of CKEditor editing area and can be given in pixels or em. Percent values are not supported. 
    //http://docs.cksource.com/CKEditor_3.x/Howto/Editor_Size_On_The_Fly
    config.height = "300px";

    //Toolbar defaults
    config.fontSize_defaultLabel = '12';


    //Apply vEditor skin
    var ckeditorBasePath = CKEDITOR.basePath.substr(0, CKEDITOR.basePath.indexOf("editor/"));
    config.skin = 'vEditor,' + CKEDITOR.basePath + '/skins/vEditor/';
    
    //Add ckeditor wysiwyg instance
    var ckeditor = CKEDITOR.replace("writing_fulltext", config);


  });
</script>


<section class="fulltext">
      <%= f.text_area :fulltext %>
      <%= f.hidden_field :plaintext %>
</section>

