<div class="recomended">
  <ul class="items">
    <p class="info_action"><%= t('activity.items.infoaction.writing') %></p>
    <%= render :partial => "writings/writing" , locals: { writing: writing }%>
  </ul>
</div>
