<%= div_for writing, :class => 'content_size' do %>
  <div class="writing_show">
    <div class="css_reset" style="width: auto; overflow: hidden;"> <%= raw writing.fulltext %> </div>    
  </div>
<% end %>
