//-------------------------
// RESOURCES
//-------------------------

.wa_activity_wrapper_show
  .wa_resource_wrapper
    background-color: #f8f8f8
    border: 1px solid #eeeeee

.wa_activity_wrapper_edit
  .wa_resource_wrapper
    background-color: #ebebeb
    border: 1px solid #e4e4e4


.wa_resource_wrapper
  padding-top: 10px
  padding-bottom: 10px
  @include border-radius($baseBorderRadius)
  display: inline-block
  width: 100%

  //title
  h3.resource_title_WS
    display: block !important
    float: left !important
    width: 75% !important
    text-overflow: ellipsis !important
    margin: 0 !important
    padding-left: 10px

  //actions
  .actions
    float: right
    display: inline-block
    .btn
      margin-left: 10px
      margin-right: 10px
      color: $grayDark
      i,a
        color: $grayDark
      i
        margin-right: 5px

  //layout
  .embed,
  .audio,
  .picture,
  .swf,
  .video
    display: block
    width: 80%
    margin: 0 auto

  //embed ,swf
  .embed,
  .swf
    embed,
    iframe
      display: block
      margin: 0 auto

  //picture
  .picture
    img
      display: block
      margin: 0 auto

  //writing
  .writing_show
    padding: 25px

  //excursion ,link layout show
  .excursion_viewer_wrapper,
  .link,
  .scormfile,
  .officedoc_show,
  .webapp
    width: 98%
    margin: 0 auto
    @include border-radius($baseBorderRadius)
    position: relative
    &:before
      content: ""
      display: block
      padding-top: 55%  /* fluid view*/
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      @include border-radius($baseBorderRadius)

  //link, scorm actions
  .link,
  .scormfile,
  .officedoc_show,
  .webapp
    iframe
      height: 94%
    .link_address
      font-size: 16px
      margin-top: 5px
      margin-bottom: 5px
      cursor: pointer
      position: relative
      text-align: center
      width: 100%
      i
        display: inline
        margin-right: 10px
        font-size: 20px
      a
        display: inline
        text-decoration: none
        margin-top: 10px
        margin-bottom: 10px
        color: $gray
        &:hover
          display: inline
          text-decoration: none
          margin-top: 10px
          margin-bottom: 10px
          color: $secondColor
