.wa_activity_wrapper
  ul.ws_gallery
    margin: 0
    width: 100%
    display: block
    li.box-item
      float: none
      display: inline-block
      .btn_delete_item
        position: absolute
        top: 20px
        right: 20px
        width: 30px
        height: 30px
        background-color: $grayDark
        text-align: center
        
