
.header_workshop
  float: left


ul.workshop_activities_list_edit
  padding: 0px
  margin: 5px 0px
  display: block
  float: left
  width: 100%
  li.workshop_element
    margin: 10px 0



// edit layour style
// --------------------------------------------------

.wa_activity_wrapper_edit
  background-color: transparent
  border: 2px dashed $grayLight
  @include border-radius($radius)

  .Assignment_edit_box
    width: 100%
    position: relative
    span.cke_skin_BootstrapCK-Skin
      width: 98%
      padding: 1%
      background-color: $grayLight
    .btn
      right: 10px
      top: 20px
      position: absolute
  .workshop_contribute_footer
    opacity: 0.5
    width: 100%
    height: 35px
    span
      float: right
      padding-top: 5px
      margin-right: 10px

    .btn
      float: right
      margin-left: 10px
    #new_contribution

      float: right
      select, input[type="file"] 




// DESCRIPTION box
// --------------------------------------------------
.wa_activity_wrapper
  display: block
  height: auto
  width: 96%
  padding: 20px 2%
  margin-top: 5px
  margin-bottom: 5px
  position: relative

  //toolbar-actions
  .wa_activity_actions,
  .wa_activity_edit_tools
    display: block
    float: right
    width: 150px
    top: 0px
    position: absolute
    right: 0px
    height: 40px
    
    ul
      margin: 0
      li
        height: 40px
        width: 40px
        display: block
        float: right
        text-align: center
        a
          margin-top: 0 
        i
          font-size: 20px
          color: $gray
          cursor: pointer
          text-align: center
          padding-top: 10px
          margin: 0px auto 0
          display: block

          &:hover
            text-decoration: none
            color: $black

      .sorthandler 
        background-color: #ccc
        cursor: move
        @include border-radius(2px 13px)
        i
          cursor: move
        

  //toolbar-actions
  h3.title_WS
    width: 95%
    display: inline-block
    margin:  0
    line-height: 30px
    margin-bottom: 10px
    margin-top: -10px
    height: 40px
    color: $gray

  p.description_WS
    margin-right: 2.5%
    margin-left: 2.5%
    width: 80%
    float: left

  .container-img_WS
    display: inline-block
    position: relative
    width: 15%
    float: left
    background-color: $grayLighter
    @include border-radius($baseBorderRadius)
    .dummy
      padding-top: 100%
    .element
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
      text-align: center
      width: 100%
      @include border-radius($baseBorderRadius)
      .img-box
        width: 100%
        padding-bottom: 100%
        float: left
        img
          float: left
          width: 100%
          height: 100%
      i
        font-size: 70px
        color: $secondColor
        &:hover
          text-decoration: none
    .resource-center
      i
        padding-top: 36px 
        display: block



// ADD NEW ACTIVITY BTN
// --------------------------------------------------
.wa_add_activity_wrapper
  margin-top: 20px
  width: 100%
  float: left
  .btn
    width: 100%
    padding-left: 0
    padding-right: 0
    background-color: $grayLight
    margin-bottom: 20px
    height: 30px
    color: $black
    margin-top: 6px
    p
      margin: 0
      margin-top: 5px

// MODAL ADD NEW ACTIVITY
// --------------------------------------------------
#WorkshopActivities
  width: 80%
  margin: 0%
  padding: 0%
  top: 10%
  left: 10%
  .modal-header
  .modal-body
    #workshop_activities_column1
      width: 20%
      display: block
      float: left
      ul.nav-tabs
        border-bottom: none
        border-right: 1px solid #ddd
        margin-bottom: 0
        li
          display: block
          float: left
          width: 100%
          a
            border: none
            color: $gray
            border-radius: 0 !important
            font-size: 16px
            margin-right: 0
            padding-top: 20px
            padding-bottom: 20px
            &:hover,
            &:focus
              background-color: none !important
              border: none
              border-right: 3px solid $secondColor 
        li.active
          a
            border-right: 3px solid $firstColor
            border-radius: 0 !important
            color: $grayDark
            font-family: $thirdFontFamily
            margin-right: 0
    #workshop_activities_column2
      width: 77%
      margin-left: 3%
      display: block
      float: left
      .tab-content 
        .active
          margin-top: 0
  .modal-footer

// MODAL TAB CONTENT
// --------------------------------------------------
#workshop_activities_column2
  h4
    margin: 0 0 20px
  //ADD ASSIGNMENTS
  #tab_assignment
    input[type="checkbox"]
      float: left
      display: block
      margin-right: 10px
    p.checkbox_add_time
      display: inline-block
      float: left
      width: auto
      margin: 0
    label
      display: block
      float: left
      width: 100%
      margin-top: 10px
    .assignment_dates
      width: 100%
      select
        width: 30%
        margin-right: 3%
        display: block
        float: left

// MODAL EDIT ELEMENT
// --------------------------------------------------

form.edit_wa_assignment
  input[type="checkbox"]
    float: left
    display: block
    margin-right: 10px
  p.checkbox_add_time
    display: inline-block
    float: left
    width: auto
    margin: 0
  label
    display: block
    float: left
    width: 100%
    margin-top: 10px
  .assignment_dates
    width: 100%
    select
      width: 30%
      margin-right: 3%
      display: block
      float: left
