div.wa_activity_wrapper, wa_add_activity_wrapper{
  padding: 3%;
  width: 94%;
  margin-top: 10px;
  margin-bottom: 50px;
}

div.wa_activity_wrapper {
  background-color: #ccc;
  border: 6px solid black;
}

div.wa_add_activity_wrapper{
  text-align: center;
  background-color: black;
  border: 1px solid white;
  color: white !important;
  font-size: 1.4rem;
}

div.wa_add_activity_wrapper p{
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white !important;
}

img.workshop_thumbnail{
  max-width: 250px;
  max-height: 250px
}

#WorkshopActivities{
  width: 90%;
  height: 90%;
  margin: 0%;
  padding: 0%;
  top: 4%;
  left: 5%;
}

#WorkshopActivities .modal-header{
  padding: 0.5% 1%;
  width: 98%;
  height: 4%;
  max-height: 100%;
  overflow: hidden;
}

#WorkshopActivities .modal-body{
  padding: 1%;
  width: 98%;
  height: 88%;
  max-height: 100%;
  overflow: hidden;
  display: inline-block;
}

#WorkshopActivities .modal-footer{
  padding: 0.5% 1%;
  width: 98%;
  height: 4%;
  max-height: 100%;
  overflow: hidden;
}

#workshop_activities_column1{
  display: inline-block;
  float: left;
  padding: 1%;
  width: 23%;
  height: 98%;
}

#workshop_activities_column2{
  display: inline-block;
  float: left;
  padding: 1%;
  width: 73%;
  height: 98%;
}

#workshop_activities_column1 ul li {
  padding: 5px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

#workshop_activities_column1 ul li.active {
  font-weight: bold;
}

#workshop_activities_column2 div.tab-content div.tab-pane{
  height: 100%;
}
