ul.workshop_activities_list_edit
  padding: 0px
  margin: 5px 0px
  display: block
  float: left
  width: 100%
  li.workshop_element
    margin: 10px 0

// edit layour style
// --------------------------------------------------

.wa_activity_wrapper_edit
  background-color: transparent
  border: 2px dashed $grayLight
  @include border-radius($baseBorderRadius)
  display: inline-block

  //toolbar-actions
  .wa_activity_actions,
  .wa_activity_edit_tools
    display: block
    right: 5px
    top: 5px
    width: auto
    position: absolute
    height: 30px
    ul
      margin: 0
      li
        height: 30px
        width: 30px
        display: block
        float: right
        text-align: center
        a
          margin-top: 0 
        i
          font-size: 18px
          color: $gray
          cursor: pointer
          text-align: center
          padding-top: 5px
          margin: 0px auto 0
          display: block
          &:hover
            text-decoration: none
            color: $black
      .sorthandler 
        background-color: #ccc
        cursor: move
        @include border-radius(50px)
        i
          cursor: move


  .assignment_edit_title
    width: 150px !important
  .Assignment_edit_box
    width: 100%
    position: relative
    span.cke_skin_BootstrapCK-Skin
      width: 98%
      padding: 1%
      background-color: $grayLight
    .btn
      right: 10px
      top: 20px
      position: absolute

  .contributions_WS_gallery
    width: 100%
    display: block
    height: auto




  .workshop_contribute_footer
    opacity: 0.4 !important
    .btn, .disabled
      float: left
      margin-left: 10px
      background-color: $grayLight
      color: $gray !important
      text-shadow: none
      opacity: 1
      a
        color: $gray