<<<<<<< HEAD
 

// DESCRIPTION box
// --------------------------------------------------
.wa_activity_wrapper
  display: block
  float: left
  width: 96%
  padding: 30px 2%
  position: relative
  margin-top: 3px
  margin-bottom: 3px

  .wa_activity_actions,
  .wa_activity_edit_tools
    display: block
    float: right
    width: 130px
    top: 10px
    right: 20px
    height: 40px
    position: absolute
    ul
      margin: 0

      a,i
        font-size: 20px
        color: $gray
        float: right
        margin-left: 20px
        cursor: pointer
        width: 20px
        text-align: center

        &:hover
          font-size: 25px
          text-decoration: none
          color: $grayDark

  h3.title_WS
    width: 95%
    float: left
    display: inline-block
    margin:  0
    line-height: 30px
    margin-bottom: 10px
    margin-top: -10px
    font-weight: 800
    font-size: 1.5em
    color: $gray
  p.description_WS
    margin-right: 2.5%
    margin-left: 2.5%
    width: 80%
    float: left
  .container-img_WS
    display: inline-block
    position: relative
    width: 15%
    float: left
    background-color: $grayLighter
    @include border-radius($baseBorderRadius)
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16)
    .dummy
      padding-top: 100%
    .element
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
      text-align: center
      width: 100%
      @include border-radius($baseBorderRadius)
      .img-box
        width: 100%
        padding-bottom: 100%
        float: left
        img
          float: left
          width: 100%
          height: 100%
      i
        font-size: 70px
        color: $secondColor
        &:hover
          text-decoration: none
    .resource-center
      i
        padding-top: 36px 
        display: block
  span.cke_skin_BootstrapCK-Skin
    width: 98%
    padding: 1%
    background-color: $grayLight
  .btn
    float: right

// edit layour style
// --------------------------------------------------

.wa_activity_wrapper_edit
  background-color: transparent
  border: 2px dashed $grayLight
  @include border-radius($radius)


// ADD NEW ACTIVITY BTN
=======
// SHOW
>>>>>>> a49b41493dd143b5c6ef090ee122e5de7e626a69
// --------------------------------------------------
.workshop_show
  .box-show,
  .description-activity
    width: 100% !important
  .box-show
    .delivery
      margin-top: 20px
      .delivery_time
        width: 100%
        display: block
        margin-bottom: 15px
        height: 20px
        text-align: right
        position: absolute
        top: 10px
        right: 10px

        span
          padding-right: 10px
          font-family: $thirdFontFamily
          font-size: 11px
          display: inline
          color: $grayDark
        p
          font-size: 14px
          margin: 0
          font-family: $firstFontFamily
          margin-right: 30px
          display: inline

  .wa_activity_wrapper
    border-bottom: 1px solid $grayLight
    border-top: 1px solid $grayLight

