.wa_activity_wrapper
  ul.ws_gallery,
  ul.contributions_WS_gallery
    margin: 0
    margin-top: 10px
    width: 100%
    display: inline-block
    li.box-item
      display: block
      float: left
      a.btn_delete_item, .btn
        position: absolute
        top: 5px
        right: 5px
        width: 25px
        padding: 0
        height: 25px
        text-align: center
        i
          margin: 0
          margin-top: 5px
          padding: 0
          display: block
        &:hover
          background-color: $firstColor
          background-image: none
          text-shadow: none
          i
            color: $white
    li.box-item.add-item
      cursor: pointer
        
.contributions_content
  ul.contributions_WS_gallery
    margin: 0
    margin-top: 10px
    width: 100%
    display: inline-block
    li.box-item
      display: block
      float: left

  // 2---------------------
  @media (min-width: 501px) and (max-width: 650px)
    li.box-item
      width: 46% !important
      margin: 0 2% 15px !important

  // 3---------------------
  @media (min-width: 651px) and (max-width: 1200px)
    li.box-item
      width: 31.333333333% !important
      margin: 0 1% 15px !important

  // 4---------------------
  @media (min-width: 1201px) and (max-width: 1500px)
    li.box-item
      width: 23% !important
      margin: 0 1% 20px !important


  // 5---------------------
  @media (min-width: 1501px) and (max-width: 1919px)
    li.box-item
      width: 18.4% !important
      margin: 0 0.8% 20px !important

  // 6---------------------

  @media (min-width: 1920px)
    li.box-item
      width: 15.266666667% !important
      margin: 0 0.7% 20px !important

.contributions_actions
  h4.contributions_gallery_title_in_contributable
    margin-top: 25px