





@import "colors";

@font-face{
  font-family:DsignesBold;
  src: url(fonts/DsignesBold.otf);
}
@font-face{
  font-family:DsignesLight;
  src: url(fonts/DsignesLight.otf);
}
@font-face{
  font-family:DsignesRegular;
  src: url(fonts/DsignesRegular.otf);
}
.dsignesbold {font-family:DsignesBold;}
.dsigneslight {font-family:DsignesLight;}
.dsignesregular {font-family:DsignesRegular;}

/**** clase para el ALTO minimo del layout ***/
.body-height{ min-height:  100%;}



.right.right-fixed{
  top: 40px;
  position: fixed;
  margin-left: 752px !important;
  
}

.left-fixed{
  top: 40px;
  position: fixed;
  
}

.main-fixed{
  position: absolute;
  left: 182px;
}

.footer-fixed{
  display: none;
}

.space{
  height: 12px;

  
}

.load_more_button{
  background-color: #F7F7F7;
  border: 1px solid  #FF005D;
  border-radius: 7px 7px 7px 7px;
  border-top: none;
  border-right: none;
  border-left: none;
  display: inline-block;
  padding: 4px 6px;
  padding-bottom: 3px;
  width: 200px;
  color: #6E6E6E;
  font-family: "Helvetica",Helvetica Neue,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 30px;
}

.load_more_button:hover { 
  backgroun-color: red;
  color: #6E6E6E;
  background-image: url("notebook/Button.png");
  
}


.title_menu_home{
  vertical-align:bottom;
  color: #adadad;
  font-family:DsignesLight;

  padding-top: 12px;
  vertical-align: bottom;
  text-align: right;

}
.follow-home-box{
height: auto;

}
/************* HEADER *******/
.logo-home{
  display:inline-block;
  float:left;
}
.virtualsciencehub{
  padding-top: 34px;
  padding-left: 5px;
  display:inline-block;
  float:left;
}
#menu_home{ height: 35px;}
.menu_header {margin-top: -10px; margin-left: 20px;}
.tools{float: left; display: inline-block;}
.text-center{text-align: center;}

.name-user{
  vertical-align: bottom;
}
.logo-img{
  margin-right: 10px;
  margin-top: -5px
  }
.margin-logo-img{
  margin-top: -15px
}
 .img2{
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

 }
.imgnoradio{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.d{
height: 27px;
width: 10px;
background-color: #fe99be;
margin-top: -10px
}





/************* Footer *******/

/************* FRONTPAGE *******/
.margin-search-frontpage{
 margin-left: auto;
 margin-right: auto;



}
#search-frontpage{margin:0 auto 0 auto; text-align:center;display:block;}

#logo-frontpage{ background: transparent url(/assets/VISH_frontpage.png);

 width: 100%;
  height: auto;

 margin:0px auto 0px; position:relatives; background-repeat:no-repeat; }




/****************** FRONTPAGE BOTTOM *****/

#tags{color: #cccccc; font-family: DsignesLight; }
#repositories>a, #excursion >a, #organizations > a, #users> a{position:relative; font-weight: lighter; font-family: DsignesLight;}
#repositories>a{float: right; top:-20px; z-index:1;}
#excursion>a{left:10px;  top:10px; z-index:2;}
#organizations>a{left:19px; float: right; top:15px; ; z-index:3;}
#users>a{top:45px; left:-39px; z-index:4;}

.textonleft{text-align: left !important;}

.menu ul {list-style-type:none; margin-left:4em; }
.menu ul li {display:inline-block;margin-right:4em;position:relative; vertical-align: middle; text-align: left;}
.menu ul li#trade_mark,#sponsor ul li#trademark{font-weight:bold;}
.menu ul li#trade_mark_logo{font-weight:normal;}

#top{height:120px;margin-left: auto; margin-right: auto}
#top-10{ height: 10px; margin:40px 0px 0px 30px; padding: 0px !important;font-family:DsignesBold;font-size: 12 pt;}
.whit-box{ background-color:#fff;margin-top: 40px; padding-top: 10px; padding-bottom: 5px;}
.rotate-90 { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}




/******************* BASIC CLASSES ******************/

.inline-block {display:inline-block;}
.inline {display: inline}
.boxy_gray{background-color: #EFEFEF; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  border: 0px solid #EFEFEF; }
.ontop{vertical-align: top;}
.moveup{margin-top:-5px; }
.onbottom{vertical-align: bottom; min-height: 30px;}
.boxy_white{
  background-color: #FFFFFF;
  border: 0px solid #FFFFFF;
  padding: 12px;
  margin-bottom:6px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
}
.clearfloat{clear: both;display: block}
.bold{font-weight: bold; }
#comment-1 .activity_new_comment{display:block !important;}
.margin

/*************** SIZE CLASSES **************/
.size10{font-size: 10px;}
.size11{font-size: 11px;}
.size12{font-size: 12px;}
.size14{font-size: 14px;}
.size15{font-size: 15px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size20{font-size: 20px;}
.size22{font-size: 22px; line-height: 14px;}
.size24{font-size: 24px;}

.size24{font-size: 24px;}
.size30{font-size: 30px; line-height: 41px;}
.size40{font-size: 40px; line-height: 28px;}
.size50{font-size: 50px; line-height: 38px;}
.size60{font-size: 60px;}
.size80{font-size: 80px;}
.size100{font-size: 100px;}
.size-responsive{font-size:x-large;}

/*************** LINKS *********/
.link_gray a{color: #6e6e6e;text-decoration: none;}
.link_gray a:hover{color: #3366FF;  text-decoration: none;}
.link_virtual a {color: #adadad;text-decoration: none;}
.link_virtual a:hover {color: #808080;text-decoration: none;}
.link_pink a{color: #FF005D; text-decoration:none;}
.link_pink a{color: #FF005D; text-decoration:none;}
.link_pink a:hover {color: #3366FF; text-decoration:none;}
.link_white a{color: #ffffff; text-decoration:none;}
.link_white a:hover {color: #919191; text-decoration:none;}


/***********COLORS ***********/
.background{color: #F9F9F9;}
.white{color: #FFFFFF;}
.green{ color:#40CC7F;}
.ligth-gray{color: #E6E6E6}

.gray-medium{ color: #8f8f8f;}
.gray{ color:#6e6e6e;}
.dark-gray {color: #666666;}
.blue-cake{color: #3366FF;}
.blue-opacity{color: #3366FF; opacity: 0.6;}
.blue-white{color:#C2C9E0;}
.red-1{color: #FF005D;}
.red-2{color: #FF005D; opacity: 0.6;}

.span_profile{
 width:90px;
}

.attachment_thumb{visibility:hidden; width: 0px; height: 0px;}
.unborder{border-radius: 0px !important;}
.unmargin{margin-right:0em !important;}
.miniborder{border-radius: 5px;}






/*************** menu messages ***************/
#menuv {
  margin-right: 10px;
  margin-left: 0px  !important;
  border: none;
  border-width: 1px 1px 0 1px;
  width: auto;
  margin-left: none;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  background: #FFFFFF;
}
#menuv ul, li {
  list-style-type: none;
}
 #menuv ul {
 padding: 0;
}
 #menuv li {
   margin-left: 0px  !important;
}
#menuv a {
  margin-left: 0px  !important;
  margin-top: 8px;
  text-decoration: none;
  color: #3366FF;
  display: block;
  padding: 3px 6px ;
  font-size: 12px;
}
#menuv a:hover {
  background: #F9F9F9;
  color: #919191;
  font-size: 13px;
 }
/*************** AVATARS ***************/
form.file_upload {
  background: none repeat scroll 0 0 #e6e6e6 !important; ;
  border: 1px solid #FF005D !important;
}
/************* SEARCH_BAR *************/

.box-result{ padding-top: 10px; width: 300px; height: 105px; margin-right: 30px !important; margin-left: 30px !important;}

.srch_modal {
  -moz-opacity:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 200px;
  margin: -250px 0 0 -280px;
  background-color: #999;
  border: 1px solid #999;
  border: 1px solid #999;
  *border: 1px solid #999;
/* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.srch_modal-footer {
  margin-bottom: 0;
  height: 54px;
  background-color: #999999;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 5px;
}
.srch_window{
  font-size: 20px;
  color: #f9f9f9;
  padding-top:8px;
  padding-left:5px;
}
.btn_text {
  font-size: 18px;
  color: #D8D9DA;
  padding-left:20px;
}
.btn_text:hover{
  color: #f9f9f9;
  text-decoration: none;
}
.srch_bar_despl{
  height: 54px;
  width: 180px;
}
.srch_bar_img_50px{
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  float:left;
}
.srch_bar_info {
  height: 54px;
  margin-left: 56px;
  width: 120px;
  overflow: hidden;
}

.srch_bar_title {
  color: #E6E6E6;
  font-size: 11pt;
  height: 14px;
  width: 150px;
}
.srch_bar_title a {
  color: #E6E6E6;
}
.srch_bar_title a:hover {
  color: #FFF;
  text-decoration:none;
}

.srch_bar_type {
  color:#B8D3FF;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 10pt;
  height: 19px;
  margin-top: 3px;
  width: 110px;
}
.srch_bar_followers {
  color: #CCC;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 9pt;
  height: 19px;
  width: 70px;
  float:left;
}
.srch_bar_n_followers {
  color: #CCC;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 9pt;
  width: 50px;
}
.srch_bar_n_followers a{
  color:#CCC;
}
.srch_bar_n_followers a:hover{
  color:#FFF;
  text-decoration:none;
}
.srch_bar_modal_final {
  -moz-opacity:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 200px;
  margin: -250px 0 0 -280px;
  background-color: #CCC;
  border: 1px solid #CCC;
  border: 1px solid #CCC;
  *border: 1px solid #CCC;
/* IE6-7 */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.srch_bar_modal-footer_final {
  padding: 5px 5px 5px;
  margin-bottom: 0;
  height: 36px;
  background-color:#CCC;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.srch_bar_final {
  color: #999;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 9pt;
  width: 190px;
  text-align:center;
}
.srch_bar_final a {
  color: #999;
}
.srch_bar_final a:hover {
  color: #666;
  text-decoration:none;
}

/************* SPACES SECTION *************/
.space_center {	padding-top: 15px;	padding-right: 4px;	text-align: center;}
.space_double_center {	padding-top: 50px;	padding-right: 4px;	text-align: center;}
.space_right{padding-right: 20px;}
.space_double_right{padding-right: 40px;}
.space_left{padding-left: 20px;}
.space_both{padding-left: 15px; padding-right: 10px;}
.space_top{padding-top: 20px;}
.space_null{padding:0px !important; margin:0px !important;}
.space_bottom{padding-bottom: 10px;}


/*************** MARGINS DEFAULT *********/
.margin-negative{margin-left: -4px;}
.leftinline{float:left; display:inline;margin-left: 10px;}
.rightinline{float:right; display:inline;margin-right: 10px;}
.margin-home-resource-view{margin-left: 42px}


/********************excursion page ************/
.slides {
  background-color: #EDEDED !important;
  border-radius: 20px 0px 0px 20px !important;
}

.excursion_tools{
  padding: 10px 0px 0px 10px;
  background-color: #EDEDED !important;
  border-top: 1px solid #D8D8D9;
  border-radius: 0px 0px 20px 20px !important;
  margin: -5px auto 5px  ;
  width: 900px;
  min-height: 40px;
  vertical-align: middle;
 }

.excursion_tools > .options{
  min-height: 40px;
  vertical-align: top;
  width: 60%;
  padding-left: 10px;
}

.excursion_tools > .views{
  width: 35%;
  min-height: 40px;
  vertical-align: bottom;
}
/*
.excursion_tools > .stairs_excursion{
  width: 15%;
  min-height: 40px;
  vertical-align: bottom;
}
*/


/***********excursion BOX ******/
.container {position:relative;}
.number_pages  { position:relative;   height: 20px;  width: 20px;  margin-top: -26px;  margin-left: 48px;
  text-align: center; background-color: #FFF; border-radius: 15px;   color: #333; font-size: 10pt;  line-height:150%;}
.thumb_logo_big {background-image: url("excursion.png"); display: inline-block;  float: left;  height: 79px; width: 79px; }
.thumb_logo_medium {background-image: url("doc.png"); display: inline-block;  float: left;  height: 34px; width: 34px; margin-right:10px; }
.width-top { width: 80px; vertical-align: top;}
.vertical-top {vertical-align: top;}



.ellipsis{ overflow: hidden;  text-overflow: ellipsis;   white-space: nowrap; }
.w120px{ max-width: 120px; }
.w150px{ max-width: 150px; }
.w190px{ max-width: 190px; }


.copy_new_comment{ height: 5px;}

.height-tabs-home{min-height: 50 px; height:auto }

/****************** WALL - ACTIVITIES *********************/

#wall, #wall-me{text-align:center;overflow-x: hidden;}
#wall-input {background-color: #E6E6E6; padding: 10px 0px 0px 0px; }
.row-fluid-100 { width: 100%; *zoom: 1;}
.row-fluid-90 { width: 90%; *zoom: 1;}
.margin-excursion{ margin:0 0 18px 5px !important; }
.margin-thumbnail { margin-right:20px  !important; }
.padding-margin-clear{margin:0px; padding: 9px 0px 1px 0px !important;}
.subactivity{ /*margin-left: 5px;  font-size: 12px;  padding: 0px 5px 0px 5px;  display:block;float:left; */}
#wall h4 a, #wall-me h4 a{ color: inherit; }


/*******************INPUT FILE***********************/

form.example div.fakefile {
  left: 0;
  line-height: 90%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 350px;
  z-index: 1;
}
form.example input {
  margin-bottom: 5px;
  margin-left: 0;
}
form.example div.fakefile input {
  background-color:#FFF;
  border:#666;
  border-style:solid;
  border-radius:10px;
  border-width:thin;
  height: 20px;
  width: 195px;
  float:left;
  padding-left:5px;
}
form.example div.fakefile {
  line-height: 90%;
}
form.example input.file {
  margin: 0;
  width: 253px;
}
form.example input.file.hidden {
  opacity: 0;
  position: relative;
  text-align: right;
  z-index: 2;
}
.btn_br {
  background-color:#FFF;
  border:#555555;
  border-style:solid;
  border-radius:10px;
  border:1px;
  width: 50px;
  display: inline-block;
  padding-top:6px;
  text-align:center;
}
#input_file{
  border: 1px solid #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 18px;
  margin-bottom: 9px;
  padding: 3px;
  width: 78%;
}

/******************* WALL - ACTIVITY ***************/
.activity {	text-align:left;	display: block;	vertical-align: top;	padding: 10px 0px 0px 0px; margin-bottom: 5px}
#main {margin-left: 30px;}
#home_wall {margin-left: 48px; }
#left {margin-left: 32px;}
.right { margin-left: 60px !important; }
.activity_form_selector{cursor: pointer; margin-right: 10px;}
.selected{background-color: #ffffff; border-radius: 15px; padding: 5px;}

#new_document {}
#form #document_file{  opacity: 0; -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; width: 200px;}

/*
#home_wall div.root_activity {width: 100%}
#home_wall li.activity_content {width:83%}
#home wall li.subactivity {width:100%}
.subactivity{width: 100%;}

#profile_wall div.root_activity {width: 100%}
#profile_wall li.activity_content {width: 83%}
*/

/***************** ACTIVITY OPTIONS ***/
.activity_options {display: inline-block;}
.actor_name-activity_objects, .actor_name_new_comment{margin: 5px 0px;}
.activity_objects{padding-bottom:5px;}

.security, .post_time_ago, .verb_comment, .verb_delete{ display: inline-block; padding-right: 5px;}
.verb_like { display: inline; }
.verb_comment a{color:#FF80B4;}
.verb_comment a:hover {color:#FF80B4; text-decoration: underline;}



/************* ACTIVITY - FOOTER *********/
.space_comments {	padding-top: 1px; 	padding-bottom: 1px;}
.space_activities {	text-align:center;	padding: 0px 0px 0px 1px;	width:100%;}
.space_sub{	display: inline;	padding: 1px 200px 1px 200px;	border-bottom: thin solid;
  font-size: 2px;	text-align:center;}
.final {margin-left: 4em;}




/****************** SUB-ACTIVITY by ACTIVITY ********/
.activity_new_comment{  font-size: 11px;  padding-left: 5px; padding-top: 3px;  padding-bottom: 3px;display:none;}
.input_new_comments{width:98%;	padding: 2px; resize: none;  }
.space_comments{padding-top: 1px;	padding-bottom: 1px;}
#activities_share_btn {	text-align: right;	padding: 5px 16px 0px 10px;	vertical-align: top;}
.activities_comment_btn{ text-align: right; padding: 0px 5px 2px 0px; vertical-align: middle;}

.hide_show_comments{font-size: 11px;  padding: 3px 10px;}
.copy_new_comment{visibility: hidden; }

.icono-home{ background-image: url('home.png');}


/**************NOTIFICATIONS *************/
.day_notify{ font-size: 16px; margin-top: 3px; margin-bottom: 3px; letter-spacing: 1px;}
.read_all{ width: auto; float: right;margin-bottom: 7px;}


/**************FOLLOWERS_FOLLOWINGS *************/
.follwrs-ing{font-size: 11px; marging-top: 1px; margin-bottom: 1px;}
.upfoll{;}
#following,  #follower{margin-left: 20px}
.following-button, .unfollow-button, .follow-button{
  margin-top:-1px ;
  width: 120px;
  height: 18px;
  margin-left: 0px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  font-size: 13px;
  -webkit-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -moz-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  resize: none;
  vertical-align: middle  ;
  padding-top  :4px;
  padding-bottom  :-4px;
  text-align:center;
 }

.following-button {
  color: #FF005D;
  background-color: #ffeeee;
}

.unfollow-button, .follow-button {
  background-color: #ff005d;
}

.unfollow-button a, .follow-button a, .unfollow-button a:hover, .follow-button a:hover {
  color: #fff;
}

.users_btn_follow form{
  margin : 0 0 -9px !important;
}

.users_btn_follow input[type="submit"]  {
  border: none;
  margin-top:-1px ;
  width: 120px;
  height: 22px;
  background-color: #e8e8e8;
  color:#FF005D;
  padding-left:10px; padding-right:10px;
  vertical-align: middle  ;
  -webkit-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -moz-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  resize: none;
  vertical-align: middle  ;
  padding-top  :4px;
  padding-bottom  :-4px;
  background-color: #f4f4f4;
  text-align:center;
}
.users_btn_follow input {

 }

.users_btn_followt:focus{
  border-color: rgb(255, 2, 94);
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  outline: thin dotted ;
}








/*******sugestion*******FOLLOWERS_FOLLOWINGS *************/

.following-button-sugestion{
  margin-top:-1px ;
  width: 120px;
  height: 18px;
  color: #FF005D;
  margin-left: 0px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  font-size: 13px;
  -webkit-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -moz-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  resize: none;
  vertical-align: middle  ;
  padding-top  :4px;
  padding-bottom  :-4px;
  background-color: #ffeeee;
  opacity: .60;
  -moz-opacity: .60;
  filter:alpha(opacity=60);
  text-align:center;
}

.users_btn_follow-sugestion form{
  margin : 0 0 -9px !important;
}

.users_btn_follow-sugestion input[type="submit"]  {
  border: none;
  margin-top:-1px ;
  width: 120px;
  height: 22px;
  background-color: #e8e8e8;
  color:#FF005D;
  padding-left:10px; padding-right:10px;
  vertical-align: middle  ;
  -webkit-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -moz-box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  box-shadow: inset 0 1px 1px rgba(200, 0, 0, 0.200);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  resize: none;
  vertical-align: middle  ;
  padding-top  :4px;
  padding-bottom  :-4px;
  background-color: #f4f4f4;
  text-align:center;
  opacity: .60;
  -moz-opacity: .60;
  filter:alpha(opacity=60);
}
.users_btn_follow-sugestion input {

}

.users_btn_followt-sugestion:focus{
  border-color: rgb(255, 2, 94);
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  outline: thin dotted ;
}



/**************CONVERSATIONS *************/

.block .form_tag_message{
  border: 1px solid #BDC7D8;
  color: #1F4A75;
  padding: 5px;
  width: 98%;
}
.messages_margin{margin-top: 10px ;margin-right: 10px; width: 50px;
}
.boxy_gray_message {
  background-color: #f5f5f5;
  margin-top: 18px;
  height: auto;
  width: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  }
.boxy_white_message {
  background-color: #f5f5f5;

  height: auto;
  width: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
}
.margin-message{
 margin-left: 0px !important;
}
.date{color:#FF005D;opacity: 0.4;}
.messages{ margin-left: 15px; }
.message{; padding: 10px 0px 5px 5px;}
.sender_photo {width: auto;}
.message_name {font-size: 12pt;margin-top: 6px;}
.tittle_mens {margin-bottom:4px;margin-left: 30px}
.dat {margin-left: 15px !important}
.to-r {float: right; width: 15px; height: 15px;}
.pre-message {margin-left: 40px}


.conversations .unread .notification {
  background-color: $main-color;
}


.header_text {
  font-size: 16px;
  color:#FF005D;
  margin-bottom: 10px;
}
.header_text2 {
  font-size: 20px;
  margin-left: 20px;
  color:#666666;
  margin-bottom: 10px;
  padding-top: 15px

}
.title_suggestion{
  width: 120px;
  display: inline-block;
  /*letter-spacing: 0.5pt;*/
}
.acept{margin-left: 160px !important;}



.title_sentences {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.input-xlarge {
  height: 18px
}
.input-fluid {
  height: 18px;
  width: 98%;
}
.devise_title{
  text-align:right;
  font-size: 45px;
  line-height: 115%;
  font-family:DsignesLight;
  src: url(fonts/DsignesLight.otf);
}
.devise_title2{
  text-align:left;
  font-size: 45px;
  line-height: 115%;
  font-family:DsignesLight;
  src: url(fonts/DsignesLight.otf);
}



/*************** MESSAGES ICONS **********/


/*************** MESSAGE EDITOR **********/

.cleditorMain {border-radius: 10px; border:1px solid #CCCCCC; background-color:white}
.cleditorMain iframe {border:none; margin:0; padding:0}
.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:10pt; resize:none; outline:none; /* webkit grip focus */}
.cleditorToolbar {background-color: #cccccc; border-bottom: 1px; border-radius: 9px 9px 0px 0px;}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('cleditor/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; position:absolute; font:10pt; cursor:default; z-index:10000}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
.cleditorPrompt input,
.cleditorPrompt textarea {font:8.5pt Arial,Verdana;}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
.send {margin-top: 10px;}


/**************info devise *************/

.form-horizontal2 input,
.form-horizontal2 textarea,
.form-horizontal2 select,
.form-horizontal2 .help-inline,
.form-horizontal2 .uneditable-input,
.form-horizontal2 .input-prepend,
.form-horizontal2 .input-append {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal2 .hide {
  display: none;
}

.form-horizontal2 .control-group {
  margin-bottom:none;
  *zoom: 1;
}
.form-horizontal2 .control-group:before,
.form-horizontal2 .control-group:after {
  display: table;
  content: "";
}
.form-horizontal2 .control-group:after {
  clear: none;
}
.form-horizontal2 .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal2 .controls {
  margin-left: 160px;
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
.form-horizontal2 .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}
.form-horizontal2 .form-actions {
  padding-left: 160px;
}
.btn_devise{
float:right;
margin-right: 20px
}

#devise_links{
  text-align:right;
  padding-left: 57px
}







.icon_close{
  display:inline-block;
  float:right;
  width: 10px;
  height: 10px;
}

/*.....................................................................link icons */
/* TODO: integrate in repository icon set */
.icon_x-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("icons/link_small_gray.png");
  background-repeat: no-repeat;
  *margin-right: .3em;
}
.icon_x-link:hover {
  background-image: url("icons/link_small_blue.png");
}
.icon_x-link:last-child {
  *margin-left: 0;
}

/*......................................................................edit profile*/
.btn_info_profile{
  float:right;
  margin-right: 20px;
  margin-top: 20px;
}
.padding_left{
padding-left: 30px
}
.profile_space{
  height:10px;
  display: block

}
.margin_profile {
margin-left: 20px !important;
}
.header_icon_right{
 display: inline-block;
 float:right;
 margin-right: 20px;
 }
.title_sub_profile{
  font-family:DsignesBold;
  src: url(fonts/DsignesBold.otf);
  font-size: 16pt;
  margin-top: 10px;
  margin-left: 25px;
  color: #c7c7c7;
  display: block;
}
.field_profile{
  margin-left: 50px;
  color: #787878;
}
#field_profile_field_empty{
  margin-left: 25px;
  color: #FF005D; opacity: 0.6;
}
#avatar_info{
  margin-top: 60px;

  src: url(fonts/DsignesBold.otf);
  color: #3366FF;
  font-size: 14pt;
}
.block .form_tag{color: $main-color; padding: 5px 5px 5px 5px;  border:1px solid $input-border-color; width:90%;}
.block .form_tag_long{color: $main-color;	padding: 5px 5px 5px 5px;  border:1px solid $input-border-color; width:91%;}


/*......................................................................edit profile*/


/******************************** repository ************/
.margin-up{
 margin-top:-5px;
}

.btn-gray{
  background-color: #f7f7f7;
  display: inline-block;
  width:auto;
  border:1px solid  ;
  border-color: #e6e6e6;
  padding: 4px 6px 4px 6px;
  border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;

}


.btn-gray:hover{

  background-color: #ffffff;
  display: inline-block;
  width:auto;
  border:1px solid  ;
  border-color: #e6e6e6;
  padding: 4px 6px 4px 6px;
  border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;



}



#document_details {
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;

}
#document_edit2 {
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;

}



.boxy_white_edit {
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  margin-right: 10px;
}

.filter_options{
  color: #FF005D; opacity: 0.6;
  display: inline-block;
  float: right;
  margin-left: 20px;

}

#filter_options{
  display: inline-block;
  float: right;
  font-size: 14pt;
  color: #c7c7c7;
}
.attachment
{
  padding-top: 10px;
}

.attachment_content
{
  position: relative;
  width: 90%;
  vertical-align: middle;
  line-height: 20px;
  height: auto;
  float:left;
  font-size:13px;
}

._attachment_text
{
  float: left;
  font-size:11px;
  margin-bottom: 3px;
  text-align: left;
  /*width: 310px;*/
}


.attachment_text audio
{
  position:relative;
}

.attachment_text video
{
  position:relative;
  height: 180px;
}

.attachment_thumb
{
  position: relative;
/*width: 10%;*/
  float: left;
/*height: 50px;*/
  padding-right:5px;
  vertical-align: middle;
}

#new_document{
  margin-left: 10px;
  clear: both;
  padding-top: 0px;
  text-align: left;
}

#new_document_title_wrapper {
  margin-top: 5px;
}

#new_document_title_wrapper input[type="text"] {
  display: inline;
  width: 30%;
}

.attachment_tile{
  margin: 5px;
  width: 90px;
  height: 70px;
  border-bottom: 2px solid transparent;
  float: left;
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 5px;
  position: relative;
}

.attachment_tile_thumb img{
  width: 48px;
  height: 48px;
}

.attachment_tile_tooltip{
  position: absolute;
  top: 0px;
  right: 9px;
}

.attachment_tile:hover{
  border: 1px solid ;
  color:#e0edf2;
}

.attachment_tile.selected{
  background-color: #e0edf2;
  border-bottom: 2px solid green;
}

.attachment_section_header{
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 10px;
  position: relative;
  width:90%;
  border-left: 3px solid #2A3890;
  background-color: #e0edf2;
  border-radius: 5px;
}

.attachment_tile_tipsy_menu.tipsy {
  padding-top: 0px;
  display: none;
}
.attachment_tile_tipsy_menu.tipsy .tipsy-arrow {
  display: none;
}
.attachment_tile_tipsy_menu.tipsy .tipsy-inner {
  background-color: #e0e0e0;
  border-radius: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:5px;
  width: 100px;
  height: auto;

}
.attachment_tile_tipsy_menu.tipsy .actions {

  text-align: left;
}
.attachment_tile_tipsy_menu.tipsy .actions .action {
  float:left;

  width: 90px;
}
.attachment_tile_tipsy_menu.tipsy .actions .action:hover {

}
.attachment_tile_tipsy_menu.tipsy .actions a:hover {
  text-decoration: none;
}
.attachment_tile_tipsy_menu.tipsy .actions .action img {
  vertical-align: middle;

  padding-right: 3px;
  padding-left: 3px;
  display: inline-block;
}

.excursion_thumbnail_show, .excursion_thumbnail_show img {
  visibility: visible;
  position: relative;
  float: left;
  max-height: 75px;
  width: 75px;
}

.picture_thumbnail_show, .picture_thumbnail_show img {
  position: relative;
  float: left;
  max-height: 100px;
  width: 130px;
}

.attachment_thumb {
  position: relative;
  float: left;
}
.new_resource{
 font-size: 14pt;
 color: #c7c7c7;
 font-variant: bold;
 display:block;
 float:left;
 clear:right;
}

/********** Current logo change **********/
.logo_grid {
  /*width: 142px;*/
  height: 119px;
  overflow: hidden;
  position: relative;
}
.logo_grid img {
  position: absolute;
  top: 0;
  /*left: 23px;*/
  border: 0;
}

.logo_caption {
  top: 119px;
  /*left: 23px;*/
  float: left;
  position: absolute;
  background: $secondary-color;
  opacity: 0.8;
  width: 119px;
  height: 18px;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.logo_full .logo_caption {
  top: 119px;
  /*left: 123px; */
  padding: 0px;
  text-align: center;
}

/******************************** search tabs ************/


.nav-tabs > li.disabled > a:hover {
  font-size: 17px;
}

.nav-tabs > li.disabled  > a {
  padding-top: 9px;
  padding-bottom: 2px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #cccccc !important;
}


.nav-tabs > li.disabled > a:hover {
  padding-top: 9px;
  padding-bottom: 2px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background-color: #F9F9F9;
  border-bottom-color: #FF005D;
  cursor: default;
}

/******************************** search tabs ************/
.delete_menssage{
display: inline-block;
float:right;
}
.inline.span1.checkbox{

margin-left: 20px;}





.more{
float: right;

}



.mashme-button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin: 0;
  outline: 0 none;
  overflow: visible;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.mashme-button span {
  background: url("mashme_button.png") repeat scroll left center transparent;
  float: left;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 40px;
}
.mashme-button div {
  background: url("mashme_button.png") repeat scroll right center transparent;
  float: left;
  height: 30px;
  width: 10px;
}
.mashme-button div {
  background-position: right 0;
}
.mashme-button:hover div {
  background-position: right -32px;
}
.mashme-button:active div {
  background-position: right -64px;
}
.mashme-button span {
  background-position: 0 0;
  color: #DDDDDD;
}
.mashme-button:hover span {
  background-position: 0 -32px;
  color: #FFFFFF;
}
.mashme-button:active span {
  background-position: 0 -64px;
  color: #FFFFFF;
}
.mashme-button.mini span {
  background: url("mashme_button_mini.png") repeat scroll left center transparent;
  float: left;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 32px;
}
.mashme-button.mini span {
  background-position: 0 0;
  color: #DDDDDD;
}
.mashme-button.mini:hover span {
  background-position: 0 -32px;
  color: #FFFFFF;
}
.mashme-button.mini:active span {
  background-position: 0 -64px;
  color: #FFFFFF;
}
.mashme-darkener {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3000;
}
.mashme-darkener iframe {
  background: url("ani_logo.gif") no-repeat scroll center center rgba(0, 0, 0, 0.7);
  border: 3px solid #000000;
  border-radius: 3px 3px 3px 3px;
  height: 100%;
  width: 100%;
}
.mashme-darkener div {
  padding: 19px 22px;
}
.mashme-darkener .close-iframe {
  background: url("http://www.mashme.tv/static/images/icons/close.png") repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
}
.margin5 {
  padding-left:5px;
         }
.margin-icon{
margin-top: -5 px;
}

.excursions .nav > li > a {
  display: inline-block;
}
.margin15 {
  padding-left:15px;
  padding-right:15px;

}
.margin_left_15{
margin-top: 15px;
margin-left: 15px;
}

.form_field-new_document{
  display: inline-block;
  float : left


}

.form_label-new_document{
  display: inline-block;
  float : left;
  margin-left: 15px;
  padding-top:8px

  }

#form_label-new_document{
  display: inline-block;
  float : left;
  margin-right:15px;
  padding-top:10px

}

.menu_new_document{
  display: inline-block;
  margin-left :15px;
  margin-top:15px
}


.icon_link_delete{
  position: absolute;
  top: 0px;
  right: 9px;
}

.icon_x-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("icons/link_small_gray.png");
  background-repeat: no-repeat;
  *margin-right: .3em;
}

.icon_x-link:hover {
  background-image: url("icons/link_small_blue.png");
}

.span_new {
  margin-left: 5px;
  font-size: 14px;
}

/* Remove outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

.select01{
  padding-right: 10px;

}
.select02{
  padding-right: 10px;
  width: 295px   ;
  display:inline-block;
}
.upload02{

margin-left: 75px
}

.upload-age{
  width: 49%;



}


.message_space_menu{
height: 65px;
display: block
}
.follow-btn-profile {
padding-left: 30px;
padding-top: 10px;
}

.alert-margin{
margin-top: -30 px;
margin-bottom: 30 px;
}

.wall input, textarea, select, .uneditable-input {

width:auto;}



/* details resources/excursion */

.notebook{
  display: inline-block;

  padding-left: 3px;

  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 300px

}
 .margin-info-coment{
 margin-top: 80px
 }
.margin-info-resources{
margin-left: 50px
}
.excursion-notebook
.notebook-cabecera
{
  background-image: url("images/notebook/CABECERA.png");
  background-repeat: no-repeat;
  width: 290px;
  height: 33px;
  display:inline-block;
  margin-bottom: -4px
}


.notebook-cabecera
{
  background-image: url("images/notebook/CABECERA.png");
  background-repeat: no-repeat;
  width: 290px;
  height: 100px;
  display:inline-block;
}

.notebook-medio{
  background-image: url("images/notebook/MEDIO.png");

  background-repeat: repeat-y;
  width: 290px;
  height: AUTO;
  display:inline-block;

  padding-top: 20px;


}
.notebook-pie{
  background-image: url("images/notebook/PIE.png");

  background-repeat: NO-REPEAT;
  width: 290px;
  height: 21PX;
  display:block;
  margin-top: -5px



}
.decoration-notebook{
  width:25px;
  display: inline-block   ;
  float:left;
  height:auto;
  background-color: #f1f1f1;


}

.content-notebook{
  display: inline-block;
  width: 262px;
  float:right;


}

#margin-resources{margin-right: 5px;}




.title_resources{
  font-size: 15px;
  color:#555555;


  width:231px;
  display:inline-block;


  margin-right: 5px;


}

#description_resources{
  font-size: 16px;

}

.picture.content_size .picture_show img{
  max-width: 385px;
  max-height: 385px;
  margin-left: 0;
  border: 1px solid gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;

}

.info_resources{
  display: block;
  width: auto ;
  padding-top: 5px

}
.info_visits{
  display:inline-block;
  font-size: 18px;
  margin-top: 15px;
  margin-left:28px;


  float:left;
  width:260px


}
.picture_icon{
  display: inline-block;

}
.date_resources{

  width:231px;
  display:inline-block;


  margin-right: 5px;
  padding: 0px 5px 5px 5px;




}
.details_resources{
  float:left;
  clear: right;
  display: inline-block;
  width: 200px;
  color: #FF005D;
  clear: right;
  margin: 5 px;
  font-size: 17px;
  text-decoration: underline ;
  margin-bottom: 10px
}
.like_count{
  display:inline-block;
  width: auto;
}

#details_numbers{
  color: #FF005D; opacity: 0.6;
  display: inline-block;
  float: right;
}
.view-and-like{
  width: auto;
  float:right;
  display:inline-block;


}
.number{
  width: auto;
  display: inline-block;
  padding-right: 15px



}
.tabs_nav_notebook{
  width: 136px;
  float:right; ;
  margin-top:5px;
  margin-left: -20px


}
.tabs_nav_notebook .nav > li > a:hover {
  text-decoration: none;
  background-color: #F9F9F9;
  border:none;

}


.favorit_resources{
  float:right; 
  margin-left: 10px;
  margin-right:20px;


}
.favorite-count{
float:right
}

.box_white_info_document{
  display:inline-block;
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float:right;
  width:118px


}

.all-description
.nav-tabs:after,
.nav-pills:after {
  clear: none;
}

.all-description
.nav-tabs {
  border-bottom:none;
}

.all-description
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #Ffffff;
  background-color: #3366FF;
  border: none;
  cursor: default;
  font-weight: 100;
  outline: none;
  font-size: 20px;

}

.all-description
.nav > li > a:hover {
  text-decoration: none;
  background-color: #FF005D;
  border: none;
  color:#ffffff;

}
.all-description
.nav-tabs > li > a:hover {
/*border-color: #eeeeee #eeeeee #dddddd; */
  font-size: 20px;
}

.all-description
.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 2px;
  line-height: 20px;
  border: none;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color:#FF005D

}
.form_field_edit_resource
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 184px;
  height: 20px;
  padding: 3px;

  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}


.tags_edit_resources div.tagBoxEdit .tagit{
  width:173px;

}
.roundedbox{
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  margin-top: -15px;
  height: auto;
  width: auto;
  background-color: #F9F9F9;
  padding-left: 15px;
  padding-top: 15px;
}
.form_field_edit_resource
select {
  background-color: #FFFFFF;
  width: 193px;
}
.form_field_edit_resource
.slider-range{

  width: 72%;
}
.form_field_edit_resource
.tagBoxEdit{
  clear: right;
  padding: 0px;
  color: #7a8fa9;
  font-size: 14px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-height: 45%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: -25px;
  width: 100%;
}
.comments-resources
.input-fluid {
  margin-left: 7px;
  height: 18px;
  width: 95%;
}
.boxy_white_wall   {
  background-color: #FFFFFF;
  border: 0px solid transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;


  background-color: #FFFFFF;


/* Safari 5.1+ y Chrome 10+ */
  background-image:-webkit-linear-gradient(top , #FFFFFF, #F5F5F5);

/* Firefox 3.6+ */
  background-image:-moz-linear-gradient(top, #FFFFFF, #F5F5F5);

/* Opera 11.10+ */
  background-image:-o-linear-gradient(top, #FFFFFF, #F5F5F5);

/* Internet Explorer 5.5+ */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#Ffffff', EndColorStr='#F5F5F5');
  background-repeat: no-repeat;


}
.embed_show{
  width: 387px;
}






/********frontpage**********/


.name{
  margin-bottom: 14px;
  padding-top: 9px;
  letter-spacing: 3pt;
}

.container-frontpage{
  padding-top: 20px;

  }

.logo{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;

}


.input-resize{

width: 80%}

input-resize-header{
  width: 125%
}

.margin_life_sciences{
margin-top: -20px;
}

.margin_user{
margin-top: -5px;
}

.link_gray1 a{color: #a6a6a6;text-decoration: none;}
.link_gray1 a:hover{color: #5e5e5e;  text-decoration: none;}
.link_gray2 a{color: #949494;text-decoration: none;}
.link_gray2 a:hover{color: #5e5e5e;  text-decoration: none;}
.link_gray3 a{color: #808080;text-decoration: none;}
.link_gray3 a:hover{color: #5e5e5e;  text-decoration: none;}
.link_gray4 a{color: #696969;text-decoration: none;}
.link_gray4 a:hover{color: #5e5e5e;  text-decoration: none;}

.text_imput_center{
margin-top: 5px ;

}

.size_xx-large{font-size: xx-large}
.size_x-large{font-size: x-large}
.size_largue{font-size: large}
.size_medium{font-size: medium}
.size_small{font-size: small;}

.btn_frontpage{
  width: 22%;
}
.btn_explore{
  margin-left:5px;
margin-right: 5px;
}

/********sign_up**********/


.box_basic{
  display: block;
  padding:10px;
  background-color: #FFFFFF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
}
.input_nude{
border: none;
box-shadow: none

}
.btn-languaje{
margin-left: -8px
}


.border_bottom{
border-bottom: 1px solid #EEEEEE;
}


.margin-top5{
margin-top: 5px;
}

.margin-top10{
  margin-top: 10px;
}

.margin-top15{
  margin-top: 15px;
}

.margin-top20{
  margin-top: 20px;

}

.margin-left10{
  float:none;
padding-left: 10px
}

.margin-right5{

  margin-right:5px
}


.no_margin{

margin:none;
}

