


/*************** FONTS **************/


@import "colors";

@font-face{
  font-family:DsignesBold;
  src: url(fonts/DsignesBold.otf);
}
@font-face{
  font-family:DsignesLight;
  src: url(fonts/DsignesLight.otf);
}
@font-face{
  font-family:DsignesRegular;
  src: url(fonts/DsignesRegular.otf);
}
.dsignesbold {font-family:DsignesBold;}
.dsigneslight {font-family:DsignesLight;}
.dsignesregular {font-family:DsignesRegular;}


/************* IMG *******/

.imgnoradio{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.img{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}


/*************** SIZE CLASSES **************/

.size6{font-size: 6px;}
.size10{font-size: 10px;}
.size11{font-size: 11px;}
.size12{font-size: 12px;}
.size14{font-size: 14px;}
.size15{font-size: 15px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size20{font-size: 20px;}
.size22{font-size: 22px; line-height: 14px;}
.size24{font-size: 24px;}

.size24{font-size: 24px;}
.size30{font-size: 30px; line-height: 41px;}
.size40{font-size: 40px; line-height: 28px;}
.size50{font-size: 50px; line-height: 38px;}
.size60{font-size: 60px;}
.size80{font-size: 80px;}
.size100{font-size: 100px;}
.size-responsive{font-size:x-large;}

/*************** LINKS *********/
.link_gray a{color: #6e6e6e;text-decoration: none;}
.link_gray a:hover{color: #3366FF;  text-decoration: none;}
.link_virtual a {color: #adadad;text-decoration: none;}
.link_virtual a:hover {color: #808080;text-decoration: none;}
.link_pink a{color: #FF005D; text-decoration:none;}
.link_pink a{color: #FF005D; text-decoration:none;}
.link_pink a:hover {color: #3366FF; text-decoration:none;}
.link_white a{color: #ffffff; text-decoration:none;}
.link_white a:hover {color: #919191; text-decoration:none;}
.link_blue a{color: #68A3FF; text-decoration:none;}
.link_blue a:hover {color: #68A3FF;text-decoration:none;}
.link_blue2 a{color: #3366FF; text-decoration:none;font-size: 18px; }
.link_blue2 a:hover {color: #68A3FF;text-decoration:none;}

/***********COLORS ***********/
.background{color: #F9F9F9;}
.white{color: #FFFFFF;}
.green{ color:#40CC7F;}
.ligth-gray{color: #E6E6E6}
.gray-activity{ color: #949eab;}
.gray-medium{ color: #8f8f8f;}
.gray{ color:#6e6e6e;}
.dark-gray {color: #666666;}
.blue-cake{color: #3366FF;}
.blue-opacity{color: #68A3FF;}
.blue-white{color:#C2C9E0;}
.red-1{color: #FF005D;}
.red-2{color: #FF005D; opacity: 0.6;}



/************* SPACES SECTION *************/
.space_center {	padding-top: 15px;	padding-right: 4px;	text-align: center;}
.space_double_center {	padding-top: 50px;	padding-right: 4px;	text-align: center;}
.space_right{padding-right: 20px;}
.space_double_right{padding-right: 40px;}
.space_left{padding-left: 20px;}
.space_both{padding-left: 15px; padding-right: 10px;}
.space_top{padding-top: 20px;}
.space_null{padding:0px !important; margin:0px !important;}
.space_bottom{padding-bottom: 10px;}


/************* ellipsis *************/

.ellipsis{ overflow: hidden;  text-overflow: ellipsis;   white-space: nowrap; }
.w120px{ max-width: 120px; }
.w150px{ max-width: 150px; }
.w190px{ max-width: 190px; }

/********frontpage**********/


.name{
  margin-bottom: 14px;
  padding-top: 9px;
  letter-spacing: 3pt;
}
.container-frontpage{
  padding-top: 20px;

  }
.container-device{
  padding-top: 0;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}
.input-resize{
  background-image: url('assets/search.png');
  background-repeat: no-repeat;
  background-position: 96% center;
  padding-right: 5px;
  width: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  }

input-resize-header{
  width: 125%
}

.margin_life_sciences{
margin-top: -20px;
}

.margin_user{
margin-top: -5px;
}

.link_gray1 a{color: #a6a6a6;text-decoration: none;}
.link_gray1 a:hover{color: #5e5e5e;  text-decoration: none;}
.link_gray2 a{color: #949494;text-decoration: none;}
.link_gray2 a:hover{color: #5e5e5e;  text-decoration: none;}
.link_gray3 a{color: #808080;text-decoration: none;}
.link_gray3 a:hover{color: #5e5e5e;  text-decoration: none;}
.link_gray4 a{color: #696969;text-decoration: none;}
.link_gray4 a:hover{color: #5e5e5e;  text-decoration: none;}

.text_imput_center{
margin-top: 5px ;

}

.size_xx-large{font-size: xx-large}
.size_x-large{font-size: x-large}
.size_largue{font-size: large}
.size_medium{font-size: medium}
.size_small{font-size: small;}

.btn_frontpage{
  width: 22%;
}
.btn_explore{
  margin-left:5px;
margin-right: 5px;
}

/********basic**********/


.box_basic{
  display: inline-block;
  padding:10px;
  background-color: #FFFFFF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
}
.border_bottom{
  border-bottom: 1px solid #EEEEEE;
  display: inline-block;
}
/********input class**********/

input.search_tool,
textarea.search_tool,
.uneditable-input.search_tool {
  width: 70%;
}

.input_nude{
border: none;
box-shadow: none

}
#input_nude{
  border: none;
  box-shadow: none
}
.btn-languaje{
margin-left: -8px
}

/********margin-top**********/

.margin-top5{margin-top: 5px!important;}
.margin-top10{margin-top: 10px!important;}
.margin-top15{margin-top: 15px!important;}
.margin-top20{margin-top: 20px!important;}

/********margin-left**********/

.margin-left5{margin-left: 5px!important}
.margin-left10{margin-left: 10px!important}
.margin-left15{margin-left: 15px!important}
.margin-left20{margin-left: 20px!important}

/********margin-right**********/

.margin-right5{margin-right:5px!important}
.margin-right10{margin-right:10px!important}
.margin-right15{margin-right:15px!important}
.margin-right20{margin-right:20px!important}

/*******margin-top**********/

.margin-bottom5{margin-bottom:5px!important}
.margin-bottom10{margin-bottom:10px!important}
.margin-bottom15{margin-bottom:15px!important}
.margin-bottom20{margin-bottom:20px !important}

/*********no margin*********/

.no_margin{margin:none;}


/*********percent*********/

.percent10{ width: 10%;}
.percent20{ width: 20%;}
.percent30{ width: 30%;}
.percent40{ width: 40%;}
.percent50{ width: 50%;}
.percent60{ width: 60%;}
.percent70{ width: 70%;}
.percent80{ width: 80%;}
.percent90{ width: 90%;}
.percent100{ width: 100%;}


.margin-top-negative_19{
margin-top: -19px;
}

.padding-center{
padding-right: 10px;
padding-left: 10px;

}

.information-mobile{
float:right;
display: inline-block;

}

.liquid_text75{
width:75%;
display: inline-block;
}
.liquid_text95{
  width:95%;
  display: inline-block;
}

/*********DISPLAY*********/
.inline{display: inline;}
.inline-block{display: inline-block;}
.block{display: block;}


.vertical-align{

vertical-align: middle;
}




