@mixin dropdown-log
  padding: 5px 6px
  @include log


@mixin log
  .form-group
    margin-bottom: 10px
    min-height: 76px
    .add-on
      padding: 5px 8px
  input
    &[type="email"],
    &[type="password"]
      float: none
    &[type="email"]
      margin: 0 0 10px
    &[type="password"]
      margin: 0

  .checkbox
    float: left
    margin-top: 0
    margin-bottom: 5px
    padding-left: 0
    span
      color: $white
  input
    &[type="submit"]
      float: right
  hr
    margin: 0px
    clear: both
    border: 1px solid transparent
  a,
  label
    color: $white
    padding-left: 0

  .new_user
    .remember_password
      clear: both
      a
        font-size: 0.8em
        color: #FAFAFA
        &:hover
          background-color: none !important
          text-decoration: none
          color: $white


@mixin devise-box
  @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
  @include border-top-radius ($border-radius-base)
  @include border-bottom-radius ($border-radius-base)
  @include make-sm-column(6, $gutter: $grid-gutter-width)
  @include make-md-column(6, $gutter: $grid-gutter-width)
  @include make-lg-column(6, $gutter: $grid-gutter-width)
  @include center-block
  padding: 12px 15px !important
  background-color: $white
  color: $gray
  float: none !important
  display: block
  .form-group
    margin-bottom: 0
  h4
    font-family: $corporate-font-family-sans-serif-Medium
    margin: 0 0 18px 0
  p
    margin: 10px 0
  label
    margin-bottom: 0px
    width: 100%
    padding: 10px 0 0px
  input
    &[type="text"],
    &[type="email"],
    &[type="password"]
      width: 100%

  hr
    border: 1px solid #E7E7E7
  #remember
    display: inline
    padding-left: 0
    color: $gray
    input
      float: none
      margin: 0
  .action
    clear: both
    min-height: 40px
    input
      &[type="submit"]
        float: right

@mixin excursion-small
  width: 100%
  .corner-item
    position: absolute
    top: 0
    left: 0
    z-index: 2
    @include border-top-left-radius ($border-radius-small)
    overflow: hidden
    width: 50px !important
    height: 50px !important
  .corner-item2
    .corner-color
      border-width: 50px 50px 0 0
    i
      width: 0
      height: 0
      border-width: 72px 72px 0 0
      z-index: 5
      font-size: 13px !important
  .corner-background
    border-width: 50px 50px 0 0 !important
  .container-img
    width: 40% !important
    float: left
    display: inline-block
    border-right: 1px solid $border-color
    height: 89px
    @include border-right-radius (0)
    @include border-left-radius ($border-radius-small)
    -moz-border-top-right-radius: 0
    -webkit-border-top-right-radius: 0
    border-top-right-radius: 0 !important

    .img-box
      @include border-right-radius (0)
      @include border-left-radius ($border-radius-small)
      @include border-top-right-radius (0)
      i
        font-size: 44px
        padding-top: 23px


  .caption
    border-top: none
    margin-top: 0px !important
    width: 60%
    float: left
    height: 89px
    .info-bottom
      padding-top: 2px

@mixin comments
  width: 100%
  margin-bottom: 1px
  .panel
    background-color: transparent
    border: none
    margin-bottom: 0
    box-shadow: none
    border-color: transparent
    .panel-heading
      min-height: 20px
      padding: 0
      border-color: rgba(0, 0, 0, 0)
      border-bottom: none
      width: 100%
      text-align: right
      a
        font-size: 0.8rem
        color: $gray !important
        display: inline
      .x
        display: inline-block
        float: right
        a
          color: $gray-dark
          &:hover
            color: $brand-primary
  .panel-collapse
    margin-bottom: 15px
    .panel-body
      border-top-color: transparent !important
      padding: 0
      clear: both
      background-color: #F3F3F3
      padding: 8px 10px
      @include border-top-radius ($border-radius-base)
      @include border-bottom-radius ($border-radius-base)
      .post_time_ago
        color: #CECECE
        float: right
        *font-style: italic
        font-family: $corporate-font-family-sans-serif-Light
        font-family: $corporate-font-family-sans-serif-LightItalic
        color: $gray-light
        padding-top: 3px


@mixin creator
  clear: both
  margin-top: 7px
  float: right
  display: inline-block
  .views
    display: inline
    margin-right: 8px
    font-family: $corporate-font-family-sans-serif-Medium
    span
      font-family: $corporate-font-family-sans-serif-Light
  .like
    font-family: $corporate-font-family-sans-serif-Medium
    display: inline-block
    margin-left: 8px
    i
      .fa-star,
      .fa-star-o
        color: $brand-primary

    a
      .fa-star
        color: $brand-primary
      .fa-star-o
        color: $gray
    &:active
      outline: none
      outline: 0
    .count
      display: inline
