@mixin fix-img-addon
  @media (max-width: 877px)
    width: 32px
    height: 32px
  @media (min-width: 877px)
    width: 34px
    height: 34px
  @media (min-width: 1134px)
    width: 35px
    height: 35px
