//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------




// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 767px)
  .user
    margin-bottom: 20px
    header
      #profile-info
        margin-bottom: 20px
        background-color: $white
        display: block
        float: left
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        @include border-radius($baseBorderRadius)
        @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
        position: relative
        .avatar
          display: block
          padding: none
          float: none
          margin: 5px auto
          @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
          img.avatar_img
            //border: $baseBorderRadius solid $white
            @include border-radius($baseBorderRadius)
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)

          .badge-teacher-active
            background-image: url(" badges/teacherofthemonth.png" )
            position: absolute
            top: 15px
            left: -15px
            z-index: 10
            height: 110px
            width: 75px
            pointer-events: none
        .information
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          float: left
          .briefing
            h3
              line-height: 15px
              color: $firstColor
              font-size: 20px
              font-family: $firstFontFamily
              //border-right: 1px solid $grayLighter
              padding-right: none
              vertical-align: top
              display: block
              float: left
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
              text-align: center

            span
              color: $gray
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
              display: block
              float: left
              margin-top: 0px
              text-align: center
            .name
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
              float: left
              display: inline-block
              h2
                line-height: 25px
                font-size: 16px
                color: $gray
                text-align: center
                font-family: $secondFontFamily
            .helpheader
              display: none
            .description
              @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
              float: none
              display: block
              color: $grayLight
              font-size: 14px
              text-align: center
              margin: 5px auto

            .tags-profile
              @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
              float: right
              display: none     
              margin-top: 3px
            .ocupation
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
              float: left
              display: inline-block
              text-align: center


            #effect
              position: relative
              min-height: 0px
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
              display: inline-block
              float: left
            .newClass
              height: 0px
              overflow: hidden
            .anotherNewClass
              height: auto
              overflow: auto



              .organization     
                @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                display: inline-block 
              .website
                @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                display: inline-block 
              .birthday
                @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                display: inline-block
              .city
                @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                display: inline-block
              .county 
                @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                float: left
                display: inline-block


  //toolbar-profile
  .toolbar-profile
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    float: left
    display: block
    height: auto
    margin: 10px auto

  .update
    background-color: $white
    margin-left: auto
    margin-right: auto
    padding: 0
    @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
    float: none

