<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <%= render partial: 'help/help_request_group_perm' %>
        <h4 id=""><%= t('private_student.request_modal.title_duplicated')%></h4>
</div>

<div class="modal-body" style="overflow:hidden;">
	<%= t('private_student.request_modal.body_duplicated')%>
	<p></p>
</div><!-- CIERRA BODY-->


