
<div id="RequestPermModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">



    </div><!-- /MODAL-CONTENT -->
  </div><!-- /MODAL-DIALOG -->
</div><!-- /MODAL -->


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){

   //When click on the button send the email to the server via Ajax
    $(document).on( "click", "#request_perm_create_groups", function(){
      console.log("click");      
    });
  });

</script>
