  <div class="recomended-items">
    <div class="recomended_excursion">
      <ul class="small-box clearfix">
      	<p class="info_action"> Added Audio</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => audio}%>
        
      </ul>
    </div>
  </div>