  <div class="recomended">
      <ul class="items clearfix">
      	<p class="info_action"> Added Audio</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => audio}%>
        
      </ul>
  </div>