footer.container-fluid
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  position: fixed
  left: 0
  bottom: 0
  height: 38px
  width: 100%
  nav.footercontent
    margin-left: -22%
    margin-top: 6px
    ul
      padding: 0
      text-align: center
      li
        display: inline
        padding: 0 2%
      li.social-img     
        img
          width: 30px
      li.dropup
        .dropdown-menu
          margin-bottom: 20px
          border-radius: $baseBorderRadius
          min-width: 122px
          li
            a
              &:hover
                background: $secondColor
                color: $white
                //align-self: center


          li.languaje
            display: block
            padding: 0
            margin-bottom: 4px
            &:last-child
              margin-bottom: 0
            img   
              width: 25px
              margin-right: 5px
              height: 20px
              background-color: $firstColor
          
