footer.container-fluid
  background-color: #D5D5D5
  nav
    .footercontent
      margin-top: 1%
    ul
      li
        color: #555
      li.btn-group
        button
          background-color: transparent
          border: none
        .open 
          background-color: none

        button.btn
          background-color: transparent !important
          background-image: none
          box-shadow: none