.user,
#excursions,
#events,
#categories,
#repository,
  #toolbar
    display: none
  .tabbable
    @include header-tabbable
#search
  @include header-tabbable


li.events-item,
li.categories-item,
li.repositories-item
  @include grid
  
li.add-item
  @include grid-add

#quiz,
#help,
#legal_notice
  @include help
  .textrow
    @include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
    @include border-radius($baseBorderRadius)
    border-style: solid
    border-color: $firstColor
    height: 80px
    display: block
    float: left
    margin-left: 10px

