.user,
#excursions,
#events,
#categories,
#repository,
  #toolbar
    display: none
  .tabbable
    @include header-tabbable
#search
  @include header-tabbable


li.events-item,
li.categories-item,
li.repositories-item
  @include grid
  
li.add-item
  @include grid-add

#quiz,
#help,
#legal_notice
  @include help
  .textrow
    margin: 5px 
    padding: 0 0 2.5em
    float: left 
    margin-right: 10px     
    width: 45%
    min-height: 300px
    h4
      margin-bottom: 20px
  
  #sortable1, #sortable2  
    list-style-type: none 
    
  #sortable1 li, #sortable2 li  
    margin: 0 5px 5px 5px 
    padding: 5px 
    font-size: 1.2em 
    //width: 140px 
    border-width: 1px
    border-color: $grayLight
    border-style: solid
    height: 30px
    @include border-radius($baseBorderRadius)
    padding: 10px
    background-color: $white
 
    

