.letter
  background: #fff
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
  margin: 26px auto 0
  padding: 24px
  position: relative
  width: 65%
  padding: 5%
  color: #000
  h1,h2,h3,h4
    font-weight: 600
  &:before, &:after
    content: ""
    height: 98%
    position: absolute
    width: 100%
    z-index: -1
  &:before
    background: #fafafa
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
    left: -10px
    top: 4px
    transform: rotate(-2.5deg)
    ms-transform: rotate(2.5deg)
    webkit-transform: rotate(2.5deg)
  &:after
    background: #f6f6f6
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    right: -10px
    top: 1px
    transform: rotate(1.4deg)
    ms-transform: rotate(1.4deg)
    webkit-transform: rotate(1.4deg)