/************* bootstrap icons typography *******/


@font-face {
  font-family: "Glyphicons Halflings";
  font-style: normal;
  src: url('ViSH_style_guide/general/fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('ViSH_style_guide/general/fonts/bootstrap/glyphicons-halflings-regular.eot') format('embedded-opentype'),
         url('ViSH_style_guide/general/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
         url('ViSH_style_guide/general/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
         url('ViSH_style_guide/general/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}