/************* typography*******/

// ---------------------light
@font-face{
  font-family:"opensans-light";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/light/opensans-light-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('ViSH_style_guide/fonts/ViSH/opensans/light/opensans-light-webfont.woff') format('woff'),
       url('ViSH_style_guide/fonts/ViSH/opensans/light/opensans-light-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"opensans-lightItalic";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/light/opensans-lightItalic-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/light/opensans-lightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('ViSH_style_guide/fonts/ViSH/opensans/light/opensans-lightItalic-webfont.woff') format('woff'),
       url('ViSH_style_guide/fonts/ViSH/opensans/light/opensans-lightItalic-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}



// ---------------------regular
@font-face{
  font-family:"opensans-regular";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regular-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regular-webfont.woff') format('woff'),
       url('ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regular-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"opensans-regularItalic";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regularItalic-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regularItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regularItalic-webfont.woff') format('woff'),
       url('ViSH_style_guide/fonts/ViSH/opensans/regular/opensans-regularItalic-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}



// ---------------------semi bold
@font-face{
  font-family:"opensans-semibold";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semibold-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semibold-webfont.woff') format('woff'),
         url('ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semibold-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"opensans-semiboldItalic";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semiboldItalic-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semiboldItalic-webfont.woff') format('woff'),
         url('ViSH_style_guide/fonts/ViSH/opensans/semibold/opensans-semiboldItalic-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}



// ---------------------bold
@font-face{
  font-family:"opensans-bold";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-bold-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-bold-webfont.woff') format('woff'),
         url('ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-bold-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"opensans-boldItalic";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-bolddItalic-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-boldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-boldItalic-webfont.woff') format('woff'),
         url('ViSH_style_guide/fonts/ViSH/opensans/bold/opensans-bolddItalic-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}



// ---------------------extra bold
@font-face{
  font-family:"opensans-extrabold";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extrabold-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extrabold-webfont.woff') format('woff'),
         url('ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extrabold-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"opensans-extraboldItalic";
  src: url(ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extrabolddItalic-webfont.ttf);
  src: url('ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extraboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extraboldItalic-webfont.woff') format('woff'),
         url('ViSH_style_guide/fonts/ViSH/opensans/extrabold/opensans-extrabolddItalic-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}



