//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)



    
  .navbar-fixed-top 
    margin-bottom: 0px

  .container_carousel
    margin-bottom: 20px
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-top: 0
    .characteristics
      .carousel
        max-height: 367px
        //height: 100%
        overflow: hidden
        float: left
        display: block
        position: relative
        margin-bottom: 0
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .carousel-inner
          .img_carousel
            img
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .description
            position: absolute
            right: 5%
            top: 5%
            left: 5%
            z-index: 2
            width: auto
            background: rgba( 0, 0, 0, 0.5)
            @include border-radius($baseBorderRadius)
            padding: 10px
            h1
              color: $white !important
              font-family: $secondFontFamily
              font-size: 25px
              line-height: 28px
            p
              margin-bottom: 5px
              line-height: 20px
              color: $white 
            .redes
              margin-bottom: 30px
     

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)
  #frontpage
    .competition
      display: none
  .container_carousel
    margin-bottom: 20px
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-top: 0
    .characteristics
      .carousel
        max-height: 367px
        //height: 100%
        overflow: hidden
        float: left
        display: block
        position: relative
        margin-bottom: 0
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .carousel-inner
          .img_carousel
            img
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .description
            position: absolute
            right: 5%
            top: 5%
            left: 5%
            z-index: 2
            width: auto
            background: rgba( 0, 0, 0, 0.5)
            @include border-radius($baseBorderRadius)
            padding: 10px
            h1
              color: $white !important
              font-family: $secondFontFamily
              font-size: 25px
              line-height: 28px
            p
              margin-bottom: 5px
              line-height: 20px
              color: $white 
            .redes
              margin-bottom: 30px
     
          


