<section id="overview">
	<div class="whiteframe">
<legend>Introduction to the ViSH</legend>
<br>
<div class="header_text margin-top10">The ViSH (<a href="www.vishub.org">http://vishub.org</a>) is a social and collaborative site for creating knowledge resources for the realization of educational activities. The central element of the ViSH is the virtual excursion, a sequence of visits (enriched slides or viewgraphs), designed for projection in the classroom. Each excursion is a sequence of well-designed visual compositions of multimedia resources linked from the Internet, from the local ViSH repository or from other federated repositories. The name virtual excursion is a metaphor for an excursion in a virtual world of knowledge resources.
</div><br>
<div class="header_text margin-top10">
Excursions are public HTML5 Web resources, accessible over the Internet by means of a URL, which can be projected in full screen format with a beamer to support classroom activities. Excursions (<a href="http://www.vishub.org/excursions/912">http://www.vishub.org/excursions/912</a>, <a href="http://www.vishub.org/excursions/560">http://www.vishub.org/excursions/560</a>, <a href="http://www.vishub.org/excursions/63">http://www.vishub.org/excursions/63</a>, <a href="http://www.vishub.org/excursions/632">http://vishub.org/excursions/632</a>) can be used to support classroom explanations, quizzes, simulations, 3D model analysis, etc.
</div><br>
<div class="header_text margin-top10">
The ViSH allows also the realization of collaborative activities and projects in the classroom using a shared account supervised by a teacher or tutor. For example this excursion (<a href="http://www.vishub.org/excursions/515">http://www.vishub.org/excursions/515</a>) is the result of a geology classroom project for mineral identification performed in a highschool in Galicia (Spain). The excursion groups together all the works created by the students (<a href="http://www.vishub.org/excursions/515#8">http://www.vishub.org/excursions/515#8</a>) of the class. Some students even translated their work to English by cloning the resource and translating it (<a href="http://www.vishub.org/excursions/912">http://www.vishub.org/excursions/912</a>).
</div><br>
<div class="header_text margin-top10">
Excursions can be projected in a physical classroom in full-screen, like a slide or viewgraph presentation, but can be also:
</div><br>
<div class="header_text margin-top10">
<ul>
<li>Viewed on browsers, smartphones, tablets or any HTML5 enabled device.</li>
<li>Embedded in Web pages or LMSs (Moodle, ..) like YouTube videos.</li>
<li>Projected in the ViSH virtual classroom, based on MashMe.tv. </li>
<li>Exported as a SCORM object to be imported elsewhere.</li>
<li>Downloaded for off-line presentation in a classroom or meeting (under development).</li>
<li>Cloned and modified or enriched by any other member of the community.</li>
<li>Etc.</li>
</ul>
</div><br>
<div class="header_text margin-top10">
Excursions can be added to a catalogue of excursions (<a href="http://www.vishub.org/catalogue">http://vishub.org/catalogue</a>) where they appear classified by topic. The initial focus of the ViSH was on science, but it is being used now in many other areas. 
</div><br>
<div class="header_text margin-top10">
<br> 
<legend>The Community of ViSH registered users.</legend>
<br>
</div><br>
<div class="header_text margin-top10">
Excursions are public objects, which can be freely reused in the classroom, blogs or LMSs by any person having access to the ViSH with a standard Internet access. But to create or modify excursions a user must register in the ViSH and become a member of the community. The ViSH terms of use (<a href="http://vishub.org/legal_notice">http://vishub.org/legal_notice</a>) must be accepted to obtain an account. 
</div><br>
<div class="header_text margin-top10">
Each account has a profile where a set of tabs on the left hand side provide access to:
</div><br>
<div class="header_text margin-top10">
<ul>
<li>The excursions created from scratch with the editor or the excursions cloned from other ViSH users and possibly edited afterwards.</li>
<li>The events created by the user.</li>
<li>The resources uploaded by the user in the ViSH repository, possibly as components of excursions. Pictures, videos or animations used in excursions can be uploaded in the repository or linked from the Internet.</li>
<li>The categories to classify excursions according to user needs. Categories are tag names, which act as folders or directories of related content. The favorites category contains excursions marked as favorite.</li>
</ul>
</div><br>
<div class="header_text margin-top10">
The ViSH is a social site where users can follow other users in order to receive information about the excursions they produce. The home of a user shows the excursions created or cloned by the users followed by him. The profile of a given user has also 2 tabs on the right hand side, with the users followed by him and the users who follow him. 
</div><br>
<div class="header_text margin-top10">
In addition, a recommender system will highlight the most relevant content in the ViSH related with the type of content accessed, when excursions are viewed. For a registered user his profile is also taken into account in the recommendation.
</div><br>
<div class="header_text margin-top10">
Each resource supports spam or content error notifications, which provide the basis for the control of the adequacy of excursions with the aims of the terms of use of the ViSH: useful, correct and good quality content.
</div><br>
<div class="header_text margin-top10">
<br> 
<legend>Creating virtual excursions with the excursion editor</legend>
<br>
</div><br>
<div class="header_text margin-top10">
Registered users can create excursions with the online editor. The editor is easy to use and does not require technical skills. A user can edit only the excursions he has created or cloned.
</div><br>
<div class="header_text margin-top10">
Each virtual excursion is organized as a sequence of slides, with a standard slide or viewgraph format, where each can be one of the following elements:
</div><br>
<ul>
<li><b>Visual mash-up.</b> Template based visual composition of text, pictures, videos, audio records, interactive apps, 3D objects (for example: <a href="http://vishub.org/categories/62">http://vishub.org/categories/62</a>, simulations (for example: <a href="http://vishub.org/categories/63">http://vishub.org/categories/63</a>), etc. The visual components included can be hosted in the local ViSH repository or in any server on the Internet.</li>
<li><b>Quiz.</b>  An interactive slide designed to present a question or exercise to be answered in real time in a classroom from desktop, smartphones or tablets. (some examples: <a href="http://vishub.org/categories/61">http://vishub.org/categories/61</a>). True/false and multiple-choice is supported. Self evaluation or mobile, tablet PC based audience response system (ARS)  can be added to the a quiz.</li>
<li><b>Flashcards.</b>  Slide with hot zones where clicking leads to a ViSH slide, another complete excursions or to any Website or resource on the Internet. (some examples: <a href="http://vishub.org/categories/57">http://vishub.org/categories/57</a>)</li>
<li><b>Virtual tours.</b> Smartcards where the background is a specific Google Map configuratión. (some examples <a href="http://vishub.org/categories/58">http://vishub.org/categories/58</a>)
</li>
<li><b>Enriched video.</b>  A video with break points, where the video is stopped and a ViSH slide (explanation, quiz, etc.) is presented. The video continues when the slide is closed. (some examples: <a href="http://vishub.org/categories/59">http://vishub.org/categories/59</a>)
</li>
<li><b>Web Apps.</b>  Interactive HTML5 Web apps to be inserted as an active component in a ViSH slide, such as interactive calculators, animations, simulators, virtual labs, etc. (some examples: <a href="http://vishub.org/categories/60">http://vishub.org/categories/60</a>). HTML5 Web apps are created using standard HTML, CSS and JavaScript exactly in the same way as standard HTML5 client side applications are created.</li>
</ul>
<div class="header_text margin-top10">
Each excursion can be complemented with pedagogical information describing appropriate teaching scenarios, teaching guidelines, specific requirements, preparation tasks or simply ideas or feedback about the use of excursions in class.
</div><br>
<div class="header_text margin-top10">
<br> 
<legend>Cloning virtual excursions</legend>
<br>
</div><br>
<div class="header_text margin-top10">
One of the main goals of the ViSH is enabling collaborative content production. The basic mechanism for enriching or adapting an excursion somebody has produced is cloning. Therefore any excursion published in the ViSH can be cloned by other registered users for enrichment, modification, translation into another language or whatever. 
</div><br>
<div class="header_text margin-top10">
Excursions are published in the ViSH with a creative commons non-commercial alike license, where others have the right to use and modify the excursions for non-commercial purposes. The ViSH is contribution friendly and each excursion makes the authors of the cloning chain explicit, such that all who have contributed to a given excursion receive their recognition.
</div><br>
<div class="header_text margin-top10">
When a user clones a given excursion a copy is made in the excursion area of his profile. The author of the cloned excursion and previous authors contributing to it, are added to the section “with content from”, such that authorship is properly recognized. The user becomes the owner of the cloned copy and can edit it as needed with the editor.
</div><br>
<div class="header_text margin-top10">
<br> 
<legend>Importing and exporting excursions.</legend>
<br>
</div><br>
<div class="header_text margin-top10">
PDF presentations can be imported into an excursion to create new slides, which have the PDF slide as a background and where other elements can be added. 
</div><br>
<div class="header_text margin-top10">
Excursions can also be imported and exported as SCORM objects. SCORM exported excursions can be imported in LMSs and other platforms supporting the standard. Excursions can also be accessed via an URL or embedded in Web pages, blogs or LMSs (Moodle, ..) like YouTube videos. </div><br>
<div class="header_text margin-top10">
Downloading of excursions for off-line presentation in a classroom or meeting is under development using the HTML5 offline mode. Excursions will only be enabled for off-line presentation, if all the resources the use can be cached in the client, i.e. if they are hosted in the ViSH local repository. Downloading of excursions as a set of PDF slides, but loosing all the active multimedia content of the excursion, is also under study.
</div><br>
<div class="header_text margin-top10">
<br> 
<legend>Virtual meetings and events with remote and mobile access.</legend>
<br> 
</div><br>
<div class="header_text margin-top10">
The ViSH uses MashMe.tv (<a href="http://www.mashme.tv">http://www.mashme.tv</a>) to implement a virtual classroom based on collaborative videoconferencing, where several classrooms in different schools can connect and participate in a virtual event with live demonstrations, discussions, remote lecture delivery, etc. These meetings can be based on excursions or on other social media available on the Internet.</div><br>
<div class="header_text margin-top10">
MashMe.tv supports access to the webinar rooms from desktops, smartphones and tablets. The webcam of a mobile device can be used to show the physical place being visited, the expositions of a museum, to interview people at the visited site or the result of a scientific experiment (telescope, microscope, accelerator, etc.) directly on the scientific infrastructure. Mobile devices can be used to walk freely around the visited site and show the most relevant parts of it.</div><br>
</div>
</section>