    <legend>Virtual Science Hub - Overview</legend>
    <br>
    <ul>
<li><b>1)</b> Create, share and reuse your educational resources</li>
<li><b>2)</b> Perform activities and projects in your classroom</li>
<li><b>3)</b> Collaborate and meet in the ViSH community</li>
</ul><br>

<div>The ViSH (<a href="www.vishub.org">http://vishub.org</a>) is a social site for reusing, sharing and creating educational resources, called Virtual Excursions. The name Virtual Excursion is a metaphor for an excursion accessing digital multimedia resources on the Internet with a properly designed visual aspect which simulate a real excursión. The initial focus of the ViSH was on science, but it is being used in other areas.
</div><br>
<div>
Virtual visits are like enriched powerpoint slides, where the multimedia objects elements of your slide are linked media objects coming from anywhere in the Internet, because they are hyperlinks. The ViSH has been designed to provide a given visual formats to the imported objects, such as animations, videos, audio files or any kind of interactive multimedia object. </div><br>
<div>
Each excursion can be complemented with pedagogical information describing appropriate teaching scenarios, specific requirements, preparation tasks or simply the exchange of experiences from using excursions in class.
</div></br>
<div>
Excursions are public and can be viewed or reused anywhere in the Internet, but registration is needed to create, modify, favorite or comment content, as well as to be a member of the social network and follow other members.
</div></br>
<div>
The virtual classroom of the ViSH is based on MashMe.tv (<a href="www.www.mashme.tv">http://www.mashme.tv</a>) enables performing real virtual visits to physical places with videoconferencing. The mobile access of MashMe.tv is used to perform virtual visits to museums, labs, scientific institutions or any other place you would like to show to the attendees to the virtual classroom sessions. In those sessions the video of a smartphone or tablet is used usually to show the physical site, the result of experiments coming out of scientific infrastructures or to interview members of the institution visited. This offers direct interaction between participants, i.e. school students, teachers and scientists can interact during such a session. 
</div></br>
<div>
ViSH offers an OAI-PMH access point so external servers can harvest our resources and this way the excursions that the user creates will have more visibility and will reach a wider audience. We are right now integrating with the Open Discovery Space repository (<a href="www.www.opendiscoveryspace.eu">www.opendiscoveryspace.eu</a>) and the spanish Agrega repository (<a href="www.agrega.es">www.agrega.es</a>).
</div></br>
<div>
The ViSH has the following main capabilities or components:
</div></br>
<ul>
<div>
<li><b>1) Editor: </b><br>The ViSH provides an online wysiwyg editor for easy creation or modification of virtual excursions. Each virtual excursion is organised as a sequence of slides, like a standard slide or viewgraph presentation. The virtual excursions or slides can be projected in full screen in a projector, but also embedded in a Web site or an LMS (like Youtube videos or slideshare presentations), exported in LOM or just referenced via an URL.The editor can create or edit virtual excursions which contain slides of the following types:</li></div>
<ul><br>
<li><b>Quiz</b><br>An interactive side designed to present a question or exercise which can be answered in real time in a classroom from desktop or mobiles.<br>(some examples: <a href="http://vishub.org/categories/61"> http://vishub.org/categories/61)</a></li><br>
<li><b>Flashcards</b><br>Visual compositions with hot zones where clicking leads to a ViSH slide, a complete ViSH excursions or to any Website or resource on the Internet.<br>(some examples: <a href="http://vishub.org/categories/57">http://vishub.org/categories/57)</a></li><br>
<li><b>Virtual tours</b><br>Smartcards where the background is a Specific Google Map.<br>(some examples <a href="http://vishub.org/categories/58">http://vishub.org/categories/58</a>)</li><br>
<li><b>Enriched video</b><br>A video with break points, where another ViSH slide is presented. The video continues when the slide is closed.<br>(some examples: <a href="http://vishub.org/categories/59">http://vishub.org/categories/59</a>)</li><br>
<li><b>Web Apps</b><br>HTML5 Web apps which can be inserted in a ViSH slide to include interactive elements designed in HTML, CSS and JavaScript. <br>HTML5 Web apps allow to create interactive calculators, animations, simulators, virtual labs, etc.<br>(some examples: <a href="http://vishub.org/categories/60">http://vishub.org/categories/60</a>)</li>
</ul>
<br>

<li>
<b>2) Sharing of excursions.</b><br> The ViSH is a collaborative content creation site, where any excursion can be cloned by other users for enrichment, modification, translation into another language or whatever. Excursions are published in the ViSH with a creative commons non commercial alike license, where others have the right to use and modify it for non commercial purposes. The ViSH is contribution friendly and each Excursion makes the authors of the cloning chain explicit, such that all who have contributed to a given Excursion are publicly recognized.</li><br>

<li><b>3) Excursión tagging, favorite and search.</b><br>  ViSH users can create folders associated to tags to classify the excursions they create, reuse, modify or favorite. A powerful search engine allows users to find excursions, users or resources of the repository.</li><br>

<li><b>4) Social Network.</b><br>  The ViSH supports a network of people creating and sharing excursions. Members can follow each other and navigate across the site to find the best resources and people they want to connect with. A recommender highlights also the most relevant content in the ViSH for each user profile and for their present activities.</li><br>

<li><b>5) Event rooms.</b><br> The ViSH uses MashMe.tv (http://www.mashme.tv) to implement a virtual classroom based on collaborative videoconferencing where several users can meet and have a distributed event for live demonstrations, discussions, remote lecture delivery, etc. These meetings can be based on excursions or on other social media available on the Internet.</li><br>
<li><b>6) Virtual visits with mobile access.</b><br> The event rooms of the ViSH support virtual visits to physical sites, where mobile devices can move around using the video camera of a smartphone or tablet to interview people, show experiment results, show artworks, etc.</li><br>
<hr>