<div class="space_center"></div>
<div class="header_text">
  <%= t('repository.other') %>
</div>
<%= render :partial => "common_documents/profile", :collection => subject_documents(subject), :locals => { :div_class => 'row' }, :as => :document %>
<div class="space_center"></div>