<div class="span2 inline">
  <div id="menuv">
    <h4><span class="size16 gray-ligth">advanced options</h4>
    <ul id="search_toolbar" class="advanced">
      <%= render :partial => 'toolbar/search_all' %>
      <% if not params[:type].blank? %>
        <%= render :partial => "toolbar/search_#{ params[:type] }"%>
      <% end %>
    </ul>
  </div>
</div>

