<div class="span2 inline">
  <div id="menuv">
    <h4><span class="size16 gray-ligth">advanced options</h4>
    <ul class="advanced">
      <% if params[:type].blank? %>
        <%= render :partial => 'toolbar/search_all' %>
      <% else %>
        <%= render :partial => "toolbar/search_#{ params[:type] }"%>
      <% end %>
    </ul>
  </div>
</div>

