<li class="box-item add-item"  >
  <a href="#AddResource" data-toggle="modal">
    <div class="icon-box">
      <i class="icon-plus"></i>
    </div>
    <div class="action-name">
      Add New Resource  
    </div>
  </a>
</li>


