<li class="box-item add-item">
  <a href="#AddResource" data-toggle="modal">
  <div class="container-img">
      <div class="dummy"></div>
      <div class="element">
        <div class="img-box"><i class="icon-plus"></i></div>
      </div>
  </div>


  <div class="info">
<!--Title -->
    <div class="name">
      Add New Resource    
    </div>
<!--Autor -->
    <div class="author"> 
      <span class="by"></span>  
    </div>
    <!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">

    </div>
  </div>
  </a>
</li>





