
  <!-- corner -->
  <!--div class="corner-item">
    <div class="corner-item2">
      <div class="corner-color"></div>
      <%#= link_to raw(icon(resource)), resource, :title => resource.title %>
    </div>
    <div class="corner-background"></div>
  </div-->
  <!-- image/icon -->
  <div class="container-img">
    <div class="dummy"></div>
    <div class="element resource-center">
      <%= link_to raw(icon(resource)), resource, :title => resource.title %>
    </div>
  </div>
  <%= render partial: "application/applyBackstretch", locals: { :includeScriptTag => true } %>
  <!-- INFO -->

