<li class="add-item hidden-xs hidden-sm">
  <a href="#AddResource" data-toggle="modal">
  <div class="container-img">
      <div class="dummy"></div>
      <div class="element">
        <div class="img-box"><i class="fa fa-plus"></i></div>
      </div>
  </div>


  <div class="caption">
<!--Title -->
    <div class="action">
      Add New Resource    
    </div>
  </div>
  </a>
</li>





