<div class="space_center"></div>
<div class="header_text">
  <%= t('repository.other') %>
</div>
<% for r in subject_resources(subject, :scope => :me) %>
  <% if r.is_a? Embed %>
    <%= render :partial => "embeds/profile", :locals => { :embed => r, :div_class => 'row' } %>
  <% else %>
    <%= render :partial => "common_documents/profile", :locals => { :document => r, :div_class => 'row' } %>
  <% end %>
<% end %>
<div class="link_gray pagination-centered"><%=link_to(t('more'),[subject, Document.new])%></div>
<div class="space_center"></div>
