<div class="row btn-toolbar">
  <div class="pull-right">
    <input type="text" class="input-medium inline-block ontop" placeholder="filter"  name="filter">
    <div class="btn-group">
      <%= link_to( '+'+t('options.add'), documents_path, :class => 'btn', :alt =>  t('options.add'), :title => t('options.add'))  %>
    </div>
  </div>
</div>
