<div class="row btn-toolbar">
  <div class="span3">
    <% filter_id ||= "document-filter" %>
    <div class="inline-block"><input id="<%= filter_id %>" type="text" class="input-medium inline-block ontop" placeholder="<%= t('filter') %>"  name="filter"></div>
  </div>
    <div class="pull-right">
    <div class="menu_resources">
      <%= link_to  raw("<i class='icontool16-tool16_arrow_7'></i> ") + t('resource.upload'),new_document_path, :class => :action  %>
    </div>
  </div>
</div>
<%#= content_for :javascript do %>
 <!-- if(!Vish.Filter.loaded) Vish.Filter.init();-->
<%# end %>
