<div class="repository tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#repo-1"><%= t('repository.other') %></a></li>
  </ul>
</div>

<% unless params[:no_layout].present? %>
  <%= render :partial => "common_documents/headers" %>
  <div id="documents_grid">
  </div>
<% end %>

<div class="tab-content">
  <div id="repo-1" class="tab-pane active">

    <div id="repository_filter">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repository-filter-me"} %>
    </div>

    <div id="repository-me" class="block row space_center">
      <% documents.each do |document| %>
        <%= render :partial => 'common_documents/repo', :locals => { :document => document } %>
      <% end %>
    </div>

    <% unless documents.last_page? %>
      <% next_url = url_for(:no_layout => true,
                            :page => params[:page].present? ? params[:page].to_i + 1 : 2,
                            :query => params[:query].present? ? params[:query] : "") %>
      <%#= content_tag(:span, "", :class => "screw screw-after", :rel => next_url) %>
    <% end %>
  </div>
</div>

