<div class="picture span3" id="picture_1">
	<ul class="thumbnails">
    	<li class="span">
      		<div id="margin-resources">
      			 <%= link_to  "", "http://www.youtube.com/watch?v=GLbQUYq8x-o", :class => "iconx-video", :alt => t('document.screencast') %>
      		</div>
    	</li>
    	<div class="row-fluid-100">
    		<h4 class="link_gray size15 ">
    			<%= link_to truncate_name(t('document.screencast'), :length => 20), "http://www.youtube.com/watch?v=GLbQUYq8x-o" %></h4>
    		</h4>
    		<div class="rw-words rw-words-1">
    			<span><h5 class="green inline">by </h5><h5 class="link_gray inline"><%= t('site.name') %></h5></span>
			</div>
		</div>			    				
	 </ul>
</div>

