@media (max-width: 1200px)

  #presentation_editor_iframe
    transform: scale(0.75)
    transform-origin: 0 0
    -ms-transform: scale(0.75)
    -ms-transform-origin: 0 0
    -webkit-transform: scale(0.75)
    -webkit-transform-origin: 0 0
  #editor_tools_wrapper
    width: 900px