<section id="networking_tab_ready" class="excursions">
  <ul class="items">
    <%= render partial: 'excursions/excursion-add' %>  
    <%= render partial: 'excursions/home/net_min', :locals => { :scope => scope, :limit => params[:limit], :page => params[:page], :sort_by=> sort_by, :prefix_id=> prefix_id} %>
  </ul>
</section>

