<div id="header_search " >
  <form action="<%= search_path %>" method="get" id="header_search_form"  >
    <%= text_field_tag :q, nil,:autocomplete => :off, :id => :header_search_input,
                       :class => sizeFieldSearch %>
  </form>
</div>
