  <div class="recomended">
      <ul class="items">
      	<p class="info_action">Added Web Application</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => webapp}%>
      </ul>
  </div>