<section id="wrapper_activities" class="tabbable" >

  <div class="tab-content" id="wrapper_activities_header">
    <%= render :partial => 'activities/repository', :locals => { :receiver => owner } %>
  </div>

</section>