<% if can? :create, new_post(receiver) %>
  <div id="wall-input" class="tab-pane active boxy_gray pagination-right">
    <div id="activities_header" class="content_size pagination-centered">
      <%= render :partial => 'documents/new_activity',
                 :locals => {
                   :receiver => receiver
                 } %>
    </div>

    <div id="activities_share_btn" class="inline">
      <%= submit_tag(t('share'), :class => "btn btn-primary submitActivity", :id => "masterSubmitButton") %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function(){
  SocialStream.Wall.init();
  Vish.Wall.init();
  $('#new_document').show();
  });
<% end %>
