<div id="wall" class="row-fluid">
	<div class="activity root_activity">
		<ul class="thumbnails">
			<li class="span2">
				<%= link_to image_tag("logos/actor/excursion-vish.png")%>
			</li>
			<li class="span10">
				<div class="row-fluid">
					<span class="span11">
						<h4><%= t('activity.empty') %></h4>
						<h5><%= t('activity.new_user') %></h5>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="alert alert-info alert-block">
        <%=t('activity.newmessage')%>
</div>
