
  <a href="mailto:?subject=<%= t('excursion.invite.email.subject', :title => CGI::escape(title || "")) %>&amp;body=<%= t('excursion.invite.email.body', { :url => url, :name => CGI::escape(name) }) %>">   
	  <div class="btn-gray icon-envelope"></div>
  </a>

