 <a class="btn btn-xs btn-secundary" href="mailto:?subject=<%= t('sharing.email.subject', :url=> Vish::Application.config.APP_CONFIG["domain"], :title => url_encode(title || "")) %>&amp;body=<%= t('sharing.email.body', { :url => url, :name => url_encode(name) }) %>" title="<%=t('sharing.email.title')%>">
	<i class="fa fa-envelope"></i><%=t('sharing.email.action') %>
</a>
