<% if Vish::Application.config.facebook %>

  <div id="fb-root"></div>

  <script>(function(){
      if(document.getElementById('facebook-jssdk')){
        return;
      } 
      var facebook_js = document.createElement('script'); 
      facebook_js.id = 'facebook-jssdk';
      facebook_js.src = ("//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + "<%=Vish::Application.config.APP_CONFIG['facebook']['appID']%>");
      var head = document.getElementsByTagName('head')[0];
      head.appendChild(facebook_js);
    }());
  </script>
      
  <div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

<% end %>