@media (max-width: 767px)
  #document,
  #picture,
  #embed,
  #audio,
  #event
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .document,
    .picture,
    .embed,
    .audio,
    .event
      .box-show-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left
        //visor
        .container-visor-resource
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .caja-visor-resource
            .picture_show,
            .embed_show
              padding: 10px 0px
              img
                @include border-radius($baseBorderRadius)
                margin: 0 auto
                display: block
      .description-activity-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left

      .recomended-items-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: none
        float: right

      .activity-box-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left

@media (max-width: 480px)  
  #document,
  #picture,
  #embed,
  #audio,
  #event
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .document,
    .picture,
    .embed,
    .audio,
    .event
      .box-show-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left
        //visor
        .container-visor-resource
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .caja-visor-resource
            .picture_show,
            .embed_show
              padding: 10px 0px
              img
                @include border-radius($baseBorderRadius)
                margin: 0 auto
                display: block
      .description-activity-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left
        .box_description
          .tabbable
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left
          .btn-group
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left
          h2
            margin-top: 0px
            padding-left: 5px
            font-family: $secondFontFamily
            color: $grayDark
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            font-size: 20px
            float: left
            display: inline-block
          .viewsAndConunt
            float: left !important
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            padding-left: 20px

      .recomended-items-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: none
        float: right

      .activity-box-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left