//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px)
  #document,
  #picture,
  #embed,
  #audio
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .document,
    .picture,
    .embed,
    .audio
      .box-show-resource
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left
        //visor
        .container-visor-resource
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .caja-visor-resource
            .picture_show,
            .embed_show
              padding: 10px 0px
              img
                @include border-radius($baseBorderRadius)
                margin: 0 auto
                display: block
      .description-activity-resource
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left

      .recomended-items-resource
        @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: right

      .activity-box-resource
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left


@media (min-width: 980px) and (max-width: 1199px)
  #document,
  #picture,
  #embed,
  #audio
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .document,
    .picture,
    .embed,
    .audio
      .box-show-resource
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left
        //visor
        .container-visor-resource
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .caja-visor-resource
            .picture_show,
            .embed_show
              padding: 10px 0px
              img
                @include border-radius($baseBorderRadius)
                margin: 0 auto
                display: block
      .description-activity-resource
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left

      .recomended-items-resource
        @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: right

      .activity-box-resource
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left