@media (min-width: 768px) and (max-width: 979px)
  #document,
  #picture,
  #embed,
  #audio,
  #event
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .document,
    .picture,
    .embed,
    .audio,
    .event
      .box-show-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left
        //visor
        .container-visor-resource
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .caja-visor-resource
            .picture_show,
            .embed_show
              padding: 10px 0px
              img
                @include border-radius($baseBorderRadius)
                margin: 0 auto
                display: block
      .description-activity-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left

      .recomended-items-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: none
        float: right

      .activity-box-resource
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left