@media (min-width: 100px) and (max-width: 979px)
  .tabbable
    clear: both
    margin-top: 10px
    .tab-content
      overflow: visible
    ul.nav,
    ul.nav-tabs 
      border-bottom: 1px solid $grayLight
      @include tab_title
      li       
        a             
          cursor: default
          padding: 6px 10px 6px 10px
          margin-top: 5px
          &:hover,
          &:focus
            background-color: none !important
            border: none
            border-bottom: 3px solid $secondColor  
        
        h1
          line-height: 38px
          margin: 1px 10px 0 0 
          font-size: 33.5px
      li.active
        &:hover
          border-bottom: none
        a
          border-bottom: 3px solid $firstColor
          border-left: none
          border-right: none
          border-top: none
          padding: 6px 10px 6px 10px
