#excursions_catalogue,
#open_catalogue
  display: block
  float: left
  height: auto
  width: 100%
  .back_catalogue
    display: inline-block
    float: left
    font-size: 20px
    margin-right: 10px
    margin-top: 11px
    &:hover
      text-decoration: none
  h2
    width: auto
    float: left
    display: inline-block
  ul
    clear: both
    width: 100%

.show_more_catalogue
  display: inline-block
  float: right
  color: #333333
  cursor: pointer
  font-size: 11px
  font-weight: bold
  line-height: 24px
  text-align: center
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
  background-color: #ddd
  border-radius: 3px
  border: 1px solid #ccc
  margin-right: 10px

.show_more_catalogue:hover
  background-color: #fff

#showMore
  display: block

  color: $white
  cursor: pointer
  font-size: 11px
  line-height: 24px
  text-align: center
  border: none
  background: $secondColor
  width: 80px
  margin: 0 auto
  a
    color: $white

#catalogue
  width: 100%
  float: left
  background: $secondColor
  margin-top: -20px

  ul.Tags_list_as
    width: 100%
    height: auto
    float: left
    display: block
    margin: 0
    position: relative
    border-left: none

    .info_catalogue
      width: 10%
      height: 100%
      float: left
      display: block
      font-weight: lighter
      background: darken($secondColor, 10%) 
      margin: 0
      position: absolute

      h3
        text-align: center
        width: auto
        margin: 0 auto
        display: block
        font-family: #017CC8
        color: lighten($secondColor, 5%) 
        margin-top: 14px
        font-size: 20px
      i
        margin: 0
    #effect
      display: block
      float: left
      margin-left: 10%
      padding: 10px 0
      width: 90%

    .newClass 
      li
        display: none
      li:nth-of-type(-n+10) 
        display: block
        margin-top: 5px
        width: 19%
        display: block
        float: left
        padding-left: 1%
        word-wrap: ellipsis


    .anotherNewClass 
      li
        display: none
      li:nth-of-type(-n+50) 
        display: block
        margin-top: 5px
        width: 19%
        display: block
        float: left
        padding-left: 1%
        word-wrap: ellipsis




@media (min-width: 900px) and (max-width: 1060px)
  #catalogue 
    ul.Tags_list_as 
      .info_catalogue
        h3
          transform: rotate(-90deg)
          -ms-transform: rotate(-90deg) /* IE 9 */
          -webkit-transform: rotate(-90deg) /* Safari and Chrome */
          position: absolute
          top: 30%

      #effect
        li
          width: 24%
@media (min-width: 650px) and (max-width: 899px)
  #catalogue 
    ul.Tags_list_as 
      .info_catalogue
        h3
          transform: rotate(-90deg)
          -ms-transform: rotate(-90deg) /* IE 9 */
          -webkit-transform: rotate(-90deg) /* Safari and Chrome */
          position: absolute
          top: 20%
      #effect
        li
          width: 32%


@media (min-width: 450px) and (max-width: 649px)
  #catalogue 
    ul.Tags_list_as 

      .info_catalogue
        width: 15%
        h3
          transform: rotate(-90deg)
          -ms-transform: rotate(-90deg) /* IE 9 */
          -webkit-transform: rotate(-90deg) /* Safari and Chrome */
          position: absolute
          top: 10%
      #effect
        width: 85%
        margin-left: 15%
        li
          width: 48%


@media (min-width: 0px) and (max-width: 449px)
  #catalogue 
    ul.Tags_list_as 

      .info_catalogue
        width: 20%
        h3
          transform: rotate(-90deg)
          -ms-transform: rotate(-90deg) /* IE 9 */
          -webkit-transform: rotate(-90deg) /* Safari and Chrome */
          position: absolute
          top: 5%

      #effect
        width: 80%
        margin-left: 20%
        li
          width: 99%








/*8*/
@media (min-width: 1751px)
  #excursions_catalogue
    ul
      .box-item  
        display: none
      .box-item:nth-of-type(-n+8) 
        display: block


/*7*/
@media (min-width: 1500px) and (max-width: 1750px)
  #excursions_catalogue
    ul
      .box-item  
        display: none
      .box-item:nth-of-type(-n+7) 
        display: block


/*6*/
@media (min-width: 1250px) and (max-width: 1500px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+6) 
      display: block

/*5*/
@media (min-width: 1000px) and (max-width: 1250px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+5) 
      display: block



/*4*/
@media (min-width: 750px) and (max-width: 1000px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+4) 
      display: block



/*3*/
@media (min-width: 500px) and (max-width: 750px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+3) 
      display: block



/*2*/
@media (min-width: 320px) and (max-width: 500px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+2) 
      display: block



/*1*/
@media (max-width: 320px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+1) 
      display: block

