.modal
  .modal-header
    height: 5%
    h3
  .modal-body
    iframe,
    div,
    img
      display: block
      margin: auto
      
  .btn-modal-footer
    padding: 10px
    height: 5%
    a.btn-gray
      display: inline-block
    a.btn
      float: right
      margin-right: 10px