<section name="main">
  <div class="row space_double_center"></div>
  <div class="row">
    <div class="span12">

      <div id="search_results">
        <%= render :partial => 'extended_search' %>
      </div>
    </div>
  </div>
  <div class="row space_double_center"></div>
</section>

