
<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
 <%= render partial: 'toolbar/search' %>
<button  style=""class="advanced" id="showTop">Advanced Search</button>
</nav>

