<div class="advanced-search">
  <h4>
    advanced options
  </h4>
  <ul>
    <li>date
      <ol>
        <li><a href"#" class="gray active">last day</a></li>
        <li><a href"#" class="gray">last week</a></li>
        <li><a href"#" class="gray">last month</a></li>
      </ol>
    </li>
    <li>extensión
      <ol>
        <li><a href"#" class="gray">1-5 sliders</a></li>
        <li><a href"#" class="gray">6-10 sliders</a></li>
        <li><a href"#" class="gray">10 or more</a></li>
      </ol>
    </li>
    <li>type of resource
      <ol>
        <li><a href"#" class="gray">image</a></li>
        <li><a href"#" class="gray">video</a></li>
        <li><a href"#" class="gray">link</a></li>
        <li><a href"#" class="gray">objet</a></li>
        <li><a href"#" class="gray">document</a></li>
      </ol>
    </li>
  </ul>
</div>