<script>
$(function() {
$( "#button-as" ).click(function(){
$( ".newClass-as" ).switchClass( "newClass-as", "anotherNewClass-as", 1000 );
$( ".anotherNewClass-as" ).switchClass( "anotherNewClass-as", "newClass-as", 1000 );
return false;
});
});
</script>



<div class="toggler-as">
<div id="effect-as" class="newClass-as ui-corner-all">
<%= render partial: 'toolbar/search' %>
</div>
</div>
<a href="#" id="button-as" style=""class="ui-state-default ui-corner-all"><i class="icon-search "></i> Advanced Search</a>