<section id="search" class="sub-content-full">
  <%= render partial: 'search/toolbar-search' %>

<div class="search">
  <div class="tabbable">

    <ul class="nav nav-tabs">
      <li><h1>search</h1></li>
      <li class="active"><a href="#tab1" data-toggle="tab">all</a></li>
      <li><a href="#tab2" data-toggle="tab">excursions</a></li>
      <li><a href="#tab3" data-toggle="tab">users</a></li>
      <li><a href="#tab4" data-toggle="tab">resources</a></li>
      <li><a href="#tab5" data-toggle="tab">activity</a></li>
    </ul>
    <input type="text" placeholder="search.placeholder"></input>

    <div class="tab-content">
      <%#= render partial: 'layouts/loading' %>
      <div class="tab-pane active" id="tab1 ">
        <div id="search-all">
          <ul>  
            <% 10.times do %>
              <%= render partial: 'events/event' %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="tab-pane" id="tab2">
        <ul>  
          <%= render partial: 'repositories/resources' %>
        </ul>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
    SocialStream.Repository.show();
  <% end %>
</div>

  <body class="cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <h3>Menu</h3>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>
    </nav>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
      <h3>Menu</h3>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>
    </nav>
    <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
      <h3>Menu</h3>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>
    </nav>
    <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
      <h3>Menu</h3>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>
    </nav>
    <div class="container">
      <header class="clearfix">
        <span>Blueprint</span>
        <h1>Slide and Push Menus</h1>
        <nav>
          <a href="http://tympanus.net/Blueprints/QuotesRotator/" class="icon-arrow-left" data-info="previous Blueprint">Previous Blueprint</a>
          <a href="http://tympanus.net/codrops/?p=14725" class="icon-drop" data-info="back to the Codrops article">back to the Codrops article</a>
        </nav>
      </header>
      <div class="main">
        <section>
          <h2>Slide Menus</h2>
          <!-- Class "cbp-spmenu-open" gets applied to menu -->
          <button id="showLeft">Show/Hide Left Slide Menu</button>
          <button id="showRight">Show/Hide Right Slide Menu</button>
          <button id="showTop">Show/Hide Top Slide Menu</button>
          <button id="showBottom">Show/Hide Bottom Slide Menu</button>
        </section>
        <section class="buttonset">
          <h2>Push Menus</h2>
          <!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
          <button id="showLeftPush">Show/Hide Left Push Menu</button>
          <button id="showRightPush">Show/Hide Right Push Menu</button>
        </section>
      </div>
    </div>
    <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script src="js/classie.js"></script>
    <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        showRight = document.getElementById( 'showRight' ),
        showTop = document.getElementById( 'showTop' ),
        showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;

      showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
      };
      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };
      showTop.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuTop, 'cbp-spmenu-open' );
        disableOther( 'showTop' );
      };
      showBottom.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuBottom, 'cbp-spmenu-open' );
        disableOther( 'showBottom' );
      };
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
      };

      function disableOther( button ) {
        if( button !== 'showLeft' ) {
          classie.toggle( showLeft, 'disabled' );
        }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        if( button !== 'showTop' ) {
          classie.toggle( showTop, 'disabled' );
        }
        if( button !== 'showBottom' ) {
          classie.toggle( showBottom, 'disabled' );
        }
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
        if( button !== 'showRightPush' ) {
          classie.toggle( showRightPush, 'disabled' );
        }
      }
    </script>
  </body>
</html>
