<section id="search" class="sub-content-full cbp-spmenu-push">
  <%= render partial: 'search/toolbar-search' %>

  <div class="search">
    <div class="tabbable">

      <ul class="nav nav-tabs">
        <li><h1>search</h1></li>
        <li class="active"><a href="#tab1" data-toggle="tab">all</a></li>
        <li><a href="#tab2" data-toggle="tab">excursions</a></li>
        <li><a href="#tab3" data-toggle="tab">users</a></li>
        <li><a href="#tab4" data-toggle="tab">resources</a></li>
      </ul>
      <input type="text" placeholder="<%=t('search.placeholder')%>"></input>
      <button id="showLeft">advanced options </button>
      <div class="tab-content">
        <%#= render partial: 'layouts/loading' %>
        <div class="tab-pane active" id="tab1 ">
          <div id="search-all">
            <ul>  
              <% @search_result.each do |r| %>
                <%binding.pry%>
                <%= render partial: "#{ r.class.to_s.tableize }/search_result",
                           locals:  { r.class.to_s.underscore.to_sym => r }  %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="tab-pane" id="tab2">
          <ul>  
            <%#= render partial: 'repositories/resources' %>
          </ul>
        </div>
      </div>
    </div>

    <%= javascript_tag do %>
    SocialStream.Repository.show();
    <% end %>
  </div>





  <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
  <script src="js/classie.js"></script>
  <script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),

    body = document.body;

    showLeft.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeft' );
    };


    function disableOther( button ) {
      if( button !== 'showLeft' ) {
        classie.toggle( showLeft, 'disabled' );
      }

    }
  </script>
</section>

