<div class="srch_modal" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
  <div class="srch_modal-footer">
    <div class="srch_bar_img_50px"><img src="img/excursion.png" width="50" height="50">
    </div>
    <div class="srch_bar_info">
      <div class="srch_bar_title"><a href="#">title-title-title</a>
      </div>
      <div class="srch_bar_type">type(exc_user_org
      </div>
      <div class="srch_bar_followers">followers:<span class="srch_bar_n_followers" <a href="#">99</a>
      </div>
    </div>
  </div>
</div>