#time-line
  .timeline
    @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    margin: 0 auto
    .root,
    .media
      .avatar
        width: 50px
        height: 50px
        display: block
        margin: 0 auto
        img
          @include border-radius($baseBorderRadius)
      .media-heading
        display: block
        text-align: center
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        h3
          margin: 0px
          a
            color: $gray
            &:hover
              text-decoration: none
        .x
          display: none

      .media-body
        hr
          @include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
          display: block
          margin: 5px auto


        .objects
          .post
            text-align: center
        .actions
          .post_time_ago
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
            text-align: center
            color: lighten($firstColor, 20%)
            font-style: italic
          hr.decoration
            @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            margin: 5px auto





