<!--excursions-->
<ul style="" class="all_as">
  <h4>Excursions: </h4>
  <li><label class="checkbox "><input type="checkbox" id="Checkbox1" value="option1"> With Quiz</label></li>
  <li><label class="checkbox "><input type="checkbox" id="Checkbox2" value="option2"> With Flashcar</label></li>
  <li><label class="checkbox "><input type="checkbox" id="Checkbox3" value="option3"> With Virtual Tour</label></li>
</ul>

<!--Users-->

<ul style="display:none" class="all_as">
  <h4>Users: </h4>
  <li><label class="">Ocupation :</label></li>
  <select>
    <option>All</option>
    <option>Scientific</option>
    <option>Teacher</option>
  </select>
</ul>

<!--Events-->

<ul style="display:none" class="all_as">
  <h4>Events :</h4>
  <li href="#">All</li>
  <li href="#">Online</li>
  <li href="#">Offline</li>
  <li href="#">For next day</li>
  <li href="#">For next week</li>
  <li href="#">For next month</li>
</ul>

<!--Resources-->

<ul style="display:none" class="all_as">
  <h4>Resources :</h4>
  <li href="#">Documents</li>
  <li href="#">Pdf</li>
  <li href="#">Picture</li>
  <li href="#">Sound</li>
  <li href="#">Video</li>
  <li href="#">Flash</li>
  <li href="#">Embed</li>
  <li href="#">Link</li>
</ul>