#repository
  .tabbable 
    a.btn
      @include btn-secundary

.limits
  position: relative
  .limit1, .limit2
    position: absolute
    left: 0px
    top: -17px

.slider
  .slider-selection
    background: $secondColor
  .slider-handle
    background-color: $secondColor
    
.viewsAndConunt
  float: right !important
  margin-top: -10px
  margin-right: 8px
