#repository
  .tabbable 
    a.btn
      @include btn-secundary

.limits
  position: relative
  .limit1, .limit2
    position: absolute
    left: 0px
    top: 22px

.slider
  .slider-selection
    background: $secondColor
  .slider-handle
    background-color: $secondColor
    



.modal
  select.language
    width: 100%

input.age-slider
  border: none !important
  color: $white

.slider-track
  background-color: lighten($firstColor, 30%)

.new_file_avatar_label
  margin-bottom: 2px

.new_file_avatar_label 
.disabled
  color: #ccc !important

input.new_file_avatar
  margin-bottom: 10px
