/*FRONTPAGE*/
#frontpage
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)

    

ul.excursions
  clear: both
  padding-top: 10px
  margin: 0 auto
  overflow-y: hidden
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
