/*FRONTPAGE*/
#frontpage
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  h1
    clear: both
  .characteristics
    margin: 30px auto 0
    height: 308px
    .carrusel
      position: absolute
      .inspiration
        @include grid-core-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        img
          width: 90%
          margin: 0 9%
      .img_carousel
        position: relative
        z-index: 0
      .description
        position: relative
        z-index: 1
        float: left
        @include grid-core-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
        
        margin-left: 8%
        hr
          margin: 12px 0
        .redes
          @include makeColumn(2, 0)
          margin-left: 0 
          a
            display: block
            margin: 10px 10px 10px 0px
        .email
          @include grid-core-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
          margin-left: 2%
          float: left
      ol.carousel-indicators
        position: absolute
        top: 314px
        right: 52%
        z-index: 5
        margin: 0
        list-style: none
        li
          background-color: grey
        li.active
          background-color: $firstColor !important

ul.excursions
  clear: both
  padding-top: 10px
  margin: 0 auto
  overflow-y: hidden
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)

.info_frontpage
  margin-top: 50px
  width: 85%
  height: 15%
  margin-bottom: 15px
  margin-right: auto
  margin-left: auto
  li
    display: inline-block
    .image_info
      float: left
      width: 65px
      height: auto
    .text_info
      float: left
      width: 200px
      height: auto
      margin-right: 13px
      margin-left: 12px



/*REMEMBER PASSWORD*/
#forgot-pass
  width: 70%
  margin: 0 auto

.forgot
  width: 455px
  margin: 0 auto
  header
    h2
      width: 176px
      margin-bottom: 4px 0 -18px
      float: left
    h4
      font-size: 20.5px !important
      line-height: 23px !important
    form
      padding-left: 189px
      padding-top: 9px
      width: 258px

  section.password
    @include gray-box
    float: left
    padding: 3px 7px
    width: 258px
    margin-left: 185px
    label
      display: none
    input
      &[type="text"]
        margin-top: 12px
        width: 177px

      &[type="submit"]
        @include btn-primary





.tags-suggestions
  @include size(120px, 136px)
  position: absolute
  margin: 170px 0 0 100%
  padding: 2px 8px 2px 1px 
  float: left
  a
    float: left
    display: inline-block
    margin-left: -38px
    margin-top: 50px
    margin-bottom: -68px

  ul.sugestions-tags
    margin-left: 21px
    li
      margin-bottom: 8px
      margin-left: 9px
      padding-left: 7px
      &:first-child
        margin-top: 8px



/*NEW-SESSION*/

#new_session
  #sign_in
    width: 50%
    margin: 0 25%
    form#new_user
      min-height: 145px
      input#user_password
        &[type="password"]
          width: 210px
      #remember
        @include check-box
   
      input
        &[type="submit"]
          float: right
          display: inline-block
          margin: -16px 0 10px
    