/*FRONTPAGE*/
#frontpage
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  
  .characteristics
    @include grid-core-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin: 30px auto 0
    
    .inspiration
      @include grid-core-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      img
        width: 60%
        margin: 0 20%
    
    .description
      @include grid-core-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      margin-left: 2%
      hr
        margin: 12px 0
      .redes
        @include grid-core-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        a
          display: block
          margin: 10px 10px 10px 0px
      .email
        @include grid-core-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
        margin-left: 2%
        float: left
        padding-top: 15px
  

  .excursions
    width: 80%
    margin: 0 10%
    clear: both



/*REMEMBER PASSWORD*/

.forgot
  width: 50%
  margin: 0 25%
  header
    h2
      width: 176px
      margin-bottom: -18px
    form
      padding-left: 189px

  section.password
    label
      display: none
    input
      &[type="text"]
        margin-top: 12px

      &[type="submit"]
        @include btn-primary



/*REGISTER*/

#registration
  width: 80%
  margin: 0 10%
  h1
    margin: 0 0 0 5%
  h2
    margin-left: 150px
    small
      width: 176px
      margin-bottom: -18px
  .box
    margin-left: 152px
    width: 340px
    float: left
    .campos,
    .campo
      display: inline-block
      input
        width: $inputFormulate
        display: inline-block
        margin-right: 15px
    .campos
      input
        margin-top: 8px
        width: 142px
    .box_white
      display: inline-block
      padding: 5px
      input#password_confirmation
        width: 140px
      select
        margin: 10px 0

    li,
    .tagit-new
      input
        width: auto 

    .text-tittle
      display: inline-block
      margin-left: 10px

    .line
      display: block
      margin-left: auto
      margin-right: auto
      width: 95%

    input
      &[type="submit"]
        margin-top: 4px
        margin-bottom: 0px
        float: right

    .sentence-rules
      line-height: 20px
      margin-top: 10px

.devise-box
  width: 98%



.sugestions-tags
  width: 150px
  margin-top: 200px
  margin-left: -25px

  height: 120px
  padding: 5px
  float: right
  a
    float: left
    display: inline-block
    margin-left: -38px
    margin-top: 50px
    margin-bottom: -68px

  ul
    li
      margin-bottom: 8px
      &:first-child
        margin-top: 8px

  .tagit-choice
    margin-left: 9px
    padding-left: 7px




/*NEW-SESSION*/
