.icon-scorm
  background-repeat: no-repeat !important
  background-image: url("icons/resource/scorm-new.png") !important

.icon-pdf
  background-repeat: no-repeat !important
  background-image: url("icons/resource/pdf-new.png") !important

.icon-zip
  background-repeat: no-repeat !important
  background-image: url("icons/resource/zip-new.png") !important

.icon-swf
  background-repeat: no-repeat !important
  background-image: url("icons/resource/swf-new.png") !important