.menssage-devise
  @include makeColumn(4,0)
  text-align: right
  clear: right
  margin-top: 50px

.sentence
  @include makeColumn(6,4)
  line-height: 20px
  margin-top: -20px
.sentence-rules

  line-height: 20px
  margin-top: 10px
  text-align: center


#formulate
  @include makeColumn(6,4)

  .box_gray1
    .box_gray2
      .box_gray3
        .campo

          display: inline-block
          input
            width: $inputFormulate
            display: inline-block
            margin-right: 15px
            border: none

        .campos

          display: inline-block
          input
            width: $inputFormulate
            display: inline-block
            margin-right: 15px
            border: none
            box-shadow: none
            margin-top: 8px

        li,
        .tagit-new
          input
            width: auto 

        .text-tittle
          color: $gray
          display: inline-block
          font-family: $thirdFontFamily
          margin-left: 10px

.remenber
  margin-top: 5px
  .check-remenber
    display: inline-block 

.devise-box
  width: 98%

.accept-btn
  margin-top: 10px
  margin-bottom: 30px

.sugestions-tags
  width: 150px
  margin-top: 200px
  margin-left: -25px
  @include border-radius($radius)
  background-color: $white
  height: 120px
  padding: 5px
  float: right
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)


  a
    color: gray
    font-size: 18px
    float: left
    display: inline-block
    margin-left: -30px
    margin-top: 50px
    margin-bottom: -68px
    @include rotate(-90deg)

  a:hover
    text-decoration: none

  .tagit-choice
    margin-left: 40px




      






 