<div class="follower-state <%= follow_link_class contact %>">
  <% if contact.sent? %>
    <div class="follow btn-following">
      <%= t 'contact.following' %>
    </div>
    <div class="follow btn-unfollow">
      <%= link_to t('contact.unfollow'), follower_path(contact), :method => :delete, :remote => true %>
    </div>
  <% else %>
    <div class="follow btn-follow">
      <%= link_to t('contact.follow'), follower_path(contact), :method => :put, :remote => true %>
    </div>
  <% end %>
</div>
