<ul class="nav nav-tabs">
  <li class="active"><a href="#wall-1" data-toggle="tab"><%= t('message.' + @box) %></a></li>
</ul>

<div class="conversations">  
  <%= render :partial => 'conversations' %>
</div>
