<section id="competitions">

Introduction
GLOBAL excursion (Extended Curriculum for Science Infrastructure Online) is a support action funded by the European Commission under the Seventh Framework Programme --FP7 and attributed to DG Connect – Excellence in Science – Digital Science. The aims of GLOBAL excursion are basically twofold: on the one hand we envision to enrich science teaching in European schools and on the other hand we offer researchers and their institutions a promotion channel towards a school audience.  

Via a central web portal, called the Virtual Science Hub – “ViSH” we provide scientists, teachers and their pupils as well as policy makers a package of activities, materials, and tools for enabling the integration of e-Infrastructures into school curricula. ViSH supports a set of resources that can be uploaded to the platform and be made available for all the users: images, objects (flash objects), videos, live objects: webcams or microscopes provided by the e-Infrastructures.   	                                                                                           

As the project is heading to its conclusion, the consortium has decided to organise a competition that will contribute to the further dissemination of ViSH to its various stakeholders plus reward a number of teachers and scientists that have been particularly active regarding the creation of eExcursions.	
 	
Categories
The two (2) best eExcursions will be selected in the following categories:

1.      Maths
2.      Physics
3.      Chemistry
4.      Biology
5.      Environmental studies
6.      Geography
7.      Engineering
8.      Humanities
9.      Natural Science
10.  Computer Science

Competition terms and conditions
 
Participating countries
 
The competition for the best eExcursions is open to any registered ViSH user, independently of his/her country of origin. We encourage especially teachers, scientists and scientific organisations to create excursions.
Submissions
The competition will open on 20 October 2013. From that date until 20 November 2013, all teachers, scientists and scientific organisations are welcome to submit their contributions.
 
The selection process will last for one month, till 20 December 2013.

Selection results will be announced on Monday 23 December 2013 via email (to the winners) and project’s Facebook page: https://www.facebook.com/VirtualScienceHub
 
To register for the competition, participants tag their eExcursion with the tag VISHCompetition2013 following with the tag of the category they would like to compete on: Maths, Physics, Chemistry, Biology, Environmental Studies, Geography, Engineering, Humanities, Natural Science, and Computer Science.
 
Please note: An eExcursion can be submitted to more than one category. However, participants can only win in one single category, so if they are initially selected as winner in two categories, participants will be asked to choose the one they prefer.
 
Languages
eExcursions can be submitted in the following languages: English, German, French, Spanish, Dutch, Hungarian, Romanian, Greek and Italian.
 
Implementation of actions
Only full eExcursions that are developed and implemented between 20 October 2013 and 20 November 2013 will be considered eligible for the competition.
 
Contact point
For any questions related to the competition, participants should contact vish.competitions@gmail.com to get assistance in any of the languages supported by the competition.
 
How to participate in the competition
 
Who can participate?
Individuals and organisations can participate.The competition for best eExcursions is open to any registered ViSH user. 

We encourage especially teachers, scientists and scientific organisations to create excursions. But, if you are not a professional, your contribution is welcome as well. We are true supporters of open and citizen-led science!

How to register for the competition:

To register to the competition you must tag your eExcursion with the tag:
ViSHCompetition2013

and with the tag of the category you would like to compete:
Maths, Physics, Chemistry, Biology, EnvironmentalStudies, Geography, Engineering, Humanities, NaturalScience, ComputerScience
An eExcursion can be send to more than one category.

Objectives and requirements
Participants are asked to submit an eExcursion through the online Virtual Science Hub – “ViSH” portal. 

What is an e-Excursion and what it should include?
An eExcursion is a kind of presentation created with multimedia didactical material which allows a better understanding of a scientific infrastructure, equipment of facility. eExcursions are didactical units used for science teaching, either shown in class or to be explored by students on their own.
An eExcursion should include one or more of the following: text, images, videos, flash objects (games, simulations, etc.), remote e-Infrastructure resources (live webcams, remote labs, etc.), quizzes, etc. that can be found through the ViSH portal.

Examples

Please find below some examples of inspiring eExcursions that can help you prepare you own submission:

Iberian Lynx: http://vishub.org/excursions/55
Outerspace: http://vishub.org/excursions/56

More specific guidelines of how to create eExcursions and use the different features of the eExcursion editor can be found in the ViSH user manual, which can be downloaded here: http://vishub.org/user_manual 
Selection criteria and evaluation
After the submission deadline on 20 November 2013, all eExcursions will be ranked according to the number of favourites voted by the user community on ViSH. The first 10 ranked excursions will then be judged, by a dedicated board, according to the following criteria:

Originality & Appeal: Pertinence, novelty, creativity and didactical approach, will all be taken into account during the evaluation process.
 
Pedagogical Value: Clear goals and objectives, motivation, presentation of resources, specific learning tasks, adaptability to individual needs will be taken into account during the evaluation process.
 
3.  	Interactivity: Superior level of creativity focusing on content, design, technological innovation, and the unique nature of the underlying idea;  good understanding of the theme and conveying convincing implementation methods, solutions and messages are going to be taken into account.
 
Awards & prizes
 
A total of 23 winners will receive prizes in the form of Amazon vouchers. For each of the above mentioned categories there is a chance to win a 1st and 2nd prize:
 
1st prize: 400,- € voucher
2nd prize: 200,- € voucher
 
On top of that, three (3) overall winners will receive extra prizes:
 
1st prize: 500,- € voucher
2nd prize: 300,-€ voucher
3rd prize: 200,-€ voucher
 
In addition to the prizes, the 3 overall winners will be invited to join our final conference in Brussels, scheduled for January 2014. Flight, hotel and subsistence will be covered by the project.
 

Do you have any question?
Read the <a href="http://vishub.org/faq">Frequently Answered Questions</a>

Do you want to spread the word?
Download, print and share the flyer: <a href="http://vishub.org/VISH_competitions_print.pdf">FLYER</a>

</section>