//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
  header.navbar
    .navbar-inner
      padding-left: 2%
      padding-right: 2%
      height: 50px
      background: $white
      .brand
        height: auto
        float: left
        margin-top: 6px
        display: block
        background-color: transparent
        border-bottom: none
        width: 32%
        .vish-name
          display: none



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)
  header.navbar
    .navbar-inner
      padding-left: 2%
      padding-right: 2%
      height: 50px
      background: $white
      .brand
        height: auto
        float: left
        margin-top: 6px
        display: block
        background-color: transparent
        border-bottom: none
        width: 32%

        .vish-name
          display: none

