//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px)

  .nav-collapse
    background-color:  $white
    z-index: 99
    padding: 0 20px
    margin-left: -14px
    margin-right: -14px
