//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px)

  .nav-collapse
    background-color:  $white
    z-index: 99
    padding: 0 20px
    margin-left: -14px
    margin-right: -14px
    ul.dropdown-menu
      margin: 13px 0 0
      width: 219px
      float: right
    li.login
      width: 115px
    a.sigin
      margin-right: 16px 
      margin-left: 4px
