<div class="tabbable">
	<ul class="nav nav-tabs">
		<li>
			<h1><i class="icon-wrench"></i> <%=t('admin.title')%> </h1>
		</li>
	</ul>
</div>

<p><a href="<%=admin_open_reports_path%>">Reports</a> | <a href="<%=admin_users_path%>">User Administration</a></p>
<br><br>