#excursions,
#resources,
#categories,
#events,
#new,
#activity,
#search-all
  ul
    margin: 0
    li.box-item:hover
      text-decoration: none

    li.box-item
      position: relative
      float: left
      overflow: hidden
      width: -webkit-calc(96% / 6)
      width: calc(95% / 6)
      margin-right: 0.4%
      margin-left: 0.4%
      margin-top: 15px
      list-style: none
      background: $white
      box-shadow: 0 1px 3px rgba(20,20,20, 0.4)
      @include border-radius($baseBorderRadius)

      .container-img
        display: inline-block
        position: relative
        width: 100%

        .dummy
          padding-top: 75% /* 4:3 aspect ratio */

        .element
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          overflow: hidden
          text-align: center
          width: 100%
          .img-box
            width: 100%
            padding-bottom: 66.666%
            float: left
            img
              float: left
              width: 100%
              height: 100%
          i
            font-size: 70px
            color: $secondColor
          .avatar
            a
              img
                margin-top: 20%
                @include center-block()
                @include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
                @include border-radius($baseBorderRadius)
        .resource-center
          padding-top: 20%
              
      .event-img,
      .category-img
        overflow: hidden
      .vish_picture_thumbnail
        width: 100%
        height: 100%
      .resource,
      .category
        width: 100%
        text-align: center
        margin-top: 20px
        float: left
        height: 137px
        a
          text-decoration: none
        i
          font-size: 70px
          color: $gray
      .badges
        display: none
      .info
        font-family: $secondFontFamily
        padding: 5px 5px 0 5px
        float: left
        width: 96%
        height: 69px
        .name
          @include box_title
          margin: 0
          height: 30px
          line-height: 15px
          overflow: hidden
        .author:before
          content: "by"
        @include author
      .info-bottom
        @mixin footer_box_info       
        clear: both

        hr
          margin: 0
        .soften
          margin-bottom: 1px
        .views
          float: right
        .like
          a
            i
              text-decoration: none

    .add-item
      height: 230px
      text-align: center
      list-style: none
      display: block
      &:hover
        text-decoration: none
      .icon-box
        background-image: url('items/malla.png')
        height: 100%
        width: 100%
        display: block
        padding-top: 70px
        opacity: 1
        
        .action-name
          display: none
        &:hover
          text-decoration: none

          .action-name
            display: none
            @include box_title
            text-align: center
            text-decoration: none
            background: rgba( 255, 255, 255, 0.95)
            height: 25px
            width: 90%
            margin-left: auto
            margin-right: auto
            @include border-radius($baseBorderRadius)
            a:hover
              text-decoration: none
        i.icon-plus
          font-size: 92px
          display: block


.recomended-items,
.recomended_excursion
  ul.small-box
    margin: 0
    margin-left: 20px
    li.box-item:first-child
      margin-top: 0px
    li.box-item
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      box-shadow: 0 1px 3px rgba(20,20,20, 0.4)
      @include border-radius($baseBorderRadius)
      overflow: hidden
      float: left
      list-style: none
      margin-top: 10px
      background-color: $white
      .resource
        text-align: center
        i
          display: block
          font-size: 34px
          margin-top: 20px

      .img-box,
      .resource
        //width: 70px
        float: left
        height: 70px
        display: block
        @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
        //@include border-radius($baseBorderRadius)
        .backstrech
          @include border-radius($baseBorderRadius)
          img
            
        img
            
      .info
        @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        //margin-top: 5px
        .name
          margin-left: 5px
          height: 20px
          @include ellipsis
          @include box_title         
          a
            color: $grayDark
        .author:before  
          margin-left: 5px
          content: "by"
        
        @include author

      .info-bottom
        margin-left: 5px
        padding: 3px  
        clear: both
        hr
          margin: 0
        .soften
          margin-bottom: 1px
        .views
          float: right
        .like
          a
            i
              text-decoration: none

.items_timeline
  li.box-item
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    @include excursion-box-small
    float: left
    list-style: none
    margin-top: 10px
    background-color: $white
    .img-box
      width: 150px
      float: left
      height: 150px
      display: block
      @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)


    .info
      @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      padding: 0
      .name
        padding-left: 10px
        margin: 0
        word-wrap: break-word
        text-decoration: none
        cursor: pointer
        a
          color: $grayDark

      .author
        padding-left: 10px
        color: $secondColor
        font-size: 10px
        text-decoration: none
        cursor: pointer
        a
          word-wrap: break-word
        
        &:before
        content: "by"
        color: $gray
        font-size: 10px
      
      .description
        padding-left: 10px
        color: $secondColor
        font-size: 14px
        text-decoration: none
        cursor: pointer







