#excursions,
#resources,
#categories,
#events,
#new,
#activity,
#search-all
  ul
    margin: 0

    li.box-item:hover
      text-decoration: none

    li.box-item
      position: relative
      float: left
      overflow: hidden
      width: -webkit-calc(96% / 6)
      width: calc(95% / 6)
      margin-right: 0.4%
      margin-left: 0.4%
      margin-top: 15px
      list-style: none
      background: $white
      box-shadow: 0 1px 3px rgba(20,20,20, 0.4)
      @include border-radius($baseBorderRadius)
      .img-box
        height: 100px
        width: 100%
        float: left
      .event-img,
      .category-img
        overflow: hidden

      .resource,
      .category
        width: 100%
        text-align: center
        margin-top: 20px
        float: left
        height: 80px
        a
          text-decoration: none
      .badges
        display: none
      .info
        font-family: $secondFontFamily
        padding: 5px 5px 0 5px
        float: left
        width: 96%
        .name
          @include box_title
          margin: 0
          height: 30px
          line-height: 15px
          .author:before
            content: "by"
        @include author
      .info-bottom
        @mixin footer_box_info       
        clear: both
        hr
          margin: 0
        .soften
          margin-bottom: 1px
        .views
          float: right

    .add-item

      text-align: center
      list-style: none
      display: block
      &:hover
        text-decoration: none
      .icon-box
        background-color: $grayLighter
        height: 92px
        width: 100%
        display: block
        padding-top: 8px
        i.icon-plus
          font-size: 92px
          display: block
          &:hover
            text-decoration: none
      .action-name
        @include box_title
        text-align: center
        padding-top: 44px
        margin-bottom: 14px
        &:hover
          text-decoration: none

.recomended_excursion
  ul.small-box
    margin: 0
    margin-left: 20px
    li.box-item:first-child
      margin-top: 0px
    li.box-item
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      @include excursion-box-small
      float: left
      list-style: none
      margin-top: 10px
      background-color: $white

      .img-box
        width: 70px
        float: left
        height: 70px
        display: block
        @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
        img

      .info
        @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        padding: 0
        .name
          padding-left: 10px
          margin: 0
          word-wrap: break-word
          text-decoration: none
          cursor: pointer
          a
            color: $grayDark
        .author
          padding-left: 10px
          color: $secondColor
          font-size: 10px
          text-decoration: none
          cursor: pointer
          a
            word-wrap: break-word
        .author:before
          content: "by"
          color: $gray
          font-size: 10px
      .info-bottom
        padding-left: 10px
        hr
          margin: 0
        .soften
          margin-bottom: 1px







