.items_timeline
  li.box-item
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    @include excursion-box-small
    float: left
    list-style: none
    margin-top: 10px
    background-color: $white
    .img-box
      width: 150px
      float: left
      height: 150px
      display: block
      @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .info
      @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      padding: 0
      .name
        padding-left: 10px
        margin: 0
        word-wrap: break-word
        text-decoration: none
        cursor: pointer
        a
          color: $grayDark
      .author
        padding-left: 10px
        color: $secondColor
        font-size: 10px
        text-decoration: none
        cursor: pointer
        a
          word-wrap: break-word        
        .by
          color: $gray
          font-size: 10px
      .description
        padding-left: 10px
        color: $secondColor
        font-size: 14px
        text-decoration: none
        cursor: pointer
        