.recomended-items,
.recomended-items-resource
  .recomended-items,
  .recomended_excursion,
  .recomended_documents
    ul.small-box
      margin: 0
      margin-left: 20px
      li.box-item:first-child
        margin-top: 0px
      li.box-item:hover
        text-decoration: none
        box-shadow: 5px 5px 5px rgba(20,20,20, 0.4)
      li.box-item
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        box-shadow: 0 1px 3px rgba(20,20,20, 0.4)
        @include border-radius($baseBorderRadius)
        overflow: inherit
        float: left
        list-style: none
        margin-top: 10px
        background-color: $white
        position: relative
        .badge-excursion-active
          position: absolute
          top: 5px
          left: -9px
          z-index: 10
          display: none
          background-image: url(" badges/excursionofthemonth.png" )
          background-size: 43px
          width: 43px
          height: 65px

        
        .resource-center
          text-align: center
          i
            display: block
            font-size: 34px
            margin-top: 20px
        .img-box,
        .resource,
        .resource-center
          float: left
          height: 70px
          display: block
          @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
          @include border-left-radius($baseBorderRadius)
          overflow: hidden
          .backstrech
            @include border-left-radius($baseBorderRadius)
        .resource-center
          position: relative
          i.icon-picture
            padding-top: 0
            position: absolute
            width: 100%
            z-index: 2
            color: $white
            font-size: 20px
            text-shadow: $gray 0.1em 0.1em 0.2em
            font-size: 34px

        .info
          @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
          float: left
          //margin-top: 5px
          .name
            margin-left: 5px
            height: 20px
            @include ellipsis
            @include box_title         
            a
              color: $grayDark
          .author
            .by  
            padding-left: 5px
          @include author
          .author
            width: 100%
            height: 20px
            overflow: hidden
            word-wrap: break-word
            text-overflow: ellipsis
        .info-bottom
          margin-left: 5px
          padding: 0px  
          clear: both
          hr
            margin: 0
            padding: 0
          .soften
            margin-bottom: 1px
          .views
            float: right
          .like
            a
              i
                text-decoration: none