.alert 
  border-radius: 0 0 5px 5px
  position: absolute
  right: 5%
  top: 51px
  width: 30%
  z-index: 42

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus
  background-color: transparent

textarea,input
  resize: none