.btn-gray
  background-color: #f4f8ff
  margin-right: 7px
  display: inline-block
  width:  auto
  border: 1px solid
  border-right: none
  border-bottom: none
  border-color: #ffffff
  padding: 4px 6px 4px 6px
  @include border-radius(7px)
  color: #3366FF
  text-decoration: none
  font-family: "Helvetica",Helvetica Neue,Arial,sans-serif
  font-size: 12px
  &:hover 
    color: #3366FF
    text-decoration: none
    font-family: "Helvetica",Helvetica Neue,Arial,sans-serif
    font-size: 12px

