#new_document
  width: 100%
  h1
    display: none
  #new_file
    width: 100%
    input
      width: 96%
      padding: 2%
    textarea
      width: 96%
      padding: 2%
      max-height: 60px
    .select2-container
      width: 100%
      margin-bottom: 20px
      .select2-container-multi 
        .select2-choices
          border: 1px solid #CCCCCC
    input.btn
      width: 100%
      padding: 0
      background-image: none
      height: 40px
    label
      clear: left
      color: $firstColor
      display: block
      float: left

      font-size: 12px
      width: 100%
