@import "fcbkComplete"

.facebook-auto
    background: none repeat scroll 0 0 transparent !important
    margin-left: 75px !important
    margin-top: -15px !important
    width: 200px !important
    opacity: 1 !important

.facebook-auto ul li 
    overflow: hidden
    color: #78959D
    background-color: #FFFFFF !important

.facebook-auto ul li:hover
    color: #555555 !important
    background-color: #C0D1E2 !important
    border-color: #A6CEF7 !important

.facebook-auto .default 
    visibility: hidden

#_recipients_feed
    overflow-x: hidden
    -webkit-box-shadow: 0 8px 6px -6px black
    -moz-box-shadow: 0 8px 6px -6px black
    box-shadow: 0 8px 6px -6px black
    border-radius: 6px 6px 6px 6px

ul.holder li.bit-box 
    margin-top: 6px !important
    margin-right: 2px !important

.facebook-auto ul li.auto-focus 
    color: #555555 !important
    background-color: #C0D1E2 !important
    border-color: #A6CEF7 !important

