
#flash
  float: right
  clear: both

/**************footer*************/
* 
  margin: 0
  text-decoration: none !important
a,
li
  text-decoration: none !important

html, body 
  height: 100%

.wrapper
  min-height: 100%
  height: auto
  //height: 100%
  margin: 0 auto -40px



.footer
  display: block
  height: 40px

  .menu_h
    text-align: center
    @include menuHorizontal
    
    ul
      .site_name
        color: $linkgray

      li

        .btn-group
          

        .btn-group,
        .open 
        
          background-color: transparent

        .btn
          background-color: transparent
          background-image: none
          box-shadow: none
          margin-left: 40px
          color: $linkgray

          .caret
            color: $linkgray


.push 
  padding-top: 25px
  height: 40px


/**************footer-right*************/

.footer-right
  @include makeColumn (3,0)
  margin-left: 0px
  .menu_v
    @include menuVertical
    ul
      margin-left: 8px
      color: $grayLight
      margin-top: 10px

      .site_name
        color: $grayLight
      li
        font-size: 12px
        .btn-group,
        .open 
          background-color: transparent
        .btn
          background-color: transparent
          background-image: none
          box-shadow: none
          margin-top: 1px
          padding: 0px
          color: $grayLight
          .caret
            color: $grayLight


.social-img
  height: 50px
  width: 150px
  display: inline-block

  img
    opacity: 0.5
    @include border-radius(0px)
    height: 30px
    width: 30px
    display: inline-block
  img:hover
    opacity: 1

