
#flash
  float: right
  clear: both
/**************footer*************/
* 
  margin: 0
  text-decoration: none !important
a,
li
  text-decoration: none !important


.social-img
  height: 50px
  width: 150px
  display: inline-block

  img
    opacity: 0.5
    @include border-radius(0px)
    height: 30px
    width: 30px
    display: inline-block
  img:hover
    opacity: 1

.tab-pane
  ul
    margin: 0

