//timeline

.item-object-wall
  @include grid-fluid-span-x(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
.object-item,
.item-object-wall
  ul
    margin-left: 0px
    li
      margin-bottom: 0px
      margin-left: 0px
      
      .img-object
        background-color: #fff
        height: 70px
        widht: 70px

      .title-object
        font-size: 18px
        @include ellipsis
      p
        font-size: 12px
        color: $grayLight
      .details
        margin-top: -10px
        padding-left: -20px
        font-size: 10px
    .info-object-timeline
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      margin-left: 5px
      display: inline-block
      padding-left: 5px
      padding-right: 5px

      .title-object
        font-size: 16px
        @include ellipsis
        color: $blue-1




.item-excursion-wall
  @include grid-fluid-span-x(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  margin-left: 0px
  display: inline-block
  ul
    margin-left: 0px
    li
      width: 75px
      margin-left: 0px
      display: inline-block
      margin-bottom: 0px
      margin-left: 0px
      
    .img-excursions
      @include grid-fluid-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)
      margin-left: 0px
      display: inline-block

    .number_pages
      font-family: $secondFontFamily
      position: relative
      height: 20px
      width: 20px
      margin-top: -26px
      margin-left: 43px
      text-align: center
      background-color: #FFF
      border-radius: 15px
      color: #333
      font-size: 10pt
      line-height: 180%
    .info-excursion-timeline
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      margin-left: 5px
      display: inline-block
      padding-left: 5px
      padding-right: 5px

      .title-excursion
        font-size: 18px
        @include ellipsis

      p

        font-size: 12px
        margin-top: -10px
        color: $grayLight

      .details
        margin-top: none
        padding-left: -20px
        font-size: 10px
        
.post-timeline
  @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
  word-wrap: break-word