.ui-multiselect-checkboxes label { cursor:pointer; display:block; border:1px solid transparent; padding:3px 1px }
.separator_line{ border-top: 1px solid #ebebeb; margin-top: 5px; margin-bottom: 6px;}
.ui-multiselect-menu.categorize_select{ border: 2px solid rgb(195, 195, 195);}
