ul.tags-group
	margin-left: 0px
	height: 24px
	margin-left: 0
	overflow: hidden
	width: 100%
	li.tags
		float: left
		display: inline-block
		a
			color: $green-vish
			font-size: 12px
		a:after
			content: ", "
		a:before
			content: "  "

		a:hover
			font-size: 13px
			color: $gray

ul.tags-group:hover
	height: auto




