.order_by_selector
  display: block
  clear: both
  float: left
  margin: -10px 0 10px
  width: 100%
  .order_by
    margin-right: 10px
  .btn
    padding: 0 12px

  .dropdown-menu
    left: 74px
    margin-top: 0px
