.ui-slider-horizontal{
  height: 0.8em
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
}

.ui-widget {
    font-size: 1.1em;
}

.age{
  border:0; 
  font-weight: bold;
  align-text: center;
  padding-left: 10px;
}

.ageLabel{
  display: inline;
}


.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}

.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}


.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}


.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

.slider-range{
  width: 98%;
}
/** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** rewrite ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
 /***upload resource****/


.span3 .slider-range{
  margin-top: 10px;
  width: 92%;
}

.span4 .age{
  border:0;
  font-weight: bold;
  align-text: center;
  padding-left: 0px;
  border: 1px solid #CCCCCC;
  line-height: 18px;
  padding: 3px;
}

.span4 .ui-widget-content {
  border: 1px solid #cccccc;
  background-color: #ffffff;
}


.span4 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: url("icons/opcion.png") no-repeat;
  border: none;
  color: none;
  font-weight: normal;
}
.span4  .ui-widget {
  font-size: 9px;
}
/***upload resource****/
