//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
  #time-line
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .timeline
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      margin: 0 auto
  .new_comment
    input
      &[type="submit"]
        margin-left: 70% !important





// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)
  #time-line
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .timeline
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      margin: 0 auto
  .new_comment
    input
      &[type="submit"]
        margin-left: 60% !important