<li class="item-view-more">

  <!-- image/icon -->
  <div class="container-img">
    <div class="img-box">
      <a href=<%= more_url%> title="<%= title %>"><i class="fa fa-angle-double-right"></i></a>
    </div>
  </div>

  <!-- INFO -->
  <div class="caption">
    <!-- Title -->
    <h6>
      <%= title %>
    </h6>

  </div>
</li>
