.like
	float: left

	.count
		display: inline-block
		a
			display: inline-block

	.icon-star-empty 
		color: $gray !important
		margin-top: -5px
		font-style: none
	.icon-star
		color: $firstColor !important
		margin-top: -5px
		font-style: none
