#time-line
  @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
  display: block
  margin: 0 auto
  .activities
    header
      h2
    .wall_input
      position: relative
      margin-bottom: 40px
      form
        @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        margin: 0 auto
        label
        textarea
          width: 96%
          padding: 4px 2%
          margin-top: 10px
      .wall_input-actions
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        position: absolute
        left: 0
        input
          &[type="submit"]
            display: block
            margin: 0px 
            float: right
            width: 150px
        .btn
        .new_document
          display: block
          float: right
          margin-right: 10px
