<header class="container">
    <p class="big_mens font">Log out</p>
    <p class="mens font">Want to go back or go with another account?</p>
</header>
<nav>
  <div id="title">
    <input type="email" class="box" name="email" maxlength="255" placeholder=e_mail>
    <input type="password" class="box" name="password" placeholder=password>
    <button type="button" name="" value="" class="button_login">log in</button>
  <div id="forms">
      <div class="login_1 font login_3"><a herf="#">forgot your password?</a></div>
      <div class="login_2 font login_3"><a herf="#"><spam color>sign up</spam></a></div>
  </div>
</nav>
