<header class="container">
    <p class="big_mens font">Register</p>
    <p class="mens font">Create your account with Vish</p>
    <p class="mens_2 font">Vish is a private social science platform.</p>
</header>


    <nav class="forma">
        <ul class="nodec font formulary">
            <li class="te5">name: <input type="text" class="box_2"/></li>
            <li class="te5">e-mail: <input type="text" class="box_2"/></li>
            <li class="te5">password: <input type="password" class="box_2"/></li>
            <li class="te5">confirm password: <input type="password" class="box_2"/></li>
            <li class="te3 te5"><input type=checkbox class="box_2"/> Accept the conditions & terms of the service</li>
            <li>
                <button type="submit" value="" class="button_login">Log in</button>
            <li>
        </ul>
    </nav>
