<div class="quick_search">
  <div class="photo">
    <%= link_to icon(scormfile), scormfile, :title => scormfile.title %>
  </div>
  <div class="data">
    <div class="name">
      <%= link_to scormfile.title, scormfile %>
    </div>
    <div class="author"> 
      <%= link_to truncate_name(scormfile.author.name, length: 25), scormfile.author.subject %>
    </div>
  </div>
</div>