  <div class="recomended">
      <ul class="items">
      	<p class="info_action">Added SCORM file</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => scormfile}%>
      </ul>
  </div>