<div class=" resource-item">
  <!-- image/icon -->
  <div class="container-img">
    <div class="dummy"></div>
    <div class="element resource-center">
      <%= link_to raw(icon(resource)), resource, :title => resource.title %>
    </div>
  </div>
  <%= render partial: "application/applyBackstretch", locals: { :includeScriptTag => true } %>
</div>