<h3> This page is a template used for testing Contests. Feel free to copy it to create your own contest. </h3>
<br/>
<p>Go to <a href="<%=contest_page_path(@contest,"page2",true)%>">page 2</a> of the contest.</p>