<div class="recomended">
    <ul class="items">
      <p class="info_action"> <%= t('activity.items.infoaction.zipfile') %></p>
      <%= render :partial => "repositories/resource" , :locals => {:resource => zipfile}%>
    </ul>
</div>
