  <div class="recomended">
    <div class="recomended-items">
      <ul class="small-box ">
      	<p class="info_action"> Added Zip file</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => zipfile}%>
      </ul>
    </div>
  </div>