  <div class="recomended">
      <ul class="items">
      	<p class="info_action"> Added Zip file</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => zipfile}%>
      </ul>
  </div>