

<div class="thumbnail_object_WS">
	<%= render partial: 'repositories/resource_workshop', locals: { resource: zipfile} %>
</div>
<h3 class="title_WS resource_title_WS"><%=t('workshop.activities.resource.title')%> <span class="blue"> Zip</span></h3>

<%= div_for zipfile, :class => 'content_size' do %>
<div class="zipfile_show">
    <p><a href="<%=zipfile.getDownloadUrl(@controller)%>">Download file</a></p>
  </div>
<% end %>