@media (min-width: 979px) and (max-width: 1200px)
	#category
		.excursions
		.category_info
		.icon-box
		.category_thumb
			.category_thumb_0
				width: 46% !important
				height: 70px !important
				img
					max-width: 200% !important
			.category_thumb_1
				width: 46% !important 
				height: 70px !important
				img
					max-width: 200% !important
			.category_thumb_2
				width: 46% !important
				height: 70px !important
				img
					max-width: 200% !important
			.category_thumb_3
				width: 46% !important
				height: 70px !important
				img
					max-width: 200% !important