@media (max-width: 767px)
  #category
    #excursions
    .category_info
    .icon-box
    .category_thumb
      .category_thumb_0
        width: 93% !important
        height: 33px !important
      .category_thumb_1
        width: 93% !important
        height: 33px !important
      .category_thumb_2
        width: 93% !important
        height: 33px !important
      .category_thumb_3
        width: 93% !important
        height: 33px !important
@media (max-width: 480px)
  #category
    #excursions
    .category_info
    .icon-box
    .category_thumb
      .category_thumb_0
        width: 93% !important
        height: 35px !important
      .category_thumb_1
        width: 93% !important
        height: 35px !important
      .category_thumb_2
        width: 93% !important
        height: 35px !important
      .category_thumb_3
        width: 93% !important
        height: 35px !important