@media (max-width: 767px)
  #category
    .category_info
      .icon-box
        display: none
      .information,
      .btn-group
        margin: 0 auto
        display: block
        width: 90%
        float: none
      .btn-group
        padding-bottom: 5px

@media (max-width: 480px)
