<section class="info-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li><h1>Profile</h1></li>
      <li class="active"><a href="#tab1" data-toggle="tab">excursions</a></li>
      <li><a href="#tab2" data-toggle="tab">events</a></li>
      <li><a href="#tab3" data-toggle="tab">resources</a></li>
      <li><a href="#tab4" data-toggle="tab">categories</a></li>
      <li><a href="#tab5" data-toggle="tab"><span>3</span>followers</a></li>
      <li><a href="#tab6" data-toggle="tab"><span>3</span>followings</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">
        <p><%= render partial: 'excursions/excursions' %></p>
      </div>

      <div class="tab-pane" id="tab2">
        <p><%= render partial: 'events/events' %></p>
      </div>

      <div class="tab-pane" id="tab3">
        <p><%= render partial: 'repositories/resources' %></p>
      </div>

      <div class="tab-pane" id="tab4">
        <p><%= render partial: 'categories/categories' %></p>
      </div>

      <div class="tab-pane" id="tab5">
        <p>What up girl, this is Section 5.</p>
      </div>

      <div class="tab-pane" id="tab6">
        <p>What up girl, this is Section 6.</p>
      </div>

    </div>
  </div>
</section>