footer
  height: 59px
  padding-top: 18px
  background-color: rgba(211, 211, 211, 0.85)
  border-top: 1px solid $gray-lighter
  bottom: -33px
  position: fixed
  width: 100%
  z-index: $zindex-footer-fixed
  font-size: 0.9rem
  @media (max-width: $screen-sm-min) 
    height: 238px
    bottom: -214px
  &:hover
    bottom: 0px
    background-color: rgba(211, 211, 211, 0.98)
    @include transition (all 0.2s ease 0s)
    #scrollUp
      bottom: 0px
  ul
    margin: 0 0 0 15px
    padding: 0
  
  .open
    .btn
      &:hover
        border: 1px solid transparent
      
  li
    float: left
    padding-left: 1%
    padding-right: 1%
    color: $gray-dark
    .btn
      background-color: transparent
      border: 1px solid transparent
      color: $gray-dark
      img
        padding-top: 3px
        margin-right: 5px
      
      &:hover,
      &:focus
        border: 1px solid transparent
        background-color: rgba(0, 0, 0, 0)
        color: #000

      
    .dropdown-menu
      width: auto
    @media (max-width: $screen-sm-min)  
      float: none
  li.social
    i
      font-size: 18px
  
  li.btn-group
    @media (max-width: $screen-sm-min) 
      display: block
      min-height: 34px
  
  li.global    
    img
      padding-top: 6px
  .dropdown-menu li
    display: block

#push
  height: 100px
  clear: both
