footer#footer:before
  width: 40px
  height: 20px
  background-color: rgba(211, 211, 211, 0.85)
  position: relative
  content: "up"
  margin: -41px auto 16px
  @include border-top-radius ($border-radius-base)
  padding: 2px 0px
  cursor: pointer

footer#footer
  @extend .container-fluid
  height: 161px
  padding-top: 18px
  background-color: rgba(211, 211, 211, 0.85)
  border-top: 1px solid $gray-lighter
  bottom: -157px
  position: fixed
  width: 100%
  z-index: $zindex-footer-fixed
  font-size: 0.9rem
  text-align: center 
  @media (max-width: 500px) 
    height: 283px
    bottom: -274px
  &:hover
    bottom: 0px
    background-color: rgba(211, 211, 211, 0.98)
    @include transition (all 0.8s ease-out 0.2s)
  .social
    clear: both
    margin-top: -9px
    color: $gray-dark
    h6
      margin: 0 auto 10px
      width: 70px
      background: rgba(211, 211, 211, 0.98)
      height: 17px
      font-family: $corporate-font-family-sans-serif-Regular
      &:last-child
        background: transparent
        width: 150px
        margin: 10px auto 0
    a
      padding: 3px
      i
        font-size: 1.3rem
        color: $gray
        &:hover
          color: $gray-dark
      .fa-facebook
        font-size: 1.25rem


  ul
    &:first-child
      margin: 0 auto
      padding: 0
      height: 63px
      width: 528px
      text-align: center
      border-bottom: 2px solid #C7C7C7
      padding-bottom: 21px
      @media (max-width: 500px) 
        height: 198px
        width: 100%
      @media (min-width: 1130px) 
        width: 550px
  
  .open
    .btn
      &:hover
        border: 1px solid transparent
      
  li
    float: left
    padding-left: 1%
    padding-right: 1%
    color: $gray-dark
    .btn
      background-color: transparent
      border: 1px solid transparent
      color: $gray-dark
      img
        padding-top: 5px
        margin-right: 5px
        width: 15px
        
      
      &:hover,
      &:focus
        border: 1px solid transparent
        background-color: rgba(0, 0, 0, 0)
        color: $black

    .dropdown-menu
      width: auto
    @media (max-width: 500px)  
      float: none
      .dropdown-toggle
        width: 100%
  
  li.btn-group
    @media (max-width: 500px) 
      display: block
      min-height: 34px

  li.global    
    img
      width: 116px
      padding-top: 8px
      @include opacity(0.8)
      &:hover
        @include opacity(0.99)
  .dropdown-menu li
    display: block
    width: 100%
    padding: 0

#push
  height: 100px
  clear: both
