.logo-header{
  display: inline;
  a{
    @include logo-img;
  }
}

.search-nav {
  display: inline;
  .input-group {
    @media (max-width: $screen-xs-max){
      margin-left: 0px !important;
      width: 100%;
    }
  }
  .search-query {
    @media (max-width: $screen-xs-max){
      width: 90%;
    }
  }
}
.dropdown-log{
  @include dropdown-log;
}

#dropdownMenuLog{
  @include border-right-radius ($border-radius-small);
}

.mobile-nav{
  @include hidden-sm;
  @include hidden-md;
  @include hidden-lg;
}

.desktop-nav{
  @include hidden-xs;
  @extend .pull-right;
}

.photo-user{
  a{
    padding: 3px !important;
    img{
      width: 28px;
    }
  }
}

.headernav{
  a{display: inline-block;
    &:first-child{
      margin-right: 2px; 
    }
  }

}