.logo-header{
  display: inline;
  a{
    @include logo-img;
  }
}

.search-nav {
  display: inline;
  .input-group {
    @media (max-width: $screen-xs-max){
      margin-left: 0px !important;
      width: 100%;
    }
  }
  .search-query {
    @media (max-width: $screen-xs-max){
      width: 95%;
      @include center-block;
    }
  }
}
.dropdown-log{
  @include dropdown-log;
}

#dropdownMenuLog{
  @include border-right-radius ($border-radius-small);
}

.mobile-nav{
  @include hidden-sm;
  @include hidden-md;
  @include hidden-lg;
  .user{
    margin-bottom: 0;
    img{
      width: 25px;
    }
  }
}

.desktop-nav{
  @include hidden-xs;
  @extend .pull-right;
  margin-bottom: 0;
}
.user-menu{
  margin-left: 12px !important;
  a.photo-user{
    padding: 0px !important;
    img{
      @include border-left-radius ($border-radius-small);
      width: 35px;
      @media (min-width: $screen-lg-min){
        min-height: 29px;
      }
    }
  }
}

.headernav{
  a{display: inline-block;
    &:first-child{
      margin-right: 2px; 
    }
  }
}

form.navbar-form-search{
  margin-right: 12px;
  @media (max-width: $screen-xs-max){
    margin-right: 0;
  }
}

#search_button{
  @include hidden-xs;
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  margin-top: 3px;

}

#nav-collapse-out{
  ul{
    .btn-primary{
      &:hover{
        background-color: darken($brand-primary, 20%) !important;
      }
    }
    .btn-secundary{
      &:hover{
        background-color: darken($brand-secundary, 10%) !important;
      }
    }
  }
}

#new_user{
  padding: 10px;
}

#warning_cookie_bar{
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 50px;
  h3{
    display: block;
    margin: 0;
  }
  p{
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: $corporate-font-family-sans-serif-Bold;
    width: 80%;
    a{
      color: $white;
      font-family: $corporate-font-family-sans-serif-Bold;
    }
  }
 
}

