html,
body{
  height: 100%;
}

#wrap {
  min-height: 100%;
  max-width: 2000px;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -31px;
  /* Pad bottom by footer height */
  padding: 20px 0 0;
  @media (min-width: $screen-sm-min){
  	padding: 20px;
  }
}

label{
  cursor: auto;
}

div#wrap.wrap-when-fixed-bottom{
  padding: 0 0 38px 0;  /* must be same height as the footer */
}

#uvTab{
  border-top-width: 1px !important;
  border-right-width: 1px !important;
  border-left-width: 1px !important;
  border-style: solid solid none solid !important;
  border-top-color: #FFF;
  border-right-color: #FFF;
  border-left-color: #FFF !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  left: -39px !important;
  top: 47% !important;
  margin-top: 0px !important;
  min-width: 99px;
  max-height: 21px;
  background: url(http://widget.uservoice.com/pkg/clients/widget2/tab-left-dark-e89fceb89af232658b40362993385936.png) 0% -1px no-repeat #999 !important;
  @include rotate(90deg)
}

#uvTabLabel{
  padding: 0 0 4px 3px !important;
  @include rotate (270deg);
  float: left;
  margin: -26px 0 0 49px;
  img{
    padding: 0px 9px 0 0px !important;
    width: 92%;
  }
}

*{
  outline: 0 !important;
}

a{
  &:hover,&:focus{
    text-decoration: none
  }
}

.alert {
  border-radius: 0 0 5px 5px;
  position: absolute;
  right: 5%;
  top: 51px;
  width: 30%;
  z-index: 42;
}
textarea,input{
  resize: none;
}
.tab-content{
  overflow: visible;
}

