html,
body{
  height: 100%;
}

#wrap {
  min-height: 100%;
  max-width: 2000px;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -31px;
  /* Pad bottom by footer height */
  padding: 20px 0 0;
  @media (min-width: $screen-sm-min){
  	padding: 20px;
  }
}
