<div class="catalogue">
  <div class="icontitle">
    <%show_title ||= false %>
    <%is_home ||= false%>
    <%if show_title%>
      <i class="fa fa-tags"></i><%=t('catalogue.title')%>
    <%end%>
  </div>
  <%= render :partial => "catalogue/tags", :locals =>{ :is_home=> is_home}%>

  <%= render :partial => "catalogue/main", :locals =>{ :is_home=> is_home}%>
</div>