			<section class="color-3">
				<nav class="cl-effect-15">
					<a href="#" data-hover="Desultory">Desultory</a>
					<a href="#" data-hover="Sumptuous">Sumptuous</a>
					<a href="#" data-hover="Scintilla">Scintilla</a>
					<a href="#" data-hover="Propinquity">Propinquity</a>
					<a href="#" data-hover="Harbinger">Harbinger</a>
				</nav>
			</section>