<script>  
  <%if is_home%>     
    add_catalogue_clicks(); 
  <%else%>
    document.addEventListener("DOMContentLoaded", function(){  
      add_catalogue_clicks();
    });
  <%end%>

  function add_catalogue_clicks(){
      $(".catalogue_category_link").click(function(event){
        event.preventDefault();

        var categoryId = $(this).attr("categoryId");
        <%if is_home%>
          window.location = "/catalogue/" + categoryId + "?back_home=true";      
        <%else%>
          window.location = "/catalogue/" + categoryId;      
        <%end%>
      });

      $("#showMore_tags").click(function(){
        $(".newClass").switchClass( "newClass", "anotherNewClass", 1000 );
        $(".anotherNewClass").switchClass( "anotherNewClass", "newClass", 1000 );
        if($("#showMore_tags").attr("status")=== "showMore"){
          $("#showMore_tags").html('<a><%=t("excursion.actions.show_fewer")%></a>');
          $("#showMore_tags").attr("status", "showFewer");
        }
        else{
          $("#showMore_tags").html('<a><%=t("excursion.actions.show_more")%></a>');
          $("#showMore_tags").attr("status", "showMore");
        }
        return false;
      });
    };

</script>


<section id="catalogue">
  <ul class="Tags_list_as ">
    <div class="info_catalogue_bottom"></div>
    <div id="effect" class="anotherNewClass ui-corner-all">
      <% Vish::Application.config.catalogue_categories.each do |categoryId| %>
        <li class="catalogue_category_link" categoryId="<%=categoryId%>" href="#">
          <label><%=t('catalogue.categories.' + categoryId)%></label>
        </li>
      <% end %>
    </div>
  </ul>
</section>

