<div id="open_catalogue" >
	<%go_back = params[:back_home] ? "/home?tab=catalogue" : "/catalogue"%>
	<a class="back_catalogue" href="<%=go_back%>"><i class="fa fa-circle-arrow-left" ></i></a>

	<div class="icontitle">
        <%=t("catalogue.categories." + @category, :default => "Category")%>
    </div>
	<ul>
		<%for resource in @resources%>
			<%=render :partial=> "entities/entity", :locals => { :entity => resource, :prefix_id =>"catalogue" } %>
		<%end%>
	</ul>
</div>

<script>
	$(document).ready(function(){
		function re_apply_backstrech_on_catalogue(){
			$("#open_catalogue div[bs-img]").each(function() {
				$(this).backstretch( $(this).attr("bs-img") );
			});
		};

		re_apply_backstrech_on_catalogue();
		
	});
</script>
