<div id="open_catalogue" >
	<%go_back = params[:back_home] ? "/home?tab=catalogue" : "/catalogue"%>
	<a class="back_catalogue" href="<%=go_back%>"><i class="icon-circle-arrow-left" ></i></a>
	<h2>
		<%=t("catalogue.categories." + @category, :default => "Category")%>
	</h2>
	<ul>
		<%for resource in @resources%>
			<%=render :partial=> "entities/entity", :locals => { :entity => resource, :prefix_id =>"catalogue" } %>
		<%end%>
	</ul>
</div>

