
<div id="open_catalogue" >
	<a class="back_catalogue" href="/catalogue"><i class  ="fa fa-arrow-circle-left" ></i></a>
	<h1>
    <%=@category%>
  </h1>
	<ul class="items">
		<%for excursion in @excursions%>
			<%=render :partial=> "excursions/excursion", :locals => { :excursion => excursion } %>
		<%end%>
	</ul>
</div>