<%=render :partial=> "catalogue/tags"%>

<div id="open_catalogue" style="margin-top: 175px;">
	<h2><%=@category%></h2>
	<ul>
		<%for excursion in @excursions%>
			<%=render :partial=> "excursions/excursion", :locals => { :excursion => excursion } %>
		<%end%>
	</ul>
</div>