
<div id="open_catalogue" >
	<a class="back_catalogue" href="/catalogue"><i class="icon-circle-arrow-left" ></i></a>
	<h2><%=@category%></h2>
	<ul>
		<%for excursion in @excursions%>
			<%=render :partial=> "excursions/excursion", :locals => { :excursion => excursion , :prefix_id => "catalogue"} %>
		<%end%>
	</ul>
</div>