#winners
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .tabexcursions
    padding-top: 1%
    padding-bottom: 1%
    position: relative
    width: 100%
    display: block
    float: left
    margin-bottom: 3%
    margin-top: 5%
    border-bottom: 1px solid #ccc
    border-top: 1px solid #ccc
    text-align: center
    .caret1
      margin-top: 1.5%
      margin-right: 2%
      border-top: 4px solid #666
    .caret2
      margin-top: 1.5%
      margin-left: 2%
      border-top: 4px solid #666
  #banner
    float: left
    position: relative
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    width: 100%
    img
      width: 100%
  #podium
    float: left
    position: relative
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-top: 4%
    .podiuminside
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      height: 400px
      .podiuminside1
        @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
        height: 100%
        float: left
        margin-left: 15%
        .podiumart
          text-align: center
          z-index: 0
          -webkit-box-shadow: 8px -3px 5px rgba(50, 50, 50, 0.14)
          -moz-box-shadow:    8px -3px 5px rgba(50, 50, 50, 0.14)
          box-shadow:         8px -3px 5px rgba(50, 50, 50, 0.14)
          border-top: 1px solid #B1B1B1
          background-color: #666
          border-left: 1px solid #ccc
          width: 23.26%
          height: 23%
          bottom: 0px
          position: absolute
          background: url(competition/noisy.png) -19px top repeat
          background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
          background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
          h1,h2,h3
            font-family: Garamond, serif
            line-height: 0.8em
            color: #fff
            font-weight: bold
            font-size: 78px
            text-shadow: 0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(217,217,217),2px 2px 0 rgb(203,203,203),3px 3px 0 rgb(189,189,189),4px 4px 0 rgb(175,175,175), 5px 5px 0 rgb(161,161,161),6px 6px 5px rgba(0,0,0,0.9),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2)
        #excursions 
          ul
            li.box-item
              width: 47%
              margin-top: 27%
              margin-left: 28%
      .podiuminside2
        @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
        height: 100%
        float: left
        #excursions 
          ul
            li.box-item
              width: 54%
              margin-left: 23%
        .podiumart
          text-align: center
          z-index: 1
          -webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.14)
          -moz-box-shadow:    0px -1px 5px rgba(50, 50, 50, 0.14)
          box-shadow:         0px -1px 5px rgba(50, 50, 50, 0.14)
          border-top: 1px solid #F3F300
          width: 23.25%
          height: 42%
          bottom: 0px
          position: absolute
          background: url(competition/noisy.png) -19px top repeat
          background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
          background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
          h1,h2,h3
            font-family: Garamond, serif
            line-height: 1.2em
            color: #fff
            font-weight: bold
            font-size: 121px
            text-shadow: 0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(217,217,217),2px 2px 0 rgb(203,203,203),3px 3px 0 rgb(189,189,189),4px 4px 0 rgb(175,175,175), 5px 5px 0 rgb(161,161,161),6px 6px 5px rgba(0,0,0,0.9),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2)
      .podiuminside3
        @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
        height: 100%
        float: left
        #excursions 
          ul
            li.box-item
              width: 44%
              margin-top: 45%
              margin-left: 29%
        .podiumart
          text-align: center
          z-index: 0
          -webkit-box-shadow: -7px -5px 5px rgba(50, 50, 50, 0.14)
          -moz-box-shadow:    -7px -5px 5px rgba(50, 50, 50, 0.14)
          box-shadow:         -7px -5px 5px rgba(50, 50, 50, 0.14)
          border-top: 1px solid #AC5F18
          background-color: #666
          width: 23.25%
          border-right: 1px solid #ccc
          height: 10%
          bottom: 0px
          position: absolute
          background: url(competition/noisy.png) -19px top repeat
          background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
          background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
          h1,h2,h3
            font-family: Garamond, serif
            line-height: 0.4em
            color: #fff
            font-weight: bold
            font-size: 38px
            text-shadow: 0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(217,217,217),2px 2px 0 rgb(203,203,203),3px 3px 0 rgb(189,189,189),4px 4px 0 rgb(175,175,175), 5px 5px 0 rgb(161,161,161),6px 6px 5px rgba(0,0,0,0.9),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2)
  #subjectwinners
    float: left
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    position: relative
    display: block
    height: 100%
    padding-bottom: 4%
    .subrow
      @include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
      margin-left: 3%
      margin-right: 4%
      float: left
      margin-top: 2%
      padding: 2%
      -webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.14)
      -moz-box-shadow:    0px -1px 5px rgba(50, 50, 50, 0.14)
      box-shadow:         0px -1px 5px rgba(50, 50, 50, 0.14)
      border: 1px solid #ccc
      background: url(competition/noisy.png) -19px top repeat
      background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
      background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      h3
        border-bottom: 1px solid #D8D8D8
      section
        position: relative
        float: right
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .badimg
          @include grid-fluid-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)
          position: relative
          float: left
          .bd1
            width: 100%
            margin-top: 45%
            clear: both
            float: left
          .bd2
            width: 100%
            margin-top: 45%
            clear: both
            float: left
        .recomended
          @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
          float: right
          position: relative
    .subrow2
      @include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
      margin-left: 3%
      float: left
      margin-top: 2%
      padding: 2%
      -webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.14)
      -moz-box-shadow:    0px -1px 5px rgba(50, 50, 50, 0.14)
      box-shadow:         0px -1px 5px rgba(50, 50, 50, 0.14)
      border: 1px solid #ccc
      background: url(competition/noisy.png) -19px top repeat
      background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
      background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      h3
        border-bottom: 1px solid #D8D8D8
      section
        position: relative
        float: right
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .badimg
          @include grid-fluid-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)
          position: relative
          float: left
          .bd1
            width: 100%
            margin-top: 45%
            clear: both
            float: left
          .bd2
            width: 100%
            margin-top: 45%
            clear: both
            float: left
        .recomended
          @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
          float: left
          position: relative
  #participants
    margin-top: -5%
    float: left
    position: relative
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .sign_up
      font-family: $secondFontFamily
      font-size: 17px !important
      padding: 1% !important
      border: 1px solid #EEEEEE
      @include border-radius($baseBorderRadius)
      @include btn-primary
      background-color: $secondColor
      margin-right: 10px
      background-image: none
      margin-left: 10px
      a 
        color: $white
        &:hover,&:active,&:focus
          text-decoration: none 
          outline: none    
      &:hover
        background-color: lighten($secondColor, 10%) 
#contest
  .tabexcursions
    position: relative
    width: 100%
    display: block
    float: left
    margin-bottom: 3%
    border-bottom: 1px solid #ccc
    border-top: 1px solid #ccc
    .filter
      float: right
      margin-top: -3%