#contest
  .competition_banner
    display: block
    img
      width: 100%
  .tabexcursions
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: left
    margin-bottom: 3%
    margin-top: 3%
    border-bottom: 1px solid #CCCCCC
  .info_all
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: left
    margin-bottom: 3%
    margin-top: 3%
    border-bottom: 1px solid #eee
    .info_competition
      margin-left: 5.3%
      padding: 1.3%
      -webkit-border-bottom-right-radius: 5px
      -moz-border-radius-bottomright: 5px
      border-bottom-right-radius: 5px
      -webkit-border-bottom-left-radius: 5px
      -moz-border-radius-bottomleft: 5px
      border-bottom-left-radius: 5px
      background-color: white
      -webkit-box-shadow: 0 -1px 10px rgba(50, 51, 51, 0.1)
      -moz-box-shadow: 0 -1px 10px rgba(50, 51, 51, 0.1)
      box-shadow: 0 -1px 10px rgba(50, 51, 51, 0.1)
      @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left

      .info_competition_element
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left

        h4
          color: $grayDark
          i 
            margin-right: 10px
        p
          font-size: 10px
          width: 90%
          display: block
          margin: auto
        .btn-group
          float: right
    #excursions
      display: block
      margin-top: 20px