  <div class="recomended">
      <ul class="items">
      	<p class="info_action"> Added Video</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => video}%>
        
      </ul>
  </div>