<div class="span3">
  <%= thumb_for(video, 16) %>
</div>
<div class="span9">
  <div class="title">
    <%= video.title %>
  </div>
  <div class="processing_text"><%= t('video.processing')%></div>
</div>
