.helpheader
  float: right
  margin-top: 15px
  position: relative
  i
    cursor: pointer
    font-size: 20px

  .popover
    top: 0px !important
    .popover-content
      a
        padding: 0px !important
        border-bottom: 0px !important
        &:hover
          border-bottom: 0px !important
    .popoverfix
      margin-left: -7%
      width: 99%
      padding-right: 13%
      padding-left: 3%
      padding-top: 4%
      padding-bottom: 4%
      margin-bottom: -5%
      text-align: left
      margin-top: 6%
      font-size: 14px
      font-weight: normal
      line-height: 18px
      color: #969595
    .arrow 
      top: 11% !important

/*modales new */
.modal-header
  .helpheader
    float: right
    margin-right: 23px
    margin-top: 4px
    position: relative
    .popover
      width: 600px !important
      max-width: 450px !important
      .arrow 
        top: 5%  !important