.helpheader
  float: right
  margin-top: 15px
  position: relative
  i
    cursor: pointer
    font-size: 20px

  .popover
    .popover-content
      a
        padding: 0px !important
        border-bottom: 0px !important
        &:hover
          border-bottom: 0px !important
    .popoverfix
      margin-left: -7%
      width: 99%
      padding-right: 13%
      padding-left: 3%
      padding-top: 4%
      padding-bottom: 4%
      margin-bottom: -5%
      text-align: left
      margin-top: 6%
      font-size: 14px
      font-weight: normal
      line-height: 18px
      color: #969595
    .arrow 
      top: 8% !important
      
    .arrow:after 
      border-left-color: #F7F7F7
    .modal-footer
      a
        color: $gray

.help-fix-position-popover
  .popover
    top: 0px !important

.modal-header
  .helpheader
    float: right
    margin-right: 12px
    margin-top: 4px
    position: relative
    .popover
      width: 600px!important
      min-width: 600px
      top: -15px !important
      .popover-content
        padding-bottom: 10px
      .popoverfix
        color: #969595
        font-size: 14px
        font-weight: normal
        line-height: 18px
        margin-bottom: -11px
        margin-left: -16px
        margin-top: 11px
        padding: 10px 0
        text-align: left
        width: 591px !important
        a
          margin-left: 10px
      .arrow 
        top: 25px !important
      .popoverfix
        margin-left: -15px
        padding-left: 11px
        width: 517px
        margin-top: 9px

