.helpheader
  float: right
  margin-top: 15px
  position: relative
  i
    cursor: pointer
    font-size: 20px

  .popover
    top: 0px !important
    .popover-content
      a
        padding: 0px !important
        border-bottom: 0px !important
        &:hover
          border-bottom: 0px !important
    .arrow 
      top: 11% !important
