.user
  header
    .avatar
      //margin: 5px
      //width: 23%
      @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
      img.avatar_img
        //border: $baseBorderRadius solid $white
        @include box-shadow(0 -1px 10px rgba(50,51,51,0.10))
        border-radius: $baseBorderRadius
        @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
        
    .information
      //@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      width: 60% !important
      
      @include border-radius($baseBorderRadius)
      @include box-shadow(0 -1px 10px rgba(50,51,51,0.10))
      background-color: $white
      h1, h2, h3, h4, h5, h6 
        line-height: 25px
        display: inline-block
        margin-left: 10px
      h2
        color: $gray
        font-family: $secondFontFamily
      button
        float: right
        display: inline-block
        margin-top: 7px
      hr
        //margin: 5px 0
        border: none
      h3.name-roll,h3.karma,h3.select
        color: $firstColor
        font-size: 20px
        font-family: $firstFontFamily
        border-left: 1px solid $grayLighter
        padding-left: 20px
      
      p.description
        color: $gray
      span
        color: $black 
        font-family: $secondFontFamily 
      h3.achievements
        border-left: 1px solid $grayLighter
        color: $secondColor
        font-size: 20px
        font-family: $firstFontFamily

.info-profile
  .follow-tab
    @include tab_title
  
  .tabbable
    @include border-radius($baseBorderRadius)
    h3
      color: $firstColor 






