.user
  header
    .avatar
      img.avatar_img
        border: 5px solid $grayLighter
    .information
      margin-top: 20px
      border: 1px solid $grayLighter
      background-color: $white
      h1, h2, h3, h4, h5, h6 
        line-height: 25px
        display: inline-block
        margin-left: 5px
      h2
        color: $secondColor 
      button
        float: right
        display: inline-block
        margin-top: 7px
      hr
        margin: 5px 0
      h3.name-roll
      p.description
        color: $gray
      span
        color: $thirdColor  
      h3.achievements
        border-left: 1px solid $grayLighter
        color: $blue-2

.info-profile
  .follow-tab

    a
      background-color: $white !important
      font-size: 1em 
      span
        color: $thirdColor
        font-size: 1.1em
      span:after
        content: " "






