//item types
.excursion-item
  .info
    background-color: $white
    .name
      a
        color: $gray
      a:hover
        text-decoration: none
        color: $firstColor
    .author
      color: $black
      a
        color: $secondColor
    .info-bottom
      hr
        color: $gray !important
      .views
        color: $gray
      .views:after
        color: $secondColor   
      .like  
        .icon-star-empty 
          color: $gray 
        .icon-star
          color: $firstColor 
.categorie-item,
.resource-item
  .info
    .name
      a
        color: $white
      a:hover
        color: $white
    .author
      color: $white
      a
        color: $white
    .info-bottom
      .views
        color: $white
      .views:after
        color: $white
      .like
        .count
          color: $white
        i,a
          color: $white
      .categories_inside
        color: $white

.categorie-item
  .info
    background-color: $firstColor
  .corner-color
    border-color: $firstColor transparent transparent transparent

.resource-item
  .info
    background-color: $secondColor
  .corner-color
    border-color: $secondColor transparent transparent transparent


.corner-item
  position: absolute
  top: 0
  left: 0
  width: 75px
  height: 75px
  z-index: 2
  .corner-item2
    position: absolute
    height: 60px
    width: 60px
    left: 5px
    top: 5px
    z-index: 4
    -webkit-border-top-left-radius: 5px
    -moz-border-radius-topleft: 5px
    border-top-left-radius: 5px
    overflow: hidden

    .corner-color
      position: absolute
      width: 0
      height: 0
      border-style: solid
      border-width: 55px 55px 0 0
      
      z-index: 5

    i
      position: absolute
      top: 9px
      left: 9px
      color: $white
      font-size: 15px
      z-index: 6

  .corner-background
    position: absolute
    width: 0
    height: 0
    border-style: solid
    border-width: 75px 75px 0 0
    border-color: $background transparent transparent transparent
    z-index: 3
    top: -5px
    left: -5px





@media (min-width: 501px) 
  li.box-item
    //animation: 0.8s ease-out 0s normal none 1 zemslideup, 1s ease-out 0s normal none 1 zemfadein
    position: relative
    float: left
    overflow: inherit
    list-style: none
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16)
    @include border-radius($baseBorderRadius)
    &:hover
      text-decoration: none
      //box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.1)
      transform: scale(1.05)
      -ms-transform: scale(1.05)
      -webkit-transform: scale(1.05)
      transition: all 0.2s ease 0s
      -ms-transition: all 0.2s ease 0s
      -webkit-transition: all 0.2s ease 0s
    //BAGDE EXCURSION
    .badge-excursion-active
      position: absolute
      top: 15px
      left: -15px
      z-index: 10
      background-image: url(" badges/excursionofthemonth.png" )
      height: 110px
      width: 75px
      pointer-events: none
    // IMG BOX
    @include img-item-box
    //RESOURCES
    @include resource-item
    // NAME
    @include info-item
    // VIEWS AND COUNT
    @include footer-item
  // ADD ITEM
  @include add-item
  // USERS
  @include user-item




