@mixin img-item-box
  .container-img
    display: inline-block
    position: relative
    width: 100%
    background-color: $white
    @include border-top-radius($baseBorderRadius)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16)
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
    .dummy
      padding-top: 75% /* 4:3 aspect ratio */
    .element
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
      text-align: center
      width: 100%
      @include border-top-radius($baseBorderRadius)
      .img-box
        width: 100%
        padding-bottom: 75%
        float: left
        img
          float: left
          width: 100%
          height: 100%

      i
        font-size: 70px
        color: $secondColor
        &:hover
          text-decoration: none

    .resource-center
      i
        padding-top: 20% 
        display: block
      i.icon-scorm-new,
      i.icon-pdf-new,
      i.icon-swf-new,
      i.icon-zip-new,
      i.icon-webapp-new
        display: block
        width: 57px
        height: 62px
        margin: 21.5% auto 0





@mixin resource-item
  .event-img,
  .vish_picture_thumbnail
    width: 100%
    height: 100%
  .resource,
  .category
    img
      margin-top: -25%
      min-width: 125%
      min-height: 250%
    i
      margin-top: 2%
    .category_thumb_0,
    .category_thumb_1,
    .category_thumb_2,
    .category_thumb_3,
      background-color: $grayLight
      width: 49%
      height: 20px
      position: absolute
    .category_thumb_0
      top: 0
      left: 0
    .category_thumb_1
      top: 0
      right: 0
    .category_thumb_2
      bottom: 0
      left: 0
    .category_thumb_3
      bottom: 0
      right: 0



    .container-img
      padding-bottom: 0.3%
      display: inline-block
      position: relative
      width: 100%
      padding: 10%
      background-color: #007cc8
      .info
        height: 75px
      i
        color: #fff !important
        font-size: 2.3em
        margin-left: -21%
  .event
    width: 100%
    text-align: center
    margin-top: 20%
    float: left
    a
      text-decoration: none
    i
      font-size: 70px
      color: $gray

@mixin info-item
  .info
    font-family: $secondFontFamily
    display: block
    margin-left: 3px
    margin-right: 3px
    padding: 5px
    margin-top: -5px
    height: 75px
    @include border-bottom-radius($baseBorderRadius)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.50)
    .name
      font-family: $thirdFontFamily
      font-size: 14px
      word-wrap: break-word
      text-decoration: none
      cursor: pointer
      margin: 0
      height: 35px
      line-height: 17px
      overflow: hidden
      width: 100%

    .author
      text-decoration: none
      cursor: pointer

      font-size: 12px
      width: 100%
      height: 20px
      overflow: hidden
      word-wrap: break-word
      text-overflow: ellipsis
      &:before
        color: $grayLight
      span
        width: 20px
        display: inline
        float: left
        font-family: $secondFontFamily
        color: $grayLight
      a
        word-wrap: break-word
        text-overflow: ellipsis
        overflow-y: hidden
        height: 20px
        width: 85%
        display: inline
        float: left
        font-family: $firstFontFamily
        font-size: 12px
        &:hover
          text-decoration: none

@mixin footer-item
  .info-bottom
    font-family: $secondFontFamily !important
    font-size: $baseFontSize
    clear: both
    hr
      margin: 0
      border-width: 1px 0 0
    .soften
      margin-bottom: 1px
    .views
      float: right
      width: 50%
      text-align: right
      cursor: default
    .categories_inside
      cursor: default
      width: 100%
      float: left
    .like

      a
        i
          text-decoration: none
          cursor: pointer
    .number_elems
      float: right
      width: 100%
      text-align: right

.like
  float: left
  cursor: default
  width: 50%
  .count
    display: inline-block
    a
      display: inline-block
      i
        text-decoration: none
        cursor: pointer
      .icon-star-empty 
        margin-top: -5px
        font-style: none
      .icon-star
        margin-top: -5px
        font-style: none





@mixin add-item
  .add-item
    text-align: center
    background-image: url('items/malla.png') !important
    overflow: hidden
    margin-bottom: -2px !important

    &:hover
      text-decoration: none
    i
      width: 100%
      display: block
      padding-top: 60px
      opacity: 1
      font-size: 92px
      display: block
    .info
      height: 75px !important
@mixin user-item
  .contact
    background-color: transparent !important
    box-shadow: none !important

    //BAGDE teacher
    .badge-teacher-active
      position: absolute
      top: 50px
      left: 33px
      z-index: 10
      background-image: url(" badges/teacherofthemonth.png" )
      height: 80px
      width: 55px
      background-size: 54px
      pointer-events: none

    // IMG BOX
    .container-img
      .avatar
        a
          img
            margin-top: 20%
            @include center-block()
            @include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
            @include border-radius($baseBorderRadius)
    .info
      height: 75px !important
      .name
        text-align: center
        margin: 0
        height: 30px
        line-height: 15px
        overflow: hidden
        a
          color: $black
          font-family: $firstFontFamily
          text-decoration: none
          &:hover
            color: $firstColor
      .add
        @include follow
    .info-bottom
      hr
        display: none