//item tipography
.excursion-item,
.contact,
.event-item,
.categorie-item,
.resource-item,
.workshop-item
  .container-img
    border: 1px solid $grayLight
  .info
    background-color: $white
    border: 1px solid $grayLight
    .name
      a
        color: $grayDark
      a:hover
        text-decoration: none
        color: $firstColor
    .author
      color: $black
      a
        color: $secondColor
      span
        color: $gray
    .info-bottom
      hr
        color: $grayLight !important
      .views
        color: $gray
      .views:after
        color: $secondColor   
      .like  
        .icon-star-empty 
          color: $gray 
        .icon-star
          color: $firstColor 


//item type
.categorie-item
  .info
    background-color: $white
  .corner-color
    border-color: $firstColor transparent transparent transparent

.resource-item
  .info
    background-color: $white
  .corner-color
    border-color: $secondColor transparent transparent transparent

.event-item
  .info
    background-color: $white
  .corner-color
    border-color: $gray transparent transparent transparent 

.contact
  .info-user
    background-color: $white
  .corner-color
    border-color: $white transparent transparent transparent 

.workshop-item
  .info
    background-color: $white
  .corner-color
    border-color: $grayDark transparent transparent transparent 