@mixin excursion-box
  border: 1px solid $grayLight
  @include border-bottom-right-radius(15px)
  @include border-bottom-left-radius(15px)

@mixin gray-box
  @include border-radius($radius)
  border-top: 1px solid #F2F2F2
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
  position: relative
  width: 97%
  z-index: 1
  margin-left: 1%
