@mixin btn-primary
  @include ie7-inline-block()
  @include ie7-restore-left-whitespace()
  @include border-radius(15px)
  @include animation(background 1s, color, 1s)
  padding: 4px 12px
  border-top: 1px solid $grayLight
  background-color: $red
  font-size: $baseFontSize
  line-height: $baseLineHeight
  vertical-align: middle
  cursor: pointer
  color: $white
  background-image: none
  text-shadow: none
  &:hover
    background-color: $blue
    color: $white
  .caret
    border-top-color: $white
    border-bottom-color: $white
  
  &:focus 
    @include tab-focus()
  
  &.active
    background-color: $blue !important
    color: $white

  &.disabled,
  &[disabled] 
    cursor: default
    @include opacity(85)
    background-color: $red


