@mixin follow

  text-align: center
  color: $white
  form
    margin: 0px
    input
      height: 20px
      border: 0px none 
      width: 100px
      display: block
      background-color: $firstColor
      @include border-radius($baseBorderRadius)
      color: $white
      @include center-block()


  .following-button
    @include center-block()
    display: block
    background-color: $secondColor
    height: 20px
    width: 100px
    @include border-radius($baseBorderRadius)
  .unfollow-button
    form
      margin: 0px
      input
        @include center-block()
        height: 20px
        border: 0px none 
        width: 100px
        display: block
        background-color: $gray
        @include border-radius($baseBorderRadius)
        color: $white