@mixin follow
  text-align: center
  color: $firstColor
  font-family: $secondFontFamily
  form
    margin: 0px
    input
      position: absolute
      margin-left: 39px
      height: 20px
      border: 0px none 
      width: 87px
      display: block
      background-color: $firstColor
      @include border-radius($baseBorderRadius)
      color: $white
      @include center-block()
      margin-top: 0px
      padding: 0px
      font-family: $firstFontFamily
  .following-button
    @include center-block()
    display: block
    background-color: $secondColor
    height: 20px
    width: 87px
    @include border-radius($baseBorderRadius)
    color: $white
    font-family: $firstFontFamily
  .unfollow-button
    form
      margin: 0px
      input
        @include center-block()
        height: 20px
        border: 0px none 
        width: 87px
        display: block
        background-color: $gray
        @include border-radius($baseBorderRadius)
        color: $white
        margin-top: 0px
        padding: 0px
        font-family: $firstFontFamily