@mixin grid
  @include excursion-box
  width: 165px
  float: left
  margin: 15px 11.5px
  list-style: none
  &:first-child
    margin-left: 0
  .badges
    @include badge-grid
  .info
    font-family: $firstFontFamily
    padding: 5px 5px 0 5px
    h5
      color: $green
      font-size: 12px
      margin: 0 auto
      display: inline

      a
        img
          width: 10px
          margin-top: -2px
    .views
      float: right
      margin: -4px 0 -3px 0
      h5.name
        margin: 0 0 5px 0
        line-height: 18px
        @include ellipsis
        a
          float: left
          line-height: 17px
      

  .info-bottom
    font-family: $firstFontFamily
    clear: both
    hr
      margin: 0
    .soften
      margin-bottom: 1px
    h5.author
      width: 154px
      margin: 1px 0 2px 0
      font-size: 13px
      a
        @include ellipsis
        width: 56%
        display: initial

      .like
        float: right
        font-size: 12px
        span
          color: $green
          display: inline
        a
          width: 30px
          img
            width: 10px
            margin-top: -2px
    .date,
    .category
      float: right
      font-size: 12px
    .date
      color: $green


@mixin grid-add
  @include border-radius($radius)
  width: 165px
  float: left
  margin: 15px 11.5px
  list-style: none
  min-height: 227px
  border: 2px dashed $gray
  background-color: $white
  .grid-item-add
    padding: 129px 145px
  .grid-item-myroom
    padding: 128px 76px
  &:first-child
    margin-left: 0

  .action-name
    padding: 37px 10px 0
    text-align: center
    font-size: 1.3em
    margin: 107px auto 20px
    color: $grayLight


