@mixin grid
  @include excursion-box
  width: 135px
  float: left
  margin: 15px 0px
  list-style: none
  &:first-child
    margin-left: 0
  .badges
    width: 53px
    position: absolute
    margin-left: 82px
  .info
    padding: 5px 10px
    a.name
      float: left
    .like
      float: right
  .info-bottom
    clear: both
    a.author
      float: left
    .views
      float: right

