@mixin menuHorizontal 
  padding: 0
  text-align: center
  ul
    list-style-type: none
    display: inline
    li
      display: inline
      padding: 0 2%

@mixin makeColumnoMargin($columns:1, $offset: 0) 
  float: left
  margin-left: 0px
  width: ($gridColumnWidth * $columns) + ($gridGutterWidth * ($columns - 1))

@mixin centered
  margin-left: auto
  margin-right: auto

@mixin ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: inline-block
  width: 97%

@mixin hidden-phone
  @extend .hidden-phone  

@mixin hidden-tablet
  @extend .hidden-tablet

@mixin hidden-desktop
  @extend .hidden-desktop

@mixin check-box
  display: block
  input
    &[type="checkbox"]
      display: inline
      margin-top: 0
      width: 17px
  label
    display: inline-block
    font-size: 12px

@mixin header-tabbable
  clear: both
  margin-top: 10px
  ul.nav
    margin-bottom: 6px
    li
      margin-right: 10px
      a
        font-size: 15px
        color: $grayLight
        background-color: #D8D8D8
        border: 1px solid #DDD
        border-bottom-color: transparent
        cursor: default
        padding: 6px 30px 5px 30px
        
        margin-top: 5px
        @include border-top-radius(15px)

      h1
        line-height: 38px
        margin: 1px 10px 0 0 
        font-size: 33.5px
    li.active
      a
        margin-bottom: -1px
        color: $firstColor
        background-color: $white
        padding: 6px 30px 6px 30px


@mixin grid
  @include excursion-box
  width: 18.2%
  float: left
  margin-left: 2%
  list-style: none
  font-family: $secondFontFamily
  &:first-child
    margin-left: 0
  .badges
    width: 5.2%
    position: absolute
    margin-left: 9%
  .info
    padding: 5px 10px
    a.name
      font-family: $secondFontFamily
    .like
      float: right
  .info-bottom
    clear: both
    a.author
      float: left
    .views
      float: right
