// TITLES
// --------------------------------------------------

@mixin tab_title
  li
    a
      font-family: $firstFontFamily !important
      font-size: 1.05em
      color: $gray
      outline: 0px
      span
        color: $secondColor
        font-family: $secondFontFamily 
    
    
  li.active
    a
      font-family: $secondFontFamily !important
      font-size: 1.05em
      color: $black
      span
        color: $secondColor
  li.disabled
    a
      color: $grayLight
      span
        color: $grayLight

        

@mixin tab_title_show
  li
    a
      font-family: $firstFontFamily !important
      font-size: 12px
      color: $gray
      outline: 0px
      span
        color: $secondColor
        font-family: $secondFontFamily  
    
      
  li.active
    a
      font-family: $secondFontFamily !important
      font-size: 12px
      color: $black
      span
        color: $secondColor

@mixin page_footer
  a
    &:hover
      text-decoration: none 

//PLAIN TEXT
// --------------------------------------------------