<div class="row-fluid">

    <div class="one span2">xgag</div>
    <div class="neon">asdfa</div>
    <div class="onla">asdf</div>
    <div class="laca">sadf</div>
    <div class="cama">asdf</div>
    <div class="maca">asdf</div>
 

</div>