<section>
    <nav>
        <article class="article">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2"></div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#excursions"><%= t('excursion.other')%></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#timeline"><%= t('activity.timeline')%></a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="imageless-css-3-form-elements">
                        <li><label><input type="checkbox"><span class= "size24 red-1">net</span></label>
                        </li>
                        <li><label><input type="checkbox"><span class= "size24 red-1">my</span></label>
                        </li>
                        <li><label><input type="checkbox"><span class= "size24 red-1">top</span></label>
                        </li>
                        <li><label><input type="checkbox"><span class= "size24 red-1"><img width="15" height="15" src="images/star-MENU-active.png"></span></label></li>
                    </ul>  
                </div>
            </div>
            <div class="row-fluid">
                <div class="span">
                    <input id="profile-excursion-filter-me" class="input-large mobile" type="text" name="filter" placeholder="filter">
                </div>
            </div>
            <div class="tab-content">
                <div id="excursions" class="tab-pane active">
                    <%= render :partial => 'excursions/filter_results', :locals => { :excursions => current_subject_excursions } %>
                </div>
                <div id="timeline" class="tab-pane">
                    <%= render :partial => 'activities/wall', :locals  => { :activities => @activities_net, :is_active_wall => true } %>
                </div>
            </div>
        </article>
    </nav>
</section>
