<% name = if user_signed_in?; then current_user.name; else ""; end %>
<% target_title =  @event.title.split(' ').map {|w| w.capitalize }.join('') unless @event.title.blank? %>
<% if request.env['HTTP_HOST'] =~ /^localhost/ or request.env['HTTP_HOST'] =~ /^0.0.0.0/ %>
  <% target_url = "http://FUUUUUUU" + request.path %>
<% else %>
  <% target_url = request.url %>
<% end %>

<!-- Place this tag where you want the button. -->
<div class="mashme-button" data-username='<%=name%>' data-roomtheme="original" data-roomapp="meeting_mode" data-buttontext="Entrar al evento" data-maximized="true" data-webrtc="false"></div>

<!-- Place this tag after the last button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement("script");
    po.type = "text/javascript";
    po.async = true;
    po.src = "http://www.mashme.tv/static/js/button/mashme-buttons.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>