<li class="events-item">

  <%= link_to image_tag("items/evt-prev.png",  :class=> "" ), "#" %>
  <div class="info">
    <h5 class="name">
      <a>
        event name  
      </a>
    </h5>
    <div class="like">    
      <h5 class="count">32</h5>
      <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
    </div>

    <div class="info-bottom">
      <hr class="soften">
      <h5 class="author">
        by 
        <a>author name</a>
        <div class="date">
          01/01/13    
        </div>
      </h5>
    </div>
  </div>
</li>







