<li class="box-item add-item hidden-sm hidden-xs">
  <a href="#AddEvent" data-toggle="modal">
  <div class="container-img">
      <div class="dummy"></div>
      <div class="element">
        <div class="img-box"><i class="fa fa-plus"></i></div>
      </div>
  </div>
  <div class="caption">
<!--Title -->
    <div class="name">
      Create New Event    
    </div>
<!--Autor -->
    <div class="author"> 
      <span class="by"></span>  
    </div>
    <!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">

    </div>
  </div>
  </a>
</li>
