<!-- Button to trigger modal -->
<!-- Modal -->
<div id="AddEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 >Title</h3>
  </div>
  <div class="modal-body">
  form
  </div><!-- CIERRA BODY-->
  <!-- FOOTER -->
  <div class="modal-footer">
    <input type="button" class=' btn' data-placement='top' aria-hidden="true" data-original-title="¿Como creo un evento?" href='#' value="?"/>
    <input type="button" class="btn btn-primary" />
  </div>
</div>

<!-- SCRIPTS -->

