<div class="events">

	<ul class="items">
	  <% if profile_subject_is_current? %>
	    <%= render partial: 'events/event-add' %>
	  <% end %>

	  <% default_sort_by = profile_subject_is_current? ? "updated_at" : "popularity"%>
	  <%= render partial: 'events/events', :locals => { :scope => scope, :limit => limit, :page => page, :sort_by=> params[:sort_by]||default_sort_by} %>
	</ul>

</div>