<div class="quick_search">
  <div class="photo">
    <%= event_to icon(event), event, :title => event.file_file_name %>
  </div>
  <div class="data">
    <div class="name">
      <%= event_to event.title, event %>
    </div>
    <div class="author"> 
      <%= event_to truncate_name(event.author.name, length: 25), event.author.subject %>
    </div>
  </div>
</div>