  <div class="recomended-items">
    <div class="recomended_excursion">
      <ul class="small-box ">
      	<p class="info_action"> Added Event</p>
        <%= render :partial => "events/event", :locals => {:event => event} %>
        
      </ul>
    </div>
  </div>