  <div class="recomended-items">
    <div class="recomended_excursion">
      <ul class="small-box clearfix">

        <%= render :partial => "events/event", :locals => {:event => event} %>
        
      </ul>
    </div>
  </div>