<div class="recomended">
  <ul class="items">
    <p class="info_action"> <%= t('activity.items.infoaction.event') %></p>
    <%= render :partial => "events/event", :locals => {:event => event} %>
  </ul>
</div>
