<% content_for :title do %>
  <%= "#{ current_subject.name }: #{ t('document.new.title') }" %>
<% end %>

<section id="new_event-up" class="alert alert-danger">
  Please create your event from the Add Event button of the main headline.  
</section>