#winners
  .tabexcursions
    margin-bottom: 3%
    margin-top: 0
    border-bottom: 1px solid $gray-light
    border-top: 1px solid $gray-light
    text-align: center
    clear: both
    .caret1
      margin-top: 3px
      margin-right: 4px
      border-top: 4px solid $gray-darker
    .caret2
      margin-top: 3px
      margin-left: 4px
      border-top: 4px solid $gray-darker
  #banner
    img
      @include img-responsive
  .info_competition
    display: block
    margin: 20px auto 40px
    button.ModalPrizes
      width: auto
      display: block
      clear: both
      float: none
      margin: 0 auto

  //podium   
  #podium
    display: block
    clear: both
    width: 96%
    @include center-block
    .podiuminside
      @include make-xs-column(12, $gutter: $grid-gutter-width)
      @include make-sm-column(12, $gutter: $grid-gutter-width)
      @include make-md-column(12, $gutter: $grid-gutter-width)
      @include make-lg-column(12, $gutter: $grid-gutter-width)

      .podiuminside1
        
        .podiumart
          height: 100px
          margin-top: 20px

      .podiuminside2
        margin-top: 25px
        .podiumart
          height: 75px
          margin-top: 20px

      .podiuminside3
        margin-top: 50px
        .podiumart
          height: 50px
          margin-top: 20px
      //podium 2
      .podiuminside1,
      .podiuminside2,
      .podiuminside3
        width: 33.3%
        height: 100%
        float: left
        @media (max-width: $screen-sm)
          width: 100%

        .entities
          width: 100%
          display: block

          ul
            margin: 0 auto !important
            display: block
            float: none !important
            width: 70% !important
            @include items
            li
              width: 100%
            



        .podiumart
          text-align: center
          z-index: 1
          -webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.14)
          -moz-box-shadow:    0px -1px 5px rgba(50, 50, 50, 0.14)
          box-shadow:         0px -1px 5px rgba(50, 50, 50, 0.14)
          width: 100%
          display: block
          float: left
          background: url(competition/noisy.png) -19px top repeat
          background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
          background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
          background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
          .podcircle1,
          .podcircle2,
          .podcircle3
            h2
              //font-family: Garamond, serif
              //line-height: 20px
              //color: #fff
              //font-weight: bold
              //font-size: 20px
              //text-shadow: 0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(217,217,217),2px 2px 0 rgb(203,203,203),3px 3px 0 rgb(189,189,189),4px 4px 0 rgb(175,175,175), 5px 5px 0 rgb(161,161,161),6px 6px 5px rgba(0,0,0,0.9),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2)
              margin-top: 10px
              border-radius: 50%
              background-color: $white
              font-weight: lighter
              width: 30px
              height: 30px
              margin: 10px auto 0
              float: none
              display: block
              font-family: $corporate-font-family-sans-serif-Medium
              color: $white
              font-size: 25px
          .podcircle3
            h2
              background-color: #CD7F32
          
          .podcircle2
            h2
              background-color: silver

          .podcircle1
            h2
              background-color: gold



  #subjectwinners
    float: left
    padding-bottom: 4%
    .subrow
      width: 45%
      margin: 2.5%
      display: inline-block
      float: left
      -webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.14)
      -moz-box-shadow:    0px -1px 5px rgba(50, 50, 50, 0.14)
      box-shadow:         0px -1px 5px rgba(50, 50, 50, 0.14)
      border: 1px solid $gray-light
      background: url(competition/noisy.png) -19px top repeat
      background: url(competition/noisy.png) -19px top repeat, -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5))
      background: url(competition/noisy.png) -19px top repeat, -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%)
      background: url(competition/noisy.png) -19px top repeat, linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      h3
        border-bottom: 1px solid #D8D8D8
        padding-bottom: 10px
        width: 100% 
        text-align: center
        font-family: $corporate-font-family-sans-serif-Light
      section
        display: block
        width: 45%
        margin: 0 2.5%
        float: left
        position: relative
        .badimg
          position: absolute
          left: 0
          right: 0
          width: 50px
          height: 50px
          img
            width: 50px
        .box-item
          width: 100%

  #participants
    clear: both
    .sign_up
      margin: 0 auto
      &:hover 
        color: $white  
  
#show_items
  .recomended
    float: left
    width: 100%
    ul.items
      margin-top: 0px
      margin-bottom: 0px
  &:hover
    .badimg  
      @include transition(border .2s ease-in-out)
      @include box-shadow (0 2px 8px 0px rgba(0, 0, 0, 0.03))
      @include transition (all 0.2s ease 0s)
      transform: scale(1.05)
      -ms-transform: scale(1.05)
      -webkit-transform: scale(1.05) 
  .badimg 
    &:hover
    .recomended 
      @include transition(border .2s ease-in-out)
      @include box-shadow (0 2px 8px 0px rgba(0, 0, 0, 0.03))
      @include transition (all 0.2s ease 0s)
      transform: scale(1.05)
      -ms-transform: scale(1.05)
      -webkit-transform: scale(1.05) 
#contest
  .tabexcursions
    position: relative
    display: block
    width: auto
    margin-bottom: 3%
    border-bottom: 1px solid $gray-light
    border-top: 1px solid $gray-light
    h3
      width: auto
      margin-left: 5px
      display: inline-block
    .filter
      width: auto
      margin-right: 5px
      margin-top: 13px
      float: right
      display: inline-block

  .contest_excursions
    width: 100%
    display: inline-block
    float: left
    ul 
      width: 100%
      
  .entities
    ul
      @include items


@media (max-width: 768px)
  #subjectwinners
    width: 100% !important
    .subrow
      width: 100% !important
      margin: 2.5% auto !important
      display: inline-block !important
      float: left !important


@media (max-width: 480px)
  #subjectwinners
    .subrow
      section
        width: 95% !important
  #podium
    .entities
      width: 90% !important

      ul
        display: inline-block !important
    .podcircle1,
    .podcircle2,
    .podcircle3
      display: none !important



