
#uvTab
  border: none !important
  box-shadow: transparent !important
  margin-left: -1px !important
  top: 47% !important
  max-width: 21px
  min-height: 91px
  padding-right: 1px
  background: url(feedback/feedback_button.png) 7% -1px no-repeat #999 !important
  @include hidden-xs

#uvTabLabel
  padding: 50px 11px 10px 4px !important
  img
    display: none