
#uvTab
  border: none !important
  box-shadow: transparent !important
  margin-left: -1px !important
  top: 47% !important
  min-width: 30px
  min-height: 118px
  padding-right: 1px
  @include hidden-xs