.helpheader
  float: right
  position: relative
  i
    cursor: pointer
    font-size: 1.05rem
    color: $gray

header
  .helpheader
    float: right
    max-height: 19px
    padding-top: 0
  hr
    margin-bottom: 0
    border-bottom: 1px solid $gray-light

#show_items
  .tooltab
    .helpheader
      .popover
        margin-top: 34px
        margin-left: -4px
