.helpheader
  float: right
  position: relative
  i
    cursor: pointer
    font-size: 14px
  .icon-question-sign,
  .fa-question-circle
    color: $gray
    &:hover
      color: $gray-dark
header
  .helpheader
    float: right
    max-height: 19px
    padding-top: 0
  hr
    margin-bottom: 0
    border-bottom: 1px solid $gray