.helpheader
  float: right
  margin-top: 4px
  position: relative
  i
    cursor: pointer
    padding-top: 13px
    font-size: 1.05rem

header
  .helpheader
    float: right
    max-height: 19px
    padding-top: 0
    margin-top: 1px
    i
      font-size: 1.15rem
  hr
    margin-bottom: 0
    border-bottom: 1px solid $gray-light

#show_items
  .tooltab
    .helpheader
      .popover
        margin-top: 34px
        margin-left: -4px
