.icon-link
  @extend .fa-link
.icon-code
  @extend .fa-code
.icon-file
  @extend .fa-file
.icon-file
  @extend .fa-file
.icon-file-text
  @extend .fa-file-text-o
.icon-pdf-new
  @extend .fa-file-pdf-o
.icon-zip-new
  @extend .fa-file-zip-o
.icon-picture
  @extend .fa-image
.icon-music
  @extend .fa-music
.icon-film
  @extend .fa-video-camera



.icon-link,
.icon-code,
.icon-file,
.icon-file-text,
.icon-pdf-new,
.icon-zip-new,
.icon-picture,
.icon-music,
.icon-film
  @extend .fa



.icontitle
  font-family: "opensans-regular", Arial, sans-serif
  font-size: 1.4em
  color: $gray

.alert-alert
  @extend .alert-warning

#new_file_only_link_url,
#new_file_only_embed_fulltext
  @extend .form-control