.icon-link
  @extend .fa-link
.icon-code
  @extend .fa-code
.icon-scorm-new
  @extend .fa-reorder
.icon-webapp-new
  @extend .fa-cubes
.icon-file
  @extend .fa-file
.icon-file-text
  @extend .fa-file-text-o
.icon-pdf-new
  @extend .fa-file-pdf-o
.icon-swf-new
  @extend .fa-file-video-o
.icon-zip-new
  @extend .fa-file-zip-o
.icon-picture
  @extend .fa-image
.icon-music
  @extend .fa-music
.icon-film
  @extend .fa-video-camera
.icon-edit
  @extend .fa-edit
.icon-trash
  @extend .fa-trash-o
.icon-copy
  @extend .fa-copy
.icon-download  
  @extend .fa-download
.icon-facetime-video
  @extend .fa-video-camera
.icon-circle-arrow-left
  @extend .fa-arrow-circle-left
.icon-home
  @extend .fa-home
.icon-group
  @extend .fa-group
.icon-tags
  @extend .fa-tags
.icon-pencil
  @extend .fa-pencil
.icon-laptop
  @extend .fa-laptop
.icon-question-sign
  @extend .fa-question-circle
.icon-angle-up
  @extend .fa-angle-up
.icon-search
  @extend .fa-search
.icon-border
  @extend .fa-border
.icon-fullscreen
  @extend .fa-expand
.icon-dashboard
  @extend .fa-dashboard
.icon-bolt
  @extend .fa-bolt
.icon-eye-open
  @extend .fa-eye
.icon-eye-close
  @extend .fa-eye-slash
.icon-star
  @extend .fa-star
.icon-th-large
  @extend .fa-th-large
.icon-plus
  @extend .fa-plus
.icon-book
  @extend .fa-book
.icon-move
  @extend .fa-arrows
.icon-folder-open-alt
  @extend .fa-folder-open-o
.icon-archive
  @extend .fa-archive
.icon-comment
  @extend .fa-comment
.icon-ok-sign
  @extend .fa-check-square
.icon-reorder
  @extend .fa-reorder
.icon-asterisk
  @extend .fa-asterisk
.icon-angle-down
  @extend .fa-angle-down
.icon-lightbulb
  @extend .fa-lightbulb-o
.icon-share
  @extend .fa-share
.icon-align-left
  @extend .fa-align-left
.icon-flag
  @extend .fa-flag
.icon-th
  @extend .fa-th
.icon-list-ol
  @extend .fa-list-ol

.icon-move,
.icon-folder-open-alt,
.icon-archive,
.icon-link,
.icon-code,
.icon-scorm-new,
.icon-webapp-new,
.icon-file,
.icon-file-text,
.icon-pdf-new,
.icon-swf-new,
.icon-zip-new,
.icon-picture,
.icon-music,
.icon-film,
.icon-edit,
.icon-trash,
.icon-copy,
.icon-download,
.icon-facetime-video,
.icon-circle-arrow-left,
.icon-home,
.icon-group,
.icon-tags,
.icon-pencil,
.icon-laptop,
.icon-question-sign,
.icon-angle-up,
.icon-search,
.icon-border,
.icon-fullscreen,
.icon-dashboard,
.icon-bolt,
.icon-eye-open,
.icon-eye-close,
.icon-star,
.icon-th-large,
.icon-plus,
.icon-book,
.icon-comment,
.icon-ok-sign,
.icon-reorder,
.icon-asterisk,
.icon-angle-down,
.icon-lightbulb,
.icon-share,
.icon-align-left,
.icon-flag,
.icon-th,
.icon-list-ol
  @extend .fa

[class^="icon-"]:before, 
[class*=" icon-"]:before
  font-family: 'FontAwesome' !important

.icontitle
  font-family: "opensans-regular", Arial, sans-serif
  font-size: 1.4em
  color: $gray

.alert-alert
  @extend .alert-warning

#new_file_only_link_url,
#new_file_only_embed_fulltext
  @extend .form-control