/****************************** contact */
.contact h6
  text-align: center

/****************************** loader */

.loader_pagination
  clear: both

/****************************** loader */

.add-item
  border: 2px dashed $gray
  .caption
    border-top: none !important
    height: 84px !important




li.contact
  background-color: white
  .caption
    position: relative
    .add     
      position: absolute
      bottom: 7px
      width: 91%
      height: 31px
      @include follow-profile 
      form input
        min-height: 30px !important
        -webkit-border-radius: $border-radius-base !important
        -moz-border-radius: $border-radius-base !important
        border-radius: $border-radius-base !important