/****************************** contact */
.contact h6
  text-align: center

/****************************** loader */

.loader_pagination
  clear: both

/****************************** loader */

.add-item
  border: 2px dashed $gray
  .caption
    border-top: none !important
    height: 84px !important


.corner-item2
  .icon-webapp-new,
  .icon-scorm-new
    top: 3px !important
    left: 3px !important
    font-size: 22px !important