.nav-tabs > .follow-tab
  float: right
  a i
    color: $gray-dark

.tooltab li span
  font-size: 12px

.toolbar_nav-tab
  margin-bottom: 20px
  min-height: 34px
  background: $white
  padding: 10px
  border-radius: 0 0 5px 5px
