/** timeline box structure **/
.timeline {
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 29px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #FAF9F9;
  left: 50%;
  margin-left: 19.5px;
}

.timeline li {
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 15px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
.tldate {
  display: block;
  width: 200px;
  color: $gray;
  background: $body-bg url(bg-texture.jpg) center repeat;
  margin: 16px auto;
  padding: 2px 0 3px;
  font-weight: bold;
  text-align: center;
}
/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 37px;
  left: 50%;
  text-align: center;
  background: $brand-secundary;
  color: #fff;
  width: 11px;
  height: 11px;
  line-height: 15px;
  margin-left: -5px;
  border: 3px solid rgba(0, 143, 209, 0.47);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 90;
}



/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 768px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline {
    padding: 0px;
  }

  ul.timeline:before {
    left: 7px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li {
    margin-bottom: 10px;
    &:first-child{
      margin-bottom: 0px;
    }
  }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 35px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
    text-align: left;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

@media (max-width: 500px) {
  ul.timeline > li > .timeline-panel {
    width: 100%;
  }
  ul.timeline > li > .timeline-panel:after,
  ul.timeline > li > .timeline-panel:before {
    border-color: rgba(0, 0, 0, 0);
  }
  ul.timeline li .tl-circ {
    display: none;
  }
  .timeline:before{
    background-color: transparent;
    margin: 0;
  }
}


.spinner {
  z-index: 1;
  height: 60px;
  width: 60px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[class^="ball-"] {
  position: absolute;
  display: block;
  left: 24px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: circleRotate 4s both infinite;
  -webkit-animation: circleRotate 4s both infinite;
  -moz-animation: circleRotate 4s both infinite;
  -ms-animation: circleRotate 4s both infinite;
  -o-animation: circleRotate 4s both infinite;
  -moz-transform-origin: 0 250% 0 50%;
  -ms-transform-origin: 0 250% 0 50%;
  -webkit-transform-origin: 0 250% 0 50%;
  transform-origin: 0 250% 0 50%;
}

@-webkit-keyframes circleRotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
  }
}
@-moz-keyframes circleRotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
  }
}
@-ms-keyframes circleRotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
  }
}
@keyframes circleRotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
  }
}
.ball-1 {
  background-color: #333333;
  animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
}

.ball-2 {
  background-color: #4c4c4c;
  animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
}

.ball-3 {
  background-color: #666666;
  animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
}

.ball-4 {
  background-color: #7f7f7f;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
}

.ball-5 {
  background-color: #999999;
  animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
}

.ball-6 {
  background-color: #b2b2b2;
  animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
}

.ball-7 {
  background-color: #cccccc;
  animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
}

.ball-8 {
  background-color: #e5e5e5;
  animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
  -webkit-animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
  -ms-animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
  -o-animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
}



input[type=checkbox],input[type=radio]{opacity:0;position:absolute;z-index:12;width:18px;height:18px;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{position:relative;z-index:11;display:inline-block;margin:0;line-height:20px;min-height:14px;min-width:14px;font-weight:normal;font-size:0.9em;}
input[type=checkbox]+.lbl.padding-16::before,input[type=radio]+.lbl.padding-16::before{margin-right:16px;}
input[type=checkbox]+.lbl.padding-12::before,input[type=radio]+.lbl.padding-12::before{margin-right:12px;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:8px;}
input[type=checkbox]+.lbl.padding-4::before,input[type=radio]+.lbl.padding-4::before{margin-right:4px;}
input[type=checkbox]+.lbl.padding-0::before,input[type=radio]+.lbl.padding-0::before{margin-right:0px;}
input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before{font-family:fontAwesome;font-weight:normal;font-size:0.75em;color: #008FD1;content:"\a0";background-color:#FFF;border:1px solid #CCC;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);@include border-top-radius (2px);@include border-bottom-radius (2px);display:inline-block;text-align:center;vertical-align:middle;height:14px;line-height:14px;min-width:15px;margin-right:1px; margin-top: -5px;}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\f00c';background-color:#F5F8FC;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:#CCC !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:Arial,Helvetica,sans-serif;font-size:36px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}

.tab-pane{
  .spinner{
    margin: 40px auto !important;
  }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFF0F5 inset !important;
}