#scrollUp
  bottom: 0px
  right: 0px
  padding: 4px 5px 19px 2px
  @include opacity (0.4)
  background-color: $brand-primary
  i
    color: $white
    font-size: 25px
  &:hover
    @include opacity (0.6)