#scrollUp
  bottom: -20px
  right: 30px
  padding: 4px 0px 19px 3px
  @include opacity (0.4)
  color: $gray
  i
    color: #5F5F5F
    font-size: 1.2rem
.hoverscroll
  @include opacity (0.6)
  bottom: 0