#scrollUp
  bottom: -17px
  right: 30px
  padding: 4px 0px 19px 3px
  @include opacity (0.4)
  color: $gray
  i
    color: #5F5F5F
    font-size: 1.2rem
    @include opacity (0.4)
    &:hover
      @include opacity (0.7)
      bottom: 0