<br class="clearfloat" />
<div class="space_center">
</div>
<div class="devise_title2"><%= t('settings.for')%> <%= current_subject.name %></div>
<div class="space_center">
</div>

<%= render_settings %>
