#show_items

  .box-show
    //visor
    .container-visor
      display: inline-block
      position: relative
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      .elemento-visor
        padding-top: 79%
      .caja-visor
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        .badge-excursion-active
          position: absolute
          height: 110px
          width: 75px
          top: 15px
          left: -15px
          z-index: 10
          display: none
          background-image: url(" badges/excursionofthemonth.png" )

  //description
  .description-activity
    @include grid-fluid-span(9, $fluidGridColumnWidth, $fluidGridGutterWidth)
    @include border-bottom-radius(5px)
    background-color: $white
    @include box-shadow(0 -1px 10px rgba(50,51,51,0.10))

    .box_description
      @include border-bottom-radius(5px)
      background-color: $white
      @include box-shadow(0 -1px 10px rgba(50,51,51,0.10))
      display: inline-block
      float: left
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)

      //tool
      .excursion_tool
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: inline-block
        float: left
        .tabbable
          @include header-tabbable-show
          //@include box-shadow(0 -1px 10px rgba(50,51,51,0.10))
          @include grid-fluid-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
          clear: none
          margin-top: 0px
          height: 50px
        .tab-content > .active, .pill-content > .active
          display: block
          margin-top: 0px !important
        h2
          margin-top: 0px
          padding-left: 20px
          font-family: $secondFontFamily
          color: $grayDark
          width: 75%
          font-size: 25px
          
          float: left
          display: inline-block
        .tab-content
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .contentembed,
        .contentShare,
        .contentclone,
        .contentscorm
          margin-left: 20px
          margin-bottom: 10px
          @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
          display: block
          float: left
          textarea
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .input-append
            @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left
          .social_toolbar_excursion
            @include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left

            .twitter_toolbar_excursion,
            .facebook_toolbar_excursion,
            .gplus_toolbar_excursion,
            .email_toolbar_excursion
              float: left
              display: inline-block
             
            .twitter_toolbar_excursion
              width: 85px

            .facebook_toolbar_excursion
              width: 85px

            .gplus_toolbar_excursion
              width: 70px
          span
            @include grid-fluid-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left
          .info,
          p
            @include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left
          .actions-clone,
          a

            display: block
            float: left
            margin-right: 20px
          
        .viewsAndConunt
          width: 20%
          float: left
          display: block
          margin-top: 11px
          .like
            float: left
            width: auto
            display: inline-block
            .count
              font-size: 1.5em
              font-family: $thirdFontFamily
              display: inline-block
              margin-left: 5px
            a
              display: inline-block
              .icon-star-empty, 
              .icon-star
                font-size: 1.4em
                margin-right: 5px
              &:hover
                text-decoration: none
          .views:after
            content: " / "
          .views
            font-size: 1.5em
            font-family: $thirdFontFamily
            float: left
            display: inline-block
            span
              font-size: 1em
              font-family: $firstFontFamily
              

        .excursion-social
          float: left
          display: inline-block
        .btn-group
          margin-top: 0px
          float: right
          display: inline-block
          i.icon-star
            color: $firstColor
          .btn:first-child
            border-top-left-radius: 0px
          .btn
            padding: 8px 12px
          .popover 
            width: 180px
            outline: none
            z-index: 20
            .actions
              .btn
                padding: 3px 12px
                @include border-radius($baseBorderRadius)



        

      //description
      .toggler
        min-height: 50px
        position: relative
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        display: block
        float: left


        
        #effect
          position: relative
          min-height: 55px
          .author
            margin-left: 20px
            display: block
            float: left
            width: 180px

            a
              display: block
              float: left
              @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
              img
                @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
                @include border-radius($baseBorderRadius)     
            p
              font-size: 1em
              margin-left: 20px
              margin-bottom: 5px
              width: 115px
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              display: block
              float: left
              color: $gray
            .add
              margin-top: -2px
              display: block
              float: left
              padding-left: 20px
              @include follow-profile
          .dl-horizontal
            @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
            display: block
            float: left

        .newClass
          height: 0px
          overflow: hidden
        .anotherNewClass
          height: auto
          overflow: auto
          clear: both
      #showMore
        width: 22%
        @include center-block()
        text-align: center
        margin-top: 0px
        background-color: $grayLighter
        border: none
        border-bottom: 1px solid $grayLight
        @include border-radius($baseBorderRadius)

        margin-top: 15px
        margin-bottom: 5px
        a
          padding-top: 3px

  .recomended-items
    .recomended_excursion
      display: block
      float: right


  .activity-box
    .activity

      .tabbable
        @include header-tabbable
        ul
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .tab-content
          overflow: hidden
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .activity
            margin-bottom: 10px
          #evaluation1
            .btn-evalue
              text-align: center
            .excursion-eval-results
              canvas
                @include center-block()

.popover 
  width: 180px
  outline: none
  z-index: 20
  .actions
    .btn
      padding: 3px 12px
      @include border-radius($baseBorderRadius)