<%= render :partial => 'application/breadcrumb_path', :locals  => { :projectscrumb=>true, :path => [] } %>

<div id="classrooms">
  <ul class="items">
    <a href="<%=new_private_student_group_path%>">
    <%= render partial: 'private_student_groups/student_group_add' %>
    </a>
    <% @privateStudentGroups.each do |psg| %>
      <%= render partial: 'private_student_groups/student_group' , :locals => { :psg => psg } %>
    <% end %>
  </ul>
</div>
