<p>Private Student Group View</p>

<p> Group Id: <%= @privateStudentGroup.id%> </p>
<p> Group Name: <%= @privateStudentGroup.name%> </p>
<p>
  <a href="<%=private_student_groups_path%>">Come back</a>
</p>