<div class="<%= follow_link_class contact %>">
  <% if contact.sent? %>
    <div class="btn btn-danger">
      <%= link_to image_tag("/assets/phone/unfollow.png", :class =>"imgnoradio"), follower_path(contact), :method => :delete, :remote => true %>
    </div>
  <% else %>
    <div class="btn btn-success ">
      <%= link_to image_tag("/assets/phone/follow.png", :class =>"imgnoradio"), follower_path(contact), :method => :put, :remote => true %>
    </div>
  <% end %>
</div>
