<div class="<%= follow_link_class contact %>">
  <% if contact.sent? %>
    <div class="btn btn-primary follow btn-unfollow-mobile">
      <%= link_to t('contact.unfollow'), follower_path(contact), :method => :delete, :remote => true %>
    </div>
  <% else %>
    <div class="btn btn-primary follow btn-follow">
      <%= link_to t('contact.follow'), follower_path(contact), :method => :put, :remote => true %>
    </div>
  <% end %>
</div>
