<% if (sgs = current_subject.suggestions(2)).present? %>
  <div class="span">
    <div class="header_followers">
      <div class="header_text">
        <%= t('contact.suggestion.other') %>
      </div>

    </div>
    <div class="content">
      <div class="users_btn_follow">
        <%= render :partial => "contacts/suggestion", :collection => sgs %>
      </div>
    </div>
  </div>
<% end %>


