<% if (sgs = current_subject.suggestions(5)).present? %>
  <div class="span">
    <div class="header_followers">
      <div class="header_text">
        <%= t('contact.suggestion.other') %>
      </div>

    </div>
    <div class="content" > <!-- columna derecha-->
      <div class="users_btn_follow-sugestion">
        <%= render :partial => "contacts/contact", :collection => sgs %>
      </div>
    </div>
    <div class="pull-right">
      <%=link_to( t('view_all'), search_path(:type => "user") ) %>
    </div>
  </div>
<% end %>



