<% if user_signed_in? and (sgs = current_subject.contact_suggestions(2)).present? %>
  <div class="span">
    <div class="header_followers">
      <div class="header_text">
        <%= t('contact.suggestion.other') %>
      </div>

    </div>
    <div class="content" > <!-- columna derecha-->
      <div class="users_btn_follow-sugestion">
        <%= render :partial => "contacts/contact", :collection => sgs, :locals => { :close_button => true } %>
      </div>
    </div>
    <div class=" pull-right">
      <%=link_to( t('view_all'), search_path(:type => "user"), :class => "btn btn-link " ) %>
    </div>
  </div>
<% end %>



