<%= div_for document, :class => 'content_size' do %>

  <div class="document_show">
    <iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fvishub.global.dit.upm.es<%=u download_document_path(document)%>&embedded=true" width="600" height="480" style="border: none;"></iframe>
  </div>

<% end %>
