<div class="item-object-wall">
  <ul class="thumbnails">
    <li class="img-object">
      <%= link_to raw("<i class='icon75-default'></i>"), document, :class => "" %>
    </li>
    <li class="info-object-timeline">
      <div class="title-object">
        <%= link_to truncate_name(document.title, :length => 35), document %>
      </div>
      <p><%= simple_format auto_link(document.description) %></p>
      <p class="details"><%= link_to t('details.msg'), document, :class => "" %></p>
    </li>
  </ul>
</div>


