<div id="item-search-bar">
  <div class="thumbnails">
    <div class="img">
      <%= link_to  "", document, :class => icon_class_for(document), :alt => document.title %>
    </div>
    <div class="info">
      <div class="title">
        <%= link_to truncate_name(document.title, :length => 40), document %>
      </div>

      <div class="autor">
        <a>
          <%=document.visit_count.to_s%> 
        </a>
        <%= t('follow.views') %>
      
      </div>
    </div>
  </div>
</div>

