<button class="new_document btn" data-path="<%= documents_path %>">
  <i class="fa fa-upload" alt= <%= t('document.new_activity.attach') %> title: <%= t('document.new_activity.attach') %> ></i>
</button>
