<div class="recomended">
  <ul class="items clearfix">
  	<p class="info_action"> <%= t('activity.items.infoaction.document') %></p>
    <%= render :partial => "repositories/resource" , :locals => {:resource => document}%>

  </ul>
</div>
