.content
	.img-frontpage
		@include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: block
		@include center-block()
		
	.name-frontpage
		letter-spacing: 1pt
		text-align: center
		color: $gray-vish
		font-weight: lighter



