#profile-header
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	display: inline-block
	float: left
	padding: 5px

	img.avatar 
		@include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
	
	.name
		@include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: left
