#profile-header
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	display: inline-block
	float: left
	padding: 5px

	img.avatar 
		@include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: left
	
	.name
		@include grid-fluid-span(9, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: left
		margin-top: 10px
		margin-left: 10px
		color: $blue-1
		font-size: 18px
	.tags
		display: inline-block
		float: left
		margin-left: 10px
		@include grid-fluid-span(9, $fluidGridColumnWidth, $fluidGridGutterWidth)
		@include text-overflow()
		a
			color: $blue-2
		a:after
			content: ", " 
			
			font-size: 12px
.subnav
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	@include center-block()
	ul
		margin: 0px 0px 10px 0px
	.btn-group 
		.btn
			padding: 3px 0px
			@include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
			a
				color: $gray

