<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>index</title>
	<!-- Date: 2012-03-13 -->
	<link href='css/bootstrap.css' media='screen' rel='stylesheet' />
  <link href='css/application.css' media='screen' rel='stylesheet' />
  <link href='css/bootstrap-responsive.css' media='screen' rel='stylesheet' />
	<link href='css/mobile.css' media='screen' rel='stylesheet' />
  <link href='css/docs.css' media='screen' rel='stylesheet' />	
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" class="visible-phone">



<!-------------- header -->



<header id="navbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="offset1 span2 inline">
                    <img src="images/logo.png"  class="pull-left" width="120" height="36" alt="vish logo mobile">
                </div>
        <div class="span3 inline-block">    
                    <form class="navbar-search pull-rigth" action="">
                        <input type="text" class="search-query" placeholder="Search">
                    </form>
                </div> 
        
        <div style="height: auto;" class="nav-collapse in collapse">
          <hr class="soften">
                        <ul class="nav">
                            <li class="size40 active"><a href="#">Willy Wonkas</a></li>
                            <li><a href="#">Home</a></li>
                            <li><img src="img/followers.png" width="10" height="6"><a href="#">Followers/ing</a></li>
                            <li><a href="#">Messages</a></li>
                            <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Organizations </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Nanotechnology</a></li>
                                <li><a href="#">Bifi</a></li>
                            </ul>
                        <ul class="nav"> 
                
                <li class="active"><a href="#">Settings</a></li>
                <li><a href="#">Privacity</a></li>
                <li><a href="#">Help</a></li>
                <li class="active"><a href="#">Sing out</a></li>
          </ul>
    <div class="space"></div>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown foo">
              <ul>
                <li><a href="#">Languaje</a></li>
                <li><a href="#">Condition&terms of use</a></li>
                <li class="divider"></li>
                <li><a href="#">Virtual Science Hub C 2012</a></li>
              </ul>
            </li>
          </ul>
          <div class="space"></div>
        </div>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
  </div>
  </div>

          
  </heaeder>




<!-------------- zona user -->



<section id= "wall">
    <article class="row-fluid article">
        <div class="span12">
            <div class="span6"></div>
            <div class="span3 pull-right">
          
                    <div class="span article btn-m btn-red">
                        <a href="#">sign up</a>
                     </div>
          
            </div>
            <div class="span3 pull-right">
                <div class="span article btn-m btn-red">
                    <a href="#">log in</a>
                </div>
            </div>
        </div>
    </article>
</section>
<div class="space"></div>



<section id= "wall">
	<article class="row-fluid article">
        <div class="span12">
            <div class="span3"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
            </div>
            <div class="span8">
                <div class="caption">
                    <h2 class="span8 size30 ellipsis w350px">Willy Wonkas
                    </h2>
                    <div class="span4 pull-right">
                        <div class="span article btn-m btn-red">
                            <a href="#">Follow</a>
                            </div>
                        </div>
                      </div>
                      <h3 class="span ellipsis w340px">
                          <a href="">Scientific</a>,
                          <a href="#">Nanotechnology</a>,
                          <a href="#">Research</a>...
                      </h3>
                </div>
            </div>
        </div>
	</article>
</section>
<div class="space"></div>




<!-------------- zona user2 -->




<section id= "wall">
	<article class="row-fluid article">
        <div class="span12">
           <div class="span5">
               <h2>Followers:&nbsp;&nbsp;<span class="green">9</span></h2>
               <h2>Followers:&nbsp;&nbsp;<span class="green">9</span></h2>
           </div>
           <div class="span7">
               <div class="boxy_white">
               <h2>Organization:</h2>
               <h3><a href="#">Nanotechnology,&nbsp;</a><a href="#">BIFI,&nbsp;</a><a href="#">...</a></h3>
               </div>
           </div>
        </div>
	</article>
</section
><div class="space"></div>




<!-------------- zona user3 -->




<section id= "wall">
	<article class="row-fluid article">
        <div class="span12">
            <div class="span5"><img src="images/logos/contact/excursion-79.png" width="168" height="168" alt="image user, vish">
            </div>
            <div class="span7">
                <div class="caption">
                    <h2 class="span8 size30 ellipsis w350px">Willy
                    </h2>
                    <h2 class="span8 size30 ellipsis w350px">Wonkas
                    </h2>
                    <h3>Followers:&nbsp;&nbsp;<span class="green">9</span></h3>
                    <h3>Followers:&nbsp;&nbsp;<span class="green">9</span></h3>
                    <a href="">Scientific</a>,
                    <a href="#">Nanotechnology</a>,
                    <a href="#">Research</a>...
                </div>
            </div>   
            <div class="row-fluid">                
                <div class="span12">
                     <div class="span3 inline">
                         <div class="span12 pull-right send_messag size10 red-2 upfoll users_btn_follow">
                         <div class="follow-link-contact_346">
                            <div class="follow-button">
                                <a class="size15" rel="nofollow" data-remote="true" data-method="put" href="/followers/346">Follow</a>
                            </div>
                         </div>
                         </div>
                     </div>
                     <div class="span3 inline-block"> 
                         <button class="btn pull-right" href="#">
                             <img width="20" height="16" src="images/notification.png">Default
                         </button>
                     </div>
                     <div class="span6 inline-block">
                         <button class="btn pull-right" href="#">
                             <img width="20" height="16" src="images/notification.png">send message
                         </button>
                     </div>                       
                </div>
            </div>
	</article>
</section>




<!-------------- messages top zone  -->




<section id= "wall">
	<article class="row-fluid article">
        <div class="span12">
            <div class="span5">
                <img src="images/icon-message.png" width="177" height="128" alt="image user, vish">
                <h2 class="size30 gray article ellipsis w350px">Messages
                </h2>
            </div>
            <div class="span6">
                <div class="space"></div>
                <button class="btn span margin-bottom margin-top" href="#">
                    <img width="20" height="16" src="images/icon-message.png">new message
                </button>
                <button class="btn span margin-bottom" href="#">
                    <img width="20" height="16" src="images/icon-message.png">inbox
                </button>
                <button class="btn span margin-bottom" href="#">
                    <img width="20" height="16" src="images/icon-message.png">sent box
                </button>
                <button class="btn span margin-bottom" href="#">
                    <img width="20" height="16" src="images/icon-message.png">trash
                </button>
                  
                
            </div>   
      
	</article>
</section>



<!-------------- navegacion -->




<section>
    <nav>
    	<article class="article">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2"></div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">excursions</a>
                        </li>
                        <li>
                            <a href="#">timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
	    </article>
	    <article class="article">    
	        <div class="row-fluid">
                <div class="span12">
                    <img src="images/radio-on.png" width="21" height="21">net&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/radio-on.png" width="21" height="21">my&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/radio-off.png" width="21" height="21">top&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/radio-off.png" width="21" height="21"><img src="images/star-MENU-active.png" width="15" height="15">
                </div>
            </div>
	    </article>
	    <article class="article">
	    	<div class="row-fluid">
                <div class="span">
                    <input id="profile-excursion-filter-me" class="input-large mobile" type="text" name="filter" placeholder="filter"> 
                </div>
            </div>
	    </article>
    </nav>
</section>

<section>
    <nav>
        <article class="article">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </nav>
</section>




<!-------------- tablon -->




<section id="wall">
    <article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <div class="caption">
                                <h2 class="span9 ellipsis w550px">
                                    <a href="/excursions/53">music time
                                    </a>
                                </h2>
                                <button href="#" class="btn pull-right"><img src="images/notification.png" width="20" height="16">Default</button>
                            </div>
                        <div class="span">  
                            <h3 class="span9 blue-opacity ellipsis w150px">by <a class="user-modal-button-crispin" href="#user-modal-crispin" data-toggle="modal">crispin</a>
                            </h3>
                            <div class="pull-right">
                                <h3><span  class="green inline">19</span><img src="images/star-MENU-active.png" width="12" height="12">&nbsp;&nbsp;<span class="green inline-block">2<img src="images/icon-message.png" width="16" height="12"></a></span>
                                </h5>   
                            </div>
                        </div>
                     </div>
                </div>
            </div> 
        </div>
	</article>
	<article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <h2 class="span8"> <span class= "green">19</span>&nbsp;&nbsp;views</h2>
                            <h3 class="span8 blue-opacity article ellipsis w400px">
                            	<a href="#">natural science</a>,
                            	<a href="#">flora</a>,
                            	<a href="#">bugs</a>
                            </h3>
                            
                        </div>
                     </div>
                </div>
            </div> 
        </div>
	</article>
	<article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <p class="size15"> Wix.com provides an easy-to-use online platform where you can create and publish your own website. Enjoy powerful drag & drop editing tools & customizable website designs.  </p>
                            
                            
                        </div>
                     </div>
                </div>
            </div> 
        </div>
	</article>
    <article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <div class="size18">
                                <a href="#">Nestor Toribio Mr foo</a><span class="size15"> is now following</span><a href="#">Diego Carrera</a>
                            </div>      
                        </div>
                        <div class="span9 margin-wall-txt"> 
                        
                            <div class="span6 ellipsis w450px">4&nbsp;days ago&nbsp;&nbsp;&nbsp;&nbsp;<a class="red-2" herf="#">Coment</a>
                            </div>
                            <div class="pull-right">
                                <h3><span  class="green inline">19</span><img src="images/star-MENU-active.png" width="12" height="12">&nbsp;&nbsp;<span class="green inline-block">2<img src="images/icon-message.png" width="16" height="12"></a></span>
                                </h5>   
                            </div>
                        </div>
                     </div>
                </div>
            </div> 
        </div>
    </article>
    <article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <div class="size18">
                                <a href="#">Nestor Toribio Mr foo</a>
                                <div class="span12 margin-wall-txt">
                                    <div class="thumbnails">
                                        <div class="span3 inline">
                                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="50" height="50" alt="image user, vish">
                                            </a>
                                        </div>
                                        <div class="span9 inline-block">
                                            <a class="size15" href="#">Nestor Toribio Mr foo
                                            </a>
                                            <p class="size15"> Wix.com provides an easy-to-use online platform where you can create and publish...
                                            </p>

                                        </div>      
                                    </div>    
                                </div>
                            </div>      
                        </div>
                        <div class="span12 margin-wall-txt"> 
                            <div class="span3"></div>
                            <div class="span6 ellipsis w450px">4&nbsp;days ago&nbsp;&nbsp;&nbsp;&nbsp;<a class="red-2" herf="#">Coment</a>
                            </div>
                            <div class="pull-right">
                                <h3><span  class="green inline">19</span><img src="images/star-MENU-active.png" width="12" height="12">&nbsp;&nbsp;<span class="green inline-block">2<img src="images/icon-message.png" width="16" height="12"></a></span>
                                </h5>   
                            </div>
                        </div>
                     </div>
                </div>
            </div> 
        </div>
    </article>
    <article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <div class="size18">
                                <a href="#">Nestor Toribio Mr foo</a>
                                <div class="span9 margin-wall-txt">           
                                    <div class="inline-block">
                                        <a class="size15" href="#">Nestor Toribio Mr foo
                                        </a>
                                        <p class="size15"> Wix.com provides an easy-to-use online platform where you can create and publish...
                                        </p>
                                    </div>      
                                </div>    
                            </div>      
                        </div>
                        <div class="span12 margin-wall-txt"> 
                            <div class="span3"></div>
                            <div class="span6 ellipsis w450px">4&nbsp;days ago&nbsp;&nbsp;&nbsp;&nbsp;<a class="red-2" herf="#">Coment</a>
                            </div>
                            <div class="pull-right">
                                <h3><span  class="green inline">19</span><img src="images/star-MENU-active.png" width="12" height="12">&nbsp;&nbsp;<span class="green inline-block">2<img src="images/icon-message.png" width="16" height="12"></a></span>
                                </h5>   
                            </div>
                        </div>
                     </div>
                </div>
            </div> 
        </div>
    </article>
    <article class="article">
        <div class="row-fluid">
            <div class="span11">
                <div class="boxy_white">
                    <div class="thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <div class="span11 size18">
                                <a href="#">Nestor Toribio Mr foo</a>
                            </div>
                            <img class= "inline-block pull-rigth" src="images/icon-message.png" width="16" height="12">
                                <div class="span12 margin-wall-txt">           
                                    <div class="span7 inline">
                                      <h3>Followers:&nbsp;&nbsp;<span class="green">9</span></h3>
                                      <h3>Followers:&nbsp;&nbsp;<span class="green">9</span></h3>
                                    </div>
                                    <div class="span4 inline-block pull-right send_messag size10 red-2 upfoll users_btn_follow">
                                      <div class="btn-follow-wall2 follow-link-contact_346">
                                        <div class="follow-button"><a class="size15" rel="nofollow" data-remote="true" data-method="put" href="/followers/346">Follow</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>    
                            </div>      
                        </div>
                     </div>
                </div>
            </div> 
        </div>
    </article>
    <article class="article">
        <div class="row-fluid">
            <div class="span11 boxy_white">
                <div class="span">
                    <div class="span3 inline">Recipients</div>
                    <div class="span1 inline-block"></div>
                    <div class="span8 inline-block"><a href="#">Erika M.Anderson</a></div>
                </div>
                <div class="span border-bottom"></div>
                <div class="span">
                    <div class="span3 inline">Subjet</div>
                    <div class="span1 inline-block"></div>
                    <div class="span8 inline-block"><a href="#">New resorce</a></div>
                </div>
                <div class="span border-bottom"></div>
                <div class="span">Body
                </div>
                <div class="span boxy_white blue-cake">Wix.com provides an easy-to-use online platform where you can create and publish your own website. Enjoy powerful drag & drop editing tools & customizable website designs.
                </div>
            </div>
                
            <div class="span11">                 
                <div class="span inline-block pull-right send_messag size10 red-2 upfoll users_btn_follow">
                     <div class="btn-follow-walll follow-link-contact_346">
                          <div class="follow-button"><a class="size20" rel="nofollow" data-remote="true" data-method="put" href="/followers/346">send message</a>
                          </div>
                     </div>    
                </div>      
            </div>
         </div>          
    </article>
    <article class="article">
        <div class="row-fluid">
            <div class="notebook span11">
                <div class="notebook-cabecera span12">   
                </div>
                <div class="notebook-medio span12"> 
                    <div class="margin_profile thumbnails">
                        <div class="span3 inline">
                            <a href="/excursions/53"><img src="images/logos/contact/excursion-79.png" width="68" height="68" alt="image user, vish">
                            </a>
                        </div>
                        <div class="span9 inline-block">
                            <div class="caption">
                                <h2 class="span9 ellipsis w550px">
                                    <a href="/excursions/53">music time
                                    </a>
                                </h2> 
                            </div>
                            <div class="span">  
                                <h3 class="span9 blue-opacity ellipsis w150px">by <a class="user-modal-button-crispin" href="#user-modal-crispin" data-toggle="modal">crispin</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="span11 article">
                        <h3 class="article">Descripción</h3>
                        <p class="article">Wix.com provides an easy-to-use online platform where you can create and publish your own website. Enjoy powerful drag & drop editing tools & customizable website designs.
                        </p>
                    </div>
                    <div class="span11 article">
                        <h3 class="article">Tags</h3>
                        <h4 class="span8 blue-opacity article ellipsis w400px">
                            <a href="#">natural science</a>,
                            <a href="#">flora</a>,
                            <a href="#">bugs</a>
                        </h4>
                    </div>
                    <div class="span11 article">
                        <h3 class="article">Recomended age</h3>
                        <p class="article">From 4 to 30 years
                        </p>
                    </div>
                    <div class="span11 article">
                    <h3 class="article">Created at</h3>
                    <p class="article">05 July 2012 at 15:30
                    </p>
                    </div>
                </div>             
                <div class="notebook-pie span12">
                </div>
            </div>
            <div class="span11">                 
                <div class="span send_messag size10 red-2">
                   
                        <div class="follow-button"><a class="size20" rel="nofollow" data-remote="true" data-method="put" href="/followers/346">send message</a>
                        </div>
                     
                </div>      
            </div>
        </div>          
    </article>
</section>



<footer class="footer row-fluid span12">
    <div class="menu pagination-right">
        <p class="rightinline">
          <a class="size16"href="#">View all</a>
        </p>
    </div>
</footer>



<!-------------- intro ballena -->
<!-------------- header -->


<div class= "container backgindex">
   


<header id= "wall">
    <article class="row-fluid article">
        <div class="span12">
            <div class="space_top "></div>
            <div class="welcome span dsigneslight size50 white">Welcome</div>
            <div class="span12">
                <div class="space_double-center clear "></div>
                <img class="span11 margin-top-double space_bottom article vish-white" src="images/VISH_white.png">
            </div>
            <div class="space"></div>
            <form class="span12 margin-bottom navbar-search" action="">
                    <input type="text" class="span11 search-query" placeholder="Search">
                </form>

    </article>     
</heaeder>

</div>


<!-------------- zona searcher -->


<div class= "container backgindex-center">

<section id= "wall">
	<article class="row-fluid article">
        <div class="span11">
            <div class="span12">
                

            </div>
            <div class="span11 dsigneslight gray">
                <div class="span12 pagination-right size30">nanotecnology</div>
                <div class="span12 size30">grid compute</div>
                 <div class="span12">
                    <div class="span3"></div>
                    <div class="span9 size50">excursions</div>
                </div>
                <div class="span12 size40">users</div>
                <div class="span12 pagination-right size20">life sciences</div>
                <div class="span12">
                    <div class="span3"></div>
                    <div class="span9 size30">biotechnology</div>
                </div>
            </div>
            <div class="space-center"></div>
            
        </div>    
	</article>
</section>
</div>
<div class= "container backgindex-bottom">


<footer id="wall">
    <article class="row-fluid article">
<div class="span11">
    <div class="space"></div>
                <div class="span4 send_messag size10 red-2 upfoll users_btn_follow">
                    <div class="follow-link-contact_346">
                        <div class="follow-button">
                            <a class="size15" rel="nofollow" data-remote="true" data-method="put" href="/followers/346">sign up</a>
                        </div>
                    </div>
                </div>
                <div class="span4 size10 ">
                    <div class="button">
                        <div class="btn explore-button">
                            <a class="size15" href="#">explore</a>
                        </div>
                    </div>
                </div>
                <div class="span4 send_messag size10 red-2 upfoll users_btn_follow">
                    <div class="follow-link-contact_346">
                        <div class="follow-button">
                            <a class="size15" rel="nofollow" data-remote="true" data-method="put" href="/followers/346">log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
            </footer>
             </div>






<!-------------- log in -->
<!-------------- header -->


<div class= "container-logs">
<header id= "wall">
    <article class="row-fluid article">
         <div class="space-double-center"></div>
        <div class="span12 pagination-centered">
            <div class"logo"><img class="article" src="images/logo.png" w="100px" h="100px"></div>
            <div id="tags" class=" article name size30">Virtual Science Hub</div>
        </div> 
    </article>     
</heaeder>




<!-------------- zona searcher -->




<section id= "wall">
    <article class="row-fluid article">
        <div class="span11">
            <div class="space"></div>
            <input id="username" class="span radius" type="email" value="" size="30" name="user[email]" placeholder="e mail">
            <input id="password" class="span radius" type="email" value="" size="30" name="user[password]" placeholder="password">
            <div class="follow-button size20"><a href="#">log in</a>
        

        
           
        </div> 
            <div class="span12">
                <div class="space"></div>
                <ul class="span pagination-right">
                    <li class="blue-cake"><a href"#">Forgot your password?</a></li>
                    <li class="blue-cake"><a href"#">Sing up</a></li>
                </ul>    
                <ul class="span7 pull-left">
                    <li>language</li>
                    <li class="blue-cake"><a href"#">conditions &amp; terms of use</a></li>
                    <li>virtual science hub 2012</li>
                </ul>    
            </div>
        <div class="space">
            </div>
            <div class="menu pagination-right">
        <p class="span rightinline">
          <a class="size16"href="#">help</a>
        </p>
</div>
  </article>

</section>
</div> 





<!-------------- sign up-->
<!-------------- header -->


<div class= "container-logs">
<header id= "wall">
    <article class="row-fluid article">
         <div class="space-double-center"></div>
        <div class="span11 pagination-centered">
            <div class"logo"><img class="article" src="images/VISH_frontpage.png"></div>
            <div id="tags" class=" article name size30">Virtual Science Hub</div>
        </div> 
    </article>     
</heaeder>




<!-------------- zona searcher -->




<section id= "wall">
    <article class="row-fluid article">
        <div class="span11 boxy_white">

            <div class="span margin-top">
                <div class="span4 inline">Name
                </div>
                <div class="span1 inline-block">
                </div>
                <div class="span7 inline-block">
                    <input class="input-medium" type="text" name="filter" placeholder="name">
                </div>
            </div>
            <div class="span border-bottom">
            </div>
            
            <div class="span margin-top">
                <div class="span4 inline">Email
                </div>
                <div class="span1 inline-block">
                </div>
                <div class="span7 inline-block">
                    <input class="input-medium" type="text" name="e-mail" placeholder="filter">
                </div>
            </div>
            <div class="span border-bottom">
            </div>
            
            <div class="span margin-top">
                <div class="span4 inline">Password
                </div>
                <div class="span1 inline-block">
                </div>
                <div class="span7 inline-block">
                    <input class="input-medium" type="text" name="filter" placeholder="password">
                </div>
            </div>
            <div class="span border-bottom">
            </div>
            
            <div class="span margin-top">
                <div class="span4 inline">Comfirm password
                </div>
                <div class="span1 inline-block">
                </div>
                <div class="span7 inline-block">
                    <input class="input-medium" type="text" name="filter" placeholder="confirm password">
                </div>
            </div>
            <div class="span border-bottom">
            </div>
            
            <div class="span margin-top">
                <div class="span4 inline">Areas of interest
                </div>
                <div class="span12 inline-block">
                <textarea id="textarea" class=" span12 input-xlarge inline-block" rows="3"></textarea>   
            </div> 
        </div> 
            <div class="span11">
                <ul class="span7 pull-left">
                    <li>language</li>
                    <li class="blue-cake"><a href"#">conditions &amp; terms of use</a></li>
                    <li>virtual science hub 2012</li>
                </ul>    
            </div>
        <div class="space">
            </div></div>
        <div class="span11 follow-button size20"><a href="#">send message</a>
        </div> 

  </article>

</section>
</div> 





<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/jquery.selectbox-0.1.3.js"></script>
<script src="js/jquery.custom_radio_checkbox.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/application.js"></script>
<!-- Analytics
================================================== -->
<script>
var _gauges = _gauges || [];
(function() {
var t = document.createElement('script');
t.type = 'text/javascript';
t.async = true;
t.id = 'gauges-tracker';
t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
t.src = '//secure.gaug.es/track.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(t, s);
})();
</script> 

</body>
</html>