/************* typography*******/

@font-face{
  font-family:"OpenSans";
  src: url(vish/fonts/opensans/OpenSans-Regular.ttf);
  src: url('vish/fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('vish/fonts/opensans/OpenSans-Regular.woff') format('woff'),
       url('vish/fonts/opensans/OpenSans-Regular.svg#OpenSansLightItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"OpenSansSemibold";
  src: url(vish/fonts/opensans/OpenSans-Semibold.ttf);
  src: url('vish/fonts/opensans/OpenSans-OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('vish/fonts/opensans/OpenSans-OpenSans-Semibold.woff') format('woff'),
         url('vish/fonts/opensans/OpenSans-OpenSans-Semibold.svg#OpenSansLightItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family:"OpenSansLight";
  src: url(vish/fonts/opensans/OpenSans-Light.ttf);
  src: url('vish/fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('vish/fonts/opensans/OpenSans-Light.woff') format('woff'),
       url('vish/fonts/opensans/OpenSans-Light.svg#OpenSansLightItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}
