<div id="header-tabs">

<!--filter-->

  <% filter_id ||= "follower-filter" %>
  <div class="filter-tabs">
    <input id="<%= filter_id%>" type="text" class="input-medium inline-block ontop" placeholder="filter" name="filter">
  </div>

  <!--btn add-->

  <div class="btn-gray">
     <%= link_to image_tag("icons/icon-follower.png",:class => "imgnoradio") + ("  ") + t('follow.find'), search_path(:type => "user"), :class => :action  %>
  </div>
</div>
  <% show_add = false if !defined?(show_add) %>
  <% if show_add %>


<% end %>

<%= content_for :javascript do %>
  if(!Vish.Filter.loaded) Vish.Filter.init();
<% end %>


