  <div class="recomended">
    <ul class="items">
      	<p class="info_action">Added swf</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => swf}%>
      </ul>
  </div>