<%= div_for link, :class => 'content_size' do %>
<iframe class="link_show" src="<%= link.url %>"></iframe> 

<div class="link_address">
<%= link_to raw("<i class='icon-link'></i>") + (link.url) , target: '_blank' %>

</div>


<% end %>