<%the_url = link.url.start_with?('http') ? link.url : "http://"+link.url%>

<%= div_for link, :class => 'content_size' do %>
	<iframe class="link_show" src="<%= the_url %>"></iframe> 

	<div class="link_address">
	<%= link_to raw("<i class='fa fa-link'></i>") + the_url, the_url,:target => "_blank" %>

	</div>


<% end %>