<% processedUrl = link.getProcessedUrl %>
<%= div_for link, :class => 'content_size' do %>
	<%if link.is_embed? %>
		<iframe class="link_show" src="<%= Embed.checkUrlProtocol(processedUrl,request.protocol) %>" webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true"></iframe>
	<%end%>
	<div class="link_address">
		<%= link_to raw("<i class='fa fa-link'></i>") + truncate(link.getUrlWithProtocol, length: 67), link.getUrlWithProtocol, :target => "_blank" %>
	</div>
<% end %>
