<div class="quick_search">
  <div class="photo">
    <%= link_to icon(link), link, :title => link.file_file_name %>
  </div>
  <div class="data">
    <div class="name">
      <%= link_to link.title, link %>
    </div>
    <div class="author"> 
      <%= link_to truncate_name(link.author.name, length: 25), link.author.subject %>
    </div>
  </div>
</div>