  <div class="recomended">
      <ul class="items">
      	<p class="info_action"> Added Link</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => link}%>
        
      </ul>

  </div>