<div class="corner-item">
	<div class="corner-item2">
		<div class="corner-color"></div>
		<%= link_to raw(icon(resource,false)), resource, :title => resource.title %>
	</div>
	<div class="corner-background"></div>
</div>