# Copy this file to application_config.yml
# Configure here all the variables of your ViSH instance.

development:
  domain: "localhost:3000"
  test_domain: true
  no_reply_mail: "no-reply@vishub.org"
  main_mail: "virtual.science.hub@gmail.com"
  models:
    available: ["Excursion","Resource","Category","Event","Workshop"]
    resources: ["Document","Webapp","Scormfile","Link","Embed", "Writing"]
    home: ["Excursion"]
    catalogue: ["Excursion"]
  services: ["ARS","Catalogue","ASearch"]
  languages: ["en", "es", "de", "nl", "hu", "fr"]
  register_policy: "REGISTER_ONLY"   #this can be 'REGISTER_ONLY', 'INVITATION_ONLY' or 'HYBRID'
  advanced_search:
    instances: ["http://vishub.org"]
  tagsSettings:
    maxLength: 40
    maxTags: 8
    triggerKeys: ['enter', 'comma', 'tab']
    

production:
  domain: "vishub.org"
  test_domain: false
  code_domain: "vishubcode.global.dit.upm.es"
  code_path: "/home/isabel/vish-shared/documents/code"
  no_reply_mail: "no-reply@vishub.org"
  main_mail: "virtual.science.hub@gmail.com"
  models:
    available: ["Excursion","Resource","Category","Event","Workshop"]
    resources: ["Document","Webapp","Scormfile","Link","Embed", "Writing"]
    home: ["Excursion"]
    catalogue: ["Excursion"]
  services: ["ARS","Catalogue","Competitions2013","ASearch","MediaConversion"]
  languages: ["en", "es", "de", "nl", "hu", "fr"]
  register_policy: "REGISTER_ONLY"
  advanced_search:
    instances: ["http://vishub.org"]
  tagsSettings:
    maxLength: 40
    maxTags: 8
    triggerKeys: ['enter', 'comma', 'tab']
  mail:
    type: "SMTP" #this can be SMTP or SENDMAIL
    # Check http://api.rubyonrails.org/classes/ActionMailer/Base.html for details.
    #    
    #    #Settings for SMTP
    #    address: "localhost"
    #    port: 25
    #    domain: "" #specify a HELO domain
    #    authentication: "" #authentication type
    #    credentials:
    #      username: "your_username"
    #      password: "your_password"
    #    enable_starttls_auto: false
    #    openssl_verify_mode: 'none'
    #
    #    #Settings for SENDMAIL
    #    location: "/usr/sbin/sendmail"
    #    arguments: "-i -t"


#Other configuration options

# Automatically detect resources language using the service provided by http://detectlanguage.com
# languageDetectionAPIKEY: "API Key from http://detectlanguage.com to allow automatic language detection."

# Enable SoundCloud in the ViSH Editor. Get the API key from https://developers.soundcloud.com/
# soundCloudAPIKEY: "secret_key"

# LOEP configuration. Allow to evaluate the quality of the ViSH resources in a systematic way (See http://loep.global.dit.upm.es for more info).
# loep:
#   domain: "http://loep.global.dit.upm.es"
#   # domain: "http://localhost:8080"
#   api_version: "v1"
#   app_name: "ViSH"
#   auth_token: "secret_loep_token"
#   repository_name: "ViSH"

# Set a quality threshold to automatically generate reports when a resource is judged below the threshold.
# qualityThreshold:
#   create_report: "3"

# Enable tracking system to record all user actions while viewing resources.
# trackingSystemAPIKEY: "secret_key"
# trackingSystemAPIURL: "http://#{ViSH domain}/tracking_system_entries"

# Configure Selenium Webdriver (http://docs.seleniumhq.org/docs/03_webdriver.jsp)
# selenium:
#   browser: "Firefox" #Can be Firefox or Chrome
#   driver_path: "/usr/bin/chromedriver" #You optionally can provide the driver path here.
#   profile: "seleniumprofile" #Name of the profile to be used by Selenium
#   remote: "http://localhost:4444/wd/hub" #To connect remotely to a Selenium server. No remote means local.
#   remoteFolder: "/tmp/pdf" #Folder on which the remote selenium server store the pdf files.

# Uservoice (http://www.uservoice.com)
# uservoice:
#   scriptURL: "//widget.uservoice.com/uservoiceKey.js"

# Google Analytics (http://www.google.es/intl/es/analytics)
# ganalytics:
#   trackingID: "Google Analytics Tracking Identifier"

# Facebook (http://facebook.com)
# facebook:
#   appID: "facebook application identifier"

# Twitter (http://twitter.com)
# twitter:
#   enable: true

# Google Plus (http://plus.google.com/)
# gplus:
#   enable: true




