# Copy this file to application_config.yml
# Configure here all the variables of your Virtual Science Hub instance.

development:
  domain: "localhost:3000"
  test_domain: true
  no_reply_mail: "no-reply@vishub.org"
  main_mail: "virtual.science.hub@gmail.com"
  models:
    available: ["Excursion","Resource","Category","Event","Workshop"]
    resources: ["Document","Webapp","Scormfile","Link","Embed", "Writing"]
    home: ["Excursion"]
    catalogue: ["Excursion"]
  services: ["ARS","Catalogue","Competitions2013","ASearch", "MediaConversion"]
  languages: ["en", "es", "de", "nl", "hu", "fr"]
  register_policy: "REGISTER_ONLY"   #this can be 'REGISTER_ONLY', 'INVITATION_ONLY' or 'HYBRID'
  advanced_search:
    instances: ["http://vishub.org"]

production:
  domain: "vishub.org"
  test_domain: false
  code_domain: "vishubcode.global.dit.upm.es"
  code_path: "/home/isabel/vish-shared/documents/code"
  no_reply_mail: "no-reply@vishub.org"
  main_mail: "virtual.science.hub@gmail.com"
  models:
    available: ["Excursion","Resource","Category","Event","Workshop"]
    resources: ["Document","Webapp","Scormfile","Link","Embed", "Writing"]
    home: ["Excursion"]
    catalogue: ["Excursion"]
  services: ["ARS","Catalogue","Competitions2013","ASearch"]
  languages: ["en", "es", "de", "nl", "hu", "fr"]
  register_policy: "REGISTER_ONLY"
  advanced_search:
    instances: ["http://vishub.org"]

#Other configuration options

# LOEP configuration. Allow to evaluate the quality of the ViSH resources in a systematic way (See http://loep.global.dit.upm.es for more info).
#  loep:
#    domain: "http://loep.global.dit.upm.es"
#    # domain: "http://localhost:8080"
#    api_version: "v1"
#    app_name: "ViSH"
#    auth_token: "secret_loep_token"
#    repository_name: "ViSH"

# Automatically detect resources language using the service provided by http://detectlanguage.com
# languageDetectionAPIKEY: "API Key from http://detectlanguage.com to allow automatic language detection."

# Enable tracking system to record all user actions while viewing resources.
# trackingSystemAPIKEY: "secret_key"
# trackingSystemAPIURL: "http://#{ViSH domain}/tracking_system_entries"

# Enable SoundCloud in the ViSH Editor. Get the API key from https://developers.soundcloud.com/
# soundCloudAPIKEY: "secret_key"

# Set a quality threshold to automatically generate reports when a resource is judged below the threshold.
# qualityThreshold:
#   create_report: "3"