<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="GING">
    <meta name="description" content="E-learning authoring tool built with React & Redux.">
    <meta property="og:description" content="E-learning authoring tool built with React & Redux.">
    <meta property="og:title" content="Ediphy">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>EDiphy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({showProcessingMessages: false,
                           showMathMenu: false,
                           messageStyle: "none" });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML&messageStyle=none&showProcessingMessages=false"></script>
    <!-- SCORM Dependencies -->
    <% if (Ediphy.Config.publish_button ) {
        if( reason === "html"){%>

        <% } else if (reason === "scorm"){%>
        <script type="text/javascript" src="./lib/config_lms.js"></script>
        <script type="text/javascript" src="./lib/Local_API_1484_11.js"></script>
        <script type="text/javascript" src="./lib/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./lib/SCORM_Player.js"></script>
        <script type="text/javascript" src="./lib/scorm_iframe_api.js"></script>
        <% } else if (reason === "preview"){%>

    <% }} else {
    if( reason === "html"){ %>

    <% } else if (reason === "scorm"){%>
        <script type="text/javascript" src="./lib/config_lms.js"></script>
        <script type="text/javascript" src="./lib/Local_API_1484_11.js"></script>
        <script type="text/javascript" src="./lib/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./lib/SCORM_Player.js"></script>
        <script type="text/javascript" src="./../scorm_iframe_api.js"></script>
    <% } else if (reason === "preview"){%>

    <%}}%>


    <!-- SCORM Dependencies -->
    <script type="text/javascript">
        var State = <%- JSON.stringify(state) %>;

        function getPlugin(element){
            return element;
        };
    </script>
</head>
<body style="margin: 0px; height: 100%">
    <div id="root">
    </div>
    <script src="<%= visor_bundle_path %>"></script>

</body> 
</html>


