<ul id="breadcrumb">
	<% path.each_with_index do |contributionParent,index| %>
    <%#unless index == 0%>
      <!--span>></span-->
    <%#end%>
    <li><%= link_to (truncate_name(contributionParent.title, length: 40)), polymorphic_path(contributionParent) %></li>

  <% end %>
</ul>


