<div>
  <ul>
    <% contributions.each do |contribution| %>
      <%=render :partial=> "entities/entity", :locals => { :entity => contribution, :prefix_id =>"contribution" } %>
    <% end %>
  </ul>
</div>

<script>
  $("div[bs-img]").each(function() {
    $(this).backstretch( $(this).attr("bs-img") );
  });
</script>