<div class="contributions_actions">
	<div class="contributions_content">
	  <p> Contribute </p>
	  <%= render partial: "contributions/submit_contributions", locals:  { :contribution => contribution } %>

	  <% contributionsGallery = contribution.contributions %>
	  <% unless contributionsGallery.blank? %>
	    <p> Contributions Gallery </p>
	    <%= render partial: "contributions/contributions_gallery", locals:  { :contributions => contributionsGallery } %>
	  <% end %>
	</div>
</div>