<div class="btn-group ">
  <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <%#= render :partial => 'layouts/header_dropdown_menu_sessions'%>
    <li><%=link_to( raw("<i class='icontool16-tool16_tools'></i> ") + t('settings.main'), settings_path, :id => "btn_menu_settings") %></li>
    <% if SocialStream.relation_model == :custom %>
      <li><%=link_to( raw("<i class='icontool16-tool16_close'></i> ") + t('account.privacy'), relation_customs_path )%></li>
    <% end %>
    <li><%=link_to( raw("<i class='icontool16-tool16_out_site'></i> ") + t('sign_out'), destroy_user_session_path, :method => :delete) %></li>
  </ul>
</div>




