<div class="btn-group dropdonw  inline-block">
  <a href="#" data-toggle="dropdown" class=""><span class="caret"></span></a>
  <ul class="dropdown-menu size12">
    <li>
      <%= link_to(raw("<i class='iconnav-followers'></i> ")+ t('excursion.network')) %>
    </li>
    <li>
      <%= link_to(raw("<i class='iconnav-my'></i> ")+ t('excursion.my')) %>
    </li>
    <li>
      <%= link_to(raw("<i class='iconnav-star'></i> ")+ t('excursion.favorites')) %>
    </li>
  </ul>
</div>




