<% flash.each do |name, msg| %>
	<% case name %>
	<% when :notice %>
  		<div class="<%= name %> alert alert-success pagination-right alert-margin ">
  	<% when :alert %>
  		<div class="<%= name %> alert alert-error pagination-right alert-margin ">
 	<% else :info %>
  		<div class="<%= name %> alert alert-info pagination-right alert-margin ">
 	<% end %>
 	<div class="flash_close">x</div>
    <%= msg %>
  </div>
<% end %>