<article>
  <img class="img-frontpage" src="/assets/corporative/vish.png">
  <div class="level5 name-frontpage"><%=t('site.name')%></div>
  <form class="search-mobile" action="<%=search_path%>" method="get">
    <%= render :partial => 'layouts/search', :locals => {:sizeFieldSearch => ""} %>
	</form>
</article>
