<article class=" container-frontpage row-fluid ">
  <div class="span12 pagination-centered ">
    <div class="logo">
      <a href="/">
        <img class="objet_center" src="/assets/corporative/logo.png">
      </a>
    </div>
    <div class="DsignesLight size-responsive gray name">Virtual Science Hub</div>
  </div>
</article>