<!--recomended-->
<div class="recomended" id="recomended_box">
  <div class="recomended-items">
    <ul class="small-box clearfix">
      <% resources.each do |resource| %>
        <% if resource.class == Excursion %>
          <%= render :partial => 'excursions/excursion', :locals => { :excursion => resource } %>
        <% else %>
          <%= render :partial => 'repositories/resource', :locals => { :resource => resource } %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $("#recomended_box div[bs-img]").each(function() {       
        $(this).backstretch( $(this).attr("bs-img") );      
    });
  });
</script>