<!--recomended-->
<aside class="recomended" id="recomended_box">
  <div class="recomended-items">
    <ul class="items small-box clearfix">
      <% resources.each do |resource| %>
        <%= render :partial => 'entities/entity', :locals => { :entity => resource, :prefix_id => "recommended_sidebar"} %>
      <% end %>
    </ul>
  </div>
</aside>


<script type="text/javascript">
  $(document).ready(function(){
    $("#recomended_box div[bs-img]").each(function(){
        $(this).backstretch($(this).attr("bs-img"));    
    });
  });
</script>