<!--recomended-->
<div class="recomended" id="recomended_box">
  <div class="recomended-items">
    <ul class="small-box clearfix">
      <% resources.each do |resource| %>
        <%= render :partial => 'entities/entity', :locals => { :entity => resource, :prefix_id => "recommended_sidebar", :rec => (defined?(rec) ? rec : false)} %>
      <% end %>
    </ul>
  </div>
</div>
