<div class="modal" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
  <div class="modal-footer">
    <p class="window">Ey.. Would you like delete this resource?</p>
    <div class="modal-footer">
      <a class="btn_text" href="#">Yes, I´m sure</a>
      <a class="btn_text" href="#">No, thank you</a>
    </div>
  </div>
</div>