//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px)

  #head_front
    margin-top: -50px
    .vish_logo_center
      width: 300px
      margin-left: -150px
      bottom: -122px
      p
        font-size: 14px
        line-height: 18px

    .ilustration
      margin-top: 50px
      width: 100%
      &:before
        padding-top: 38%
      .vish_ilustration
        .tree
          width: 38%
          margin-left: -19%




  #frontpage
    #presentation 
      .front_info 
        .text_2_info
          margin-top: 80px  !important
        .text_1_info,
        .text_3_info
          margin-top: -40px !important


  .navbar-fixed-top
    position: fixed


// Responsive: counts
@media (max-width: 800px)
  #frontpage
    #info-vish
      .all-items-count,
      .advertising
        margin: 20px 0
        display: block
        width: 100%
        float: left