//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)


  #frontpage
    @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    
  .navbar-fixed-top 
    margin-bottom: 0px

  .container_carousel
    margin-bottom: 20px
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-top: 0
    .characteristics
      .carousel
        max-height: 367px
        //height: 100%
        overflow: hidden
        float: left
        display: block
        position: relative
        margin-bottom: 0
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .carousel-inner
          .img_carousel
            img
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .description
            position: absolute
            right: 5%
            top: 5%
            left: 5%
            z-index: 2
            width: auto
            background: rgba( 0, 0, 0, 0.5)
            @include border-radius($baseBorderRadius)
            padding: 10px
            h1
              color: $white !important
              font-family: $secondFontFamily
              font-size: 25px
            p
              margin-bottom: 5px
              line-height: 20px
              color: $white 
            .redes
              margin-bottom: 30px
     



  .tags-suggestions
    @include hidden-phone

  #forgot-pass
    width: 100%

  .navbar-fixed-top 
    margin-bottom: 0px

  .carrusel
    margin-left: -20px
    margin-right: -20px
    width: 106% !important


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)
  body.carousel


  .container_carousel
    margin-bottom: 20px
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-top: 0
    .characteristics
      .carousel
        max-height: 367px
        //height: 100%
        overflow: hidden
        float: left
        display: block
        position: relative
        margin-bottom: 0
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .carousel-inner
          .img_carousel
            img
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          .description
            position: absolute
            right: 5%
            top: 5%
            left: 5%
            z-index: 2
            width: auto
            background: rgba( 0, 0, 0, 0.5)
            @include border-radius($baseBorderRadius)
            padding: 10px
            h1
              color: $white !important
              font-family: $secondFontFamily
              font-size: 25px
            p
              margin-bottom: 5px
              line-height: 20px
              color: $white 
            .redes
              margin-bottom: 30px
     
          
  #registration,
  #new_session
    width: 100%
    margin: 0
    .registration,
    #sign_in
      width: 100%
      margin: 0
      h3
        width: 100%
        margin: 0
      form#new_user
        width: 95% !important
        input
          &[type="text"],
          &[type="email"],
          &[type="password"]
            width: 96% !important
  
  #registration
    form#new_user
      min-height: 482px !important
      select
        width: 70%

  #new_session
    #sign_in
      form#new_user
        min-height: 186px !important


  .forgot
    width: 90%
    margin: 0 5%
    header
      h2
        width: 90%
        margin: 0
        float: none
      form
        width: auto
        padding: 0
    section.password
      @include centered
      width: 97%
      input
        &[type="text"]
          width: 70%
      input
        &[type="submit"]
          float: right
          margin: 10px 4px 0 0




