//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)


  #frontpage
    @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    
    .characteristics
      @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      
      .inspiration
        @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: none
        img
          width: 60%
          margin: 0 20%
      
      .description
        @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: none
        h1,
        p
          width: 56%
          margin-left: 4%
          float: left
        hr
          @include hidden-phone
        .redes
          width: 38%
          margin-top: -49px
          margin-left: 6%
          max-width: 136px
          a
            display: block
            margin: 10px 10px 10px 0px
            &:first:child
              margin-top: 0
        .email
          width: 24%
          margin-left: 6%
  
  #registration,
  #new_session
    .registration,
    #sign_in
      width: 100%
      margin: 0


  .tags-suggestions
    @include hidden-phone

  #forgot-pass
    width: 100%


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)

  #frontpage
    .characteristics
      .inspiration
        img
          width: 90%
          margin: 0 5%
      .description
        h1,
        p
          width: 90%
          margin-left: 5%
          float: none
        hr
          @include hidden-phone
        .redes
          width: 55%
          margin-top: 0
          margin-left: 4%
          a
            display: block
            margin: 10px 10px 10px 0px
            &:first:child
              margin-top: 0
        .email
          width: 36%
          margin-left: 4%
          padding-top: 8px

  #registration,
  #new_session
    width: 100%
    margin: 0
    .registration,
    #sign_in
      width: 100%
      margin: 0
      h3
        width: 100%
        margin: 0
      form#new_user
        width: 95% !important
        input
          &[type="text"],
          &[type="email"],
          &[type="password"]
            width: 96% !important
  
  #registration
    form#new_user
      min-height: 482px !important
      select
        width: 70%

  #new_session
    #sign_in
      form#new_user
        min-height: 186px !important


  .forgot
    width: 90%
    margin: 0 5%
    header
      h2
        width: 90%
        margin: 0
        float: none
      form
        width: auto
        padding: 0
    section.password
      @include centered
      width: 97%
      input
        &[type="text"]
          width: 70%
      input
        &[type="submit"]
          float: right
          margin: 10px 4px 0 0


