<section id="contest">
  <div class="tabexcursions">
    <h3>Todas las excursiones de #ViSHCompetition2013</h3>
    <div class="filter">
      Filtro:
      <select id="tags_selector" name="tags">
        <option value="All">Todas</option>
        <option value="Maths">Matemáticas</option>
        <option value="Physics">Física</option>
        <option value="Chemistry">Química</option>
        <option value="Biology">Biología</option>
        <option value="Geography">Geografía</option>
        <option value="EnvironmentalStudies">Estudios Ambientales</option>
        <option value="Engineering">Ingeniería</option>
        <option value="Humanities">Humanidades</option>
        <option value="NaturalScience">Ciencias Naturales</option>
        <option value="ComputerScience">Informática</option>
      </select>
    </div>
  </div>
  <div class="entities contest_excursions">
    <ul class="items">
      <% entities_tagged_with(["Excursion"],"ViSHCompetition2013").each do |excursion| %>
        <div class="contest_excursion_tags" style="display:none !important">
          <% excursion.tags.each do |tag| %>
            <p class="contest_excursion_tag"><%=tag.name.downcase%></p>
          <% end %>
        </div>
        <%= render :partial => 'entities/entity', :locals => { :entity => excursion, :prefix_id => "contest" } %>
      <% end %>
    </ul>
  </div>
</section>

<%content_for :javascript do%>
    $("#tags_selector").change(function(){
      if(this.value=="All"){
        $(".excursion-item").show();
      } else {
        $(".excursion-item").hide();
        $(".contest_excursion_tag:contains("+this.value.toLowerCase()+")").parents(".contest_excursion_tags").next(".excursion-item").show();
      }
    });
<% end %>