.select2-container
  ul.select2-choices
    li.bit-box
      background: none repeat scroll $zero $zero rgba(0, 232, 232, 0.1)
      font-size: 12px
      margin: 3px
      padding: 4px 15px 4px 6px
      .closebutton
        margin-top: -4px
        font-size: 10px
        color: $gray-light
        &:hover
          color: $gray

    .deleted
      background-color: rgb(249,255,255) !important
      color: $gray-lighter !important

    .maininput
      font-size: 12px
      font-family: $font-family-sans-serif
    .select2-search-choice
      padding: 7px 9px 6px 18px
      background-color: inactivecaption
      margin: 7px 3px


.select2-dropdown-open
  .facebook-auto
    margin-top: -10px
    .default
      font-family: $font-family-sans-serif
      font-size: 12px
    ul
      width: auto !important
      li
        width: auto
        margin-bottom: 1px
        background: none repeat scroll $zero $zero $white
        color: $gray-light
        border: solid 1px $border-color
        font-family: $font-family-sans-serif
        font-size: 12px
        &:hover
          @include box-shadow ($zero $zero 4px rgba(0, 0, 0, 0.4))
          color: $gray
          background: none repeat scroll $zero $zero rgb(239,255,255)
          border: solid 1px rgb(239,255,255)
  .send
    float: right
    margin: 10px 61px $zero $zero

.select2-results
  border-radius: 5px
  margin: 0 !important
  padding: 0
  margin: 5px 0 3px 0
  @include box-shadow ($zero $zero $zero rgba(0, 0, 0, 0))
  .select2-result-selectable
    background: $white
    color: $gray-darker-extra
    .select2-result-label
      padding: 5px !important
      img
        border-radius: $border-radius-base !important
        margin-right: 5px !important
  .select2-highlighted
    background: $gray-lighter
.select2-drop
  border-radius: $border-radius-base !important
  li:hover
    background-color: $gray-lighter
.select2-drop-active
  border: 1px solid $border-color


.select2-container
  width: 100%
  border: none
  @include box-shadow ($zero $zero $zero rgba(0, 0, 0, 0))
  margin-bottom: 10px
  .select2-choice
    border: 1px solid $border-color
    background-image: none
    height: 33px
    padding: 2px 8px 4px

.select2-choices
  padding: $zero !important
  margin: $zero !important
  border: none !important
  background: rgba(0, 0, 0, 0)
  background-image: none !important
  box-shadow: none !important

.select2-search-field
  width: 100%
  border-radius: $zero

.select2-input
  border: none
  @include box-shadow ($zero $zero $zero rgba(0, 0, 0, 0))
  padding: $zero
  margin: $zero
  @include border-top-radius ($zero)
  @include border-bottom-radius ($zero)

.select2-container-active .select2-choice
  border: 1px solid $border-color

.select2-drop.select2-drop-above.select2-drop-active
  border-top: 1px solid $border-color

.select2-dropdown-open.select2-drop-above
  .select2-choice,
  .select2-choices
    border: 1px solid $border-color !important
.select2-dropdown-open
  .select2-choice
    background-image: none
.select2-search
  margin: 6px 0 -3px
  @include border-top-radius ($border-radius-base)
  @include border-bottom-radius ($border-radius-base)
  display: none
