
<div class="blocks_columns">


	<div class="block_img">
		<img class="" src="assets/logo/logo_vish.png"/>
		<img class="" src="assets/logo/escudo_upm_blanco_fondo.png"/>
	</div>

	<div class="block_content_text">
		<div class="background">
			<div class="block_text">
				<h1 class="title">Acuerdo ViSH-UPM</h1>
				<div class="text">
					<p>La plataforma ViSH (<a href ="http://vishub.org">http://vishub.org</a>) es un servicio institucional de la UPM (Universidad Politécnica de Madrid - <a href ="http://upm.es">http://upm.es</a>) ofrecido de forma libre y gratuita a toda la comunidad educativa a raíz de un acuerdo oficial de cooperación entre el grupo de investigación GING (Grupo Internet de Nueva Generación) de la Escuela Técnica Superior de Ingenieros de Telecomunicación de la UPM y el Vicerrectorado de Servicios Tecnológicos de la UPM a través del Gabinete de Tele-Educación (GATE).</p>
					<p>La plataforma ViSH se ofrece de forma libre y gratuita a toda la comunidad educativa. Sus servidores están alojados en el <strong>CeSViMa</strong> (<strong>Ce</strong>ntro de <strong>S</strong>upercomputación y <strong>Vi</strong>sualización de <strong>Ma</strong>drid). El GING se encarga del mantenimiento y administración de la plataforma. Para cualquier duda, sugerencia o consulta pueden contactar con nosotros en la siguiente dirección: <a href="mailto:virtual.science.hub@gmail.com">virtual.science.hub@gmail.com</a>.</p>
					<p>Un saludo y bienvenidos a la plataforma ViSH.</p>
				</div>
			</div>
		</div>
	</div>




</div><!-- BLOCKS END -->