<% if user_signed_in? and (sgs = current_subject.excursion_suggestions(2)).present? %>
  <h3 class="suggestion-title">
    <%= t('excursion.suggestion.other') %>
  </h3>


    <div class="content" > <!-- columna derecha-->
      <div class="users_btn_follow-sugestion">
        <%= render :partial => "excursions/suggestion", :collection => sgs, :locals => { :close_button => true } %>
      </div>
    </div>
    <div class="view-all">
      <%=link_to( t('view_all'), search_path(:type => "excursion") , :class => "btn-view-all") %>
    </div>

<% end %>



