.results
  li
    animation: animationFrames ease 0s 
    animation-iteration-count: 3

    animation-fill-mode:forwards  /*when the spec is finished*/
    -webkit-animation: animationFrames ease 0s 
    -webkit-animation-iteration-count: 3 

    -webkit-animation-fill-mode:forwards  /*Chrome 16+, Safari 4+*/ 
    -moz-animation: animationFrames ease 0s 
    -moz-animation-iteration-count: 3 

    -moz-animation-fill-mode:forwards  /*FF 5+*/
    -o-animation: animationFrames ease 0s 
    -o-animation-iteration-count: 3 

    -o-animation-fill-mode:forwards  /*Not implemented yet*/
    -ms-animation: animationFrames ease 0s 
    -ms-animation-iteration-count: 3 

    -ms-animation-fill-mode:forwards  /*IE 10+*/


@keyframes animationFrames
  0% 
    left: 0px 
    top: -25px 
    opacity: 0 
    transform: rotate(0deg) scaleX(1) scaleY(1)  
  
  100% 
    left: 0px 
    top: 0px 
    opacity: 1 
    transform: rotate(0deg) scaleX(1) scaleY(1)  
  


@-moz-keyframes animationFrames
  0% 
    left: 0px 
    top: -25px 
    opacity: 0 
    -moz-transform: rotate(0deg) scaleX(1) scaleY(1)  
  
  100% 
    left: 0px 
    top: 0px 
    opacity: 1 
    -moz-transform: rotate(0deg) scaleX(1) scaleY(1)  
  


@-webkit-keyframes animationFrames 
  0% 
    left: 0px 
    top: -25px 
    opacity: 0 
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1)  
  
  100% 
    left: 0px 
    top: 0px 
    opacity: 1 
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1)  
  


@-o-keyframes animationFrames 
  0% 
    left: 0px 
    top: -25px 
    opacity: 0 
    -o-transform: rotate(0deg) scaleX(1) scaleY(1)  
  
  100% 
    left: 0px 
    top: 0px 
    opacity: 1 
    -o-transform: rotate(0deg) scaleX(1) scaleY(1)  
  


@-ms-keyframes animationFrames 
  0% 
    left: 0px 
    top: -25px 
    opacity: 0 
    -ms-transform: rotate(0deg) scaleX(1) scaleY(1)  
  
  100% 
    left: 0px 
    top: 0px 
    opacity: 1 
    -ms-transform: rotate(0deg) scaleX(1) scaleY(1)  
  
