.box-search
  display: block
  position: relative
  float: left
  margin-top: 5px
  margin-left: 10px
  .search-nav
    .navbar-search 
      float: none
      margin-bottom: 0
      margin-top: 0
      position: relative
      .search-query
        @include border-radius (5px)

    .mat
      z-index: 1
      position: absolute
      margin-left: 8px
      margin-top: 35px
      width: 300px
      @include border-bottom-radius (5px)
      .query_too_short
        display: block
        @include border-left-radius (5px)
        color: $white
        background-color: $secondColor
        margin-top: -28px
        margin-left: 81px
        padding: 3px
        text-align: center
        opacity: 0.6
      .no_results
        display: block
        @include border-left-radius (5px)
        color: $white
        background-color: $firstColor
        margin-top: -28px
        margin-left: 157px
        padding: 3px
        text-align: center
        opacity: 0.6
      .results
        background: rgba( 0, 0, 0, 0.75)
        ul
          margin: 0
          li
            list-style: none
            height: 68px
            .contact,
            .quick_search

              margin-top: 10px
              float: left
              margin-bottom: 10px
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
              &:hover
                background: rgba(255, 255, 255, 0.1)
              .avatar,
              .photo
                margin-left: 20px
                @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
                display: block
                float: left
                padding: 0
                img
                  border: 1px solid $white
              .photo
                img
                  width: 60px
                  height: 45px
                  @include border-radius (5px)
              .data
                @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
                display: block
                float: left
                text-align: left
                .name
                  @include ellipsis
                  a
                    text-decoration: none
                    color: $white
                    font-family: $secondFontFamily
                .info,
                .author
                  a
                    color: $grayLighter

          .more
            display: block
            clear: both
            text-align: center
            background: rgba(255, 255, 255, 0.2)
            width: 100%
            height: 20px
            a
              color: $white
              font-family: $secondFontFamily
              text-decoration: none
            &:hover
              background: rgba(255, 255, 255, 0.4)

        
#search
  margin-top: 5px
  padding-left: 10px
.sb-search
  min-width: 40px
  min-height: 40px
  float: left
  overflow: hidden
  -webkit-transition: width 1s
  -moz-transition: width 1s
  transition: width 1s
  -webkit-backface-visibility: hidden
  .mat
    display: none

.sb-search-input 
  position: absolute
  top: 0
  right: 0
  border: none
  outline: none
  background: #fff
  width: 90%
  height: 60px
  margin: 0
  z-index: 10
  padding: 20px 65px 20px 20px
  font-family: inherit
  font-size: 20px
  color: #2c3e50
  margin-top: -5px
  @include border-radius (5px)

.sb-icon-search,
.sb-search-submit  
  width: 40px
  height: 40px
  display: block
  position: absolute
  right: 0
  top: 0
  padding: 0
  margin: 0
  line-height: 36px
  text-align: center
  cursor: pointer

.sb-search-submit 
  background: #fff /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" /* IE 8 */
  filter: alpha(opacity=0) /* IE 5-7 */
  opacity: 0
  color: transparent
  border: none
  outline: none
  z-index: -1


.sb-icon-search 
  color: $secondColor
  background: #fff
  z-index: 90
  font-size: 26px
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  -webkit-font-smoothing: antialiased
  @include border-radius (5px)



// Open state

.sb-search.sb-search-open, .no-js .sb-search
  width: 300px

.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search
  background: #e90055
  color: #fff
  z-index: 11

.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit
  z-index: 90

.sb-search-open
  .mat
    display: block !important


  //placeholder
.sb-search-input
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
    color: #555