header
  .navbar-search
    position: inherit
  .search-nav
    input.search-query 
      @include border-radius (5px)
      height: 25px
      margin-top: 3px
    button
      display: inline-block
      background: $white
      border: none


      i
        color: #C8C8C8
        display: block
        float: left
        font-size: 20px
        padding: 9px
        text-decoration: none
    button:hover
      i
        color: $firstColor
        text-decoration: none
        border-color: $firstColor
    form
      display: inline-block
      float: left
    .mat
      z-index: 10
      position: absolute
      margin-top: 48px
      width: 250px
      @include border-bottom-radius (5px)

      .query_too_short
        @include border-bottom-radius (5px)
        color: $white
        width: 92%
        background-color: $gray
        text-align: center
        padding: 3px
        margin-top: 2px
        -webkit-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.75)
        -moz-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.75)
        box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.75)
      .no_results
        display: block
        @include border-bottom-radius (5px)
        color: $white
        background-color: $firstColor
        width: 92%
        text-align: center
        padding: 3px
        margin-top: 2px
        -webkit-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.3)
        -moz-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.3)
        box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.3)

      .results
        background: rgba(255, 255, 255, 0.98)
        width: 95%

        ul
          margin: 0
          @include box-shadow (0 1px 3px rgba(20, 20, 20, 0.4))
          @include border-bottom-radius ($inputBorderRadius)
          li
            list-style: none
            height: 57px
            padding-left: 7px
            padding-right: 7px
            border-bottom: 1px solid #F0F0F0
            &:first-child
              margin-top: 2px
            &:last-child
              border: none
            &:hover
              background: #E9E9E9
              .author
                a
                  color: #888 !important
            .picture,
            .document,
            .contact,
            .video,
            .quick_search

              margin-top: 5px
              float: left
              margin-bottom: 5px
              @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)

              .avatar,
              .photo,
              .video,
              .thumb
                @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
                display: block
                float: left
                padding: 0
                text-align: center
                img
                  border: 1px solid $white
                a
                  
                  font-size: 45px
                  i
                    padding-top: 10px
                    &:hover
                      text-decoration: none

              .photo,
              .video,
              .thumb
                img
                  @include size (45px, 45px)
                  @include border-radius (5px)
              .data,
              .brifing
                @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
                display: block
                float: left
                text-align: left
                padding-left: 10px
                color: $gray
                .name,
                h5
                  @include ellipsis
                  a
                    text-decoration: none
                    color: $gray
                    font-family: $secondFontFamily
                h5
                  margin: 0
                .counters
                  display: none
                .info,
                .author
                  @include text-overflow
                  a
                    color: $grayLight

          .more
            display: block
            clear: both
            text-align: center
            height: 20px
            padding-bottom: 3px
            padding-top: 2px
            a
              color: $gray
              font-family: $secondFontFamily
              text-decoration: none
            &:hover
              background: #C7C7C7
              a
                color: $white