.headerfront
	margin-top: 15px
	@include makeColumn(6,6)


	.Sign-up
		display: inline-block
			
		input
			width: $inputFrontPage
			margin-right: 15px

	.text_link_gray
		text-align: right
		@include linkGrayVish

	.flash
		@include makeColumn(12,0)
		display: block

.agrupation-search-frontpage
	@include makeColumn(12,0)
	
	

	.logo-frontpage
		@include center-block()
		background: transparent url(corporative/VISH_frontpage.png) no-repeat center center
		width: 342px 
		height: 98px
		
	.name-frontpage
		margin-top: 10px
		letter-spacing: 3pt
		text-align: center
		color: $gray-vish
		font-family: $fistFontFamily
		font-size: 28pt

.top
	@include makeColumn(12,0)
	background-color: #000000



