.agrupation-search-frontpage
  @include makeColumn(12,0)

  .logo-frontpage
    @include center-block()
    background: transparent url(corporative/ilustration.png) no-repeat center center
    background-size: 450px
    width: 450px 
    height: 225px
    background-size: 450px auto
    background-position: -13px -93px
    margin-top: -55px
  .name-frontpage
    font-size: 31pt
    letter-spacing: 5pt
    margin-top: 10px
    text-align: center
    color: $gray-vish
    font-family: $fistFontFamily

.search-frontpage
  @include makeColumn(12,0)

#cloud_tags
  margin-top: 60px
  font-family: $fistFontFamily
  @include linkGrayVish
  font-weight: lighter

  .repositories-tags

    font-size: 5.5em
    @include makeColumn(4,8)
    text-align: left
    
  .excursion-tags
    margin-top: 10px
    @include makeColumn(6,0)
    text-align: right
    font-size: 8.5em
    
  .users-tags
    margin-top: 25px    
    @include makeColumn(3,6)
    font-size: 3.5em
    text-align: right
    
  .organization-tags
    margin-top: 25px
    @include makeColumn(3,3)
    font-size: 4.5em

#top
  height: 130px
  margin-left: auto
  margin-right: auto
  @include makeRow

.top-10
  @include rotate(-90deg)
  font-family: DsignesBold
  height: 10px
  margin: 40px 0px 0px -4px
  padding: 0px
  color: $linkgray
  float: left

.white
  background-color: #FFFFFF
  margin-top: 40px
  padding-bottom: 5px
  padding-top: 10px
  color: $white












