#left
  @include makeColumn (6,0)
  margin-left: 0px

.tabs-excursion-home
  @include makeColumn (4,0)
  margin-left: 0px

#header-tabs
  display: block
  margin-bottom: 15px
  clear: both
  height: 30px
  .filter-tabs
    float: left
  .btn-gray
    float: right

.title-tabs
  @include makeColumn (2,0)
  font-size: 36px
  float: left
  display: inline-block
  font-family: $fistFontFamily
  color: #ADADAD
  font-family: DsignesLight
  padding-top: 20px
  text-align: right
  vertical-align: bottom
  margin-left: 0px

.excursion
  @include makeColumn (3,0)

.excursion-item
  ul
    margin-left: 0px
    li
      margin-left: 0px
      .img-excursions
        background-color: #fff
        height: 79px
        widht: 79px
      .number_pages
        position: relative
        height: 20px
        width: 20px
        margin-top: -26px
        margin-left: 48px
        text-align: center
        background-color: #FFF
        border-radius: 15px
        color: #333
        font-size: 10pt
        line-height: 150%
    .info-excursion
      @include makeColumn (2,0)
      background-color: #333
      margin-left: 0px
      display: inline-block

