#api_key_settings,
#language_settings,
#cancel_account,
#notifications_settings,
#email_form,
#password_form

  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .title
    @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
    color: $blue-1
    font-size: 20px
    display: inline-block
    float: left
    font-family: $fistFontFamily

  .action
    float: right
    @include grid-fluid-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: inline-block
    float: left
#cancel_account
  .title
    color: $red-1
