#frontpage
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .characteristics
    @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-top: 100px 
    img
      float: left
    .description
      @include grid-core-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      margin-left: 2.5%
  .excursions
    @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    clear: both