#frontpage
  @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .characteristics
    @include grid-core-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin: 100px auto 0
    .inspiration
      @include grid-core-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      img
        width: 60%
        margin: 0 20%
    .description
      @include grid-core-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      margin-left: 2%
  .excursions
    @include grid-core-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    clear: both