#last_content_shown
  //@extend .alert
  float: left
  height: 50px
  width: 100% !important
  position: relative !important
  right: 0  !important
  @include border-radius($baseBorderRadius)
  background-color: $gray
  opacity: 0.7
  color: $white
  text-align: center
  margin: 20px auto
  font-size: 1.3em
  padding-top: 10px
  display: block

#loader_pagination
  float: left
  height: 100px
  width: 100%
