#last_content_shown
  @extend .alert
  float: left
  height: 100px
  width: 100% !important
  position: relative !important
  right: 0  !important
#loader_pagination
  float: left
  height: 100px
  width: 100%
