
@media (max-width: 767px)

@media (min-width: 768px) and (max-width: 1348px)
#show_excursions
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .box-show
    @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    margin-left: auto
    margin-right: auto
    float: none 
    clear: both

  .description-activity
    @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: left

  .recomended-items
    @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: right


@media (min-width: 1349px) 
#show_excursions
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .box-show
    @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: left
  .description-activity
    @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: left

  .recomended-items
    @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: right