<section class="characteristics">
  <img>
  <div class="description">
    <h2> virtual science hub </h2>
    <p>
      etijgitwejiwthji 4tihj4tiejhi42tej h42t hk24telkbfdk wlkbnlwblrwgblrwtnbdfb b kt lwkt hlkt4hklwb rtlk blkwrt jklbwrjktlblkrwt b2tlr rwtljkjr gbjlkrwtjklrwkljblkwrj blkrwj rlkjklrw jklwrklj klrw jlkrwtkl wrklt lkjwrtljkh
    </p>
    <div class="log-in">
      lo de fbk twiter
    </div>
  </div>
</article>

