<li class="box-item excursion-item">




  <div class="container-img">
      <div class="dummy"></div>
      <div class="element">
        <div class="img-box" id="excursion"><%= image_tag("frontpage/carrusel/tree.jpg", class: "") %></div>
        
      </div>
  </div>
    


<%# link_to excursion_thumb_for(excursion), excursion, :class => "img-box" %>
<!--INFO excursuion-->
  <div class="info">
    <!--Tags - not shown now, but used for filtering search results. maybe shown in next version on hover-->
    <!-- if modified to show them, careful because they are used in the filters, check that they work-->

<!--Title -->
    <div class="name">
      this is a excursion
    </div>
<!--Autor -->
    <div class="author"> 
      <span class="by"><%=t('by')%></span>
      Vish
    </div>
    <!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">        

      </div>
      <!--views -->
      <div class="views">

        <i class="icon-eye-open"></i>
        <%#=t('follow.views')%>
      </div>
    </div>

  </div>
</li>

