<ul>
  <li class="box-item excursion-item">
    <div class="container-img">
      <div class="dummy"></div>
      <div class="element">
        <div class="img-box" id="excursion"><%= image_tag("frontpage/carrusel/tree.jpg", class: "") %></div>
      </div>
    </div>
    <!--INFO excursuion-->
    <div class="info">
      <!--Title -->
      <div class="name">
        This is a excursion
      </div>
      <!--Autor -->
      <div class="author"> 
        <span class="by"><%=t('by')%></span>
        Vish
      </div>
      <!--____________________ -->
      <div class="info-bottom">
        <hr class="soften">
        <!--like -->
        <div class="like">
          <div class="count">0</div>        
          <i class="icon-star-empty "></i>
        </div>
        <!--views -->
        <div class="views">
          <i class="icon-eye-open"></i>
        </div>
      </div>
    </div>
  </li>
</ul>