
<!--carrusel -->
<section class="characteristics hidden-phone">
  <div id="desktop_carousel" class="carousel">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>  
      <div class="carousel-inner">

        <!--div class="item active">
          <div class="description-excursion">
            <h1><strong>What</strong> is a Excursion?</h1>
            <h5>Virtual visits or eExcursions are thus well designed visual compositions or mash-ups of public multimedia objects coming from the Internet, which can be viewed on a browser, but also projected in a physical or in the virtual classroom of the ViSH.</h5>
          </div>
          <div class="visual_excursion-excursion">
            <%#= render partial: 'frontpage/excursion-example' %>
          </div>
          <div class="infographics-excursion">
            <%#= image_tag("frontpage/carrusel/excursion.svg", class: "") %>
            <span class="text-1-excursion"> <strong>Inside</strong> you</br>will find</span>
            <span class="text-2-excursion"><strong>Share</strong> it with</br>your friends</span>
            <span class="text-3-excursion"><strong>Use </strong>it in</br>your classes</span>
          </div>
        </div-->

        <div class="item active">
          <div class="description-editor">
            <h2><strong>You can</strong> Create Excursions with</h2>
            <%= image_tag("frontpage/carrusel/editorlogo.svg", class: "") %>
            <h5>The ViSH provides an online vish editor for easy creation or modification of Excursions.</h5>
          </div>

          <div class="infographics-editor">
            <%= image_tag("frontpage/carrusel/editor.svg", class: "") %>
            <span class="text-1-editor"><strong>Choose</strong></br>a topic</span>
            <span class="text-2-editor"><strong>Add</strong></br>your content</span>
            <span class="text-3-editor"><strong>Import</strong></br>media instantly</span>
            <span class="text-4-editor"><strong>Search</strong></br>our repository</span>
            <span class="text-5-editor"><strong>Design</strong></br>your excursion</span>
            <span class="text-6-editor"><strong>Publish</strong></span>
          </div>
        </div>





      </div>
    </div> 
  </div>
</section>

