
<!--carrusel -->
<section class="characteristics hidden-phone">
  <div id="desktop_carousel" class="carousel">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>  
        <div class="carousel-inner">

          <div class="item active">
            <div class="img_carousel "></div>

            <div class="description">
              <h1><strong>What</strong> is a Excursion?</h1>
              <h5>Virtual visits or eExcursions are thus well designed visual compositions or mash-ups of public multimedia objects coming from the Internet, which can be viewed on a browser, but also projected in a physical or in the virtual classroom of the ViSH.</h5>
            </div>
            <div class="visual_excursion">
              <%= render partial: 'frontpage/excursion-example' %>
            </div>
            <div class="infographics">
                <%= image_tag("frontpage/carrusel/excursion.svg", class: "") %>
            </div>
            


          </div>





          <div class="item"> 
            <div class="img_carousel "></div>  
            <div class="description">


sdkofgiosdjiosdfg

            </div>
          </div>






          <div class="item">
            <div class="img_carousel "></div>
            <div class="description">



sdkofgiosdjiosdfg
            </div>
          </div>

        </div>
       </div> 
   </div>
</section>

