
<!--carrusel -->
<section class="characteristics hidden-phone">
  <div id="desktop_carousel" class="carousel">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>  
        <div class="carousel-inner">

          <div class="item active">
            <div class="img_carousel "></div>
            <div class="description">

fjdgsdjfgojsdfiog


            </div>
          </div>





          <div class="item"> 
            <div class="img_carousel "></div>  
            <div class="description">


sdkofgiosdjiosdfg

            </div>
          </div>






          <div class="item">
            <div class="img_carousel "></div>
            <div class="description">



sdkofgiosdjiosdfg
            </div>
          </div>

        </div>
       </div> 
   </div>
</section>

