<div id="head_front">
	<div class="vish_logo_center">
		<%= image_tag('frontpage/logo-03.svg',:class => "logo_center"); %>
		<hr>
		<p>The Vish is a social and collaborative site for creating knowledge resources for the realization of educational activities.</p>
	</div>
	<div class="ilustration">
		<div class="vish_ilustration">
			<%= image_tag('frontpage/vishphoto2.jpg',:class => "vishphoto"); %>
			<div class="gradient1"></div>
			<div class="gradient2"></div>
			<%= image_tag('frontpage/arbol-05.svg',:class => "tree"); %>
		</div>
	</div>
</div>