 <div class="info_frontpage">
    <ul>
      <li>
        <div class="image_info"><%= image_tag("carrusel/blackboard.png",  :class=> "" ) %></div>
        <div class="text_info">
          <p>etijgitwejiwthji 4tihj4tiejhi42tej h42t hk24telkbfdk</p>
        </div>
      </li>
        <li>
        <div class="image_info"><%= image_tag("carrusel/blackboard.png",  :class=> "" ) %></div>
        <div class="text_info">
          <p>etijgitwejiwthji 4tihj4tiejhi42tej h42t hk24telkbfdk wlkbnlwblrwgblrwtnbdfb  b2tlr</p>
        </div>
      </li>
        <li>
        <div class="image_info"><%= image_tag("carrusel/blackboard.png",  :class=> "" ) %></div>
        <div class="text_info">
          <p>etijgitwejiwthji 4tihj4tiejhi42tej h42t hk24telkbfdk wlkbnlwblrwgblrwtnbdfb </p>
        </div>
      </li>
   </ul>
   </div>