
<div class="decoration" >
  <hr>
  <i class="icon-circle-blank"></i>
  <hr>
</div>



<div class="advertising" >

</div>

<div class="all-items-count" >
	<h3>Our community grows slowly, already counting :</h3>
	<span id="count-all-excursion">555555</span><p>Excursions</p>
	<span id="count-all-resources">555555</span><p>Resources</p>
	<span id="count-all-users">555555</span><p>Users</p>
	<div class="">Share your knowledge in our community and help us to grow</div>
</div>


<div class="decoration" >
  <hr>
  <i class="icon-circle-blank"></i>
  <hr>
</div>