
<div class="front_info">
	<div class="ch-grid">
		<li>
			<div class="ch-item ch-img-1">				
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-1"></div>
						<div class="ch-info-back">
							<h3>Bears</h3>
							
						</div>	
					</div>
				</div>
			</div>
		</li>
		<h2>Educational</h2>
		<p>Here you can find Educational Resources,freely accessible, openly licensed documents and media that are useful for teaching, learning, educational, assessment and research purposes.</p>
	</div>
	<div class="ch-grid">
		<li>
			<div class="ch-item ch-img-2">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-2"></div>
						<div class="ch-info-back">
							<h3>Salon</h3>
							
						</div>
					</div>
				</div>
			</div>
		</li>
		<h2>Community</h2>
		<p>ViSH creates a new scientific community in which to share educational resources, creating an access channel between laboratories and education.</p>
	</div>
	<div class="ch-grid">
		<li>
			<div class="ch-item ch-img-3">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-3"></div>
						<div class="ch-info-back">
							<h3>Series </h3>
							
						</div>
					</div>
				</div>
			</div>
		</li>
		<h2>e-Learning</h2>
		<p>Refers to the use of electronic media and information and communication technologies (ICT) in education. E-learning is broadly inclusive of all forms of educational technology in learning and teaching.</p>
	</div>
</div>