<div class="welcome">
	<p class="welcome_to_vish"> 
		<strong>Welcome</strong>
		<span>to</span>
		<%= link_to(image_tag('logo/brand.png'), :class => "logo"); %>
	</p>
	<p class="welcome_social_site"> 
		<span class="level_1">
			This is a <strong>social site</strong> for <strong>sharing</strong> and <strong>creating <span>educational resources</span></strong>, called Excursions.
		</span>
		<span class="level_2">
			VISH connects your resources directly with the classroom, either physical or virtual
		</span>
	</p>

</div>