<%= content_for :javascript do %>

  $("footer#footer").addClass("fixed-bottom");
<%end%>


<section id="frontpage">

  <!--<#%= render :partial => "frontpage/info" %>-->
  <!-- <#%= render partial: 'frontpage/info-vish' %> -->

  <div class="competition">
    <%if I18n.locale==:es%>
      <%= link_to image_tag("competition/ban_winner_02_esp.png",  :class=> "" ), "/contest" %>
    <%else%>
      <%= link_to image_tag("competition/ban_winner_02.png",  :class=> "" ), "/contest" %>
    <%end%>
  </div>

  <div class="excursions">
    <%= render partial: 'frontpage/excursions' %>
  </div>

</section>
