<section id="frontpage">
<a data-toggle="modal" data-target="#myModal" class="btn btn-primary">Launch modal</a>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Test</h4>
            </div>
            <div class="modal-body">Test</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  <div id="presentation">
    <%= render :partial => "frontpage/main" %>
  </div>
  <div id="info-vish">
    <%= render partial: 'frontpage/info-vish' %>

  </div>
  <div class="excursions">
    <%= render partial: 'frontpage/excursions' %>
  </div>
</section>

<%= content_for :javascript do %>
  $("footer#footer").addClass("fixed-bottom");
  $("#wrap").addClass("wrap-when-fixed-bottom");
<%end%>
