<%= content_for :javascript do %>
  $('#desktop_carousel').carousel({
    interval: 8000
  });
  $('#mobile_carousel').carousel({
    interval: 8000
  });
<%end%>



<section id="frontpage">
  <!--<#%= render :partial => "frontpage/info" %>-->
  <div id="excursions">
    <%= render partial: 'frontpage/excursions' %>
  </div>
</section>
