<%= content_for :javascript do %>

  $("footer#footer").addClass("fixed-bottom");
<%end%>



<section id="frontpage">

  <div id="presentation">
    <%= render partial: 'frontpage/presentation' %>
  </div>

  <div id="info-vish">
    <%= render partial: 'frontpage/info-vish' %>
  </div>

  <div id="excursions">
    <%= render partial: 'frontpage/excursions' %>
  </div>
</section>
