<section id="frontpage">
  <%= render :partial => "frontpage/explanation" %>
  <%= render :partial => "frontpage/info" %>
  <div id="excursions">
  <%= render partial: 'frontpage/excursions' %>
  </div>
</section>
