<%= content_for :javascript do %>
  $('#desktop_carousel').carousel({
    interval: 8000
  });
  $('#mobile_carousel').carousel({
    interval: 8000
  });

  $("footer#footer").addClass("fixed-bottom");
<%end%>



<section id="frontpage">
  <!--<#%= render :partial => "frontpage/info" %>-->
  <div class="competition">
    <%if I18n.locale==:es%>
      <%= link_to image_tag("competition/BANNER-01-01_esp.png",  :class=> "" ), "/contest" %>
    <%else%>
      <%= link_to image_tag("competition/BANNER-01-01.png",  :class=> "" ), "/contest" %>
    <%end%>
  </div>
  <div id="excursions">
    <%= render partial: 'frontpage/excursions' %>
  </div>
</section>
