<section id="frontpage">
  <%= render :partial => "frontpage/explanation" %>

  <%= render partial: 'frontpage/excursions' %>
</section>
<h1>El veloz murciélago hindú comía feliz cardillo y kiwi</h1>
<h2>El veloz murciélago hindú comía feliz cardillo y kiwi</h2>
<h3>El veloz murciélago hindú comía feliz cardillo y kiwi</h3>
<h4>El veloz murciélago hindú comía feliz cardillo y kiwi</h4>
<h5>El veloz murciélago hindú comía feliz cardillo y kiwi</h5>
<h6>El veloz murciélago hindú comía feliz cardillo y kiwi</h6>