#news-vishub
	@include gradient-directional($startColor: $grayLight, $endColor: $grayLighter, $deg: 45deg)
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	@include center-block()
	@include border-radius($radius)
	padding: 7px
	margin-top: 20px
	margin-bottom: 10px


	.box-news
		padding: 10px
		background-color: $white
		@include border-radius($radius)
		@include box-shadow 
		.Title
			font-size: 20px
			font-family: $secondFontFamily
			color: $green-vish
			display: inline-block
			float: left
		p
			display: inline-block
			color: $gray
			margin-bottom: 0px
			font-size: 14px
			padding-right: 30px
			height: 50px
			overflow-x: hidden

	.home_announce
		height: 100px
		p
			height: 80px
