#header_search 
  width: 100%
  z-index: 501


.input-searchlarge 
  width: 251px
  height: 25px

#header_search_nosession
  float: right

#header_search_form
  @include center-block()
  margin-left: -40px

.input-frontpage
  width: 500px

#header_search_input,
#global_search_input,
#main_search_input, 
  /*padding: 0 22px 0 22px;*/
  @include center-block()
  background-image: url('btn/search_icon.png')
  background-repeat: no-repeat
  background-position: 96%
  padding-right: 5px center

.banner_busqueda 
  #header_search_input 
    height: 25px

#global_search_input 
  /*height: 25px;*/
  /*width: 200px;*/

#header_search_display 

  /*width: 238px;
  /*margin-left: -41*/
  @include center-block()
  margin-top: -10px
  padding-right: 62px
  clear: both
  display: none
  border-top: none
  overflow: hidden
  z-index: 500
  /*text-align: left;*/

  a 
    /*color: #fff;*/
    text-decoration: none

  a:hover 
    text-decoration: none
    font-weight: bold

  ul


  li.warning 
    background: #f89406


  li 
    height: 35px
    overflow: hidden
    text-align: center
    padding: 10px
    @include border-radius(15px)
    border: 1px solid #fff
    background: $gray-search
    color: #fff

  li:hover 
    background: #E6E6E6
    color: $gray-search

  li:hover
    a 
      color: $gray-search

  li.logo 
    float: left
    height: 35px
    width: 35px
    margin-right: 5px

  li.logo 
    img 
      height: 100%
      width: 100%

  li.name
    margin-top: 3px
    width: 175px
    overflow: hidden

  li.link
    display: none

  li.result 
    padding: 0px
    height: 45px
    text-align: left
    padding: 10px 10px 10px 10px
    @include border-radius(15px)

  li.loading,
  #header_search_display
    li.more,
    #header_search_display
      li.none 
        text-align: center

  li.more
    padding-top: 10px
    height: 30px

  li.title:hover,
  #header_search_display
    li.more:hover,
    #header_search_display
      li.none:hover 


  .warning 
    @include border-radius(15px)

#global_search_input
  .searching
    background: url('mini-loading.gif') 5px 50% no-repeat white

.search_row 
  text-align: center

.subject_search_results
  width: 186px
  height: 81px
  overflow: hidden
  text-align: center

  a:hover
    color: $gray-search

  .post 
    width: 560px
    height: 100%
    overflow: hidden
    text-align: center

  .post 
    .activity_objects 
      a ,
      .subject_search_results 
        .brief 
          a
            text-decoration: none
            color: inherit

  .post
    .content_size
    word-wrap: break-word

  .logo
    display: inline-block

  .logo 
    img 
      width: 48px
      height: 48px


  .sub-block 
    width: 69%
    word-wrap: break-word
    height: 50px
    overflow: hidden
    display: inline-block
    text-align: left

  #search_results
    text-align: center

    .left
      float: left
      padding: 0

    .right
      float: right
      padding: 0

    .highlight
      background-color: $red-1

/********************************* Form and errors *********/
#search_form 
  .error 
    display: none

/******************** Search css END ***********************/

