#header_search {
  width: 186px;
  margin-left: 260px;



  /*padding: 0px auto;*/
  z-index: 501;

}
.input-searchlarge {
  width: 251px;
  height: 25px;
}

.input-frontpage{
  width: 500px;
  }
#header_search_nosession {
  float: right;



/*padding: 0px auto;*/
  z-index: 501;

}
#espacio_busqueda {
  display: inline-block;
  float: left;
  height: 45px;
  margin-bottom: 0;
  margin-left: 20px;
  width: 230px;
}

#header_search_form{
  margin:0px;
}

#header_search_input, #global_search_input, #main_search_input {
  /*padding: 0 22px 0 22px;*/
  background-image: url('btn/search_icon.png');
  background-repeat: no-repeat;
  background-position: 96% center;
  padding-right: 5px;
}

.banner_busqueda #header_search_input {
  height: 25px;
}
#global_search_input {
  /*height: 25px;*/
 /* width: 200px;*/
}
#header_search_display {
  /*width: 225px;*/
  margin-top: 0px;
  position: absolute;
  clear:both;
  margin: auto;
  display: none;
  border-top: none;
  overflow: hidden;
  z-index: 500;
  /*text-align: left;*/
}
#header_search_display a {
  /*color: #fff;*/
  text-decoration: none;
}

#header_search_display a:hover {
  text-decoration: none;

}
#header_search_display ul{
  margin: 0 0 9px 0px;
}
#header_search_display  li.warning {
  background: #ff005d !important;
  z-index: 1050;
  
}
#header_search_display  li {
  height: 35px;
  overflow: hidden;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  border: 1px solid #7E7E7E;
  background: #6E6E6E;
  color: #fff;
  opacity: 0.96;
  z-index: 1050;
}

#header_search_display  li:hover {
  background: $gray;
  color: #A1A1A1;
  opacity:1;
  z-index: 106010;
}
#header_search_display  li:hover a {
  color: #A1A1A1 !important;
}
#header_search_display  li .logo {
  float: left;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}
#header_search_display  li .logo img {
  height: 100%;
  width: 100%;
}
#header_search_display  li .name {
  margin-top: 3px;
  width: 175px;
  overflow: hidden;
}
#header_search_display  li .link {
  display: none;
}
#header_search_display  li.result {
  padding: 0px;
  height: 45px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  margin-top: -5px

}
#header_search_display  li.loading, #header_search_display  li.more, #header_search_display  li.none {
  text-align: center;
}
#header_search_display  li.more {
  padding-top: 10px;
  height: 30px;
  background-color: #979797;
  opacity: 0.90;
  color: white
}
#header_search_display  li.title:hover, #header_search_display  li.more:hover, #header_search_display  li.none:hover {

}
#header_search_display  .warning {

}
/********************************* Global ******************/
#global_search_input.searching {
  background: url('mini-loading.gif') 5px 50% no-repeat white;
}
.search_row {
  text-align: center;
}

.subject_search_results {
  width: 186px;
  height: 81px;
  overflow: hidden;
  text-align: center;
}

.subject_search_results a:hover{
  color: #a1a1a1;
}

.subject_search_results.post {
  width: 560px;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.subject_search_results.post {
  width: 560px;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.subject_search_results.post .activity_objects a,.subject_search_results .brief a{
  text-decoration: none;
  color: inherit;
}
.subject_search_results .post.content_size {
  word-wrap: break-word;
}
.subject_search_results .logo {
  display:inline-block;
}
/*
.subject_search_results .logo img {
  width: 48px;
  height: 48px;
}
*/
.subject_search_results .sub-block {
  width: 69%;
  word-wrap: break-word;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}
#search_results {
  text-align: center;
}
#search_results .left {
  float: left;
  padding: 0;
}
#search_results .right {
  float: right;
  padding: 0;
}
#search_results .highlight{
  background-color: $gray;
}
/********************************* Form and errors *********/
#search_form .error {
  display: none;
}
/******************** Search css END ***********************/

#header_search {
  margin-left: 190px !important;
}
#header_search_display{
  margin-left: 7px;
  margin-top: -10px;
  }
