ul.tagit-suggestions {
    list-style: none;
}

ul.single-line-tags {
    height: 23px; /* This smells a bit */
    overflow: hidden;
}

ul.tagit-suggestions li.tagit-choice {
    float: left;
    background-color: #0066ff;
    opacity: 0.5;
    color: #fff;
    padding: 2px 4px 3px 4px;
    font-size: 13px;
    font-family: Helvetica;
    margin-bottom: 5px;
    margin-right: 5px;
    display: block;
    border-radius: 5px;
}

ul.tagit-suggestions li.tagit-choice:hover {
    background-color: #0066ff;
    opacity: 0.7;
    border-color: #6d95e0;
}

ul.tagit-suggestions li.tagit-choice a,
ul.tagit-suggestions li.tagit-choice a:hover {
    color: #fff;
}

.tagBoxDocument {
    padding: 0px;
    color: #7a8fa9;
    font-size: 14px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-height: 45%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: -10px;
}
.upload01 .tagBoxDocument  {
  margin-right: 0px !important ;

}


div.tagBoxDocument .tagit{
  width: 280px;
}

.tagBoxEdit{
    padding: 0px;
    color: #7a8fa9;
    font-size: 14px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-height: 45%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -25px;
    width: 100%;
}

div.tagBoxEdit .tagit{
  width: 403px;
}

.tagBoxNew{
    padding: 0px;
    padding-right: 9px;
    color: #7a8fa9;
    font-size: 14px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-height: 45%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -25px;
    width: 100%;
}

div.tagBoxNew .tagit{
  width: 278px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

div.tagBoxNew ul.tagit li.tagit-choice {
    font-size: 13px;


}


select.tagit-hiddenSelect{
    display: inline-block !important;
}


/** Taggit simple blue style **/

.ui-autocomplete {
    background-color: #fff;
    position: absolute;
    cursor: default;
    list-style: none;
    margin: 25px 0 0;
    padding: 0;
    border: 1px solid #E5E5E5;
    border-top: none;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px #888;
    box-shadow: 0 3px 5px #888;
    font-size: 12px;
}

.ui-autocomplete .ui-menu-item {
    padding: 0;
    margin: 0;
}

.ui-autocomplete  .ui-menu-item a {
    display: block;
    padding: 4px 6px;
    margin: 0;
    text-decoration: none;
    line-height: 12px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #fff;
    color: #78959D;
    
}

.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active {
    background-color: #c0d1e2;
    color: #555;
    border-color: #a6cef7;
}

.ui-autocomplete-loading {
    /* background: white url(ui-anim_basic_16x16.gif) right center no-repeat; */
}

ul.tagit {
    cursor: text;
    overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;
  font-size: 13px;
  height: auto;
  line-height: 18px;
  margin-bottom: 9px;
  padding: 3px;
}

ul.tagit li {
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
    position: relative;
}

ul.tagit.ui-sortable li.tagit-choice a.ui-icon.ui-icon-grip-dotted-vertical{
    float: left;
    width: 12px;
    margin-left: -5px;
    cursor: move;
}

ul.tagit li.tagit-choice {
    background-color: #0066ff;
    opacity: 0.5;
    color: #fff;
    padding: 2px 13px 3px 4px;
    font-size: 15px;
    font-family: Helvetica;
    margin-bottom: 5px;
}

ul.tagit li.tagit-choice.selected {
    background-color: #f5b0b0;
    border-color: #f76464;
}

ul.tagit li.tagit-choice:hover {
    background-color: #0066ff;
    opacity: 0.7;
    border-color: #6d95e0;
}

ul.tagit li.tagit-new {
    width: 270px;
    padding: 2px 4px 3px;
    padding: 2px 4px 1px;
    padding: 2px 4px 1px 0;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul.tagit li.tagit-choice a.tagit-close {
    color: #000c6e;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 2px 0 2px 3px;
    text-decoration: none;
    position: absolute;
    display: block;
    top: 0;
    right: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

ul.tagit li.tagit-choice a.tagit-close:hover {
    color: #535353;
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit !important;
    outline: none;
    box-shadow: none;
}

.tagit-hiddenSelect {
    display:none;
}

/* JQuery UI Base Style */

.ui-autocomplete { 
  position: absolute; 
  cursor: default; 
}  

.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}


/** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** rewrite ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

.repository_box .tagBoxDocument {
  padding: 0px;
  color: #7a8fa9;
  font-size: 14px;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  max-height:none;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 9px;
  margin-right: 0;
  margin-left: 0px;

}
.repository_box .upload01 .tagBoxDocument  {
  margin-right: 0px !important ;

}


.repository_box div.tagBoxDocument .tagit{
  width: 277px;
}

.repository_box ul.tagit {
  cursor: text;
  overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;
  font-size: 13px;
  height: auto;
  line-height: 18px;
  margin-bottom: 0px;
  padding: 10px;
  margin-left: 0px;
  width: 277px;
}


ul.tagit{
  border: none;
}

.form_field_edit_resource ul.tagit{
  border: 1px solid #CCCCCC;
}


li.tagit-choice{
  list-style-type: disk;
}
