li.excursion-item
  @include excursion-box
  width: 18.2%
  float: left
  margin-left: 2%
  &:first-child
    margin-left: 0
  .badges
    position: absolute
    margin-left: 7.7%
  .info
    padding: 5px 10px
    a.name
      float: left
      width: 80%
    .like
      float: right
  .info-bottom
    clear: both
    a.author
      float: left
    .views
      float: right