<!--timeline-->
  <div class="item-object-wall">
    <ul class="thumbnails">
      <li class="img-object">
        <%= link_to raw("<i class='icon75-audio'></i>"),audio %>
      </li>
      <div class="info-object-timeline">
        <div class="title-object">
          <%= link_to audio.title, audio %>
        </div>
        <p>
          <%= t('audio.processing')%>
        </p>
        <p class="details">
          <%= link_to t('details.msg'), audio, :class => "" %>
        </p>
      </div>
    </ul>
  </div>

