#document-edit 
  #new_file
    section.tags,
    section.avatar,
    section.language
      margin-bottom: 13px

#new_document
  #new_file
    section.upload,
    section.avatar,
      margin-bottom: 15px
    section.target_age
      margin-top: 20px
      margin-bottom: 40px

#new_file
  input[type='file']
    padding: 0px !important

#AddWriting
  p
    font-size: 18px
    width: 100%
    clear: both
  @include white-box
  width: 80%
  margin: 0 auto
  padding: 2%
  span.cke_skin_kama
    padding: 0
    border: none
  .cke_skin_kama 
    .cke_wrapper
      background-color: $grayLight
      background-image: none
  .layoutform
    label
      width: 50%
      display: inline-block
      float: left
      clear: none
    input,
    textarea,
    select
      width: 47%
      display: inline-block
      float: left
      padding-left: 1.5%
      padding-right: 1.5%
    .description-zone
      float: right
      display: inline-block
      width: 42%
      padding-left: 1.5%
      padding-right: 1.5%
    .tagBoxDocument
      width: 47%
