#document-edit 
  #new_file
    section.tags,
    section.avatar,
    section.language
      margin-bottom: 13px

#new_document
  #new_file
    section.upload,
    section.avatar,
      margin-bottom: 15px
    section.target_age
      margin-top: 20px
      margin-bottom: 40px

#new_file
  input[type='file']
    padding: 0px !important