//FORM BASE

#document-edit,
.AddResource,
#AddCategoryHeader
  @include base-form

//COLOR WHITE FOR FORM 2 COLUMNS ON NEW PAGE
.layout_form_WS,
#AddWriting,
.new_document
  @include white-background-form

//FORM 2 COLUMNS
.layout_form_WS,
#AddWriting,
#new_document
  @include two-columns-form

//CKEDITOR STYLE

#AddWriting,
#document-edit,
#AddContribution
  span.cke_skin_BootstrapCK-Skin
    width: 98%
    padding: 1%
    background-color: $grayLight
