body
  background-color: $background
  color: #555
  text-rendering: optimizeLegibility
  #wrap
    
label
  cursor: auto

html,
body
  height: 100%
.wrapper
  padding-top: 70px
  padding-right: 5%
  padding-left: 5%
  max-width: 2000px
  margin-left: auto
  margin-right: auto
  display: block

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -38px 

.push 
  height: 38px