<li class="box-item add-item add-categorie hidden-xs">
  <div class="add_border">
    <a id="join_button_alt" data-toggle="modal" data-target="#join_competition" class="">
      <div class="container-img">
          <div class="img-box"><i class="fa fa-plus"></i></div>
      </div>
      <div class="caption">
        <!--Title -->
        <div class="name">
          Presentar mi propuesta
        </div>
      </div>
    </a>

  </div>
</li>
