<% 	competition_items = []
	ActivityObject.where("competition = true").map{|e| competition_items.push(e.object)} 
%>
<section id="competition">
	<div>
		<div id="banner"><img src="/assets/competition/sample_banner.jpg"></div>
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li><a href="#join_row">Cosas</a></li>
					<li><a href="#about_row">Mas cosas</a></li>
					<li><a href="#prize_row">Cositas</a></li>
					<li><a href="#joined_resources">Muchas cosas</a></li>
				</ul>
				</div>
				<div class="col-md-6">
					<h2>Redes Sociales</h2>
				</div>
		</div> 
	</div>
	<div id="join_row" class="row">
		<div class="col-md-6">	
			<% if current_subject != nil && current_subject.actor.joined_competition != true %>
			<div><a type="button" id="join_button" data-toggle="modal" data-target="#join_competition" class="btn btn-default">Join</a></div>
			<% else %>
				<div>Gracias por participar en la competición </div>
			<% end %>
		</div>
		<div class="col-md-6">Y si aún no lo han reescrito, lo siguen utilizando hasta ahora. Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca.

		Ni siquiera los todopoderosos signos de puntuación dominan a los textos simulados; una vida, se puede decir, poco ortográfica. Pero un buen día, una pequeña línea de texto simulado, llamada Lorem Ipsum, decidió aventurarse y salir al vasto mundo de la gramática. El gran Oxmox le desanconsejó hacerlo, ya que esas tierras estaban llenas de comas malvadas, signos de interrogación salvajes y puntos y coma traicioneros, pero el texto simulado no se dejó atemorizar. Empacó sus siete versales, enfundó su inicial en el cinturón y se puso en camino.</div>
	</div>
	<hr>
	<div id="about_row" class="row">
		<div class="col-md-6">Empacó sus siete versales, enfundó su inicial en el cinturón y se puso en camino. Cuando ya había escalado las primeras colinas de las montañas cursivas, se dio media vuelta para dirigir su mirada por última vez, hacia su ciudad natal Letralandia, el encabezamiento del pueblo Alfabeto y el subtítulo de su propia calle, la calle del renglón. Una pregunta retórica se le pasó por la mente y le puso melancólico, pero enseguida reemprendió su marcha. De nuevo en camino, se encontró con una copia.

		La copia advirtió al pequeño texto simulado de que en el lugar del que ella venía, la habían reescrito miles de veces y que todo lo que había quedado de su original era la palabra "y", así que más le valía al pequeño texto simulado volver a su país, donde estaría mucho más seguro. Pero nada de lo dicho por la copia pudo convencerlo, de manera que al cabo de poco tiempo, unos pérfidos redactores publicitarios lo encontraron y emborracharon con Longe y Parole para llevárselo después a su agencia, donde abusaron de él para sus proyectos, una y otra vez.</div>
		<div class="col-md-6">Cuando ya había escalado las primeras colinas de las montañas cursivas, se dio media vuelta para dirigir su mirada por última vez, hacia su ciudad natal Letralandia, el encabezamiento del pueblo Alfabeto y el subtítulo de su propia calle, la calle del renglón. Una pregunta retórica se le pasó por la mente y le puso melancólico, pero enseguida reemprendió su marcha. De nuevo en camino, se encontró con una copia.

		La copia advirtió al pequeño texto simulado de que en el lugar del que ella venía, la habían reescrito miles de veces y que todo lo que había quedado de su original era la palabra "y", así que más le valía al pequeño texto simulado volver a su país, donde estaría mucho más seguro. Pero nada de lo dicho por la copia pudo convencerlo, de manera que al cabo de poco tiempo, unos pérfidos redactores publicitarios lo encontraron y emborracharon con Longe y Parole para llevárselo después a su agencia, donde abusaron de él para sus proyectos, una y otra vez.</div>
	</div>
	<hr>
	<div id="prize_row" class="row">
		<div class="col-md-6">Y si aún no lo han reescrito, lo siguen utilizando hasta ahora. Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca.

		Ni siquiera los todopoderosos signos de puntuación dominan a los textos simulados; una vida, se puede decir, poco ortográfica. Pero un buen día, una pequeña línea de texto simulado, llamada Lorem Ipsum, decidió aventurarse y salir al vasto mundo de la gramática. El gran Oxmox le desanconsejó hacerlo, ya que esas tierras estaban llenas de comas malvadas, signos de interrogación salvajes y puntos y coma traicioneros, pero el texto simulado no se dejó atemorizar. Empacó sus siete versales, enfundó su inicial en el cinturón y se puso en camino.</div>
		<div class="col-md-6">Cuando ya había escalado las primeras colinas de las montañas cursivas, se dio media vuelta para dirigir su mirada por última vez, hacia su ciudad natal Letralandia, el encabezamiento del pueblo Alfabeto y el subtítulo de su propia calle, la calle del renglón. Una pregunta retórica se le pasó por la mente y le puso melancólico, pero enseguida reemprendió su marcha. De nuevo en camino, se encontró con una copia.

		La copia advirtió al pequeño texto simulado de que en el lugar del que ella venía, la habían reescrito miles de veces y que todo lo que había quedado de su original era la palabra "y", así que más le valía al pequeño texto simulado volver a su país, donde estaría mucho más seguro. Pero nada de lo dicho por la copia pudo convencerlo, de manera que al cabo de poco tiempo, unos pérfidos redactores publicitarios lo encontraron y emborracharon con Longe y Parole para llevárselo después a su agencia, donde abusaron de él para sus proyectos, una y otra vez.</div>
	</div>
	<hr>

	<div id="joined_resources">
		<ul class="items">
		<% competition_items.each do |r| %>
		  <% unless r.nil? %>
			  <%= render :partial => 'entities/entity', :locals => { :entity => r, :prefix_id=> "competition", :rec => (defined?(rec) ? rec : false)  } %>
			<% end %>
		<% end %>
	</ul>
	</div>
</section>

<% if current_subject != nil && current_subject.actor.joined_competition != true %>
	<% my_items = current_subject_excursions || []%>
	<%= render partial: "common_resources/select_modal", locals:{ 
		my_items: my_items, 
		title1:"Join Competition", 
		title2: "Choose which object you want to joined the competition with.",
		notfound: "Lo sentimos no puede entrar a la competición porque todavía no tiene ninguna excursión",
		button_name: "Join" } %>
<% end %>

<% unless my_items.blank?%>
	<%= content_for :javascript do %>
	    $("#button_for_competition").attr("disabled", "disabled");
		$(".box-item a").removeAttr('href');
		
		$(".box-item").click(function(){
			if(!$(this).hasClass("selected")){
				$(".box-item").removeClass("selected");

				/*REMOVE*/
				$(".box-item").css({
					"list-style-position": "",
					"border": ""
				});
				/*END REMOVE*/

				$(this).addClass("selected");

				/*REMOVE*/
				$(this).css({
					"list-style-position": "inside",
					"border": "7px solid blue"
				});	
				$( "#button_for_competition" ).removeAttr("disabled");     

				/*END REMOVE*/
			} else {
				
				$(this).removeClass("selected");
				/*REMOVE*/
				$(this).css({
					"list-style-position": "",
					"border": ""
				});
				/*END REMOVE*/
				$( "#button_for_competition" ).attr("disabled", "disabled");
			}
		});

		$("#button_for_competition").click(function(){
			var selected_items = $(".selected .container-img .img-box").attr("id");
			$.ajax({
			  url: "/competition/join_competition",
			  method: "POST",
			  data: { id : selected_items },
			  success: function(e){
			  		window.location.replace("/competition");
				},
			  error: function(e){
			  	
			  }
			});
		});
	<% end %>
<% end %>