<%my_items = current_subject_excursions %>
<section class="layout_form_WS" id="join_competition">
	<div class="modal-header">
		<h1>Join Competition</h1> 
	</div>
	<div class="modal-body">
	<% unless my_items.blank?%>
	<div>Choose which object you want to joined the competition with.</div>
		<div class="form_for_joining clearfix">
           <ul class="items">
				<% my_items.each do |r| %>
				  <% unless r.nil? %>
					  <%= render :partial => 'entities/entity', :locals => { :entity => r, :prefix_id=> "join", :rec => (defined?(rec) ? rec : false)  } %>
					<% end %>
				<% end %>
			</ul>
        </div>
    <% else %>
    	<div id="no_items">Lo sentimos no puede entrar a la competición porque todavía no tiene ninguna excursión </div>
    <% end %>
    </div>
    <div class="footer-form clearfix">
    	<% unless my_items.blank?%>
    		<a id="button_for_competition" type="button" class="btn btn-default">Join</a>
    	<% end %>
    </div>

</section>

<% unless my_items.blank?%>
	<%= content_for :javascript do %>
	    $("#button_for_competition").attr("disabled", "disabled");
		$(".box-item a").removeAttr('href');
		
		$(".box-item").click(function(){
			if(!$(this).hasClass("selected")){
				$(".box-item").removeClass("selected");

				/*REMOVE*/
				$(".box-item").css({
					"list-style-position": "",
					"border": ""
				});
				/*END REMOVE*/

				$(this).addClass("selected");

				/*REMOVE*/
				$(this).css({
					"list-style-position": "inside",
					"border": "7px solid blue"
				});	
				$( "#button_for_competition" ).removeAttr("disabled");     

				/*END REMOVE*/
			} else {
				
				$(this).removeClass("selected");
				/*REMOVE*/
				$(this).css({
					"list-style-position": "",
					"border": ""
				});
				/*END REMOVE*/
				$( "#button_for_competition" ).attr("disabled", "disabled");
			}
		});

		$("#button_for_competition").click(function(){
			var selected_items = $(".selected .container-img .img-box").attr("id");
			$.ajax({
			  url: "/competition/join_competition",
			  method: "POST",
			  data: { id : selected_items },
			  success: function(e){
			  		window.location.replace("/competition");
				},
			  error: function(e){
			  	
			  }
			});
		});
	<% end %>
<% end %>