<%my_items = current_subject_excursions %>
<section id="join_competition">
	<h1>Join Competition</h1>
	<div>Choose which object you want to joined the competition with.</div> 

		<div class="form_for_joining">
           <ul class="items">
				<% my_items.each do |r| %>
				  <% unless r.nil? %>
					  <%= render :partial => 'entities/entity', :locals => { :entity => r, :prefix_id=> "join", :rec => (defined?(rec) ? rec : false)  } %>
					<% end %>
				<% end %>
			</ul>
        </div>
        <%= content_for :javascript do%>
		
		<% end %>

</section>

