@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'fira';
    src: url('FiraSans-Regular.woff');
}
@media (max-width: 600px) {
	#page-wrap {
	width: 100%;
	height: 100%;
}
  nav.main ul {
    display: none;
  }
  nav.main .selector{
	display: block;
	cursor: pointer;
  }
  nav.main .selector img:hover{
  	background-color: #FC0;
  }
  
  #page-wrap .caja_visor {
	padding-right: 4px;
	padding-left: 4px;
	width: 100%;
	height: 93%;
	position: absolute;
	left: 0px;
	top: 0px;
	
  }
  #cvisor{
	  display: none;	
	  }
  #page-wrap .caja {
	padding-right: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.2em;
	width: 100%;
	height: 98%;
  }
  #page-wrap .caja .area #editor {
	width: 96%;
  }
  #page-wrap #iframe {
	width: 97%;
}
.caja_visor #actualizar {
	background-color: #FFF;
	display: block;
}
.caja_visor #texto_resultado{
	margin: 2% 0 1% 2%;
}
#page-wrap #nav1 {
	position: relative;	
	}
#page-wrap #nav1 ul#menu {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.5em;
	width: 30%;
	position: absolute;
	left: 51px;
	top: 0px;
	display: none;
	z-index: 1000;
}
#page-wrap #nav1 ul li {
	display: block;	
}
#page-wrap #nav1 ul li a {
	display: block;
	background-color: #9c9a8c;
	padding: 0.4em;
	color: #FFF;
	text-decoration: none;
	font-size: small;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#page-wrap #nav1 ul li a:hover {
	color: #4C4C4C;
	background-color: #4dbcc9;
}
#page-wrap #nav1 ul a.active {
	background-color: #4c4c4c;
}
#page-wrap #nav1 ul a:hover.active  {
	background-color: #4c4c4c;
	color: #FFF;
}
}

@media (min-width: 600px) {
#nav1 .selector {
	height: 46px;
	width: 58px;
}
  nav.main ul {
    display: block;
  }
  nav.main .selector{
  	display: none;
  }
  #page-wrap .caja_visor {
  	margin-left: 0.5em;
	padding-right: 8px;
	padding-left: 8px;
	float: left;
	width: 32%;
	height: 93%;
  }  
  #page-wrap #nav1 ul#menu {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.5em;
	display: block;
	}
  #page-wrap .caja {
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	float: left;
	width: 58%;
	height: 98%;
  }
  #page-wrap .caja .area #editor {
    width: 100%;
  }
  #page-wrap #iframe {
	width: 93%;
}
#cvisor{
	  display: block;	
	  }
.caja_visor #actualizar {
	background-color: #4C4C4C;
	display: none;
}
.caja_visor #texto_resultado{
	margin: 2% 0 3% 2%;
}
#page-wrap #nav1 ul li {
	display: inline;
}
#page-wrap #nav1 ul li a {
	display: block;
	float: left;
	background-color: #9c9a8c;
	padding: 0.4em;
	color: #FFF;
	text-decoration: none;
	margin-right: 0.4em;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	font-size: small;
}
#page-wrap #nav1 ul li a:hover {
	color: #4C4C4C;
	background-color: #4dbcc9;
}
#page-wrap #nav1 ul a.active {
	background-color: #4c4c4c;
}
#page-wrap #nav1 ul a:hover.active  {
	background-color: #4c4c4c;
	color: #FFF;
}
}

.clear {
	clear: both;
}
html{
	height: 100%;
}
body{
	font-family: fira;
	height: 96%;
}
#page-wrap {
	width: 100%;
	height: 100%;
}

#page-wrap  h1 {
	font-size: 1.2em;
	color: #5b6770;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5B6770;
	padding-bottom: 0.2em;
}

.main p{
	font-size: small;
}


#page-wrap .caja {
	background-color: #4c4c4c;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.caja #actualizar {
	height: 26px;
	width: 26px;
	float: right;
	background-color: #FFF;
	margin: 0.2em;
}
.caja_visor #actualizar {
	height: 26px;
	width: 26px;
	float: right;
	margin: 0.2em;
}
#actualizar:hover {
	background-color: #FC0;
}
.caja #texto_ejemplo{
	float: left;
	color: white;
	margin: 2% 0 1% 2%;
	font-size: small;
}
.caja_visor #texto_resultado{
	float:left;
	color: white;
	font-size: small;
}
#page-wrap .caja .area {
	clear: both;
	height: 93%;
}
#page-wrap .caja .area #editor {
	height: 96%;
}
#page-wrap .caja_visor {
	background-color: #4C4C4C;
	background-image: url(dit.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 36px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	
}
#page-wrap #iframe {
	background-color: #FFF;
	height: 87%;
	padding: 5px;
}
#descripcion {
	margin-top: 1em;
	background-color: #e9e9e9;
	background-image: url(paper.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-border-radius: 5px 5px 0px 5px;
	border-radius: 5px 5px 0px 5px;
	color: #5B6770;
	padding-top: 1ex;
	padding-right: 2ex;
	padding-bottom: 1ex;
	padding-left: 2ex;
}
#descripcion h2 {
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #666;
}

#play{
	cursor: pointer;
}
#page-wrap .contenedor {
	position: relative;
	height: 83%;
	width: 100%;
}
