.mashme-button
  margin: 0px
  background-color: #009BC7 !important
  border: solid 1px #007DCC
  cursor: pointer
  position: relative
  height: 22px !important
  margin-top: 4px
  padding: 0
  margin-right: 3px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  .icon
    display: inline-block
    vertical-align: middle
    position: relative
    margin: 2px 2px 0 5px
    width: 16px
    height: 15px
    background-repeat: no-repeat
    background-image: url(/static/images/icons/login-mashme.png)
    background-size: contain
    opacity: 0.85
    @media (max-width: $screen-xs-max)
      margin: 2px 2px 0 5px

  .text
    display: inline-block
    vertical-align: text-top
    position: relative
    line-height: 20px
    color: #FFF
    margin-top: -2px
    font-size: 12px
    text-align: center
    border-left: solid 1px rgba(255, 255, 255, 0.85)
    padding: 2px 0px
    color: rgba(255, 255, 255, 0.85)
    font-family: Oswald
    width: 52px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    @media (max-width: $screen-xs-max)
      margin-top: -3px
