  <div class="recomended-items">
    <div class="recomended_excursion">
      <ul class="small-box clearfix">

        <%= render :partial => "repositories/resource" , :locals => {:resource => picture}%>
        
      </ul>
    </div>
  </div>