<div class="recomended">
  <ul class="items clearfix">
  	<p class="info_action"> <%= t('activity.items.infoaction.picture') %></p>
    <%= render :partial => "repositories/resource" , :locals => {:resource => picture}%>

  </ul>
</div>
