  <div class="recomended">
    <div class="recomended-items">
      <ul class="small-box clearfix">
      	<p class="info_action"> Added Picture</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => picture}%>
        
      </ul>
    </div>
  </div>