#frontpage
  .description
    h1
      color: $gray





  .excursions
    h1
      border-bottom: 1px solid $grayLight
    .excursion
      img
      img.badge
        background: $white
      .info
        .name
          line-height: 18px
        span
          color: $green
        .info-bottom
          border-top: 1px solid $grayLight

