<div class="item-object-wall">
  <ul class="thumbnails">
    <li class="img-object">
      <%= link_to raw("<i class='icon75-video'></i>"),video %>
    </li>

    <li class="info-object-timeline">
      <div class="title-object">
        <%= link_to video.title, video %>
      </div>
      <p><%= t('video.processing')%></p>
      <p class="details"><%= link_to t('details.msg'), video, :class => "" %></p>
    </li>
  </ul>
</div>