<li>
  <%= link_to(raw("<i class='" + (current_subject.unread_messages_count > 0 ? " fa fa-envelope notification" : " fa fa-envelope-o") + "'></i> "), messages_path, :class => "btn btn-defaul btn-header tooltip-header clearfix", :type => "button", :title => current_subject.unread_messages_count.to_s + t('message.unread'), :data => {:toggle=>"tooltip"}) %>
</li>
<li>
  <%= link_to(raw("<i class='fa fa-globe'></i>"),
                  activities_path,
                  :class => "btn btn-defaul btn-header tooltip-header clearfix",
                  :title => t('activity.other'),
                  :data => {:toggle=>"tooltip"}) %>
</li>



