<div id="warning_cookie_bar">
    <h3>Uso de cookies</h3>
    <p>
      Usamos cookies propias y de terceros para facilitar el uso de esta web y obtener estadísticas destinadas a la investigación. Si continua navegando consideramos que acepta el uso de cookies.
      <a href="javascript:void(0);" onclick="setCookieOn();">OK</a>
    </p>
  </div>