<%= div_for embed, :class => 'content_size' do %>

  <div class="embed_show">
    <div style="width: 387px; overflow: hidden;"><%= raw embed.fulltext %></div>
    <textarea readonly="readonly" style="width: 387px;" rows="3"><%=h embed.fulltext %></textarea>
  </div>

<% end %>
