<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url=<%= url %> data-counturl=<%= counturl%> data-text="Check out this excursion at vishub.org!">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
