<%= div_for embed, :class => 'content_size' do %>
  <div class="iframe_show_wrapper">
    <iframe src="<%=embed_path(embed, :format => :full)%>" width="800px" height="600px" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0; webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true" sandbox="allow-scripts"></iframe>
  </div>
<% end %>
