  <div class="recomended">
    <div class="recomended-items">
      <ul class="small-box ">
      	<p class="info_action"> Added Embed</p>
        <%= render :partial => "repositories/resource" , :locals => {:resource => embed}%>
        
      </ul>
    </div>
  </div>