<div class="embed">
  <div class="thumb">
    <i class='icon-code'></i>
  </div>
  <div class="brifing">
    <h5>
      título del embed
    </h5>

    descripción del embed

    <div class="author">
      nombre del autor
    </div>
  </div>
</div>