#repository
  .tabbable 
    a.btn
      @include btn-secundary

.limits
  position: relative
  .limit1, .limit2
    position: absolute
    left: 0px
    top: 22px

.slider
  .slider-selection
    background: $secondColor
  .slider-handle
    background-color: $secondColor
    

.tagBoxDocument

.modal
  select.language
    width: 100%

input.age-slider
  border: none !important
  color: $white


.slider-track
  background-color: lighten($firstColor, 30%)
