<div class="recomended">
  <ul class="items">
    <p class="info_action"><%= t('activity.items.infoaction.course') %></p>
    <%= render :partial => "courses/course" , locals: { course: course } %>
  </ul>
</div>