<div class="srch_bar_modal_final" style="position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;">
  <div class="srch_bar_modal-footer_final">
    <div class="srch_final">
      <div class="srch_bar_final"><a href="#">see more result for...</a>
      </div>
      <div class="srch_bar_final">showing the first 5 results
      </div>
    </div>
  </div>
</div>
