<div class="header_text">
  <%= t('resource.title.other') %>
</div>
<div class="btn-gray">
  <a class="action" href="">
    <%=link_to(t('go.repository'),[subject, Document.new])%>
  </a>
</div>

<% for r in subject_resources(subject, :scope => :me) %>
  <% if r.is_a? Embed %>
    <%= render :partial => "embeds/profile", :locals => { :embed => r, :div_class => '' } %>
  <% else %>
    <%= render :partial => "common_documents/profile", :locals => { :document => r, :div_class => '' } %>
  <% end %>
<% end %>

