<div id="QuizAnalitycs" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="QuizLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="QuizLabel">
      <!-- @quiz is not accesible here -->
    </h3>
  </div>

  <div class="modal-body">
    <!-- This body is replaced with statistics.js.erb every time the modal is called -->
  </div>

  <div class="modal-footer">
<!--     <button class="btn" id="help2" type="button" rel="popover" data-placement="top" data-original-title="¿Que son todos estos datos?" aria-hidden="true"> ? </button>
    <div id="popover" style="display: none">
      <div>Text here</div>
    </div> -->
  </div>
</div>

<%= content_for :javascript do %> 
    //popover_quiz
  $(document).ready(function(){
    $('#help2').popover({
      html : true,
      content: function() {
        return $('#popover').html();
      }
    });
  });
<% end %>