
<script>
$(function() {
  $( "#sortable1, #sortable2" ).sortable({
    connectWith: ".connectedSortable"
  }).disableSelection();
});
</script>
<section id="quiz">
  <div class="whiteframe">
    <legend>MY QUIZS</legend>
    <div class="textrow">
      <h4>Cuestionarios Abiertos</h4>
      <ul id="sortable1" class="connectedSortable">  
        <li class="ui-state-default">Cuestionario 1</li>
        <li class="ui-state-default">Cuestionario 2</li>
        <li class="ui-state-default">Cuestionario 3</li>
        <li class="ui-state-default">Cuestionario 4</li>
        <li class="ui-state-default">Cuestionario 5</li>
      </ul>
    </div> 
    <div class="textrow"> 
      <h4>Cuestionarios Cerrados</h4>
      <ul id="sortable2" class="connectedSortable">  
        <li class="ui-state-highlight">Cuestionario 6</li>
        <li class="ui-state-highlight">Cuestionario 7</li>
        <li class="ui-state-highlight">Cuestionario 8</li>
        <li class="ui-state-highlight">Cuestionario 9</li>
        <li class="ui-state-highlight">Cuestionario 10</li>
      </ul>      
    </div>
  </div>
</section>




