<div class="recomended">
  <ul class="items">
    <p class="info_action"><%= t('activity.items.infoaction.imscpfile') %></p>
    <%= render :partial => "repositories/resource" , :locals => {:resource => imscpfile}%>
  </ul>
</div>
