#search
  .advanced-search
    @include gray-box
    width: 171px
    float: left
    margin: 10px 15px 0 0px
    padding: 2px 1px
    ul
      margin: 0 1px 0 0
      padding: 12px 0 3px 17px
      ol
        margin-left: 15px
        li
          padding: 3px 10px


  .search
    width: 76%
    float: left
    .tabbable
      @include header-tabbable-search