header.navbar,
.navbar-fixed-top
  
  .navbar-inner
    padding-left: 5%
    padding-right: 5%
    height: 50px
    background-color: none
    background: rgba( 255, 255, 255, 0.98)

    .container
      width: auto
      height: 30px

      .brand
        height: auto
        @include border-bottom-radius($radius)
        width: 100px
        max-width: 136px
        float: left
        margin-top: 0px
        display: block
        padding: 5px


        img
          float: left
          display: block
          max-width: 135px
          clear: both
          width: 100%
        .vish-name
          display: block
          margin-left: auto
          margin-right: auto
          font-family: $firstFontFamily
          width: 100%
          clear: both
          text-align: center
      .browse
        margin-left: 2%
        float: left
        margin-top: 15px
        border-left: 1px solid rgb(214, 214, 214)
        @extend hidden-phone
        .dropdown
          list-style: none
          a
            padding-left: 10px
          .dropdown-menu
            padding: 1px
            border-radius: $baseBorderRadius
            a 
              color: $gray              
              &:hover
                color: $white
          .caret
            margin-left: 10px
            margin-right: 10px
        a 
          color: $gray
          &:hover
            color: $black
            text-decoration: none   
      .user-tool
        float: right
        .add_nav
          float: left
          .btn-primary

          .btn
            padding: 0px
            height: 38px
            width: 38px
            background-color: $white
            background-image: none
            box-shadow: none
            border: 1px solid #EEEEEE
            border-radius: 3px 

            i
              display: block
              margin-top: 10px
              margin-left: 11px
              color: #c8c8c8
              font-size: 20px
              text-decoration: none
              display: block
              float: left
            &:hover
              text-decoration: none
              border-color: $firstColor
              i
                color: $firstColor

        .user-settings
          float: right
          width: 170px
          .dropdown-menu
            position: relative
            &:before
              border: none
            &:after
              border: none
          a.logo-small
            padding: 0px
            margin-left: 5px
            margin-top: -15px
            outline: none  
            float: left
            img
              @include border-radius($baseBorderRadius)
              height: 40px
              width: 40px
              float: left
            .name
              margin-left: 5px
              text-overflow: ellipsis
              float: left
              overflow: hidden
              height: 30px
              width: 120px
              margin-top: 10px
            i
              float: right
              margin-top: 3px
              &:hover
                color: $firstColor
                text-decoration: none
                border-color: $firstColor

        .navegation
          float: left
          margin-right: 3px
          .headernav
            a
              i
                color: #c8c8c8
                font-size: 20px
                text-decoration: none
                padding: 8px
                margin: 5px 3px
                display: block
                float: left

              i:hover
                color: $firstColor
                text-decoration: none
                border-color: $firstColor
              .notification
                color: $secondColor
        .search-ui
          float: left

      .login
        float: left
        margin-top: 14px
        font-family: $secondFontFamily
   
        a 
          &:hover,&:active,&:focus
            text-decoration: none 
            outline: none     

        ul.dropdown-menu
          margin: 7px 40px 0 -175px
          padding: 6px 7px
          .btn-primary
            float: right
            display: inline-block
            width: 40%
          .checkbox
            @include check-box
            float: left
            display: inline-block
            margin-top: 10px
          a 
            padding-top: 10px
            padding-left: 25px
            float: left
            display: block
            &:hover
              text-decoration: none
      a 
        &:hover,&:active,&:focus
          text-decoration: none  
      .signin
        float: right
        margin-right: 20px
        margin-left: 20px
        font-family: $secondFontFamily
        margin-top: 14px
          

            
