<section id="faq">
  <div class="">
    <legend><%= t('faq.title')%></legend>
    <div>
    <span><%=t('faq.question1')%></span>
    <span><%=t('faq.answer1')%></span>
    </div>
  </div>
</section>

