  //
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px)
  #settings
    #user_password
        width: 434px
      #user_password_confirmation
        width: 385px
      #user_current_password
        width: 437px
      #user_email
        width: 516px