//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
  .search-nav
    input.search-query 
      @include border-radius (5px)
      height: 25px
      margin-top: 0
      width: 75%
      float: left
      padding: 6px 2%
    button
      display: inline-block
      background: $white
      border: none
      width: 15%
      padding-left: 3%
      float: right
    .mat
      display: none !important

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)
