.adminPanel-header
  h1
    width: 100%
    text-align: left
    margin-top: 2px !important
    margin-bottom: 2px !important
    i
      color: #BEBEBE
      font-size: 26px
      margin-right: 5px
  hr
    border-bottom-color: $gray
    margin: 0 0 10px 0
  .nav-pills > li > a
    background-color: $white
    margin-right: 10px
    border: 1px solid $secondColor
    &:hover
      background-color: lighten($secondColor, 10%) 
      color: $white

  .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus
    background-color: $secondColor
    color: #FFFFFF
    border: 1px solid darken($secondColor, 10%) 
    &:hover
      background-color: darken($secondColor, 10%) 
      color: $white

//tabs
.admin
  .tabbable 
    //@include header-tabbable-new
#spam_table,
#user_table
  thead
    tr
      height: 30px
      border-bottom: 1px solid #D0D0D0
      th

        font-family: $corporate-font-family-sans-serif-Light
        font-size: 14px
        color: $black
        text-align: left
  tbody
    tr
      margin-top: 5px
      vertical-align: text-bottom
      border-bottom: 1px solid #E7E7E7
      cursor: pointer
      &:hover
        background: $white
      td
      .admin-checkbox

      .admin-resource
        span
          font-family: $corporate-font-family-sans-serif-Bold
          font-size: 14px
          color: $gray
      .admin-type
        i
          color: $brand-primary
          font-size: 25px
          opacity: 0.5
          vertical-align: text-top

      .admin-user,
      .admin-user-user,
      .admin-reporter
        a
          span
            font-family: $corporate-font-family-sans-serif-Bold
            font-size: 16px
            color: $gray-light
            &:hover
              color: $brand-secundary
          &:hover
            text-decoration: none
          address
            font-size: 10px
      .admin-description
        span
          font-family: $corporate-font-family-sans-serif-Medium
          font-size: 12px
          color: $gray
          height: 20px
          overflow-y: hidden
          &:hover
            height: auto
            overflow-y: auto
      .admin-email
        a
          font-family: $firstFontFamily
          font-size: 14px
          color: $secondColor
      .admin-date
        span
          font-family: $corporate-font-family-sans-serif-Medium
          font-size: 14px
          color: #9E9E9E
      .admin-icontrash,
      .admin-iconlock
        text-align: center
        font-size: 25px
        i
          vertical-align: middle
        a
          color: $gray
          &:hover
            color: $brand-secundary
            text-decoration: none


#spam_table,
#user_table
  .admin-checkbox
    width: 0%
  .admin-resource
    width: 20%
  .admin-type
    width: 5%
  .admin-user
    width: 15%
  .admin-reporter
    width: 10%
  .admin-description
    width: 30%
  .admin-date
    width: 10%
  .admin-icontrash
    width: 5%
  .admin-iconlock
    width: 5%


  .admin-user-user
    width: 30%
  .admin-date-user
    width: 20%
  .admin-email
    width: 40%


#user_table
  width: 100%
  tbody
    tr
      .admin-icontrash
        font-size: 15px !important

table.vish_admin_table
  td
    padding: 5px

div.admin_header
  ul.nav
    margin-top: 12px
  span.admin_header_text_title
    font-size: 25px

.reports_type_legend
  width: 100%
  background-color: $white
  border-top: 1px solid #D0D0D0
  border-bottom: 1px solid #D0D0D0
  ul
    margin: 5px
    li
      display: inline
      padding: 10px
      i,
      span
        font-size: 12px
        color: $grayLight
      i
        margin-right: 5px
