//tabs
.admin
  .tabbable 
    //@include header-tabbable-new
#spam_table
  thead
    tr
      height: 30px
      border-bottom: 1px solid #D0D0D0
      th
        font-family: $corporate-font-family-sans-serif-Light
        font-size: 18px
        color: $gray
        text-align: left
  tbody
    tr
      margin-top: 10px
      vertical-align: text-bottom
      td
      .admin-checkbox

      .admin-resource
        span
          font-family: $corporate-font-family-sans-serif-Bold
          font-size: 14px
          color: $gray
      .admin-type
        i
          color: $brand-primary
          font-size: 25px
          opacity: 0.5
      .admin-user,
      .admin-reporter
        a
          span
            font-family: $corporate-font-family-sans-serif-Bold
            font-size: 16px
            color: $gray-light
            &:hover
              color: $brand-secundary
          &:hover
            text-decoration: none
      .admin-description
        span
          font-family: $corporate-font-family-sans-serif-Medium
          font-size: 12px
          color: $gray
          height: 20px
          overflow-y: hidden
          &:hover
            height: auto
            overflow-y: auto
      .admin-date
        span
          font-family: $corporate-font-family-sans-serif-Medium
          font-size: 14px
          color: #9E9E9E
      .admin-icontrash,
      .admin-iconlock
        text-align: right
        font-size: 25px
        a
          color: $gray
          &:hover
            color: $brand-secundary
            text-decoration: none

  .admin-checkbox
    width: 3%
  .admin-resource
    width: 10%
  .admin-type
    width: 5%
  .admin-user
    width: 10%
  .admin-reporter
    width: 10%
  .admin-description
    width: 40%
  .admin-date
    width: 12%
  .admin-icontrash
    width: 5%
  .admin-iconlock
    width: 5%