#category
  @include make-xs-column(12, $gutter: $grid-gutter-width)
  @include make-sm-column(12, $gutter: $grid-gutter-width)
  @include make-md-column(12, $gutter: $grid-gutter-width)
  @include make-lg-column(12, $gutter: $grid-gutter-width)
  padding: 0 !important
  margin-bottom: 20px
  .category_info
    margin-bottom: 20px
    float: left
    background-color: $white
    display: block
    width: 100%
    @include well
    border: none
    padding: 0
    @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
    position: relative
    @media (max-width: $screen-xs-max)
      padding: 10px
    .icontitle
      margin-top: 0
      margin-bottom: 8px
    .fa-box
      @include make-xs-column(12, $gutter: $grid-gutter-width)
      @include make-sm-column(3, $gutter: $grid-gutter-width)
      @include make-md-column(2, $gutter: $grid-gutter-width)
      @include make-lg-column(2, $gutter: $grid-gutter-width)
      padding-left: 0
      @media (max-width: $screen-xs-max)
        padding-right: 0
        @include center-block
        width: 200px
        float: none


    .my_favorites
      width: 100% !important

    .information
      @include make-xs-column(12, $gutter: $grid-gutter-width)
      @include make-sm-column(10, $gutter: $grid-gutter-width)
      @include make-md-column(10, $gutter: $grid-gutter-width)
      @include make-lg-column(10, $gutter: $grid-gutter-width)
      padding-top: 10px
      padding-bottom: 10px
      @media (max-width: $screen-xs-max)
        margin-top: 30px
      .description
        clear: both
        color: $gray-dark
        font-family: $corporate-font-family-sans-serif-Light
      .briefing
        .helpheader
          @include hidden-xs
          i
            padding-top: 0
        h2
          margin-top: 0
          margin-bottom: 4px
          color: $gray-dark
          font-family: $corporate-font-family-sans-serif-Medium

        .description
          color: $gray
          font-family: $corporate-font-family-sans-serif-Light
          word-wrap: break-word
          margin-bottom: 5px
          font-size: 13px



  //FORMULARIO

  .update
    @include make-xs-column(12, $gutter: $grid-gutter-width)
    @include make-sm-column(10, $gutter: $grid-gutter-width)
    @include make-md-column(10, $gutter: $grid-gutter-width)
    @include make-lg-column(10, $gutter: $grid-gutter-width)
    label
      font-size: 12px
      font-family: $corporate-font-family-sans-serif-Light
      color: $brand-primary
      display: block
      clear: both
      margin-top: 12px
    input
      &[type="text"]
        display: block
        width: 100%
        padding: 4px 2%
    .actions
      margin-top: 8px 0 15px
      display: block
      height: 34px
      clear: both
      input
        width: auto
        float: right
      a
        float: right
        margin-right: 10px
        background-color: $gray
        color: $white
        &:hover
          color: $white



#category
  .category_info
    position: relative
    .icon-box
      @include make-xs-column(2, $gutter: $grid-gutter-width)
      @include make-sm-column(2, $gutter: $grid-gutter-width)
      @include make-md-column(2, $gutter: $grid-gutter-width)
      @include make-lg-column(2, $gutter: $grid-gutter-width)
      background-color: $white
      padding: 0px !important
      display: block
      @media (max-width: $screen-xs-max)
        display: none
      .container-img-categorie_0
        width: 49%
        float: left
      .container-img-categorie_1
        width: 49%
        float: right
      .container-img-categorie_2
        width: 49%
        float: left
        margin-top: 2%
      .container-img-categorie_3
        width: 49%
        float: right
        margin-top: 2%
      .container-img-categorie_0,
      .container-img-categorie_1,
      .container-img-categorie_2,
      .container-img-categorie_3,
        display: inline-block
        position: relative
        border-radius: none
        background-color: #C4C4C4
        .dummy-categorie
          padding-top: 75% /* 4:3 aspect ratio */
        .element-categorie
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          overflow: hidden
          text-align: center
          width: 100%
          .img-box-categorie
            width: 100%
            padding-bottom: 75%
            float: left
            img
              float: left
              width: 100%
              height: 100%
      .container-img
        padding-bottom: 0.3%
        display: inline-block
        position: relative
        width: 100%
        padding: 10%
        background-color: #007cc8
        .info
          height: 75px
        i
          color: #fff !important
          font-size: 2.3em
          margin-left: -21%
    .corner-item
      position: absolute
      top: 0
      left: 0
      width: 88px
      height: 88px
      z-index: 2
      .corner-item2
        position: absolute
        height: 72px
        width: 72px
        left: 3px
        top: 3px
        z-index: 4
        -webkit-border-top-left-radius: 5px
        -moz-border-radius-topleft: 5px
        border-top-left-radius: 5px
        overflow: hidden
        -webkit-box-shadow: -2px -2px 2px  rgba(0,0,0,0.20)
        -moz-box-shadow: -2px -2px 2px  rgba(0,0,0,0.20)
        box-shadow: -2px -2px 2px  rgba(0,0,0,0.20)
        .corner-color
          position: absolute
          width: 0
          height: 0
          border-style: solid
          border-width: 72px 72px 0 0
          z-index: 5
          border-color: $brand-primary transparent transparent transparent
        i
          position: absolute
          top: 9px
          left: 9px
          color: $white
          font-size: 22px
          z-index: 6
          height: 26px
          width: 26px
      .corner-background
        position: absolute
        width: 0
        height: 0
        border-style: solid
        border-width: 88px 88px 0 0
        border-color: $body-bg transparent transparent transparent
        z-index: 3
        top: -5px
        left: -5px
#categories_viewer_modal
  .modal-header
    i
      padding: 0

    .helpheader_modal
      float: right
      margin-top: 3px
      position: relative
      i
        cursor: pointer
        font-size: 20px
        color: $gray

      .popover
        font-size: 14px
        width: 300px !important
      .popoverfix
        width: 248px
        margin-left: -15px
        margin-bottom: -15px
  .modal-body
    p
      width: 100%
      padding: 3px 0
    div.information
      width: 25%
      display: inline-block
    #suggestedCategories
      height: 30px
      overflow: hidden
    li.tagit-choice
      background: gray
      @include border-top-radius (3px)
      @include border-bottom-radius (3px)
      color: #FFFFFF
      cursor: pointer
      display: block
      float: left
      margin-right: 5px
      padding: 8px 10px
      position: relative
      a
        display: block
        float: left
        color: $white
        font-size: 14px
        font-weight: lighter
    .dropdown
      width: 75%
      i
        float: right
      ul
        width: 100%
        opacity: 0.9
        height: 100px
        overflow-y: auto
        margin-top: 35px

      button
        width: 100%
        float: right
        text-align: left
        border: 1px solid $gray
      span
        float: right
        display: inline
      b
        display: inline
        color: $gray-light
        float: left
      a
        font-size: 14px
        color: $white
        cursor: pointer
        padding-left: 10px
  .modal-footer
    button
      color: white
      background-color: $brand-primary

#categories_edition
  background-color: rgba(0,0,0,0.8)
  position: fixed
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  z-index: 9999
  overflow-y: auto
  display: none
  .editing_info
    width: 100%
    z-index: 1000
    margin: 0
    padding: 0px 15px 10px
    background-color: rgba(240,240,240,0.95)
    position: fixed
    left: 0px
    h3
      width: 50%
      color: $gray-dark
      margin-top: 10px
    // Delete Zone
    .delete
      width: 14%
      display: block
      float: right
      @include border-bottom-radius ($border-radius-base)
      @include border-top-radius ($border-radius-base)
      border: 2px dashed $gray
      text-align: center
      margin-top: -30px
      height: auto
      i
        font-size: 50px
        margin: 15px auto 5px
        display: block
        float: none
        text-align: center
        color: $gray
      p
        color: $gray
        width: 95%
        padding: 2.5%
      &:hover
        color: $gray-dark
        border: 2px dashed $gray-dark
        i
          color: $gray-dark
        p
          color: $gray-dark
    // Info
    ul
      margin: 0
      width: 85%
      display: block
      float: left
      li
        display: block
        float: left
        width: 33%
        i
          font-size: 27px
          float: left
          width: 15%
        h4
          margin: 0
          float: left
          display: block
          clear: right
          color: $gray-dark
          margin-bottom: 3px
          margin-top: 4px
          width: 75%
          margin-left: 5%
        p
          width: 70%
          clear: both
          float: left
          margin-right: 5%
          margin-left: 20%
          display: block
          font-size: 10px
          margin-top: -2px
    .actions
      height: 35px
      float: left
      width: 83%
      @include border-top-radius ($border-radius-base)
      margin-top: 6px
      .btn, .btn-primary
        margin: 5px 5px 3px 0px
        padding: 1px 12px
      .btn-for-undo
        background-color: $gray
        background-image: none
        color: $white
        text-shadow: none
      i
        padding-right: 5px
        font-size: 16px
      .btn-for-undo
      .btn-primary:active,
      .btn-primary.active
        background-color: $brand-primary
  // Excursions
  .layout_edit
    padding-top: 185px
    padding-right: 5%
    padding-left: 5%
    max-width: 2000px
    margin-left: auto
    margin-right: auto
    display: block
    ul
      margin: 0
      margin: 20px 0 0
