.catalogue-layout
  height: 39px
#excursions_catalogue,
#open_catalogue
  display: block
  float: left
  height: auto
  width: 100%
  padding-bottom: 65px
  .back_catalogue
    display: inline-block
    float: left
    font-size: 20px
    margin-right: 10px
    margin-top: 11px
    &:hover
      text-decoration: none
    i
      color: $brand-secundary
      cursor: pointer
      font-size: 40px
  h2
    width: auto
    float: left
    display: inline-block
  ul
    clear: both
    width: 100%
  button
    display: block
    float: right
    clear: left
#showMore_tags
  display: block
  clear: both
  color: $gray
  background-color: $white
  cursor: pointer
  font-size: 11px
  line-height: 24px
  text-align: center
  width: 150px
  margin: 0 auto
  border: 1px solid #999999
  a
    color: $gray
.header_catalogue
  h1
    width: 100%
    text-align: left
    margin-top: 2px !important
    margin-bottom: 2px !important
    i
      color: #BEBEBE
      font-size: 26px
      margin-right: 5px
  hr
    border-bottom-color: $gray

#catalogue
  width: 100%
  float: left
  background: none
  margin-top: -25px
  display: block
  ul.Tags_list_as
    width: 100%
    height: auto
    float: left
    display: block
    margin: 0
    position: relative
    border-left: none
    .info_catalogue
      width: 10%
      height: 100%
      float: left
      display: block
      font-weight: lighter
      background: darken($brand-secundary, 10%) 
      margin: 0
      position: absolute
      i
        margin: 0
    #effect
      display: block
      float: left
      border-bottom: 1px solid #999999
      padding: 5px 0
      width: 100%
      li
        text-align: center
        label
          color: $gray
          font-weight: 500
          text-shadow: none
          position: relative
          width: 100%
          height: auto
        label:hover
          color: darken($gray, 20%) 
          font-weight: 600
    .newClass 
      li
        display: none
      li:nth-of-type(-n+10) 
        display: block
        margin-top: 5px
        width: 20%
        display: block
        float: left
        padding-left: 0
        word-wrap: ellipsis
    .anotherNewClass 
      li
        display: none
      li:nth-of-type(-n+50) 
        display: block
        margin-top: 5px
        width: 20%
        display: block
        padding-left: 0
        float: left
        word-wrap: ellipsis

@media (min-width: 900px) and (max-width: 1060px)
  #catalogue 
    ul.Tags_list_as 

      #effect
        li
          width: 24%
  
@media (min-width: 0px) and (max-width: 979px)
  #catalogue
    margin-top: 0px


@media (min-width: 650px) and (max-width: 899px)

  #catalogue 
    ul.Tags_list_as 
      #effect
        li
          width: 32%


@media (min-width: 450px) and (max-width: 649px)
  #showMore
    width: 15%
  #catalogue 
    ul.Tags_list_as 
      #effect
        width: 100%
        li
          width: 48%


@media (min-width: 0px) and (max-width: 449px)
  #showMore
    width: 20%
  #catalogue 
    ul.Tags_list_as 
      #effect
        width: 100%

        li
          width: 99%
  #showMore_tags
    width: 20%







/*8*/
@media (min-width: 1751px)
  #excursions_catalogue
    ul
      .box-item  
        display: none
      .box-item:nth-of-type(-n+8) 
        display: block


/*7*/
@media (min-width: 1500px) and (max-width: 1750px)
  #excursions_catalogue
    ul
      .box-item  
        display: none
      .box-item:nth-of-type(-n+7) 
        display: block


/*6*/
@media (min-width: 1250px) and (max-width: 1500px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+6) 
      display: block

/*5*/
@media (min-width: 1000px) and (max-width: 1250px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+5) 
      display: block



/*4*/
@media (min-width: 750px) and (max-width: 1000px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+4) 
      display: block



/*3*/
@media (min-width: 500px) and (max-width: 750px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+3) 
      display: block



/*2*/
@media (min-width: 320px) and (max-width: 500px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+2) 
      display: block



/*1*/
@media (max-width: 320px)
  #excursions_catalogue
    .box-item  
      display: none
    .box-item:nth-of-type(-n+1) 
      display: block








#excursions_catalogue,
#open_catalogue


  .back_catalogue
    display: inline-block
    float: left
    font-size: 20px
    margin-right: 10px
    margin-top: 11px
    &:hover
      text-decoration: none
  h2
    width: auto
    float: left
    display: inline-block
  ul
    clear: both
    width: 100%

.show_more_catalogue
  display: inline-block
  float: right
  color: #333333
  cursor: pointer
  font-size: 11px
  font-weight: bold
  line-height: 18px
  text-align: center
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
  background-color: #ddd
  border-radius: 3px
  border: 1px solid #ccc
  margin-right: 10px

.show_more_catalogue:hover
  background-color: #fff

#showMore_tags
  position: absolute
  bottom: 0
  color: $white
  cursor: pointer
  font-size: 11px
  line-height: 24px
  border: none
  background: $brand-secundary
  width: 100%
  a
    color: $white

#catalogue
  width: 100%
  position: absolute
  left: 0
  margin-top: -21px
  background: $brand-secundary


  div.Tags_list_as
    margin: 0
    padding-left: 0
    .info_catalogue
      width: 132px
      height: 100%
      background: darken($brand-secundary, 10%) 
      position: absolute
      h3
        text-align: center
        width: auto
        margin: 0 auto
        display: block
        font-family: #017CC8
        color: lighten($brand-secundary, 5%) 
        margin-top: 14px
        font-size: 20px
      i
        margin: 0
    #effect
      display: block
      float: left
      padding: 10px 0 10px 132px
      width: 100%
      li 
        label
          color: $white
          font-size: 13px
          line-height: 23px
          input
            margin: 6px 4px 0px 0
          span
            @include text-overflow
            width: 85%
            float: left

    .newClass 
      li
        display: none
      li:nth-of-type(-n+10) 
        display: block
        margin-top: 5px
        width: 31%
        display: block
        float: left
        padding-left: 1%
        word-wrap: ellipsis


    .anotherNewClass 
      li
        display: none
      li:nth-of-type(-n+50) 
        display: block
        margin-top: 5px
        width: 19%
        display: block
        float: left
        padding-left: 1%
        word-wrap: ellipsis

/* check tags */
.Tags_list_as
  input[type="checkbox"] 
    display: none


  input[type="checkbox"] + span.icon
    display: inline-block
    width: 19px !important
    height: 19px !important
    margin: -1px 4px 0 0
    vertical-align: middle
    background: url(icons/check_radio_sheet.png) left top no-repeat
    cursor: pointer

  input[type="checkbox"]:checked + span.icon
    background: url(icons/check_radio_sheet.png) -19px top no-repeat




@media (max-width: $screen-xs-max)

  #catalogue 
    div.Tags_list_as 
      .info_catalogue
        width: 17%
        h3
          @include rotate(-90deg)
          position: absolute
          top: 25%
          right: 0
      #effect
        padding: 10px 0 10px 17%
        width: 82%
        li
          width: 50%



@media (min-width: $screen-md-min)

  #catalogue 
    div.Tags_list_as 
      #effect
        li
          width: 25%



@media (min-width: $screen-lg-min)
  #catalogue 
    div.Tags_list_as
      #effect
        li
          width: 16%
  
@media (min-width: 1404px)
  #catalogue 
    div.Tags_list_as
      #effect
        li
          width: 13%

@media (min-width: 1808px)
  #catalogue 
    div.Tags_list_as
      #effect
        li
          width: 10%



@media (max-width: 479px)

  #catalogue 
    div.Tags_list_as 
      .info_catalogue
        width: 74px
      #effect
        padding: 10px 0 10px 79px
        li
          width: 100%



#excursions_catalogue
  margin-top: 185px
  @media (max-width: $screen-xs-max)
    margin-top: 205px
  @media (min-width: $screen-md-min)
    margin-top: 165px
  @media (min-width: $screen-lg-min)
    margin-top: 125px
  @media (min-width: 1404px)
    margin-top: 90px
  @media (min-width: 1808px)
    margin-top: 68px
  @media (max-width: 479px)
    margin-top: 400px
  header
    width: 100%
    float: left
    padding-bottom: 4px
    h1
      font-family: $corporate-font-family-sans-serif-Regular
  ul
    margin-bottom: 8px

