#category
  @include make-xs-column(12, $gutter: $grid-gutter-width)
  @include make-sm-column(12, $gutter: $grid-gutter-width)
  @include make-md-column(12, $gutter: $grid-gutter-width)
  @include make-lg-column(12, $gutter: $grid-gutter-width)
  margin-bottom: 20px
  .category_info
    margin-bottom: 20px
    float: left
    background-color: $white
    display: block
    width: 100%
    @extend .well
    border: none
    padding: 0
    @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
    position: relative
    @media (max-width: $screen-xs-max)
      padding: 10px
    .fa-box
      @include make-xs-column(12, $gutter: $grid-gutter-width)
      @include make-sm-column(3, $gutter: $grid-gutter-width)
      @include make-md-column(2, $gutter: $grid-gutter-width)
      @include make-lg-column(2, $gutter: $grid-gutter-width)
      padding-left: 0
      @media (max-width: $screen-xs-max)
        padding-right: 0
        @include center-block
        width: 200px
        float: none
      i.icon-th-large
        font-size: 92px
        display: block
        text-align: center
      
    .my_favorites
      width: 100% !important

    .information
      @include make-xs-column(12, $gutter: $grid-gutter-width)
      @include make-sm-column(9, $gutter: $grid-gutter-width)
      @include make-md-column(10, $gutter: $grid-gutter-width)
      @include make-lg-column(10, $gutter: $grid-gutter-width)
      padding-top: 10px
      padding-bottom: 10px
      .description
        clear: both
        color: $gray-dark
        font-family: $corporate-font-family-sans-serif-Light
      .briefing
        .helpheader
          @include hidden-xs
          i
            padding-top: 0

        .description
          color: $gray-dark
          font-family: $corporate-font-family-sans-serif-Light
          word-wrap: break-word
          margin-bottom: 20px
        .btn-group
          .action
            &:hover
              background-color: $brand-primary
              color: $white



  //FORMULARIO
  .information
    .update
      label
        font-size: 12px
        font-family: $corporate-font-family-sans-serif-Light
        color: $brand-primary
        display: block
        clear: both
        margin-top: 12px
      input 
        &[type="text"]
          display: block
          width: 100%
          padding: 4px 2%
      .actions
        margin-top: 8px
        display: block
        input
          width: auto
          float: right
        a
          float: right
          margin-right: 10px
          background-color: $brand-primary
          color: $white
          &:hover
            color: $white
 
.category_thumb
  .category_thumb_0,
  .category_thumb_1,
  .category_thumb_2,
  .category_thumb_3
    width: 50%
    height: 70px
    border: 2px solid $white
    display: block
    float: left
    position: static
    overflow: hidden
    background: #007cc8
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    img
      max-width: 100%


