#excursions_catalogue,
#open_catalogue


  .back_catalogue
    display: inline-block
    float: left
    font-size: 20px
    margin-right: 10px
    margin-top: 11px
    &:hover
      text-decoration: none
  h2
    width: auto
    float: left
    display: inline-block
  ul
    clear: both
    width: 100%

.show_more_catalogue
  display: inline-block
  float: right
  color: #333333
  cursor: pointer
  font-size: 11px
  font-weight: bold
  line-height: 18px
  text-align: center
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
  background-color: #ddd
  border-radius: 3px
  border: 1px solid #ccc
  margin-right: 10px

.show_more_catalogue:hover
  background-color: #fff

#showMore_tags
  position: absolute
  bottom: 0
  color: $white
  cursor: pointer
  font-size: 11px
  line-height: 24px
  border: none
  background: $brand-secundary
  width: 100%
  a
    color: $white

#catalogue
  width: 100%
  position: absolute
  left: 0
  margin-top: -21px
  background: $brand-secundary


  div.Tags_list_as
    margin: 0
    padding-left: 0
    .info_catalogue
      width: 132px
      height: 100%
      background: darken($brand-secundary, 10%) 
      position: absolute
      h3
        text-align: center
        width: auto
        margin: 0 auto
        display: block
        font-family: #017CC8
        color: lighten($brand-secundary, 5%) 
        margin-top: 14px
        font-size: 20px
      i
        margin: 0
    #effect
      display: block
      float: left
      padding: 10px 0 10px 132px
      width: 100%
      li 
        label
          color: $white
          font-size: 13px
          line-height: 23px
          input
            margin: 6px 4px 0px 0
          span
            @include text-overflow
            width: 85%
            float: left

    .newClass 
      li
        display: none
      li:nth-of-type(-n+10) 
        display: block
        margin-top: 5px
        width: 31%
        display: block
        float: left
        padding-left: 1%
        word-wrap: ellipsis


    .anotherNewClass 
      li
        display: none
      li:nth-of-type(-n+50) 
        display: block
        margin-top: 5px
        width: 19%
        display: block
        float: left
        padding-left: 1%
        word-wrap: ellipsis

/* check tags */
.Tags_list_as
  input[type="checkbox"] 
    display: none


  input[type="checkbox"] + span.icon
    display: inline-block
    width: 19px !important
    height: 19px !important
    margin: -1px 4px 0 0
    vertical-align: middle
    background: url(icons/check_radio_sheet.png) left top no-repeat
    cursor: pointer

  input[type="checkbox"]:checked + span.icon
    background: url(icons/check_radio_sheet.png) -19px top no-repeat




@media (max-width: $screen-xs-max)

  #catalogue 
    div.Tags_list_as 
      .info_catalogue
        width: 17%
        h3
          @include rotate(-90deg)
          position: absolute
          top: 25%
          right: 0
      #effect
        padding: 10px 0 10px 17%
        width: 82%
        li
          width: 50%



@media (min-width: $screen-md-min)

  #catalogue 
    div.Tags_list_as 
      #effect
        li
          width: 25%



@media (min-width: $screen-lg-min)
  #catalogue 
    div.Tags_list_as
      #effect
        li
          width: 16%
  
@media (min-width: 1404px)
  #catalogue 
    div.Tags_list_as
      #effect
        li
          width: 13%

@media (min-width: 1808px)
  #catalogue 
    div.Tags_list_as
      #effect
        li
          width: 10%



@media (max-width: 479px)

  #catalogue 
    div.Tags_list_as 
      .info_catalogue
        width: 74px
      #effect
        padding: 10px 0 10px 79px
        li
          width: 100%



#excursions_catalogue
  margin-top: 185px
  @media (max-width: $screen-xs-max)
    margin-top: 205px
  @media (min-width: $screen-md-min)
    margin-top: 165px
  @media (min-width: $screen-lg-min)
    margin-top: 125px
  @media (min-width: 1404px)
    margin-top: 90px
  @media (min-width: 1808px)
    margin-top: 68px
  @media (max-width: 479px)
    margin-top: 400px
  header
    width: 100%
    float: left
    padding-bottom: 4px
    h1
      font-family: $corporate-font-family-sans-serif-Regular
  ul
    margin-bottom: 8px

