#course
  background-color: #FFFFFF
  -webkit-box-shadow: 0 -1px 5px rgba(50, 51, 51, 0.1)
  box-shadow: 0 -1px 5px rgba(50, 51, 51, 0.1)
  width: 100%
  clear: both
  border: none
  padding: 0
  max-width: 1000px
  margin: 0 auto 15px

.checkbox_course_field
  margin-bottom: 10px
  #course_restricted, #course_closed
    opacity: 1
  label
    margin-left: 30px
    margin-top: 3px

.restriction_mail, .restriction_password
  padding: 0 30px
  label
    color: $gray-dark


#course_button_bar
  position: relative
  .edit_course
    display: inline
    //input
      vertical-align: bottom
      margin-bottom: 10px

.container_mooc
  margin: 0
  .mooc_image_main
    overflow: hidden
    padding-left: 0
    height: 300px
    overflow: hidden
    img
      width: 100%
      position: relative
      top: -250px
  .mooc_welcome_text
    background-color: white
    padding: 40px
    h1
      font-size: 2.5em
      font-weight: bolder
      margin: 0 0 20px 0
    h2
      color: $brand-primary
      font-size: 1.1em
      margin: 5px 0
    p
      padding: 10px
      margin: 0
      color: $gray-dark
    .little_font
      font-size: 0.9em
    .highlight
      color: black
      font-weight: 600
    .tagit-suggestions
      padding: 10px
      overflow: hidden
  .btn
    margin: 10px 5px 0 0
    i
      margin-right: 5px
  .mooc_inline_field
    margin-bottom: 20px
    h2
      display: inline
    p
      display: inline
    ul
      display: inline
      .tagit-choice
        display: inline-block !important
        float: none !important

@media (max-width: 991px)
  .container_mooc
    margin-top: -2.9vw
    .mooc_image_main
      height: auto
      max-height: 350px
      img
        width: 100%
        height: auto
        left: 0
        top: -150px
    .mooc_welcome_text
      height: auto
@media (max-width: 768px)
  .container_mooc
    .mooc_image_main
      img
        top: 0px