aside.recomended
  @include hidden-xs
  @include make-sm-column(4, $gutter: $grid-gutter-width)
  @include make-md-column(4, $gutter: $grid-gutter-width)
  @include make-lg-column(4, $gutter: $grid-gutter-width)

.doc-show,
.exc-show
  @include make-sm-column(8, $gutter: $grid-gutter-width)
  @include make-md-column(8, $gutter: $grid-gutter-width)
  @include make-lg-column(8, $gutter: $grid-gutter-width)

.description-activity
  .box_description
    min-height: 202px
  .activity-box
    clear: both
    padding-bottom: 15px
    .activity
      width: 100%
      float: none
      div.comments,
      .child
        float: none

.description-activity
  @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
  @extend .well
  background-color: $white
  padding: 0
  border: none
  clear: both
  h2,
  .tab-content
    width: 95%
    @include center-block
  h2
    font-family: $corporate-font-family-sans-serif-Regular
  .tab-content
    .newClass,
    .avatar,
    #effect,
    .right-name
      float: left
      .add
        @include follow-profile
        margin-top: -10px
    .left-info
      @include make-sm-column(4, $gutter: $grid-gutter-width)
      @include make-md-column(4, $gutter: $grid-gutter-width)
      @include make-lg-column(4, $gutter: $grid-gutter-width)
      .viewsAndCount
        clear: both
        padding-top: 2px
        .views
          display: inline
          font-family: $corporate-font-family-sans-serif-Medium
          span
            font-family: $corporate-font-family-sans-serif-Light
        .like
          font-family: $corporate-font-family-sans-serif-Medium
          display: inline-block
          margin-left: 8px
          .count
            display: inline
      
    .avatar img
      width: 30px
    .right-name
      @include make-sm-column(9, $gutter: $grid-gutter-width)
      @include make-md-column(9, $gutter: $grid-gutter-width)
      @include make-lg-column(9, $gutter: $grid-gutter-width)
    .panel-group
      @include make-sm-column(8, $gutter: $grid-gutter-width)
      @include make-md-column(8, $gutter: $grid-gutter-width)
      @include make-lg-column(8, $gutter: $grid-gutter-width)
      .panel-body
        padding: 0 
      .table
        margin-bottom: 0
      

  .comments,
  .child
    width: 100%

.excursion_tool
  .btn-group
    right: 0
    float: right
    display: inline-block
  ul.nav-tabs
    clear: none

.box-show
  @include make-xs-column(12, $gutter: $grid-gutter-width)
  @include make-sm-column(12, $gutter: $grid-gutter-width)
  @include make-md-column(12, $gutter: $grid-gutter-width)
  @include make-lg-column(12, $gutter: $grid-gutter-width)
  background-color: #E2E2E2
  padding: 11px 0
  .container-visor
    width: 100%

aside.recomended
  float: right !important
  .items
    padding: 0
  .thumbnail
    @include excursion-small

.box-show
  a,
  i
    text-align: center
    width: 100%
    float: left
    font-size: 44px
  .elemento-visor
    padding-top: 79%
    width: 100%
  .caja-visor
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%

.social_toolbar_excursion
  div.social
    display: inline-block
    vertical-align: top
    .btn
      padding: 0
  &:first-child
    display: inline

.contentscorm
  a
    float: left
    margin-right: 15px 
    @media (max-width: $screen-xs-max)
      float: none
      margin-bottom: 15px
  p
    overflow: hidden
    zoom: 1

.contentReport
  .btn-group-vertical,
  .captcha
    @include make-xs-column(12, $gutter: $grid-gutter-width)
    @include make-sm-column(6, $gutter: $grid-gutter-width)
    @include make-md-column(6, $gutter: $grid-gutter-width)
    @include make-lg-column(6, $gutter: $grid-gutter-width)
  .simple_captcha,
  .simple_captcha_image
    float: none !important
  .btn  
    float: right