
.eve-show
  @include make-sm-column(8, $gutter: $grid-gutter-width)
  @include make-md-column(8, $gutter: $grid-gutter-width)
  @include make-lg-column(8, $gutter: $grid-gutter-width)
  .icon-box
    background: $white
    .fa-video-camera
      position: absolute
      font-size: 94px
      margin-top: 141px
    .event-img,
    .btn,
    .fa-video-camera
      width: 100%
    .btn,
    .fa-video-camera
      text-align: center
  .high
    img
      width: 100%

.edit_event,
.edit_picture
  label
    margin-top: 10px
  .btn-primary
    float: right
    margin: 20px 0 30px
    
.edit_event
  .edit_picture
    .btn
      float: right
      margin-top: -26px