#index {
  margin-top: -45px;
}

.marketing header p{
  font-size: 30px !important;
  margin-top: 40px;
  line-height: 1.5;
  font-family: $handwrite-font;
  position: relative; 
  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
}

@-moz-keyframes dropHeader {
  0% {
    left: -400px;
    -moz-opacity:0.1;
    -webkit-opacity:0.1;
    -o-opacity:0.1;
    opacity: 0.1;
  }
  100% {
    left: 0px;
    -moz-opacity:1;
    -webkit-opacity:1;
    -o-opacity:1;
    opacity: 1;
  }
}

@-webkit-keyframes dropHeader {
  0% {
    left: -400px;
    -moz-opacity:0.1;
    -webkit-opacity:0.1;
    -o-opacity:0.1;
    opacity: 0.1;
  }
  100% {
    left: 0px;
    -moz-opacity:1;
    -webkit-opacity:1;
    -o-opacity:1;
    opacity: 1;
  }
}

.marketing header p:nth-child(2){
  margin-top: 16px;
  margin-bottom: 47px;
  font-size: 23px !important;
  -moz-animation-name: rHandwrite;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: rHandwrite;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  @media (max-width: $screen-sm-max) {
    margin-top: 15px;
  }
}


@-moz-keyframes rHandwrite {
  0% {
    right: -400px;
    -moz-opacity:0.1;
    -webkit-opacity:0.1;
    -o-opacity:0.1;
    opacity: 0.1;
  }
  100% {
    right: 0px;
    -moz-opacity:1;
    -webkit-opacity:1;
    -o-opacity:1;
    opacity: 1;
  }
}

@-webkit-keyframes rHandwrite {
  0% {
    right: -400px;
    -moz-opacity:0.1;
    -webkit-opacity:0.1;
    -o-opacity:0.1;
    opacity: 0.1;
  }
  100% {
    right: 0px;
    -moz-opacity:1;
    -webkit-opacity:1;
    -o-opacity:1;
    opacity: 1;
  }
}

.marketing header p span{
  color: #00D3DE;
}

.marketing header p span.low{
  color: #002d67;
}

.marketing header hr {
  margin: 20px 0;
}

.characteristics{
  @include make-xs-column(12, $gutter: $grid-gutter-width);
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(12, $gutter: $grid-gutter-width);
  @include make-lg-column(12, $gutter: $grid-gutter-width);
}
.characteristic{
  @include make-xs-column(12, $gutter: $grid-gutter-width);
  @include make-sm-column(4, $gutter: $grid-gutter-width);
  @include make-md-column(4, $gutter: $grid-gutter-width);
  @include make-lg-column(4, $gutter: $grid-gutter-width);
  margin: 0;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 40px;
  }
}

.characteristic i {
  color: #00D3DE;
}