  
#QuizEdit
  width: 60%
  height: 60%
  margin-left: -31%
  margin-top: 2%
  .modal-header
    height: 3%
    max-height: 3%
  .modal-body
    height: 83%
    max-height: 83%
  .modal-footer
    height: 2%
    max-height: 2%
  .updateQuizButton
    margin-top: 20px

#QuizAnalitycs
  width: 80%
  height: 90%
  margin-left: -40%
  margin-top: -3%
  .modal-header
    height: 3%
    max-height: 3%
  .modal-body
    height: 87%
    max-height: 87%
  .modal-footer
    height: 2%
    max-height: 2%
  .quizResultsTable
    border: none
    .tdaRight
      text-align: right
    .trLast td
      padding-top: 4px
    .tdTFPercentage
      text-align: left
      padding-left: 0px !important
    .tdbeforeTFPercentage
      padding-right: 5px !important
      padding-left: 5px !important
  .quizResultsTable td
    padding: 0px 20px 0px 20px
#quiz_chart
  max-width: 100%
  max-height: 100%
  margin-top: 30px
.quizWithoutAnswers
  width: 100%
  margin-top: 7%
  text-align: center
  font-size: 28px
.quizDownloadAsXLSX
  display: block
  margin-top: 1%
  text-align: right
  margin-right: 1%
p.quizQuestionChoice
  margin-left: 5%
.openQuizAnswersListWrapper
  width: 100% !important
ul.openQuizAnswersList
  li
    font-size: 1rem !important
  li:first-child
    font-size: 1.3rem !important
div.openQuizAnswerLeft
  background-image: url('/assets/vicons/userAnswer.png') !important


#quiz,
#help,
#legal_notice
  @include help
  .textrow
    margin: 5px 
    padding: 0 0 2.5em
    float: left 
    margin-right: 10px     
    width: 46%
    min-height: 300px
    h4
      margin-bottom: 20px
      color: $brand-secundary
      font-size: 14px
  .connectedSortable  
    list-style-type: none
    margin: 0 20px 10px -5px
  .connectedSortable li
    cursor: pointer
    @include box-shadow(0 -1px 10px rgba(50,51,51,0.10))
    margin: 0 5px 5px 5px  
    font-size: 1.1em 
    color: $black
    font-family: $corporate-font-family-sans-serif-Light
    border-width: 1px
    border-color: $brand-primary
    border-style: solid
    height: 35px
    @include border-top-radius ($border-radius-base)
    @include border-bottom-radius ($border-radius-base)
    padding: 10px
    background-color: $white
    .quiz_session_action
      float: right
      margin-left: 1%
    .creation_date
      white-space: nowrap
      overflow: hidden
      font-size: 0.8em
      color: $gray-light
    button
      font-family: $corporate-font-family-sans-serif-Medium
      float: right
      display: block
      margin-top: 4px
      margin-left: 2px

    &:hover
      background-color: $brand-primary
      .creation_date
        color: $white


#overview
  .overviewindex
    @include hidden-xs 
    @include make-sm-column(3, $gutter: $grid-gutter-width)
    @include make-md-column(3, $gutter: $grid-gutter-width)
    @include make-lg-column(3, $gutter: $grid-gutter-width)
    position: fixed
    ul
      li
        list-style: normal
        a
          &:active
            color: $gray-light  

  .overviewcontent
    @include make-xs-column(12, $gutter: $grid-gutter-width)
    @include make-sm-column(8, $gutter: $grid-gutter-width)
    @include make-md-column(8, $gutter: $grid-gutter-width)
    @include make-lg-column(8, $gutter: $grid-gutter-width)
    @include make-xs-column-offset(0)
    @include make-sm-column-offset(4)
    @include make-md-column-offset(4)
    @include make-lg-column-offset(4)


#help,
#quiz,
#legal_notice,
#overview
  .whiteframe
    padding: 40px $padding-large-vertical
    min-height: 350px
    @extend .well
    @include make-xs-column(12, $gutter: $grid-gutter-width)
    @include make-sm-column(12, $gutter: $grid-gutter-width)
    @include make-md-column(12, $gutter: $grid-gutter-width)
    @include make-lg-column(12, $gutter: $grid-gutter-width)
    legend
      margin-bottom: 0px
      border-bottom: 1px solid $gray-lighter
