div#AddResource
  section.authorship
    input[type=checkbox]
      display: block
      opacity: 1
      position: relative
      float: left
    label
      margin-top: 3px
      margin-left: 7px
      width: auto