#search
  @include make-xs-column(12, $gutter: $grid-gutter-width)
  @include make-sm-column(12, $gutter: $grid-gutter-width)
  @include make-md-column(12, $gutter: $grid-gutter-width)
  @include make-lg-column(12, $gutter: $grid-gutter-width)
  margin: $zero
  .search
    @include make-xs-column(12, $gutter: $grid-gutter-width)
    @include make-sm-column(12, $gutter: $grid-gutter-width)
    @include make-md-column(12, $gutter: $grid-gutter-width)
    @include make-lg-column(12, $gutter: $grid-gutter-width)
    ul h1
      float: left
      margin: 0 12px 0 0
      font-family: $corporate-font-family-sans-serif-Regular
    span.helpheader
      float: right
  .user
    width: auto !important


.mat
  margin-top: 8px
  z-index: 10
  position: absolute
  width: 219px
  background-color: rgba(85,85,85,0.97)
  @include border-bottom-radius ($border-radius-base)

  .query_too_short
    @include border-bottom-radius ($border-radius-base)
    color: $white
    width: 92%
    text-align: center
    padding: 3px
    margin-top: 2px
    -webkit-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.75)
    -moz-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.75)
    box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.75)
  .no_results
    display: block
    @include border-bottom-radius ($border-radius-base)
    color: $white
    background-color: $brand-primary
    width: 92%
    text-align: center
    padding: 3px
    margin-top: 2px
    -webkit-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.3)
    -moz-box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.3)
    box-shadow: inset -5px 10px 5px -7px rgba(0,0,0,0.3)

  .results
    ul
      width: 95%
      padding-left: 0
      float: none
      @include border-bottom-radius ($border-radius-base)
      @include center-block
      .more
        display: block
        clear: both
        text-align: center
        height: auto
        padding-bottom: 3px
        padding-top: 2px
        a
          color: $white
          font-family: $corporate-font-family-sans-serif-Medium
          text-decoration: none
        &:hover
          background: $gray-darker-extra
          a
            color: $white
            &:hover
              background-color: $gray-darker-extra !important
      .img-box
        padding-bottom: 0