#search
  @include make-xs-column(12, $gutter: $grid-gutter-width)
  @include make-sm-column(12, $gutter: $grid-gutter-width)
  @include make-md-column(12, $gutter: $grid-gutter-width)
  @include make-lg-column(12, $gutter: $grid-gutter-width)
  margin: $zero
  .search
    @include make-xs-column(12, $gutter: $grid-gutter-width)
    @include make-sm-column(12, $gutter: $grid-gutter-width)
    @include make-md-column(12, $gutter: $grid-gutter-width)
    @include make-lg-column(12, $gutter: $grid-gutter-width)
    .helpheader i
      padding-top: 12px
    .popover-footer i
      padding-top: 0px
  ul.nav-tabs
    li a i
      margin: 0 4px 0 0
  .user
    width: auto !important


.mat
  margin-top: 6px
  z-index: 10
  position: absolute
  width: 290px
  background-color: rgba(85,85,85,0.97)
  @include border-bottom-radius ($border-radius-base)
  @media (max-width: $screen-xs-max)
    width: 87%
    left: 0
    right: 0
    top: 87px
    @include center-block
  .spinner
    margin: 35px auto 0 !important
    display: none
  .query_too_short
    @include border-bottom-radius ($border-radius-base)
    color: $white
    text-align: center
    padding: 3px
    margin-top: 2px
  .no_results
    display: block
    @include border-bottom-radius ($border-radius-base)
    color: $white
    background-color: $brand-primary
    text-align: center
    padding: 3px
    margin-top: 2px

  .results
    height: 378px
    overflow: scroll
    ul
      width: 95%
      padding-left: 0
      float: none
      @include border-bottom-radius ($border-radius-base)
      @include center-block
      .add-item
        display: none
      li
        margin: 0 0 6px
      .more
        display: block
        clear: both
        text-align: center
        height: auto
        padding-bottom: 3px
        padding-top: 2px
        a
          color: $white
          font-family: $corporate-font-family-sans-serif-Medium
          text-decoration: none
        &:hover
          background: $gray-darker-extra
          a
            color: $white
            &:hover
              background-color: $gray-darker-extra !important
      .img-box
        padding-bottom: 0