div.susbcribe_form
  position: relative
  input
    width: 100%
    margin-top: 10px
  input[type=checkbox]
    opacity: 1
    width: 16px
    position: relative
    display: block
    float: left
  label.grant_label
    font-size: 1rem
    color: #000
    font-weight: normal
    margin-top: 8px
    margin-bottom: 2px
    margin-left: 6px
    margin-right: 1px
    width: auto

div.unsusbcribe_form
  position: relative
  input
    width: 100%
    margin-top: 10px
  input[type=checkbox]
    opacity: 1