<h3 class="title_WS resource_title_WS"><%=resource.title%></h3>
<div class="actions">
	<a class="btn download_object" href="<%=resource.getDownloadUrl(@controller)%>">
		<i class='icon-download'></i>
		<span><%= t('document.actions.download') %></span>
	</a>
</div>