.container_carousel
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  margin-top: 50px
  .characteristics
    .carousel
      max-height: 367px
      //height: 100%
      overflow: hidden
      float: left
      display: block
      position: relative
      margin-bottom: 0
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      .carousel-inner
        .img_carousel
          img
            @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        .description
          position: absolute
          top: 20%

          left: 5%
          z-index: 2
          width: 50%
          background: rgba( 0, 0, 0, 0.4)
          @include border-radius($baseBorderRadius)
          padding: 10px
          h1
            color: $white !important
            font-family: $secondFontFamily
            font-size: 25px
          p
            margin-bottom: 5px
            line-height: 20px
            color: $white 
          .redes
            margin-bottom: 30px
