
.characteristics
  .carrusel
    height: 450px
    //height: 100%
    overflow: hidden
    float: left
    display: block
    position: relative
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .carousel-inner
      height: 100%
      .img_carousel
        height: 100%
        img
          @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
          height: 100%

      .description
        position: absolute
        top: 100px
        left: 5%
        z-index: 2
        width: 30%
        h1
          color: $white !important
          margin-bottom: 30px
        p
          margin-bottom: 30px
          line-height: 20px
          color: $grayLight 
        .redes
          margin-bottom: 30px
