/*FRONTPAGE*/

#frontpage
  .competition
    width: 100%
    img
      width: 100%



/*NEW-SESSION*/
/*REGISTER*/



.welcome
  display: block
  margin-top: 75px
  p.welcome_to_vish
    width: 330px
    display: block
    margin: 5px auto
    strong
      font-size: 40px
      font-family: $thirdFontFamily
    span
      font-size: 22px
    img
      width: 100px
      margin-top: -18px

  p.welcome_social_site
    border-top: 1px solid $gray
    text-align: center
    font-family: $firstFontFamily

    .level_1
      width: 100%
      clear: both
      font-size: 24px
      display: block
      margin-top: 10px
      word-spacing: 3px
      color: $gray

      span
        color: $secondColor

    .level_2
      margin-top: 7px
      width: 100%
      clear: both
      display: block
      font-size: 16px
      margin-bottom: 15px

