<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({showProcessingMessages: false,
                           showMathMenu: false,
                           messageStyle: "none" });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML&messageStyle=none&showProcessingMessages=false"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyAOOAHADllUMGULOz5FQu3rIhM0RtwxP7Q"></script>
    <!--El script que está debajo será borrado, solo está puesto ahora para facilitar el debugging en SCORM Cloud
    <script src="/assets/js/SCORM_2004_APIWrapper.js"></script>-->

    <script type="text/javascript">
        var State = <%- JSON.stringify(state) %>;

        function getPlugin(element){
            return element;
        };
    </script>
</head>
<body style="margin: 0px; height: 100%">
    <div id="root">
    </div>
    <script src="<%= visor_bundle_path %>"></script>
</body> 
</html>


