// linkgray
// ----------------------------------
@mixin linkGrayVish {
a {
  color: $grayLink;
  text-decoration: none;
}
a:hover{
  color: $grayLinkHover;
  text-decoration: none;
}

  }

// menu horizontal
// ----------------------------------
@mixin menuHorizontal {
  
  padding: 0;
  text-align: center; 

ul{
  list-style-type: none;
  margin-left: 4em;
}

li{
  display: inline-block; 
  } 

li a{
  text-decoration: none;  
  margin-left: 40px;
  color: $grayLink;  
  }

li a:hover {  
  color: $grayLinkHover; 
} 

  }

// margin left span
// ----------------------------------
@mixin nomargin-left {
  
  margin-left: 0px;
}

// border radius
// ----------------------------------
@mixin box-shadow {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  }