// linkgray
// ----------------------------------
@mixin linkGrayVish {
a {
  color: $grayLink;
  text-decoration: none;
}
a:hover{
  color: $grayLinkHover;
  text-decoration: none;
}

  }

// menu horizontal
// ----------------------------------
@mixin menuHorizontal {
  
  padding: 0;
  text-align: center; 

ul{
  list-style-type: none;
  margin-left: 4em;
}

li{
  display: inline-block; 
  } 

li a{
  text-decoration: none;  
  margin-left: 40px;
  color: $grayLink;  
  }

li a:hover {  
  color: $grayLinkHover; 
} 

  }

// menu vertical
// ----------------------------------
@mixin menuVertical {
  
  padding: 0;
  text-align: left; 

ul{
  list-style-type: none;
  margin-left: 4em;
}

li{
  display: block; 
  } 

li a{
  text-decoration: none;  
  color: $grayLink;  
  }

li a:hover {  
  color: $grayLinkHover; 
} 

  }


// margin left span
// ----------------------------------
@mixin nomargin-left {
  
  margin-left: 0px;
}

// box shadow
// ----------------------------------
@mixin box-shadow {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  }


// ellipsis
// ----------------------------------
@mixin ellipsis {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  }

//row fluid
//----------------------------------
@mixin row-fluid {

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
}

//row fluid
//----------------------------------