/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require social_stream-base
 * require social_stream-documents
 * require social_stream-events
 * require social_stream-linkser
 * require social_stream-presence
 *= require vish_editor
 *= require_tree .
*/

@import "colors";

/************* FRONTPAGE *******/
#logo-frontpage{ background: transparent url(VISH_frontpage.png);  width:342px;  height:98px; margin:0px auto 0px; position:relatives; background-repeat:no-repeat; }

/****************** FRONTPAGE BOTTOM *****/
#tags{width:100%; margin: 0px auto;	position: relative; height:150px;}
#tag_repositories, #tag_excursion, #tag_organizations, #tag_users{position:relative;}
#tag_repositories{float: right; z-index:1; right:100px; top:-20px; font-weight: thin; }
#tag_excursion{width:400px;  left:10px;  top:10px; z-index:2;  }
#tag_organizations{float: right; font-weight: thin; top:30px; z-index:3;}
#tag_users{ width:100px; font-weight: 100px; top:80px; left:450px; z-index:4;}

.menu ul {list-style-type:none;margin:0 0.5em; }
.menu ul li {display:inline-block;margin-right:4em;position:relative; vertical-align: middle;}
.menu ul li#trade_mark,#sponsor ul li#trademark{font-weight:bold;}
.menu ul li#trade_mark_logo{font-weight:normal;}


#top{height:110px;}
#top-10{ height: 10px; margin:40px 0px 0px -10px !important; padding: 0px !important;}
.white{ background-color:#fff;}
.rotate-90 { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}

/******************* HEADER *******************/
#menu_home{ height: 35px;}

/******************* BASIC CLASSES ******************/
.inline-block {display:inline-block}
.inline {display: inline}
.boxy_gray{background-color: #EFEFEF; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  border: 0px solid #EFEFEF; }
.ontop{vertical-align: top;}
.boxy_white{background-color: #FFFFFF; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  border: 0px solid #FFFFFF; }

/*************** SIZE CLASSES **************/
.size11{font-size: 11px;}
.size12{font-size: 12px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size50{font-size: 50px;}
.size60{font-size: 60px;}
.size80{font-size: 80px;}
.size90{font-size: 90px;}


/*************** LINKS *********/
.link_gray a{color: #919191;text-decoration: none;}
.link_gray a:hover{color: #000;  text-decoration: underline;}

/***********COLORS ***********/
.green{ color:#40CC7F;}
.gray{ color:#A0A0A0;}
.blue_pastel{color: #85A3FF;}
.dark-gray {color: #666666;}


/************* SPACES SECTION *************/
.space_center {	padding-top: 15px;	padding-right: 4px;	text-align: center;}
.space_double_center {	padding-top: 50px;	padding-right: 4px;	text-align: center;}
.space_right{padding-right: 20px;}
.space_left{padding-left: 20px;}
.space_top{padding-top: 20px;}


/***********excursion BOX ******/
.container {position:relative;}
.number_pages  { position:relative;   height: 20px;  width: 20px;  margin-top: -32px;  margin-left: 42px;
  text-align: center; background-color: #FFF; border-radius: 15px;   color: #333; font-size: 10pt;  line-height:150%;}
.thumb_logo_big {background-image: url("excursion.png"); display: inline-block;  float: left;  height: 79px; width: 79px; }
.thumb_logo_medium {background-image: url("doc.png"); display: inline-block;  float: left;  height: 34px; width: 34px; margin-right:10px; }
.width-top { width: 80px; vertical-align: top;}
.vertical-top {vertical-align: top;}
.elipsis{ overflow: hidden;  text-overflow: ellipsis;   white-space: nowrap;}
.copy_new_comment{ height: 5px;}

/****************** WALL - ACTIVITIES *********************/

#wall{	text-align:center;}
#wall-input {background-color: #E6E6E6; padding: 10px; }
.row-fluid-100 { width: 100%; *zoom: 1;}
.row-fluid-90 { width: 90%; *zoom: 1;}
.margin-excursion{ margin:0 0 18px 5px !important; }
.margin-thumbnail { margin-right:20px  !important; }
.padding-margin-clear{margin:0px; padding: 9px 0px 9px 0px !important;}


/******************* WALL - ACTIVITY ***************/
.activity {	text-align:left;	display: block;	vertical-align: top;	padding: 5px 0px 5px 0px;}


/***************** ACTIVITY OPTIONS ***/
.activity_options {display: inline-block;}
.actor_name-activity_objects, .actor_name_new_comment{margin: 5px 0px;}
.activity_objects{padding-bottom:5px;}

.security, .post_time_ago, .verb_comment, .verb_like, .verb_delete{ display: inline-block; padding-right: 5px;}
.verb_comment a{color:#FF80B4;}
.verb_comment a:hover {color:#FF80B4; text-decoration: underline;}


/************* ACTIVITY - FOOTER *********/
.space_comments {	padding-top: 1px; 	padding-bottom: 1px;}
.space_activities {	text-align:center;	padding: 0px 0px 0px 1px;	width:100%;}
.space_sub{	display: inline;	padding: 1px 200px 1px 200px;	border-bottom: thin solid;
  font-size: 2px;	text-align:center;}


/****************** SUB-ACTIVITY by ACTIVITY ********/


.activity_new_comment{  font-size: 11px;  padding-left: 5px; padding-top: 3px;  padding-bottom: 3px;display:none;}
.input_new_comments{width:98%;	padding: 2px; resize: none;  }
.space_comments{padding-top: 1px;	padding-bottom: 1px;}
#activities_share_btn {	text-align: right;	padding: 5px 16px 0px 10px;	vertical-align: middle;}
.activities_comment_btn{ text-align: right; padding: 0px 5px 2px 0px; vertical-align: middle;}

.hide_show_comments{font-size: 11px;  padding: 3px 10px;}
.copy_new_comment{visibility: hidden; }



.icono-home{ background-image: url('home.png');}




.suggestions input[type="submit"]  {
  width: auto;
  height: auto;
  background-color: #F9F9F9;
  color:#FF005D;
  padding: 4px;
  padding-left:10px; padding-right:10px;
  border: 0px;
  box-shadow: 0px;
  opacity: .60;
  -moz-opacity: .60;
  filter:alpha(opacity=60);


}

.suggestions input {
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.suggestions input:focus{
  border-color: rgba(255, 100, 100, 0.8);
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  outline: 0;
  outline: thin dotted \9;


}


.header_text {
  font-size: 18px;
  color:#FF005D;
  margin-bottom: 10px;
}
.title_suggestion{
  width: 120px;
  display: inline-block;

}