/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require social_stream-base
 * require social_stream-documents
 * require social_stream-events
 * require social_stream-linkser
 * require social_stream-presence
 * require avatars_for_rails
 *= require_tree .
*/

@import "colors";

@font-face{
  font-family:'DsignesBold';
  src: url(fonts/DsignesBold.otf);
}
@font-face{
  font-family:'DsignesLight';
  src: url(fonts/DsignesLight.otf);
}
@font-face{
  font-family:'DsignesRegular';
  src: url(fonts/DsignesRegular.otf);
}

/************* FRONTPAGE *******/
#logo-frontpage{ background: transparent url(VISH_frontpage.png);  width:342px;  height:98px; margin:0px auto 0px; position:relatives; background-repeat:no-repeat; }
.name{padding-left:10px; padding-bottom: 18px; padding-top: 20px; letter-spacing: 3pt; }
/****************** FRONTPAGE BOTTOM *****/
#tags{color: #cccccc; font-family: DsignesLight; }
#repositories a, #excursion a, #organizations a, #users a{position:relative; font-weight: lighter; font-family: DsignesLight;}
#repositories a{float: right; top:-30px; z-index:1;}
#excursion a{left:10px;  top:10px; z-index:2;}
#organizations a{left:19px; float: right; top:15px; ; z-index:3;}
#users a{top:45px; left:-39px; z-index:4;}

.menu ul {list-style-type:none;margin-left:4em; }
.menu ul li {display:inline-block;margin-right:4em;position:relative; vertical-align: middle;}
.menu ul li#trade_mark,#sponsor ul li#trademark{font-weight:bold;}
.menu ul li#trade_mark_logo{font-weight:normal;}

#top{height:120px;}
#top-10{ height: 10px; margin:40px 0px 0px -10px !important; padding: 0px !important;}
.white{ background-color:#fff;margin-top: 65px; padding-top: 10px; padding-bottom: 5px;}
.rotate-90 { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
/******************* HEADER *******************/
#menu_home{ height: 35px;}
.menu_header {margin-top: -5px;}


/******************* BASIC CLASSES ******************/
.inline {display:inline;}
.inline-block {display:inline-block;}
.link_gray {display:inline-block;}
.inline {display: inline}
.boxy_gray{background-color: #EFEFEF; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  border: 0px solid #EFEFEF; }
.ontop{vertical-align: top;}
.boxy_white{background-color: #FFFFFF; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
  border: 0px solid #FFFFFF; }
.clearfloat{clear: both;display: block}
/*************** SIZE CLASSES **************/
.size10{font-size: 10px;}
.size11{font-size: 11px;}
.size12{font-size: 12px;}
.size14{font-size: 14px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size30{font-size: 30px;}
.size40{font-size: 40px;}
.size60{font-size: 60px;}
.size80{font-size: 80px;}
.size100{font-size: 100px;}

/*************** LINKS *********/
.link_gray a{color: #919191;text-decoration: none;}
.link_gray a:hover{color: #000;  text-decoration: none;}

/***********COLORS ***********/
.background{color: #F9F9F9;}
.white{color: #FFFFFF;}
.green{ color:#40CC7F;}
.ligth-gray{color: #E6E6E6}
.gray{ color:#A0A0A0;}
.dark-gray {color: #666666;}
.blue-1{color: #3366FF;}
.blue-2{color: #3366FF; opacity: 0.6;}
.red-1{color: #FF005D;}
.red-2{color: #FF005D; opacity: 0.6;}

.span_profile{
 width:90px;
}


/************* SEARCH_BAR *************/

.srch_modal {
  -moz-opacity:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 200px;
  margin: -250px 0 0 -280px;
  background-color: #999;
  border: 1px solid #999;
  border: 1px solid #999;
  *border: 1px solid #999;
/* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.srch_modal-footer {
  margin-bottom: 0;
  height: 54px;
  background-color: #999999;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 5px;
}
.srch_window{
  font-size: 20px;
  color: #f9f9f9;
  padding-top:8px;
  padding-left:5px;
}
.btn_text {
  font-size: 18px;
  color: #D8D9DA;
  padding-left:20px;
}
.btn_text:hover{
  color: #f9f9f9;
  text-decoration: none;
}
.srch_bar_despl{
  height: 54px;
  width: 180px;
}
.srch_bar_img_50px{
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  float:left;
}
.srch_bar_info {
  height: 54px;
  margin-left: 56px;
  width: 120px;
  overflow: hidden;
}

.srch_bar_title {
  color: #E6E6E6;
  font-size: 11pt;
  height: 14px;
  width: 150px;
}
.srch_bar_title a {
  color: #E6E6E6;
}
.srch_bar_title a:hover {
  color: #FFF;
  text-decoration:none;
}

.srch_bar_type {
  color:#B8D3FF;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 10pt;
  height: 19px;
  margin-top: 3px;
  width: 110px;
}
.srch_bar_followers {
  color: #CCC;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 9pt;
  height: 19px;
  width: 70px;
  float:left;
}
.srch_bar_n_followers {
  color: #CCC;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 9pt;
  width: 50px;
}
.srch_bar_n_followers a{
  color:#CCC;
}
.srch_bar_n_followers a:hover{
  color:#FFF;
  text-decoration:none;
}
.srch_bar_modal_final {
  -moz-opacity:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 200px;
  margin: -250px 0 0 -280px;
  background-color: #CCC;
  border: 1px solid #CCC;
  border: 1px solid #CCC;
  *border: 1px solid #CCC;
/* IE6-7 */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.srch_bar_modal-footer_final {
  padding: 5px 5px 5px;
  margin-bottom: 0;
  height: 36px;
  background-color:#CCC;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.srch_bar_final {
  color: #999;
  font-family: Helvetica,sans-serif,Arial;
  font-size: 9pt;
  width: 190px;
  text-align:center;
}
.srch_bar_final a {
  color: #999;
}
.srch_bar_final a:hover {
  color: #666;
  text-decoration:none;
}

/************* SPACES SECTION *************/
.space_center {	padding-top: 15px;	padding-right: 4px;	text-align: center;}
.space_double_center {	padding-top: 50px;	padding-right: 4px;	text-align: center;}
.space_right{padding-right: 20px;}
.space_left{padding-left: 20px;}
.space_top{padding-top: 20px;}


/***********excursion BOX ******/
.container {position:relative;}
.number_pages  { position:relative;   height: 20px;  width: 20px;  margin-top: -26px;  margin-left: 48px;
  text-align: center; background-color: #FFF; border-radius: 15px;   color: #333; font-size: 10pt;  line-height:150%;}
.thumb_logo_big {background-image: url("excursion.png"); display: inline-block;  float: left;  height: 79px; width: 79px; }
.thumb_logo_medium {background-image: url("doc.png"); display: inline-block;  float: left;  height: 34px; width: 34px; margin-right:10px; }
.width-top { width: 80px; vertical-align: top;}
.vertical-top {vertical-align: top;}
.elipsis{ overflow: hidden;  text-overflow: ellipsis;   white-space: nowrap;}
.copy_new_comment{ height: 5px;}

/****************** WALL - ACTIVITIES *********************/

#wall{	text-align:center;}
#wall-input {background-color: #E6E6E6; padding: 10px 0px 0px 0px; }
.row-fluid-100 { width: 100%; *zoom: 1;}
.row-fluid-90 { width: 90%; *zoom: 1;}
.margin-excursion{ margin:0 0 18px 5px !important; }
.margin-thumbnail { margin-right:20px  !important; }
.padding-margin-clear{margin:0px; padding: 9px 0px 1px 0px !important;}


/******************* WALL - ACTIVITY ***************/
.activity {	text-align:left;	display: block;	vertical-align: top;	padding: 5px 0px 5px 0px;}
#main {margin-left: 30px;}
#right {margin-left: 50px;}
#left {margin-left: 32px;}
.activity_form_selector{cursor: pointer; margin-right: 10px;}
.selected{background-color: #ffffff; border-radius: 5px; padding: 5px;}

#new_document {}
#form #document_file{  opacity: 0; -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; width: 200px;

}

/***************** ACTIVITY OPTIONS ***/
.activity_options {display: inline-block;}
.actor_name-activity_objects, .actor_name_new_comment{margin: 5px 0px;}
.activity_objects{padding-bottom:5px;}

.security, .post_time_ago, .verb_comment, .verb_like, .verb_delete{ display: inline-block; padding-right: 5px;}
.verb_comment a{color:#FF80B4;}
.verb_comment a:hover {color:#FF80B4; text-decoration: underline;}


/************* ACTIVITY - FOOTER *********/
.space_comments {	padding-top: 1px; 	padding-bottom: 1px;}
.space_activities {	text-align:center;	padding: 0px 0px 0px 1px;	width:100%;}
.space_sub{	display: inline;	padding: 1px 200px 1px 200px;	border-bottom: thin solid;
  font-size: 2px;	text-align:center;}
.final {margin-left: 4em;}


/****************** SUB-ACTIVITY by ACTIVITY ********/


.activity_new_comment{  font-size: 11px;  padding-left: 5px; padding-top: 3px;  padding-bottom: 3px;display:none;}
.input_new_comments{width:98%;	padding: 2px; resize: none;  }
.space_comments{padding-top: 1px;	padding-bottom: 1px;}
#activities_share_btn {	text-align: right;	padding: 5px 16px 0px 10px;	vertical-align: middle;}
.activities_comment_btn{ text-align: right; padding: 0px 5px 2px 0px; vertical-align: middle;}

.hide_show_comments{font-size: 11px;  padding: 3px 10px;}
.copy_new_comment{visibility: hidden; }

.icono-home{ background-image: url('home.png');}


/**************NOTIFICATIONS *************/
.day_notify{ font-size: 16px; margin-top: 3px; margin-bottom: 3px; letter-spacing: 1px;}
.read_all{ width: auto; float: right;margin-bottom: 7px;}


/**************FOLLOWERS_FOLLOWINGS *************/
.follwrs-ing{font-size: 11px; marging-top: 1px; margin-bottom: 1px;}
.upfoll{maring-bottom: -3px;}
#following{margin-left: 40px;}

/**************CONVERSATIONS *************/

.messages{ margin-left: 15px; }
.message{ background-color: #FFFFFF; padding: 10px 0px 5px 5px;  margin-top: 15px; border-radius: 10px;}
.sender_photo {width: auto;}
.tittle_mens {margin-bottom:4px;}
.dat {margin-left: 15px !important}
.to-r {float: right; width: 15px; height: 15px;}
/**************suggestions css *************/

.users_btn_follow input[type="submit"]  {
  width: auto;
  height: auto;
  background-color: #F9F9F9;
  color:#FF005D;
  padding: 4px;
  padding-left:10px; padding-right:10px;
  border: 0px;
  box-shadow: 0px;
  opacity: .60;
  -moz-opacity: .60;
  filter:alpha(opacity=60);
}
     .users_btn_follow input {
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.users_btn_followt:focus{
  border-color: rgb(255, 2, 94);
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
  outline: 0;
  outline: thin dotted \9;
   }

.header_text {
  font-size: 16px;
  color:#FF005D;
  margin-bottom: 10px;
}
.header_text2 {
  font-size: 20px;
  margin-left: 20px;
  color:#FF005D;
  margin-bottom: 10px;
  margin_top:20px;
}
.title_suggestion{
  width: 120px;
  display: inline-block;
  letter-spacing: 0.5pt;
}
.acept{margin-left: 160px !important;}


/**************REPOSITORIES css *************/

[class^="iconx-"],   [class*=" iconx-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("iconrepository.png");
  background-position: 32px 32px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
[class^="iconx-"]:last-child,   [class*=" iconx-"]:last-child {
  *margin-left: 0;
}
.iconx-gray {
  background-image: url("iconrepository-gray.png");
}
.iconx-default {
  background-position: 0  -42px;
}
.iconx-pdf {
  background-position: -126px 0;
}
.iconx-word {
  background-position: -168px 0;
}
.iconx-ppt {
  background-position: -210px 0;
}
.iconx-excel {
  background-position: -252px 0;
}
.iconx-audio {
  background-position: -294px -42px;
}
.iconx-picture {
  background-position: 0px -126px;
}
.iconx-video {
  background-position: -42px -210px;
}

.iconx-flash {
  background-position: -168px -210px;
}
.iconx-quiz {
  background-position: -210px -210px;
}

.title_sentences {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.input-xlarge {
  height: 18px
}
.devise_title{
  text-align:left;
  font-size: 45px;
  line-height: 115%;
  font-family:'DsignesLight';
  src: url(fonts/DsignesLight.otf);
}
.devise_title2{
  text-align:left;
  font-size: 45px;
  line-height: 115%;
  font-family:'DsignesLight';
  src: url(fonts/DsignesLight.otf);
}


/*************** MESSAGES ICONS **********/


/*************** MESSAGE EDITOR **********/

.cleditorMain {border-radius: 10px; border:1px solid #CCCCCC; background-color:white}
.cleditorMain iframe {border:none; margin:0; padding:0}
.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:10pt; resize:none; outline:none /* webkit grip focus */}
.cleditorToolbar {background-color: #cccccc; border-bottom: 1px; border-radius: 9px 9px 0px 0px;}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('cleditor/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; position:absolute; font:10pt; cursor:default; z-index:10000}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
.cleditorPrompt input,
.cleditorPrompt textarea {font:8.5pt Arial,Verdana;}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
.send {margin-top: 10px;}


/**************info devise *************/

.form-horizontal2 input,
.form-horizontal2 textarea,
.form-horizontal2 select,
.form-horizontal2 .help-inline,
.form-horizontal2 .uneditable-input,
.form-horizontal2 .input-prepend,
.form-horizontal2 .input-append {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal2 .hide {
  display: none;
}

.form-horizontal2 .control-group {
  margin-bottom:none;
  *zoom: 1;
}
.form-horizontal2 .control-group:before,
.form-horizontal2 .control-group:after {
  display: table;
  content: "";
}
.form-horizontal2 .control-group:after {
  clear: none;
}
.form-horizontal2 .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal2 .controls {
  margin-left: 160px;
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
.form-horizontal2 .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}
.form-horizontal2 .form-actions {
  padding-left: 160px;
}
.btn_devise{
float:right;
margin-right: 20px
}

#devise_links{
  text-align:right;
  padding-left: 57px
}

/*..................icon navigation 22x22....................... */

li{
  list-style-type:none}

[class^="iconnav-"], [class*=" iconnav-"] {
  background-image: url("icon_nav.png");
  background-position:22px 22px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:22px;
  width:22px;
  line-height:22px;
  vertical-align:text-top;
  *margin-right: .3em;

}
[class^="iconnav-"]:last-child, [class*="iconnav-"]:last-child {
}
.iconnav-white {
  background-image: url("icon_nav.png");
}
/* normal*/
.iconnav-home { background-position:0 0;}
.iconnav-message {background-position:-32px 0;}
.iconnav-followers {background-position:-64px 0;}
.iconnav-notification {background-position:-96px 0;}
.iconnav-tools {background-position:-128px 0;}
/* alarm*/
.iconnav-notification_message {background-position:-32px -26px;}
.iconnav-notification_followers {background-position:-64px -26px;}
.iconnav-notification_notification {background-position:-96px -26px;}
/* hover*/
.iconnav-message:hover {background-position:-32px -52px;}
.iconnav-followers:hover {background-position:-64px -52px;}
.iconnav-notification:hover {background-position:-96px -52px;}
.iconnav-tools:hover {background-position:-128px -52px;}

/*..................icon file 16x16....................... */

[class^="iconfile16-"], [class*=" iconfile16-"] {
  background-image: url("iconfile16.png");
  background-position:32px 32px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  line-height:16px;
  vertical-align:text-top;
  *margin-right: .3em;
}
[class^="iconfile16-"]:last-child, [class*="iconfile16-"]:last-child {
}
.iconfile16-file16_white {
  background-image: url("iconfile16.png");}

.iconfile16-file16_file { background-position: 0 0;}
.iconfile16-file16_add { background-position: -26px 0;}
.iconfile16-file16_remove { background-position: -52px 0;}
.iconfile16-file16_delete { background-position: -78px 0;}
.iconfile16-file16_ok { background-position: -104px 0;}
.iconfile16-file16_upload { background-position: -130px 0;}
.iconfile16-file16_donwload { background-position: -156px 0;}
.iconfile16-file16_send { background-position: -182px 0;}
.iconfile16-file16_edit { background-position: -208px 0;}

/*hover*/

.iconfile16-file16_file:hover { background-position: 0 -26px;}
.iconfile16-file16_add:hover { background-position: -26px -26px;}
.iconfile16-file16_remove:hover { background-position: -52px -26px;}
.iconfile16-file16_delete:hover { background-position: -78px -26px;}
.iconfile16-file16_ok:hover { background-position: -104px -26px;}
.iconfile16-file16_ upload:hover { background-position: -130px -26px;}
.iconfile16-file16_donwload:hover { background-position: -156px -26px;}
.iconfile16-file16_send:hover { background-position: -182px -26px;}
.iconfile16-file16_edit:hover { background-position: -208px -26px;}

/*..................icon file 32x32....................... */

[class^="iconfile32-"], [class*=" iconfile32-"] {
  background-image: url("iconfile32.png");
  background-position:32px 32px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:32px;
  width:32px;
  line-height:32px;
  vertical-align:text-top;
  *margin-right: .3em;}

[class^="iconfile32-"]:last-child, [class*="iconfile32-"]:last-child {
}
.iconfile32-file32_white {background-image: url("iconfile32.png");}

.iconfile32-file32_file { background-position: 0 0;}
.iconfile32-file32_add { background-position: -42px 0;}
.iconfile32-file32_remove { background-position: -84px 0;}
.iconfile32-file32_delete { background-position: -126px 0;}
.iconfile32-file32_ok { background-position: -168px 0;}
.iconfile32-file32_upload { background-position: -210px 0;}
.iconfile32-file32_donwload { background-position: -252px 0;}
.iconfile32-file32_send { background-position: -294px 0;}
.iconfile32-file32_edit { background-position: -336px 0;}

/*hover*/

.iconfile32-32_file:hover { background-position: 0 -42px;}
.iconfile32-file32_add:hover { background-position: -42px -42px;}
.iconfile32-file32_remove:hover { background-position: -84px -42px;}
.iconfile32-file32_delete:hover { background-position: -126px -42px;}
.iconfile32-file32_ok:hover { background-position: -168px -42px;}
.iconfile32-file32_upload:hover { background-position: -210px -42px;}
.iconfile32-file32_donwload:hover { background-position: -252px -42px;}
.iconfile32-file32_send:hover { background-position: -294px -42px;}
.iconfile32-file32_edit:hover { background-position: -336px -42px;}

/*..................icon file 75x75....................... */

[class^="iconfile75-"], [class*=" iconfile75-"] {
  background-image: url("iconfile75.png");
  background-position:75px 75px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:75px;
  width:75px;
  line-height:75px;
  vertical-align:text-top;
  *margin-right: .3em;}

[class^="iconfile75-"]:last-child, [class*="iconfile75-"]:last-child {
}
.iconfile75-file75_white {
  background-image: url("iconfile75.png");}

.iconfile75-file75_file { background-position: 0 0;}
.iconfile75-file75_add { background-position: -85px 0;}
.iconfile75-file75_remove { background-position: -170px 0;}
.iconfile75-file75_delete { background-position: -255px 0;}
.iconfile75-file75_ok { background-position: -340px 0;}
.iconfile75-file75_upload { background-position: -425px 0;}
.iconfile75-file75_donwload { background-position: -510px 0;}
.iconfile75-file75_send { background-position: -595px 0;}
.iconfile75-file75_edit { background-position: -680px 0;}

/*hover*/

.iconfile75-file75_file:hover { background-position: 0 -85px;}
.iconfile75-file75_add:hover { background-position: -85px -85px;}
.iconfile75-file75_remove:hover { background-position: -170px -85px;}
.iconfile75-file75_delete:hover { background-position: -255px -85px;}
.iconfile75-file75_ok:hover { background-position: -340px -85px;}
.iconfile75-file75_upload:hover { background-position: -425px -85px;}
.iconfile75-file75_donwload:hover { background-position: -510px -85px;}
.iconfile75-file75_send:hover { background-position: -595px -85px;}
.iconfile75-file75_edit:hover { background-position: -680px -85px;}

/*.................. icon repository 32 x 32 px......................*/

[class^="icon_repository32-"], [class*=" icon_repository32-"] {
  background-image: url("iconrepository32.png");
  background-position:32px 32px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:32px;
  width:32px;
  line-height:32px;
  vertical-align:text-top;
  *margin-right: .3em;

}
[class^="icon_repository32-"]:last-child, [class*="icon_repository32-"]:last-child {
}
.icon_repository32-white {
  background-image: url("iconrepository32.png");}

/*................................................... */

.icon_repository32-32_file { background-position: 0 -42px;}
.icon_repository32-32_mathml { background-position: -42px -42px;}
.icon_repository32-32_txt { background-position: -84px -42px;}
.icon_repository32-32_pdf { background-position: -126px -42px;}
.icon_repository32-32_word { background-position: -168px -42px;}
.icon_repository32-32_ppt { background-position: -210px -42px;}
.icon_repository32-32_excel { background-position: -252px -42px;}
.icon_repository32-32_audio { background-position: -294px -42px;}
.icon_repository32-32_mp3 { background-position: -336px -42px;}
.icon_repository32-32_wav { background-position: -378px -42px;}
.icon_repository32-32_picture { background-position: 0 -126px ;}
.icon_repository32-32_tiff { background-position: -42px -126px ;}
.icon_repository32-32_jpg { background-position: -84px -126px ;}
.icon_repository32-32_gif{ background-position: -126px -126px ;}
.icon_repository32-32_png { background-position: -168px -126px ;}
.icon_repository32-32_svg { background-position: -210px -126px ;}
.icon_repository32-32_rar { background-position: -252px -126px ;}
.icon_repository32-32_zip { background-position: -294px -126px ;}
.icon_repository32-32_presentation { background-position: -336px -126px;}
.icon_repository32-32_videoconference{ background-position: -378px -126px;}
.icon_repository32-32_video { background-position: 0 -210px ;}
.icon_repository32-32_avi { background-position: -42px -210px ;}
.icon_repository32-32_mp4 { background-position: -84px -210px ;}
.icon_repository32-32_mov { background-position: -126px -210px ;}
.icon_repository32-32_flash { background-position: -168px -210px ;}
.icon_repository32-32_quiz { background-position: -210px -210px ;}

/*........................hover........................... */

.icon_repository32-32_file:hover { background-position: 0 0;}
.icon_repository32-32_mathml:hover { background-position: -42px 0;}
.icon_repository32-32_txt:hover { background-position: -84px 0;}
.icon_repository32-32_pdf:hover { background-position: -126px 0;}
.icon_repository32-32_word:hover { background-position: -168px 0;}
.icon_repository32-32_ppt:hover { background-position: -210px 0;}
.icon_repository32-32_excel:hover { background-position: -252px 0;}
.icon_repository32-32_audio:hover { background-position: -294px 0;}
.icon_repository32-32_mp3:hover { background-position: -336px 0;}
.icon_repository32-32_wav:hover { background-position: -378px 0;}
.icon_repository32-32_picture:hover { background-position: 0 -84px ;}
.icon_repository32-32_tiff:hover { background-position: -42px -84px ;}
.icon_repository32-32_jpg:hover { background-position: -84px -84px ;}
.icon_repository32-32_gif:hover { background-position: -126px -84px ;}
.icon_repository32-32_png:hover { background-position: -168px -84px ;}
.icon_repository32-32_svg:hover { background-position: -210px -84px ;}
.icon_repository32-32_rar:hover { background-position: -252px -84px ;}
.icon_repository32-32_zip:hover { background-position: -294px -84px ;}
.icon_repository32-32_presentation:hover { background-position: -336px -84px;}
.icon_repository32-32_videoconference:hover { background-position: -378px -84px;}
.icon_repository32-32_video:hover { background-position: 0 -168px ;}
.icon_repository32-32_avi:hover { background-position: -42px -168px ;}
.icon_repository32-32_mp4:hover { background-position: -84px -168px ;}
.icon_repository32-32_mov:hover { background-position: -126px -168px ;}
.icon_repository32-32_flash:hover { background-position: -168px -168px ;}
.icon_repository32-32_quiz:hover { background-position: -210px -168px ;}

/*.................. icon repository 75 x 75 px......................*/

[class^="icon_repository75-"], [class*=" icon_repository75-"] {
  background-image: url("iconrepository75.png");
  background-position:75px 75px;
  background-repeat:no-repeat no-repeat;
  display:inline-block;
  height:75px;
  width:75px;
  line-height:75px;
  vertical-align:text-top;
  *margin-right: .3em;}

[class^="icon_repository75-"]:last-child, [class*="icon_repository75-"]:last-child {
}
.icon_repository75-75_repository_white {
  background-image: url("iconrepository75.png");}

/*................................................... */

.icon_repository75-75_file { background-position: 0 -85px;}
.icon_repository75-75_mathml { background-position: -85px -85px;}
.icon_repository75-75_txt { background-position: -170px -85px;}
.icon_repository75-75_pdf { background-position: -255px -85px;}
.icon_repository75-75_word { background-position: -340px -85px;}
.icon_repository75-75_ppt { background-position: -425px -85px;}
.icon_repository75-75_excel { background-position: -510px -85px;}
.icon_repository75-75_audio { background-position: -595px -85px;}
.icon_repository75-75_mp3 { background-position: -680px -85px;}
.icon_repository75-75_wav { background-position: -756px -85px;}
.icon_repository75-75_picture { background-position: 0 -225px ;}
.icon_repository75-75_tiff { background-position: -85px -225px ;}
.icon_repository75-75_jpg { background-position: -170px -225px ;}
.icon_repository75-75_gif{ background-position: -255px -225px ;}
.icon_repository75-75_png { background-position: -340px -225px ;}
.icon_repository75-75_svg { background-position: -425px -225px ;}
.icon_repository75-75_rar { background-position: -510px -225px ;}
.icon_repository75-75_zip { background-position: -595px -225px ;}
.icon_repository75-75_presentation { background-position: -680px -225px;}
.icon_repository75-75_videoconference{ background-position: -756px -225px;}
.icon_repository75-75_video { background-position: 0 -425px ;}
.icon_repository75-75_avi { background-position: -85px -425px ;}
.icon_repository75-75_mp4 { background-position: -170px -425px ;}
.icon_repository75-75_mov { background-position: -255px -425px ;}
.icon_repository75-75_flash { background-position: -340px -425px ;}
.icon_repository75-75_quiz { background-position: -425px -425px ;}

/*........................hover........................... */

.icon_repository75-75_file:hover { background-position: 0 0;}
.icon_repository75-75_mathml:hover { background-position: -85px 0;}
.icon_repository75-75_txt:hover { background-position: -170px 0;}
.icon_repository75-75_pdf:hover { background-position: -255px 0;}
.icon_repository75-75_word:hover { background-position: -340px 0;}
.icon_repository75-75_ppt:hover { background-position: -425px 0;}
.icon_repository75-75_excel:hover { background-position: -510px -0;}
.icon_repository75-75_audio:hover { background-position: -595px 0;}
.icon_repository75-75_mp3:hover { background-position: -680px 0;}
.icon_repository75-75_wav:hover { background-position: -756px 0x;}
.icon_repository75-75_picture:hover { background-position: 0 -170px ;}
.icon_repository75-75_tiff:hover { background-position: -85px -170px ;}
.icon_repository75-75_jpg:hover { background-position: -170px -170px ;}
.icon_repository75-75_gif:hover { background-position: -255px -170px ;}
.icon_repository75-75_png:hover { background-position: -340px -170px ;}
.icon_repository75-75_svg:hover { background-position: -425px -170px ;}
.icon_repository75-75_rar:hover { background-position: -510px -170px ;}
.icon_repository75-75_zip:hover { background-position: -595px -170px ;}
.icon_repository75-75_presentation:hover { background-position: -680px -170px;}
.icon_repository75-75_videoconference:hover { background-position: -756px -170px;}
.icon_repository75-75_video:hover { background-position: 0 -340px ;}
.icon_repository75-75_avi:hover{ background-position: -85px -340px ;}
.icon_repository75-75_mp4:hover { background-position: -170px -340px ;}
.icon_repository75-75_mov:hover { background-position: -255px -340px ;}
.icon_repository75-75_flash:hover { background-position: -340px -340px ;}
.icon_repository75-75_quiz:hover { background-position: -425px -340px ;}

/*.................. icon message 22 x 22 px......................*/



[class^="iconmessage22-"], [class*="iconmessage22-"] {
  display:inline-block;
  height:22px;
  width:22px;
  vertical-align:text-top;
  background-image: url("icon_message22.png");
  background-position:22px 22px;
  background-repeat:no-repeat;
  line-height:22px;
  *margin-right: .3em;}

[class^="iconmessage22-"]:last-child, [class*="iconmessage22-"]:last-child {
  *margin-left: 0;
}
.iconmessage22-message22_white {
  background-image: url("icon_message22.png");}

.iconmessage22-message22_message { background-position: 0 0;}
.iconmessage22-message22_new { background-position: -32px 0;}
.iconmessage22-message22_remove { background-position: -64px 0;}
.iconmessage22-message22_trash { background-position: -96px 0;}
.iconmessage22-message22_ok { background-position: -128px 0;}
.iconmessage22-message22_sendbox { background-position: -160px 0;}
.iconmessage22-message22_inbox { background-position: -192px 0;}
.iconmessage22-message22_mail { background-position: -224px 0;}
.iconmessage22-message22_edit { background-position: -256px 0;}

/*hover*/

.iconmessage22-message22_message:hover { background-position: 0 -32px;}
.iconmessage22-message22_new:hover { background-position: -32px -32px;}
.iconmessage22-message22_remove:hover { background-position: -64px -32px;}
.iconmessage22-message22_trash:hover { background-position: -96px -32px;}
.iconmessage22-message22_ok:hover { background-position: -128px -32px;}
.iconmessage22-message22_sendbox:hover { background-position: -160px -32px;}
.iconmessage22-message22_inbox:hover { background-position: -192px -32px;}
.iconmessage22-message22_mail:hover { background-position: -224px -32px;}
.iconmessage22-message22_edit:hover {background-position: -256px -32px;}





/*edit profile*/
.padding_left{
padding-left: 30px
}

.margin_profile{
margin-left: 20px;
}
.header_icon_right{
 display: inline-block;
 float:right;
 margin-right: 20px;
 }
.title_sub_profile{
  font-family:'DsignesBold';
  src: url(fonts/DsignesBold.otf);
  font-size: 16pt;
  margin-top: 10px;
  margin-left: 25px;
  color: #c7c7c7;
  display: block;
}
.field_profile{
  margin-left: 50px;
  color: #787878;
}
#field_profile_field_empty{
  margin-left: 25px;
  color: #FF005D; opacity: 0.6;
}
#avatar_info{
  margin-top: 40px;
  margin-left: 25px;
  src: url(fonts/DsignesBold.otf);
  color: #3366FF;
  font-size: 14pt;
}
.block .form_tag{color: $main-color; padding: 5px 5px 5px 5px;  border:1px solid $input-border-color; width:90%;}
.block .form_tag_long{color: $main-color;	padding: 5px 5px 5px 5px;  border:1px solid $input-border-color; width:91%;}