.btn-gray{
  background-color: #f7f7f7;
  display: inline-block;
  width:auto;
  border:1px solid  ;
  border-color: #e6e6e6;
  padding: 4px 6px 4px 6px;
  border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;

}


.btn-gray:hover{

  background-color: #ffffff;
  display: inline-block;
  width:auto;
  border:1px solid  ;
  border-color: #e6e6e6;
  padding: 4px 6px 4px 6px;
  border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;



}