
@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color:#F9F9F9;
  width: 976px;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto
}

.font{
  font-family: Helvetica;
}

/*******HEADER ********/

#logo{
  display:inline-block;
  height: 56px;
  width: 450px;
  background: url("vish_logo.png") no-repeat;
  margin-left: 16px;
  margin-top: 36px;
}

#right{
  float: right;
  margin-top: 66px;
  margin-right: 16px;
}

#searcher {
	height: 35px;
	width: 50px;
  display:inline;
}

.caja_searcher{
    width: 200px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border: 0px solid #fff;
}

/*************** principal *****************/
#section {
	height: 768px;
        width: 1024px;
}
.container{
	color: #CCCCCC;
  height: auto;
}

#login {
	margin-left: 500px;
}
#principal{
  margin-top: 49px;
	width: 960px;
	height: 600px;

}

#principal #login_3 {
	text-align: center;
	height: 1204px;

}

.big_mens{
  display:inline-block;
  width: 381px;

	font-size: 50px;
  color-size: r158 g158 b158;
  text-align: right;
}

.mens {
  float: right;
  width: 550px;
	font-size: 16px;
  color-size: r120 g120 b120;
  margin-top: 40px;
}

#title {
  width: 300px;
  margin-left: 460px;
}

.box{
    width: 96px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border: 0px solid #fff;
}

#forms {
  width: 200px;
	font-size: 11px;
}

.button_login{
	font-size: 14px;
	color: #ffffff;
	padding: 4px 9px;
	background: #FE245D;
	border-radius: 1px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
  border: 0px dashed #FFFFFF;
}

.button_login:hover{
	background: -moz-linear-gradient(
		top,
		#000 0%,
		#000);
  	cursor: pointer;
}

.login_1 {
  width: 150px;
  margin-top: 4px;
	margin-left: 156px;
	font-size: 11px;
}

.login_2 {
  color: #3266FC;
  width: 70px;
	margin-left: 228px;
	font-size: 11px;
}

.login_3 a{
	text-decoration: none;

}
.login_3 a:hover{
	color: #CCCCCC;
    	cursor: pointer;
}

.button_login{
  margin-top: 5px;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 7px;
	background: -moz-solid
		top,
		#d91a67 0%,
		#d91f5d);

	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
}

.button_login:hover{
	background: -moz-linear-gradient(
		top,
		#000 0%,
		#000);
  	cursor: pointer;
}
/*****register***********/
.forma {
  width: 375px;
  float: right;
  padding: 10px;
  margin-right: 168px;
  background-color: #EAEAEA;
  border-radius: 1px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
  border: 0px dashed #FFFFFF;
  margin-top: 15px;
  color: #c7c7c7;
  display: inline;
}
.formulary {
  text-align: right;
  margin: 15px 10px 15px -20px;
}
.nodec {
  list-style: none;
}

.box_2{
    float: right;
  margin-top: 4px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border: 0px solid #fff;
}

.te5 {
  margin-top: 5px;
}

.te3 {
  margin-top: 5px;
  color: #a0a0a0;
  font-size: 12px;
  font-weight: lighter;
  margin: 0px 0px 0px 0px;
}

.mens_2 {
  float: right;
  width: 550px;
	font-size: 16px;
  color-size: r120 g120 b120;
}

/*****footer***********/

.footer{
  width: 730px;
	height: 20px;
	clear: both;
	margin-top: 10px;
	color: #333333;
  margin-left: 117px;
}
.footer ul{
  display: block;
}
.footer li{
	display: inline-block;
	margin-right: 68px;
	font-size: 12px;

}
.footer a{
	text-decoration: none;
  color: #333333;
}
.footer a:hover{
	color: #CCCCCC;
}



