
* {
  margin: 0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.footersticky, .push {
  height: 40px; /* .push must be the same height as .footer */
}
.footer_btn .btn{
  box-shadow:none
}
.footer_btn .btn:hover {
  color: #0066FF;
  text-decoration: none;
  background-color: #f9f9f9;
  *background-color: #f9f9f9;
  background-position: 0 -30px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.footer_btn .dropup .btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.footer_btn .btn-group.open .btn.dropdown-toggle {
  background-color: #f9f9f9;
}
.footer_btn .btn-group.open .dropdown-toggle {
  background-image: none;
  box-shadow: none
}
.footersticky .btn-group li{
  font-size: 12px
}
/************* Footer right *******/
.unmargin{margin-right:0em !important;}
.menu ul {
  list-style-type:none;
  margin-left:4em;
}

.menu ul li {
  display:inline-block;
  margin-right:4em;
  position:relative;
  vertical-align: middle;
  text-align: left;
}

.menu ul li#trade_mark,#sponsor ul li#trademark{
  font-weight:bold;
}

.menu ul li#trade_mark_logo{
  font-weight:normal;
}

.footer-right{
  display: block;
  border-top: 1px solid #E9E9E9;
  padding-top: 8px;
  margin-top: 8px;

}
.margin-dropdown {
  margin-left:-8px ;
  margin-top: -3px;
}
.footer_size_text ul li{
  font-size: 12px
}
.footer_btn .btn-group > .btn:first-child {
  margin-left: -7px;

}