@import "colors";


/************** sub structure Frontpage **************/
#logo-frontpage{ background: transparent url(VISH_frontpage.png);  width:342px;  height:98px; margin:0px auto 0px; position:relatives; background-repeat:no-repeat; }
.title-main {font-size:40px;}

/***************** HEADER FIELD CSS ********/
.login a{	padding-right: 2px; }
.login a:hover{text-decoration:underline; }
.login #login_button{	width:61px;	height:18px; }
.login #login_data{display: block;}
.login .login_data_block{ display: inline-block; padding-left: 10px;}
.login .login_data_block input{ width: 150px;}
.login .login_data_block input[type=submit]{ width: 70px;}
.login .a_border{	border-right:thin solid;	padding-right:7px;	text-decoration:underline; }
.login{ padding-top: 5px;   display: inline-block; float: right; text-align: right; vertical-align: top; width: 65%;  }


#devise_links {padding: 20px 0 5px 5px; margin-left: 20%;}
#devise_links a{font-weight: bold;line-height: 15px; color: $details-color;}

.instructions{text-align: left; padding-bottom: 5px;}
#remember{padding-left:22%; text-align: left;}
#welcome #user_password_confirmation{vertical-align: 30%;}
#welcome #user_password_confirmation_label {padding-top: 0;}
#welcome{  margin: 50px auto 50px auto;  width:330px;  padding:20px;  border: 4px solid $input-border-color;
  background-color: white;-moz-border-radius: 20px; 
  -webkit-border-radius: 20px; border-radius: 20px;}
#welcome .form_field{ width: 75%;}
#welcome .btn_login { text-align: right; padding-right: 10px;}
#welcome .form_label{ width: 20%;}
#welcome .form_row{ padding-left: 5px;}
#welcome .form_tag{ width: 98%;}
#welcome h2{ font-variant: small-caps; text-transform: capitalize; padding: 0; font-size: 20px; 
            text-align: center; }




/*
#tags{width:100%; height:150px; margin:0px; }



*/
#tags{width:100%; height:200px; margin: 0px auto;	position: relative;}
#tag_repositories, #tag_excursion, #tag_organizations, #tag_users{position:relative;}
#tag_repositories{float: right; z-index:1; right:140px;  font-weight: thin; }
#tag_excursion{width:400px;  left:10px;  top:10px; z-index:2;  }
#tag_organizations{float: right; font-weight: thin; top:-30px; z-index:3;}
#tag_users{ width:100px; font-weight: thin; top:0px; left:450px; z-index:4;}
/*



*/