/************* typography*******/

@font-face{
  font-family:"OpenSans";
  src: url(vish/fonts/opensans/opensans-regular.ttf);
  src: url(vish/fonts/opensans/opensans-regular-webfont.eot);
  src: url(vish/fonts/opensans/opensans-regular-webfont.woff);
  src: url(vish/fonts/opensans/opensans-regular-webfont.svg);
}
@font-face{
  font-family:"OpenSansLight";
  src: url(vish/fonts/opensans/OpenSans-Light.ttf);
}
