


<li class="box-item resource-item favouritebox">
<!--IMG resource-->
  <div class="container-img">
      <div class="dummy"></div>
      <div class="element resource-center">

          <%= link_to "/categories/favorites" do %>
                <i class="icon-star "></i>
          <% end %>

      </div>
  </div>


<!--INFO resource-->
  <div class="info">
<!--Title -->
    <div class="name">
      <%= link_to t('categories.favorites.title'), "/categories/favorites" %>
    </div>
<!--Autor -->
    <span class="author"> 
      <span class="by"><%=t('by')%></span>
<%= link_to current_subject.name, current_subject.subject %>

    </span>
<!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">    

      </div>
      <!--views -->
      <div class="views">

      </div>
    </div>
  </div>
</li>