<li class="add-item" href="#AddCategoryHeader" data-toggle="modal">
  <%= link_to new_excursion_path do %>
    <div class="container-img">
        <div class="dummy"></div>
        <div class="element">
          <div class="img-box"><i class="fa fa-plus"></i></div>
        </div>
    </div>
<%# link_to excursion_thumb_for(excursion), excursion, :class => "img-box" %>
<!--INFO excursuion-->
    <div class="caption">
  <!--Title -->
      <div class="action">
        Add New Category  
      </div>
    </div>
  <% end %>
</li>

