<li href="#AddCategory" data-toggle="modal" class="new-item">
<%= link_to image_tag("icons/add.svg"), "#" ,  :class=> "img-box" %>
  <div class="action-name">
    Add New Category 
  </div>
</li>





