<li class="box-item favouritebox excursion-item">

  <div class="container-img">
      <div class="dummy"></div>
      <div class="element">

        <div class="img-box">
        <!--IMG categories-->
          <%= link_to "/categories/favorites" do %>
            <div class="category">
              <div class="container-img">
                <i class="icon-star "></i>
              </div>      
            </div>
          <% end %>
        </div>

      </div>
  </div>
    
<!--INFO excursuion-->
  <div class="info">
<!--Title -->
    <div class="name">
      <%= link_to t('categories.favorites.title'), "/categories/favorites" %>
    </div>
<!--Autor -->
    <div class="author"> 
      <span class="by"><%=t('by')%></span>
      <%= link_to current_subject.name, current_subject.subject %>
    </div>
    <!--____________________ -->    
</li>


