<li class="box-item">

<!--IMG categories-->
  <%= link_to image_tag("items/cat-prev.png"), "#",  :class=> "img-box"  %>
<!--INFO categories-->
  <div class="info">
<!--Title -->
    <h5 class="name">
      <a>
        category name  
      </a>
    </h5>
<!--Autor -->
    <div class="author"> 
      <a>author name</a>   
    </div>
<!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
<!--like -->
      <div class="like">    
        <div class="count">32</div>
        <%= link_to image_tag("icons/likes/star-active.png",  :class=> "img-like" ), "#" %>
      </div>
<!--views -->
      <div class="views">2500
        <a href="#" class="count" data-toggle="tooltip" title="first-tip" data-original-title="23">
        </a>
      </div>
    </div>
  </div>
</li>










