<li class="box-item categorie-item">
  <%= link_to "/categories/favorites" do %>
    <div class="corner-item">
      <div class="corner-item2">
        <div class="corner-color"></div>
        <i class="fa fa-star "></i>
      </div>
      <div class="corner-background"></div>
    </div>
      <div class="container-img">
        <div class="img-box"><i class="fa fa-star"></i></div>
      </div>
  <%end%>

  <div class="caption">
    <!--Title -->
    <h6>
      <%= link_to t('categories.favorites.title'), "/categories/favorites" %>
    </h6>
    <!--Author -->
    <span class="author"> 
      <span class="by"><%= t('by') %></span>
      <%= link_to current_subject.name, current_subject.subject %>
    </span>

    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like"></div>
      <!--views -->
      <div class="views"></div>
    </div>
  </div>

</li>
