<div class="excursions">
  <ul class="">
	<% @items.each do |item| %>
		<% hasOwnPartial = lookup_context.template_exists?("category_item", item.object.class.to_s.underscore.pluralize, true) %>
		<% if hasOwnPartial %>
			<%= render :partial => "#{item.object.class.to_s.tableize}/category_item", :locals => { item.object.class.to_s.underscore.to_sym => item.object } %>
		<% else %>
			<%= render :partial => 'repositories/resource', :locals => { :resource => item.object } %>
		<% end %>
	<% end %>
  </ul>
</div>

