<div id="categories_tab_ready" class="categories cat_container_generic">
	<% if profile_subject_is_current? %>
	<div class="toolbar_nav-tab">
 		<button type="button" class="btn btn-primary btn-for-categorize" data-toggle="button"><i class="icon-move"></i>Place your categories</button>
 	</div>
  <%= render partial: 'categories/edit_categories', :locals => { :scope => scope} %>
	<% end	%>
  <ul class="categories"> 	
    <% if profile_subject_is_current? %>
      <%= render partial: 'categories/category-add' %>
      <%= render partial: 'categories/category_fav' %>
    <% end %>

    <%= render partial: 'categories/categories', :locals => { :scope => scope, :limit => limit, :page => page, :sort_by=> params[:sort_by]||"updated_at"} %>
    
  </ul>
  
</div>

<script>

//Let the overlay appear
$(document).ready(function(){
	$(".btn-for-categorize").click(function(){
		$("#categories_edition").fadeIn();
  });
});


</script>
