<div id="categories_tab_ready" class="categories">
	<% if profile_subject_is_current? %>
 	<button type="button" class="btn btn-primary btn-for-categorize" data-toggle="button">Editar</button>
	<% end	%>
  <ul class="categories"> 	
    <% if profile_subject_is_current? %>
      <%= render partial: 'categories/category-add' %>
      <%= render partial: 'categories/category_fav' %>
    <% end %>

    <%= render partial: 'categories/categories', :locals => { :scope => scope, :limit => limit, :page => page, :sort_by=> params[:sort_by]||"updated_at"} %>
    
  </ul>
  
</div>
<script>
$(document).ready(function(){
	$(".btn-for-categorize").click(function(){

    /*
      CSS from div .overlay
      opacity: 0.90;
      background-color: black;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 9999;
    */
  });
});



function createABlockingDiv( mainContainer, divClass){
  
}
</script>