<div id="categories">
  <ul class="categories">
    <% if profile_subject_is_current? %>
      <%= render partial: 'categories/category-add' %>
      <%= render partial: 'categories/category_fav' %>
    <% end %>

    <%= render partial: 'categories/categories', :locals => { :scope => scope, :limit => limit, :page => page, :sort_by=> params[:sort_by]||"updated_at"} %>
    
  </ul>
  
</div>