<%thumbs_array = new_category_thumbnail(category)%>

<div class="container-img-categorie_0">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_0"><img src='<%=thumbs_array[0]%>'/></div>
    </div>
</div> 

<div class="container-img-categorie_1">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_1"><img src='<%=thumbs_array[1]%>'/></div>
    </div>
</div> 

<div class="container-img-categorie_2">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_2"><img src='<%=thumbs_array[2]%>'/></div>
    </div>
</div> 

<div class="container-img-categorie_3">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_3"><img src='<%=thumbs_array[3]%>'/></div>
    </div>
</div> 


