
<div class="container-img-categorie_0">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_0"></div>
    </div>
</div> 

<div class="container-img-categorie_1">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_1"></div>
    </div>
</div> 

<div class="container-img-categorie_2">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_2"></div>
    </div>
</div> 

<div class="container-img-categorie_3">
    <div class="dummy-categorie"></div>
    <div class="element-categorie">
      <div class="img-box-categorie category_thumb_3"></div>
    </div>
</div> 


