  <div class="recomended">
    <div class="recomended-items">
      <ul class="small-box clearfix">
        <%= render :partial => "categories/category" , :locals => {:category => category}%>

</ul>
</div>
</div>