  <div class="recomended">
    <div class="recomended-items">
      <ul class="small-box clearfix">
      	<p class="info_action"> Added Category</p>
        <%= render :partial => "categories/category" , :locals => {:category => category}%>

</ul>
</div>
</div>