<div class="recomended">
  <ul class="items clearfix">
    <p class="info_action"> Added Category</p>
    <%= render :partial => "categories/category" , :locals => {:category => category}%>
  </ul>
</div>