<div class="recomended">
  <ul class="items clearfix">
    <p class="info_action"> <%= t('activity.items.infoaction.category') %></p>
    <%= render :partial => "categories/category" , :locals => {:category => category}%>
  </ul>
</div>
