<section id="category">
  <div class="category_info">
    <div class="information my_favorites">
      <div class="briefing">
        <header>

          <div class="icontitle">
    
            <!--titulo-->
            <i class="fa fa-star"></i> <%= t('categories.favorites.title') %>
            <!--ayuda-->
            <%= render partial: 'help/help_categories' %>
          </div>
        </header>   
        <div class="description"> <%= t('categories.favorites.description') %> </div>
      </div>
    </div>
  </div>


  <% @items = subject_content current_subject, [Excursion, Document, Scormfile, Webapp, Embed, Link, Event, Category], {:scope => :like, :limit=>0} %>
  <%= render partial: 'categories/items' %>
</section>
