<section id="category">
  <div class="category_info">
    <div class="information my_favorites">
      <div class="briefing">
        <header>
          <div class="icontitle">
            <i class="fa fa-star"></i> <%= t('categories.favorites.title') %>
            <%= render partial: 'help/help_category_favorites' %>
          </div>
        </header>   
        <div class="description"> <%= t('categories.favorites.description') %> </div>
      </div>
    </div>
  </div>
  <ul class="items">
    <% @items = subject_content current_subject, VishConfig.getAvailableLikableModels({:return_instances => true}), {:scope => :like, :limit=>0} %>
    <%= render partial: 'categories/items' %>
  </ul>
</section>
