<section id="category">
  <div class="category_info">
    <div class="icon-box-fav">
      <i class="icon-star "></i>
    </div>  
    <%= render partial: 'help/help_favourite' %>
    <h2><%= t('categories.favorites.title') %></h2>    
    <h4><%= t('categories.favorites.description') %></h3>
  </div>

  <% @items = subject_content current_subject, VishConfig.getAvailableLikableModels({:return_instances => true}), {:scope => :like, :limit=>0} %>
  <%= render partial: 'categories/items' %>
</section>