<div>This is the category show view</div>

<div><%= @category.title %></div>
<div><%= @category.description %></div>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
