//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
  #show_items
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .box-show
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left
      .container-visor
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .description-activity
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left

    .recomended-items
      @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: none
      float: left

    .activity-box
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)
  #show_items
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .box-show
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left
      .container-visor
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .description-activity
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left

    .recomended-items
      @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: none
      float: left

    .activity-box
      @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left
