//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 818px)
  #show_items
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .box-show
      width: 750px
      display: block
      margin-left: auto
      margin-right: auto
      float: none 
      clear: both
      .container-visor
        min-width: 750px

    .description-activity
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left

    .recomended-items
      @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: right
@media (min-width: 819px) and (max-width: 1347px)

  #show_excursions
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .box-show
      width: 800px
      display: block
      margin-left: auto
      margin-right: auto
      float: none 
      clear: both

    .description-activity
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left

    .recomended-items
      @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: right
