//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1348px)
  #show_items
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    .box-show
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left
      .container-visor
        min-width: 800px
    .description-activity
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left

    .recomended-items
      @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: right

    .activity-box
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      display: block
      float: left