<section class="activities">
  <header>
    <div class="icontitle">
      <i class="fa fa-list"></i>
      <%= t 'activity.title' %> 
      <%= render partial: 'help/help_activity' %> 
    </div>
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </header>

  <ul class="timeline">
    <li><div class="tldate">Apr 2014</div></li>
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="pull-left">
          <a href="/users/demo" class="media-object avatar"><img alt="Demo" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018"></a>
        </div>

        <div class="media-body">
          <h6 class="media-heading"><a href="/users/demo">Demo</a> y <a href="/users/paul-smith">Paul Smith</a> están siguiéndose

          </h6>
          <p class="info_action"> 
            <span class="post_time_ago small"> 
              hace 17 días
            </span>
          </p>   
        </div>
        <div class="comments" id="comments_activity_645"></div>     
        <div class="new_comment">
          <form accept-charset="UTF-8" action="/comments" class="new_comment" data-remote="true" id="new_comment" method="post">
            <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="✓">
              <input name="authenticity_token" type="hidden" value="9t7kfGqvNyTK5kqDCPixbXPZvfFNqhx6wnTPnu9DpeE=">
            </div>

            <div class="input-group">
              <div class="input-group-addon">
                <img alt="4" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018">
              </div>

              <input id="comment_owner_id" name="comment[owner_id]" type="hidden" value="5">
              <input id="comment__activity_parent_id" name="comment[_activity_parent_id]" type="hidden" value="645">

              <textarea class="form-control" cols="40" id="comment_text" name="comment[text]" placeholder="Comentar..." rows="1" style="overflow: hidden; word-wrap: break-word; resize: none; height: 41px;"></textarea>

              <input class="btn btn-primary" data-loading-text="Enviando..." name="commit" type="submit" value="Comentar" style="display: none;">
            </div>      
          </form>
        </div>
      </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">

      <div class="pull-left">
        <a href="/users/demo" class="media-object avatar"><img alt="Demo" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018"></a>
      </div>

      <div class="media-body">
        <h6 class="media-heading"><a href="/users/demo">Demo</a>
          <div class="x"> 
            <a href="/excursions/498" data-confirm="¿Borrar excursión?" data-method="delete" data-remote="true" rel="nofollow"><i class="fa fa-trash-o"></i></a> 
          </div>
        </h6>

        <div class="recomended">
          <ul class="items">
            <p class="info_action"> 
              Added Excursion 
              <span class="post_time_ago small"> 
                hace 26 días
              </span>
            </p>
     
            <li class="excursion">
      			  <a href="/excursions/498">
      			    <div class="container-img">
      			      <div class="dummy"></div>
      			      <div class="element">
      			        <div bs-img="http://s0.geograph.org.uk/geophotos/01/74/36/1743675_513c1a7a.jpg" class="img-box" id="excursion-498"></div>
      			      </div>
      			    </div> 
      			  </a>

      			  <!--INFO excursuion-->
      			  <div class="caption">
      			    <!--Tags - not shown now, but used for filtering search results. maybe shown in next version on hover-->
      			    <!-- if modified to show them, careful because they are used in the filters, check that they work-->
      			    <div class="exc_tags" style="display:none">
      			    </div>
      			    <!--Title -->
      			    <h6>
      			      <a href="/excursions/498">kikequisque ut erat</a>
      			    </h6>
      			    <!--Autor -->
      			    <div class="author">
      			      <span class="by">por</span>
      			      <a href="/users/demo">Demo</a>
      			    </div>
      			    <hr>
      			    <div class="info-bottom">
      			      <!--like -->
      			      <div class="like">        
      			        <div class="count">0</div>
      			        <a href="/activities/610/like" class="with_tooltip verb_like like_size_small like_activity_610 " data-method="post" data-remote="true" rel="nofollow" title="favorita"><i class="fa fa-star-o "></i> </a>
      			      </div>

      			      <!--views -->
      			      <div class="views">
      			        13
      			        <i class="fa fa-eye"></i>
      			      </div>
          			</div>
              </div>
            </li>
			    </ul>
        </div>      
			        
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class="fa fa-comment-o"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">

                <div class="comments" id="comments_activity_610">
                  <div class="activity child media" id="activity_627">
                    <div class="pull-left avatar">
                      <div class="media-object">
                      <a href="/users/demo"><img alt="Demo" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018"></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="/users/demo">Demo</a>
                        <div class="x" style="float: right"> 
                          <a href="/comments/1" data-confirm="¿Borrar commentario?" data-method="delete" data-remote="true" rel="nofollow"><i class="fa fa-trash-o"></i></a> 
                        </div>
                      </h6>
                      <p class="info_action">
                        <span class="post_time_ago small"> 
                          hace 16 días
                        </span>
                      </p>
            
                      <div class="objects">
                        <div class="comment" id="comment_1">
                          <p>sdfghjkl</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="comments" id="comments_activity_610">
                  <div class="activity child media" id="activity_627">
                    <div class="pull-left avatar">
                      <div class="media-object">
                      <a href="/users/demo"><img alt="Demo" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018"></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="/users/demo">Demo</a>
                        <div class="x" style="float: right"> 
                          <a href="/comments/1" data-confirm="¿Borrar commentario?" data-method="delete" data-remote="true" rel="nofollow"><i class="fa fa-trash-o"></i></a> 
                        </div>
                      </h6>
                      <p class="info_action">
                        <span class="post_time_ago small"> 
                          hace 16 días
                        </span>
                      </p>
            
                      <div class="objects">
                        <div class="comment" id="comment_1">
                          <p>sdfghjkl</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="comments" id="comments_activity_610">
                  <div class="activity child media" id="activity_627">
                    <div class="pull-left avatar">
                      <div class="media-object">
                      <a href="/users/demo"><img alt="Demo" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018"></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="/users/demo">Demo</a>
                        <div class="x" style="float: right"> 
                          <a href="/comments/1" data-confirm="¿Borrar commentario?" data-method="delete" data-remote="true" rel="nofollow"><i class="fa fa-trash-o"></i></a> 
                        </div>
                      </h6>
                      <p class="info_action">
                        <span class="post_time_ago small"> 
                          hace 16 días
                        </span>
                      </p>
            
                      <div class="objects">
                        <div class="comment" id="comment_1">
                          <p>sdfghjkl</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>      
      </div> 
      
    
      <div class="new_comment">
        <form accept-charset="UTF-8" action="/comments" class="new_comment" data-remote="true" id="new_comment" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="9t7kfGqvNyTK5kqDCPixbXPZvfFNqhx6wnTPnu9DpeE=">
          </div>

          <div class="input-group">
            <div class="input-group-addon">
              <img alt="4" src="/system/actors/logos/000/000/001/small/4.jpg?1407147018">
            </div>

            <input id="comment_owner_id" name="comment[owner_id]" type="hidden" value="1">
            <input id="comment__activity_parent_id" name="comment[_activity_parent_id]" type="hidden" value="610">

            <textarea class="form-control" cols="40" id="comment_text" name="comment[text]" placeholder="Comentar..." rows="1" style="overflow: hidden; word-wrap: break-word; resize: none; height: 41px;"></textarea>

            <input class="btn btn-primary" data-loading-text="Enviando..." name="commit" type="submit" value="Comentar" style="display: none;">
          </div>      
        </form>
      </div>
    </li>
    <li><div class="tldate">Example timeline</div></li> 
  </ul>

  <%= render :partial => 'activities/timeline',
             :locals  => { :section => section } %>
</section>
