<section class="activities">

  <header>
    <div class="icontitle">
      <i class="fa fa-globe"></i>
      <%= t 'activity.title' %>
      <%= render partial: 'help/help_activity' %>
    </div>
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </header>


  <%= render :partial => 'activities/timeline',
             :locals  => { :section => section } %>
</section>
