<section id="wrapper_activities" class="tabbable" >
  <div class="tab-content" id="wrapper_activities_header">
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </div>
  <div class="row space_center"></div>
</section>

