<% if can? :create, new_post(receiver) %>
  <div id="wall-input" class="tab-pane active boxy_gray pagination-right">
    <div id="activities_header" class="content_size pagination-centered">
      <% SocialStream.activity_forms.each do |element| %>
        <%= render :partial => element.to_s.pluralize+'/new_activity',
                   :locals => {
                       :receiver => receiver
                   } %>
      <% end %>
    </div>

    <div class="tools_activity">
      <div id="activity_form_select" class="inline-block type_share">
        <button id="attachFileButton" class="btn-gray_normal"><%= image_tag("/assets/icons/adjuntar.png",:class => "imgnoradio" )%></button>
      </div>


      <div id="activities_share_btn" class="inline">
        <%= submit_tag(t('share'), :class => "btn btn-primary submitActivity", :id => "masterSubmitButton") %>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_tag do %>
  $(function(){
  SocialStream.Wall.init();
  Vish.Wall.init();
  });
<% end %>
