<% receiver ||= current_subject %>

<% if can? :create, new_post(receiver) %>
  
<div class="box_gray1">
  <div class="box_gray2">
    <div class="box_gray3">
      <div id="wall-input" class="tab-pane active">
        <div id="activities_header" class="content_size ">
          <% SocialStream.activity_forms.each do |element| %>
            <%= render :partial => element.to_s.pluralize+'/new_activity',
                       :locals => {
                           :receiver => receiver
                       } %>
          <% end %>
        </div>

        <div class="tools_activity">
          <div id="activity_form_select" class="inline-block type_share">
            <button id="attachFileButton" class="btn-gray_normal"><%= image_tag("icons/adjuntar.png",:class => "imgnoradio" )%></button>
          </div>

          <div id="activities_share_btn" class="inline">
            <%= submit_tag(t('share'), :class => "btn btn-primary submitActivity", :id => "masterSubmitButton") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= javascript_tag do %>
  $(function(){
  SocialStream.Wall.init();
  Vish.Wall.init();
  });
<% end %>
