<div class="activity_options size11">
  <div class="post_time_ago"><%= t('time.ago', :time => time_ago_in_words(activity.created_at)) %></div>
  <% if activity.is_root? && user_signed_in? %>
    <div class="verb_comment"> <%= link_to t('activity.to_comment'), "#", :class => "to_comment" %> </div>
  <% end %>

</div>
