<section class="wall">
  <%= render partial: 'activities/profile_tabs' %>

  <%= render partial: 'activities/new' %>

  <section class="timeline tab-content">
    <div id="wall" class="tab-pane">
      <%= image_tag('loading.gif', :class => :loading, :alt => "Loading") %>
    </div>
    <div id="wall-me" class="tab-pane active">
      <%= render partial: 'activities/timeline_me', locals: { activities: activities } %>
    </div>
  </section>
</section>

