<section id="wrapper_activities">
  <%= render :partial => 'activities/wall_me',
             :locals  => { :activities => owner.wall(:profile, :for => owner). page(params[:page_me]),
                           :is_active_wall => true } %>
  </div>
</section>

