<ul class="nav nav-tabs tabs">
  <li class=""><a class="load-net-on-show" data-toggle="tab" href="#wall"><%= t('resource.net') %></a></li>
  <li class="active"><a data-toggle="tab" href="#wall-me"><%= t('resource.my') %></a></li>
</ul>

<div class="title-timeline">
  <%= t('activity.timeline')%>
</div>
<div class="clearfloat"></div>

