<% if activities.blank? %>
  <%= render :partial => "activities/zero_screen" %>
<% else %>
  <%= render activities  %>

  <% params[:page_me]="1" if params[:page_me].blank? %>

  <div class = "paginate">
    <%= link_to(t('activity.more'), {:page_me => (params[:page_me].to_i + 1), :active_tab => 'me'}, :id => 'me_load_more_button', :class =>'btn-more', :remote => true) unless activities.last_page? %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


