<% if activities.blank? %>
  <%= render :partial => "activities/zero_screen" %>
<% else %>
  <%= render activities  %>

  <% params[:page_net]="1" if params[:page_net].blank? %>

  <div class = "paginate">
    <%= link_to(t('activity.more'), {:page_net => (params[:page_net].to_i + 1), :active_tab => 'net'}, :id => 'net_load_more_button', :class =>'btn-more', :remote => true) unless activities.last_page? %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


