<section id="" class="<%= 'active' if is_active_wall %>">
  <%= render activities  %>
  <% params[:page_me]="1" if params[:page_me].blank? %>
  <div class = "gray_links ">
    <%= link_to(t('activity.more'), {:page_me => (params[:page_me].to_i + 1), :active_tab => 'activities-me'}, :id => 'me_load_more_button', :class =>'load_more_button', :remote => true) unless activities.last_page? %>
  </div>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


