<div id="wall" class='span<%=spanX%>'>
  <%= render :partial => "activities/activity", :collection => activities, :locals => { :spanX => spanX}  %>
  <%= paginate activities %>
</div>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


