<section class="wall">
  <%= render partial: 'activities/tabs' %>

  <%= render partial: 'activities/new' %>

  <%= render partial: 'activities/timeline', locals: { activities: activities } %>
</section>
