<div id="wall" class="row-fluid ">
  <% if activities.size == 0 %>
    <%= render :partial => "activities/zero_screen" %>
  <% else %>
    <%= render activities  %>
    <%= paginate activities %>
  <% end %>
</div>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


