<section id="wall" class="<%= 'active' if is_active_wall %>">
  <%= render activities  %>
  <% params[:page_net]="1" if params[:page_net].blank? %>
  <div class = "row-fluid">

    <%= link_to(t('activity.more'), {:page_net => (params[:page_net].to_i + 1), :active_tab => 'net'}, :id => 'net_load_more_button', :class =>'btn-more link_gray4 span12', :remote => true) unless activities.last_page? %>

  </div>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


