<section id="wall" class="<%= 'active' if is_active_wall %>">
  <%= render activities  %>
  <% params[:page_net]="1" if params[:page_net].blank? %>
  <%= link_to(t('activity.more'), {:page_net => (params[:page_net].to_i + 1), :active_tab => 'activities-net'}, :id => 'net_load_more_button ', :class =>'excursions_net_load_more_button', :remote => true) unless activities.last_page? %>
</section>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


