<div id ="time-line">

  <%= render :partial => "activities/index",
  :locals => { section: :home,
    owner: current_subject } %>
</div>

<%content_for :title do%>
  <%= t("site.current.activity")%>
<%end%>