// typography (adjuntar)
@import "vish/base/fonts";

//rating with stars
@import "vish/base/jquery.rating.css";

// original bootstrap
@import "bootstrap";

// CSS responsive
@import "vish/bootstrap-rewrite/responsive";

// Core variables and mixins
@import "vish/bootstrap-rewrite/change/variables-vish";
@import "vish/bootstrap-rewrite/variables";


 // Modify this for custom colors, font-sizes, etc

@import "vish/bootstrap-rewrite/mixins";


// CSS Reset
@import "vish/bootstrap-rewrite/reset";

// Grid system and page structure
@import "vish/bootstrap-rewrite/scaffolding";
@import "vish/bootstrap-rewrite/grid";
@import "vish/bootstrap-rewrite/layouts";

// Base CSS
@import "vish/bootstrap-rewrite/type";
@import "vish/bootstrap-rewrite/code";
@import "vish/bootstrap-rewrite/forms";
@import "vish/bootstrap-rewrite/tables";

// Components: common
@import "vish/bootstrap-rewrite/sprites";
@import "vish/bootstrap-rewrite/dropdowns";
@import "vish/bootstrap-rewrite/wells";
@import "vish/bootstrap-rewrite/component-animations";
@import "vish/bootstrap-rewrite/close";

// Components: Buttons & Alerts
@import "vish/bootstrap-rewrite/buttons";
@import "vish/bootstrap-rewrite/button-groups";
@import "vish/bootstrap-rewrite/alerts"; // Note: alerts share common CSS with buttons and thus have styles in _buttons.scss

// Components: Nav
@import "vish/bootstrap-rewrite/navs";
@import "vish/bootstrap-rewrite/navbar";
@import "vish/bootstrap-rewrite/breadcrumbs";
@import "vish/bootstrap-rewrite/pagination";
@import "vish/bootstrap-rewrite/pager";

// Components: Popovers
@import "vish/bootstrap-rewrite/modals";
@import "vish/bootstrap-rewrite/tooltip";
@import "vish/bootstrap-rewrite/popovers";

// Components: Misc
@import "vish/bootstrap-rewrite/thumbnails";
@import "vish/bootstrap-rewrite/labels-badges";
@import "vish/bootstrap-rewrite/progress-bars";
@import "vish/bootstrap-rewrite/accordion";
@import "vish/bootstrap-rewrite/carousel";
@import "vish/bootstrap-rewrite/hero-unit";

// Utility classes
@import "vish/bootstrap-rewrite/utilities"; // Has to be last to override when necessary

// -----------------------------------------------------
// -----------------------------------------------------
// -----------------------------------------------------

// change-style
@import "vish/bootstrap-rewrite/change/all-changes";

// vish mixins
@import "mixins";

// excursions
@import "vish/base/excursions";

// base
@import "vish/base/base";

// layout
@import "vish/base/layout";

// tags
@import "vish/base/tags2";

// search
@import "vish/base/search";

// icons
@import "vish/base/icons";

// headers
@import "vish/base/headers";

// btn
@import "vish/base/btn";

// follower
@import "vish/base/follower";

// repository
@import "vish/base/repository";

// toolbar
@import "vish/base/toolbar";

// slider
@import "vish/base/slider";

// timeline
@import "vish/base/timeline";

// messages
@import "vish/base/messages";

// links
@import "vish/base/objects";

// jplayer
@import "jplayer.blue.monday";

// model
@import "vish/base/modal";

// ----------------------------pages-------------------------

// devise
@import "vish/base/pages/devise";

// frontpage
@import "vish/base/pages/frontpage";

// home
@import "vish/base/pages/home";

// profile
@import "vish/base/pages/profile";

// search
@import "vish/base/pages/search";

// settings
@import "vish/base/pages/settings";

// FcbkComplete for new messages
@import "vish/base/fcbkcomplete_messages";

// news
@import "vish/base/news";

// news
@import "vish/base/new-tags";

// quiz sessions
@import "vish/base/pages/quiz_sessions";

@import "avatars_for_rails"
