<ul id="breadcrumb">
	<% categorycrumb |= false%> 
	<% if categorycrumb %>
    <li><a href="<%=user_url(path.first.owner.user)%>?tab=categories"><%=t('document.help.categories1_html')%></a> </li>
  <% end %>

    <% path.each_with_index do |objectParent,index| %>
    <%#unless index == 0%>
      <!--span>></span-->
    <%#end%>
      <li><%= link_to (truncate_name(objectParent.title, length: 40)), polymorphic_path(objectParent) %></li>


    <% end %>

</ul>





