<% categorycrumb ||= false %> 

<ul id="breadcrumb">
  <% if categorycrumb %>
    <li><a href="<%=user_url(path.first.owner.user)%>?tab=categories"><i class="icon-th-large"></i><%=t('document.help.categories1_html')%></a></li>
  <% end %>

  <% path.each_with_index do |objectParent,index| %>
    <li><%= link_to (truncate_name(objectParent.title, length: 40)), polymorphic_path(objectParent) %></li>
  <% end %>

</ul>






