<div class="breadcrumb_wrapper">
	<% categorycrumb |= false%> 
	<% if categorycrumb %>
  <p><a href="<%=user_url(path.first.owner.user)%>?tab=categories">Categorías</a> >
    <% end %>
    <% path.each_with_index do |objectParent,index| %>
      <%unless index == 0%>
        <span>></span>
      <%end%>
      <span><%= link_to objectParent.title, polymorphic_path(objectParent) %></span>
    <% end %>
  </p>
</div>