//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
  .logo-header-in 
    width: 55px
    img
      width: 60%
      margin: 0 17% 0 0



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)

  header.navbar
    ul.nav
      height: 30px
      li
        .icontool16-tool16_add
          margin-left: 3px