
<section id="news-vishub">
  <article class="box-news <%=extra_class%>">
  	<div class="Title"><%=t('announce.title')%></div>
  	<button id="close_announce_button" class="close" type="button">×</button>
  	<p>
  		<%= t('announce.body') %> <a href="http://www.globalexcursion-project.eu/?p=622" target="_blank">www.globalexcursion-project.eu/?p=622</a>
  	</p>
  </article>
</section> 

<%= javascript_tag do %>
    $("#close_announce_button").click(function() {
  		$("#news-vishub").hide("fold");
	});
<% end %>