#category
  #excursions
    margin-left: -10px
    margin-top: 25px
  .category_info
    margin-bottom: 20px
    background-color: $white
    display: block
    float: left
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    @include border-radius($baseBorderRadius)
    @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
    position: relative
    
    .icon-box
      display: block
      float: left
      padding: 0px
      margin-right: 10px
      @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
      .category_thumb
        .category_thumb_0
          width: 47%
          height: 70px
          border: 2px solid #fff
          display: block
          float: left
          position: static
          overflow: hidden
          background: #007cc8
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          img
            max-width: 100%
        .category_thumb_1
          width: 47%
          height: 70px
          border: 2px solid #fff
          display: block
          float: left
          position: static
          overflow: hidden
          background: #007cc8
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          img
            max-width: 100%
        .category_thumb_2
          width: 47%
          height: 70px
          border: 2px solid #fff
          display: block
          float: left
          position: static
          overflow: hidden
          background: #007cc8
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          img
            max-width: 100%
        .category_thumb_3
          width: 47%
          height: 70px
          border: 2px solid #fff
          display: block
          float: left
          position: static
          overflow: hidden
          background: #007cc8
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          img
            max-width: 100%
      i.icon-th-large
        font-size: 92px
        display: block
        text-align: center
    .information
      @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      h2
        @include grid-fluid-span(11, $fluidGridColumnWidth, $fluidGridGutterWidth)
        line-height: 34px
        color: $gray
        font-family: $secondFontFamily
        word-wrap: break-word

      .description
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        display: inline-block
        color: $grayLight
        font-size: 14px
        word-wrap: break-word


      .icon-box-fav
        @include border-radius($baseBorderRadius)
        @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
        @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
        background-color: #007cc8
        //height: 100%
        margin-right: 20px
        display: block
        padding-bottom: 6px
        padding-top: 5px
        opacity: 1
        height: 93%
        float: left
        i
          color: white
          position: absolute
          font-size: 8.3em
          padding-top: 1%
          padding-left: 3.3%
    .update
      @include grid-fluid-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: left
      label
        font-size: 12px
        font-family: $secondFontFamily
        color: $firstColor
        display: block
        float: left
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        clear: left
      span
        font-size: 10px
        float: left
      input,
      textarea
        display: block
        float: left
        width: 96%
        padding: 4px 2%
      .actions
        display: block
        float: left
        clear: both
        margin-bottom: 10px
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        input
          width: auto
          float: right

        a
          float: right
          margin-right: 10px
          background-color: $gray




    .btn-group
      position: absolute
      left: 15%
      bottom: 5px
      width: 84%
      border-top: 1px solid $grayLight
      padding-top: 5px
      i
        margin-right: 5px
      .btn:first-child
        background-color: $firstColor
        background-image: none
        color: $white
        border-color: $firstColor




.helpCategories
  margin-top: 0px !important

.errors
  font-size: 14px

#category_success
  width: 400px
  font-size: 14px

.favouritebox
  padding-bottom: 6px
  margin-bottom: 0px !important



