#category
  .category_info
    background-color: $white
    @include border-radius($baseBorderRadius)
    @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
    height: 160px

    h1
      color: $gray
      font-family: $secondFontFamily
      line-height: 25px
      padding-top: 33px
    
    h2
      font-size: 1.8em
    &:hover
      a
        i.icon-trash
          @include opacity(100)

    .icon-box
      @include border-radius($baseBorderRadius)
      @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
      @include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
      background-image: url('items/malla.png')
      //height: 100%
      margin-right: 20px
      display: block
      padding-top: 33px
      padding-bottom: 33px 
      opacity: 1
      float: left
      i.icon-th-large
        font-size: 92px
        display: block
        text-align: center
    a
      i.icon-trash
        @include opacity(0)
        float: right
        margin-right: 63px
        font-size: 28px
        color: $grayLight
        &:hover
          color: $gray
          text-decoration: none

.helpCategories
  margin-top: 0px !important


