#categories_edition
  background-color: rgba(0,0,0,0.8)
  position: fixed
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  z-index: 9999
  overflow-y: auto
  display: none
  .editing_info
    width: 90%
    height: 100px
    margin: 0
    padding-right: 5%
    padding-left: 5%
    background-color: rgba(256,256,256,0.9)
    h3
      width: 100%
  .layout_edit
    padding-top: 70px
    padding-right: 5%
    padding-left: 5%
    max-width: 2000px
    margin-left: auto
    margin-right: auto
    display: block
    ul
      margin: 0