#search
  .tabbable
    @include header-tabbable-new


/* menus */

.toggler-as
  width: 100%
  top: 50px
  left: 0
  z-index: 1000
  overflow: hidden
  position: relative
  background: $secondColor
  ul 
    display: block
    color: #fff
    width: 16%
    float: left
    border-left: 1px solid darken($secondColor, 10%) 
    height: 225px
    margin: 0

    li 
      display: block
      color: #fff
      font-size: 12px
      font-weight: 300
      cursor: pointer
      &:hover 
        background: $secondColor
      &:active
        background: $secondColor
        color: #47a3da
  h4 
    margin: 10px 0px 5px 10px
    color: $white

#button-as
  text-decoration: none
  float: right
  margin-top: 50px
  background-color: $secondColor
  height: 20px
  @include border-bottom-radius($borderRadiusSmall)
  margin-right: 5%
  color: $white
  padding: 3px
  padding-left: 6px
  padding-right: 6px

#effect-as
  position: relative

.newClass-as
  width: 100%
  background: darken($secondColor, 10%)
  height: 0px
  overflow: hidden
.anotherNewClass-as
  width: 100%
  background: lighten($secondColor, 5%) 
  height: 225px
  overflow: hidden

/* menus */

.Tags_list_as
  overflow: auto
  display: block
  width: 16%
  color: white
  height: 225px
  float: left
  border-left: 1px solid darken($secondColor, 10%) 
  label
    margin-bottom: 0px
    font-size: 12px
    cursor: pointer

.Tags_list_as li ,
.Language_as li
  width: 95%
  padding-left: 5%
  font-size: 12px
  color: $white
  cursor: pointer

.order_as li,
.creation_as li,
.all_as li
  width: 90%
  padding-left: 10%
  font-size: 12px

.Language_as 
  img
    width: 22px
    height: 17px
    margin-right: 5px

.info_as
  font-weight: lighter
  background: darken($secondColor, 10%) 
  i
    font-size: 50px
    width: 100%
    text-align: center
    margin-top: 50px
    width: 50px
    display: block
    float: none
    margin-left: auto
    margin-right: auto
    color: lighten($secondColor, 5%)
  h2
    text-align: center
    width: 60%
    margin: 0 auto
    display: block
    font-family: #017CC8
    color: lighten($secondColor, 5%) 
    margin-top: 10px

.all_as
  li > label
    width: 95%
    padding-left: 5%
    font-size: 12px
    color: $white
    cursor: pointer
  select
    width: 95%
    margin-left: 5%
    font-size: 12px



/* check tags */
.Tags_list_as
  input[type="checkbox"] 
    display: none

  input[type="checkbox"] + label span
    color: #f2f2f2
    font-family: Arial, sans-serif
    font-size: 14px

  input[type="checkbox"] + label span 
    display: none
    //width: 19px !important
    //height: 19px !important
    //margin: -1px 4px 0 0
    //vertical-align: middle
    //background: url(icons/check_radio_sheet.png) left top no-repeat
    //cursor: pointer

  input[type="checkbox"]:checked + label span 
    //background: url(icons/check_radio_sheet.png) -19px top no-repeat

