#search
  .advanced-search
    h4
      text-align: center
    ul
      @include border-bottom-right-radius(13px)
      @include border-bottom-left-radius(13px)
      background: $white
      ol
        li
          &:hover
            background: #f9f9f9
            @include border-top-left-radius(13px)
            @include border-bottom-left-radius(13px)
            a
              color: $red
              text-decoration: none