<div id="header-tabs">
<!--filter-->
  <div class="filter-tabs">
    <% filter_id ||= "document-filter" %>
    <input id="<%= filter_id %>" type="text" class="input-medium " placeholder="<%= t('filter') %>"  name="filter">
  </div>


<!--btn add-->

  <div class="">
    <%if profile_subject_is_current?%>
    <div class="btn-gray">
      <%= link_to  raw("<i class='icontool16-tool16_arrow_7'></i> ") + t('resource.upload'),new_document_path, :class => :action  %>
      </div>
    <% end %>
  </div>

<%= content_for :javascript do %>
  if(!Vish.Filter.loaded) Vish.Filter.init();
<% end %>
</div>
