<li class="excursions-item">

  <div class="badges">
    <%= image_tag("badges/badge-bronce.png") %>
  </div>

  <%= link_to image_tag("items/exc-prev.png",  :class=> "" ), "#" %>
  <div class="info">
    <h5 class="name">
      <a>
        excursion name excur excursion name sion name   
      </a>
    </h5>
    <div class="like">    
      <h5 class="count">32</h5>
      <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
    </div>
    


    <div class="info-bottom">
      <hr class="soften">
      <h5 class="author">
        by 
        <a>author name</a>   
      <div class="views">
        <span class="count">23</span>
        views    
      </div>
    </h5>
  </div>
</li>







