<div class="row-fluid">
  <div class="thumbnails span12">
    <div class="span2 img-excursion-search ">
      <%= link_to  excursion_thumb_for(excursion, 50), excursion, :class => "img-excursion-search" %>
    </div>
    <div class="info-excursion span10">
      <div class="title-excursion">
        <%= link_to truncate_name(excursion.title, :length => 40), excursion %>
      </div>
    <% unless excursion.draft %>
      <div class="by">
        <%=t "#{excursion.class.name.underscore}.one" %>
      </div>   
      <div class="autor">by 
        <%=link_to( truncate_name(excursion.author.name, :length => 20), excursion.author.subject)%>
      </div>
    <% end %>

    </div>
  </div>
</div>



