<!--corner-->
<%#= render partial: 'workshops/ws_objects/corner_resource', locals: { resource: webapp} %>

<div class="thumbnail_object_WS " >
	<div class=" excursion-item">
		<div class="container-img">
			<div class="dummy"></div>
			<div class="element">
	          <%= link_to(excursion) do %>
	      <%= excursion_thumb_for(excursion) %>
	    <% end %>
			</div>
		</div>
	</div>
</div>

<!--title resource-->
<h3 class="title_WS resource_title_WS"> Excursion <span class="blue"></span></h3>

<!--actions-->
<div class="actions">

 	<button href="#" status="showMore" class=" btn ui-state-default ui-corner-all showMore"><a><i class="icon-chevron-down"></i><%=t('excursion.actions.show_more')%></a></button>

</div>


<!--visor-->
<div class="show_object_WS">
	<section class="layout_workshop_show">
	  <div class="box-show">
	    <div class="container-visor">
	      <div class="elemento-visor"></div>
				<div class="excursion_viewer_wrapper">
	  			<iframe class="vishEditorIframe" src="<%=excursion_path(excursion, :format => :full)%>" width="100%" height="100%" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0; webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true"></iframe>
				</div>
	    </div>
	  </div>

	  <div class="resource_ws_info">
	      <%#= render :partial => 'workshops/ws_objects/info_excursion', :locals => { :excursion => excursion } %>
	  </div>
	</section>
</div>