<li class="box-item add-item">
	<%= link_to new_excursion_path do %>
    <div class="icon-box">
  		<i class="icon-plus"></i>
    </div>
  	<div class="action-name">
    	Create New Excursion  
  	</div>
  <% end %>
</li>








