<div class="btn-group">
<!--embed-->
	<button class='embed btn' data-placement='top' aria-hidden="true" data-original-title="Embed" href='#'>
		<i class="icon-code"></i> Embed
	</button>
	<div class="contentembed" style="display: none">
	 	<textarea rows="1"></textarea>
	 	<button class="btn" href="#" data-toggle="tooltip" data-placement="right" title="copy to clipBoard"><i class="icon-copy"></i></button>
  </div>
	<script>
	  $(document).ready(function(){
	    $('.embed').popover({ 
	      html : true,
	      content: function() {
	        return $('.contentembed').html();
	      }
	    });
	  });
	</script>
<!--share-->
	<button class='Share btn' data-placement='top' aria-hidden="true" data-original-title="Share" href='#'>
		<i class="icon-share"></i> Share
	</button>
  <div class="contentShare" style="display: none">
  	<textarea ></textarea>
  	<button class="btn"><i class="icon-google-plus"></i></button>
  	<button class="btn"><i class="icon-twitter"></i></button>
  	<button class="btn"><i class="icon-facebook"></i></button>
  	<button class="btn"><i class="icon-envelope"></i></button>
  	<button class="btn"><i class="icon-user"></i></button>
  </div>
	<script>
	  $(document).ready(function(){
	    $('.Share').popover({ 
	      html : true,
	      content: function() {
	        return $('.contentShare').html();
	      }
	    });
	  });
	</script>
<!--clone-->
	<button class="btn"><i class="icon-copy"></i> Clone</button>
	<button class="btn"><i class="icon-download"></i> Scorm</button>
	<!--si es tuya la puedes eliminar o editar-->
	<button class="btn"><i class="icon-edit"></i> Edit</button>
	<button class="btn"><i class="icon-remove"></i> Delete</button>
	
	<button class="btn"><i class="icon-star"></i> Favourite</button>
	<button class="btn"><i class="icon-facetime-video"></i> my room</button>
	<!--boton guardar en "categoria x"(proximamente)-->
</div>



