<i class="icon-shield icon-rotate-90"></i>icon-rotate-90<br>
<button>
  <a class="action excursion_toolbar_icon" data-toggle="collapse" data-target="#embed" data-parent="#excursion-share"><%= content_tag(:span, raw("<i class='icon-shield icon-rotate-90'></i> ")) %></a>
</button>
<button>share</button>
<button>clone</button>
<button>scorm</button>

