<div class=" btn-toolbar row">
  <div class="span2">
    <% filter_id ||= "excursion-filter" %>
    <div class="inline-block"><input id="<%= filter_id %>" type="text" class="input-medium onmiddle" placeholder="<%= t('filter') %>" name="filter"></div>
  </div>
  <% show_add = false if !defined?(show_add) %>
  <% if user_signed_in? and profile_subject_is_current? or show_add %>
  <div class="pull-right">
    <div class="menu_resources">
      <%= link_to  raw("<i class='icontool16-tool16_more'></i> ") + t('options.add'),new_excursion_path, :class => :action  %>
    </div>
  </div>
  <% end %>
</div>
<% content_for :javascript do %>
  if(!Vish.Filter.loaded) Vish.Filter.init();
<% end %>
