<div class="row btn-toolbar">
  <div class="pull-right">
    <input type="text" class="input-medium inline-block ontop" placeholder="filter" name="filter">
    <div class="btn-group">
      <a href="#" data-toggle="dropdown" class="btn link_gray dropdown-toggle">add <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to('Virtual meeting', new_excursion_path)  %></li>
        <li><%= link_to('presentation', new_excursion_path)  %><a href="#"></a></li>
      </ul>
    </div>
  </div>
</div>