
<div id="excursions_tab_ready" class="entities excursions">
	<ul class="items">
		<% if profile_subject_is_current? and page===1%>
			<%= render partial: 'excursions/add_new' %>
		<% end %>
		<%= render partial: 'excursions/excursions_profile', :locals => { :scope => scope, :limit => limit, :page => page, :sort_by=> sort_by} %>
	</ul> 
</div>
