<section id="show_excursion">
	<div class="visor"></div>
	<div class="recomended_excursion">
		<ul class="excursions">
		  <% 10.times do %>
		    <%= render partial: 'excursions/excursion' %>
		  <% end %>
		</ul>
	</div>
	<div class="activities_excursion"></div>
</section>
