<div class="page-header"> Title excursion </div>
<section id="show_excursions">
  <div class="visor"></div>
  <div class="recomended_excursion">
    <ul class="small-box">
      <% 10.times do %>
        <%= render partial: 'excursions/excursion' %>
      <% end %>
    </ul>
  </div>
  <div class="activity"></div>
</section>

