<div class="recomended">
    <ul class="items">
      <p class="info_action"> Added Excursion</p>
      <%= render :partial => "excursions/excursion" , locals: { excursion: excursion}%>
    </ul>

</div>