<div class="recomended-items">
  <div class="recomended_excursion">
    <ul class="small-box">
      <p class="info_action"> Added Excursion</p>
      <%= render :partial => "excursions/excursion" , locals: { excursion: excursion}%>
    </ul>
  </div>
</div>