<%= div_for excursion, :class => 'inline-block width-top' do %>
  <ul class="thumbnails span1">
    <li class="span1 margin-clear">
      <div class="thumbnail">
        <%= link_to  thumb_for(excursion, 130), excursion, :class => "container" %>
          <div class='number_pages'><%= excursion.slide_count %></div>
        <div class="caption padding-margin-clear">
          <h5 class="link_gray  "><%= link_to truncate_name(excursion.title, :length => 20 ), excursion %></h5>
        </div>
      </div>
    </li>
  </ul>
<% end %>
