<% self.class.send :include, HomeHelper  %>
<section class="span6">
  <div class="excursions tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#ex-1"><%=t('excursion.other') + " "+ t('excursion.created')%></a></li>
      <li class="active"><a data-toggle="tab" href="#ex-1"><%= t('excursion.favorites')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="ex-1" class="tab-pane active">
        <%= render :partial => "excursions/filter", :locals => {:show_add => true, :filter_id => "excursion-filter-me" } %>
        <div id="excursions" class="row height-tabs-home" >
          <% for excursion in subject_excursions(@user, {:scope => :me}) %>
            <%= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row"></div>
<div class="space_center"></div>
