  <section class="slides layout-regular template-default" id="slides_panel">
    <div id="menubar_helpsection"><img src="/assets/menubar_helpsection.png"/></div>
    <div id="joyride_help_button"><img id="help_right" src="/assets/helptutorial_circle.png"/></div>
    <div id='menubar'>
        <div id="menubar_background"><img src="/assets/menubar.png"/></div>
        <div id="menubarButtons">
          <a id="edit_excursion_details" href="#excursiondetails">
            <div id="config_div" class='barbuttonaddsave' title="Edit details"></div>
          </a>
          <a id="save" href="#thumbcontent">
            <div id="save_div" class='barbuttonaddsave' title="Save slides"></div>
          </a>
        </div>  
        <div id="menubarCarrousel">
           <div id="slides_carrousel"></div>   
        </div>
    </div>
    
    <div id="menubar-viewer" style="display:none">
      <button id="page-fullscreen" class="fullscreen" type="submit" style="border: none; background-color: transparent" tabindex="2"></button>
      <div id="viewbar" class="viewbar">
        <button id="page-switcher-start" class="page-switcher" tabindex="2"><</button>
        <div id="slide-counter"></div>
        <button id="page-switcher-end" class="page-switcher" tabindex="2" >></button>
      </div>
    </div>
      
    <!-- Generic toolbars -->
    <div class="toolbar_wrapper" style="display:none">
      <div class="toolbar_panel">
        <img class="toolbar_icon toolbar_web toolbar_snapshot" action="zoomMore" src="/assets/toolbar/zoomMore.png"></img>
        <img class="toolbar_icon toolbar_web toolbar_snapshot" action="zoomLess" src="/assets/toolbar/zoomLess.png"></img>
      </div>
    </div>
    
    </section>

    <!-- Hidden link to open fancybox when adding a slide -->
    <a id="addSlideFancybox" href="#thumbcontent" style="display: none;"></a>
    
    <!-- Hidden link to open fancybox when creating a new excursion -->
    <a id="launch_excursion_details" href="#excursiondetails" style="display: none;"></a>

    <!-- Initial screen to input the basic exursion data (Title, Description, etc.) -->
    <div style='display:none'>    
      <form id='excursiondetails'>         
        <div id="excursion_details_fields">
          <label for="excursion_title">
            <div id="tutorialstart" class="textintro1 textintromargin1">Title</div>
          </label>
          <input id='excursion_title' class="input_text_fancy title1 formsizefancy3" type="text" name="excursion_title" placeholder="Excursion title"> <img id="start_tutorial" src="/assets/tutorialimage_blank.png"/>
          <label for="excursion_description">
            <div class="textintro1 textintromargin2">Description</div>
          </label>
          <textarea id='excursion_description' class="input_text_fancy description1 formsizefancy4" name="excursion_description" placeholder="Describe the excursion in a few words..."></textarea>
          <div class="tagBoxIntro">
            <ul id="tagindex" class="tagList"></ul>
          </div>
          <div id="thumbnails_in_excursion_details">
            <label for="excursion_avatar">
              <div class="textintro1 textintromargin3">Thumbnail</div>
            </label>
            <div id="avatars_carrousel"></div>
            <input type="hidden" id="excursion_avatar" value="">
          </div>
        
          <input id='save_excursion_details' submit='disable' class='button buttonintro' value="Continue">
          <p id="excursion_details_error" class="error_intro" style='display:none'>Please, enter a title</p>
        </div>
      </form>
    </div>  
      
     
    <div style='display:none'>
      
  
	  
	    <div id='thumbcontent'>
	    	 <div class='fancy_tabs' id='thumcontent_tabs'>
	  	<ul>
	  		<li><a href="#" onclick="VISH.Editor.loadFancyBox('templates')" id="tab_templates" class="fancy_tab tabbable">Templates</a></li>
	  		<li><a href="#" onclick="VISH.Editor.loadFancyBox('quizes')" id="tab_quizes" class="fancy_tab" style="display:none">Quiz</a></li>
	  	</ul>
	  	
	  </div> 
	    	<div id='templates_content' style='display:inline' > 
	        <img id='help_template_selection' src='/assets/helptutorial_circle_blank.png'/>
	      
	      <div class='templatethumb' template='1'>
		      <img src='/assets/templatesthumbs/t1.png' />
	      </div>
	      <div class='templatethumb' template='2'>
		      <img src='/assets/templatesthumbs/t2.png' />
	      </div>
          <div class='templatethumb' template='3'>
		      <img src='/assets/templatesthumbs/t3.png' />
	      </div>
          <div class='templatethumb' template='4'>
		      <img src='/assets/templatesthumbs/t4.png' />
	      </div>
          <div class='templatethumb' template='5'>
		      <img src='/assets/templatesthumbs/t5.png' />
	      </div>
          <div class='templatethumb' template='6'>
		      <img src='/assets/templatesthumbs/t6.png' />
	      </div>
          <div class='templatethumb' template='7'>
		      <img src='/assets/templatesthumbs/t7.png' />
	      </div>
          <div class='templatethumb' template='8'>
		      <img src='/assets/templatesthumbs/t8.png' />
	      </div>
          <div class='templatethumb' template='9'>
		      <img src='/assets/templatesthumbs/t9.png' />
		      
		   </div>
	      </div>

<div id='quizes_content' style='display:none' > 
	      <img id='help_template_selection' src='/assets/helptutorial_circle_blank.png'/>
	      
	      <div class='templatethumb' template='10'>
		      <img src='/assets/templatesthumbs/t10.png' />
	      </div>
	      <div class='templatethumb' template='11'>
		      <img src='/assets/templatesthumbs/t11.png' />
	      </div>
          
          <div class='templatethumb' template='12'>
		      <img src='/assets/templatesthumbs/t12.png' />
	      </div>
          
	      </div>
	     </div>
	  </div>

  
    <div style='display:none'>
      
      <div id='menuselect' class="menuselect_hide">
        <div class='menuicon textthumb' title="Text"></div>
        <a class="addpicture" href="#picture_fancybox">
          <div class='menuicon picthumb' title="Image"></div>
        </a>
        <a class="addobject" href="#object_fancybox">
          <div class='menuicon objectthumb' title="Object"></div>
        </a>
        <a class="addvideo" href="#video_fancybox">
          <div class='menuicon videothumb' title="Video"></div>
        </a>
        <a class="addLive" href="#live_fancybox">
          <div class='menuicon livethumb' title="Live"></div>
        </a>
      </div>
      
      <div id='menuselect_for_header' class="menuselect_hide">
        <div class='menuicon_small textthumb textthumb_small' title="Text"></div>
        <a class="addpicture" href="#picture_fancybox">
          <div class='menuicon_small picthumb_small' title="Image"></div>
        </a>        
      </div>
      
    </div>
    
    
    <!-- PROMPT USER IF SHE IS SURE TO DELETE ITEM -->
    <div style='display:none'>
      <input type="hidden" id="prompt_answer" value="false"></input>
      <div id='prompt_form'>        
        <img id="image_template_prompt" class="delete_img" src="/assets/templatesthumbs/default.png"/>
        <img id="delimg" class="delimg" src="/assets/delete_border.png">
        <span class="deltext">are you sure?</span>
        <div class="buttons_together">
          <a href="#" onclick="$('#prompt_answer').val('true'); $.fancybox.close();" class="prompt_button button button220">delete</a>
          <a href="#" onclick="$('#prompt_answer').val('false'); $.fancybox.close();" class="prompt_button button button2">no</a>
        </div>
      </div>
    </div>
  
   <!-- PROMPT USER WHEN NOT MET MINIMUM REQUIREMENTS -->
    <div style='display:none'>
      <div id='requirements_form_wrapper'>
        <div id='requirements_form'>      

          <span class="deltext requirementsText">Your browser does not meet the minimum requirements to init Vish Editor, please update your browser.</span> 
          <div id="recomended_browsers">
            <div class="recomended_browser">
              <span class="browserTitle">Google Chrome</span>
              <a href="https://www.google.com/chrome"><img class="browser_img" src="/assets/browsers/google_chrome.png"/></a>
            </div>
            <div class="recomended_browser">
              <span class="browserTitle">Mozilla Firefox</span>
              <a href="http://www.mozilla.org/en-US/firefox/new"><img class="browser_img" src="/assets/browsers/firefox.png"/></a>
            </div>
            <div class="recomended_browser">
              <span class="browserTitle">Internet Explorer 9</span>
              <a href="http://windows.microsoft.com/en-GB/internet-explorer/downloads/ie-9/worldwide-languages"><img class="browser_img" src="/assets/browsers/internetexplorer.png"/></a>
            </div>
            <div class="recomended_browser">
              <span class="browserTitle">Opera</span>
              <a href="http://www.opera.com/download"><img class="browser_img" src="/assets/browsers/opera.png"/></a>
            </div>
          </div>
          <div class="buttons_requirements_wrapper">
            <a href="#" onclick="$.fancybox.close();" class="prompt_button button buttons_requirements">OK</a>
          </div>
        </div>
      </div>
    </div>
  
      <!-- PROMPT USER IF SHE IS SURE TO SAVE THE SLIDE -->
    <div style='display:none'>
      <input type="hidden" id="save_answer" value="false"></input>
      <div id='save_form'>
        <img id="saveimg" class="delete_img" src="/assets/save_document.png">
        <span class="deltext">are you sure?</span>    
        <div class="buttons_together">
          <a href="#" onclick="$('#save_answer').val('true'); $.fancybox.close();" class="prompt_button button button1">save</a>
          <a href="#" onclick="$('#save_answer').val('false'); $.fancybox.close();" class="prompt_button button button2">cancel</a>
        </div>
      </div>
    </div>
    
    <!-- PROMPT WHEN THERE IS NO SLIDES AND TRY TO SAVE -->
    <div style='display:none'>
      <div id='message1_form'>
        <div class="text_in_fancybox">
          <img id="message1img" src="/assets/content_fail.png">
          <span class="deltext">Create at least one slide before saving.</span>
        </div>    
        <div id="button_accept_when_fail">
          <a href="#" onclick="$.fancybox.close();" class="prompt_button buttonfail">accept</a>
        </div>
      </div>
    </div>
    
  
    <!-- IMAGE -->
    <div style='display:none'>
      <div id="picture_fancybox" class="outer_box">
        <div class="fancy_tabs" id="images_fancy_tabs_id">     
          <ul>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_pic_from_url')" id="tab_pic_from_url" class="fancy_tab tabbable">url</a></li>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_pic_upload')" id="tab_pic_upload" class="fancy_tab">upload</a></li>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_pic_repo')" id="tab_pic_repo" class="fancy_tab">vish</a></li>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_pic_flikr')" id="tab_pic_flikr" class="fancy_tab"><img src='/assets/flickr.png'/></a></li>
          </ul>
          <img class='help_in_fancybox' id='tab_pic_from_url_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_pic_upload_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_pic_repo_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_pic_flikr_help' src='/assets/helptutorial_circle_blank.png'/>
        </div>
        <div id='tab_pic_from_url_content' class="fancy_tab_content">
                  <div class="box1 box1fancy1">
                    <p class="textfancy">add image url</p></br>
                    <img class="image_add_url" src="/assets/url_img.png"/>
                    <input id="picture_url" class="input_text_fancy formsizefancy1 marginsfancy1" type="text" size="25" value="">
                    <button type="button" class="button buttonfancy previewButton">Preview</button>
                  </div>
                  <div class="box2">
                    <div id="picture_preview" class="previewimgbox">
                        <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Image.drawPreviewElement()">Add Content</button>
                      </div>
                  </div>
        </div>      
        <div id='tab_pic_upload_content' class="fancy_tab_content">
              <div class="box1 box1fancy3">
                <p class="textfancy">Select picture to upload</p></br>
                <img class="image_add_url" src="/assets/url_upl.png"/>
                
                  <form class="documentsForm" action="documents.json" method="post" enctype="multipart/form-data">
                      <input id="upload_file_input" type="file" name="document[file]" class="upload_file_input">
                      <input type="hidden" name="document[title]">
                      <input type="hidden" name="document[description]">
                      <input type="hidden" name="document[owner_id]">
                      <input type="hidden" name="authenticity_token">
                      <input type="hidden" name="tags">
                      <input id="upload_document_submit" type="submit" class="button" value="Upload">
                  </form>
                  
                  <div class="upload_progress_bar_wrapper">
                      <div class="upload_progress_bar"></div >
                      <div class="upload_progress_bar_percent">0%</div >
                  </div>
                  
                  <div class="tagBoxUpload">
                    <ul class="tagList"></ul>
                  </div>
                  
              </div>
              <div class="box2 box2_upload">
                    <div class="previewimgbox">
                        <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Image.drawPreviewElement()">Add Content</button>
                    </div>
              </div>
        </div>            
        <div id='tab_pic_repo_content' class="fancy_tab_content">
          <div class="box1 box1fancy2">
            <img src="/assets/repositoryimg.png" class="imagelogotab">               
            <div class="search_container">
              <input id="search_picture" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" > </input>
            </div>
            
            <div id="tab_pic_repo_content_carrousel"></div>
            
            <div id="tab_pic_repo_content_preview">
              <div id="tab_pic_repo_content_preview_image"></div>
            </div>
          </div>  
        </div>
        <div id='tab_pic_flikr_content' class="fancy_tab_content">
                    <div class="box1 box1fancy2">
                      <img src="/assets/flickrlogo.png" class="imagelogotab">
                <div class="search_container">
                  <input id="search_flickr_fancy" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" > </input>
                 </div> 
        <div id="tab_flikr_content_carrousel"></div>
                </div>
          </div>
      </div>
    </div>
  
  
    <!-- object -->
    <div style='display:none'>
      <div id="object_fancybox" class="outer_box">
        <div class="fancy_tabs" id="object_fancy_tabs_id">    
          <ul>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_object_from_url')" id="tab_object_from_url" class="fancy_tab">embed</a></li>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_object_from_web')" id="tab_object_from_web" class="fancy_tab">web</a></li>
						<li><a href="#" onclick="VISH.Editor.loadTab('tab_object_upload')" id="tab_object_upload" class="fancy_tab">upload</a></li>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_object_repo')" id="tab_object_repo" class="fancy_tab">vish</a></li>
          <li><a href="#" onclick="VISH.Editor.loadTab('tab_object_snapshot')" id="tab_object_snapshot" class="fancy_tab">web snapshot</a></li>
		 </ul>
          <img class='help_in_fancybox' id='tab_object_from_url_help' src='/assets/helptutorial_circle_blank.png'/>
					<img class='help_in_fancybox' id='tab_object_from_web_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_object_upload_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_object_repo_help' src='/assets/helptutorial_circle_blank.png'/>
        </div>
        <div id='tab_object_from_url_content' class="fancy_tab_content">
          <div class="box1 box1fancy1">
            <p class="textfancy">embed object</p></br>
            <img class="image_add_url" src="/assets/url_img.png"/>
            <input id="object_embed_code" type="text" class="input_text_fancy formsizefancy1 marginsfancy1">
            <button type="button" class="button buttonfancy previewButton">Preview</button>
          </div>
                <div class="box2">
                        <div id="picture_preview" class="previewimgbox">
                            <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Object.drawPreviewElement()">Add Content</button>
                          </div>
                      </div>
        </div>
				
				<div id='tab_object_from_web_content' class="fancy_tab_content">
          <div class="box1 box1fancy1">
            <p class="textfancy">embed websites</p></br>
            <img class="image_add_url" src="/assets/url_img.png"/>
            <input id="object_embedWeb_code" type="text" class="input_text_fancy formsizefancy1 marginsfancy1">
            <button type="button" class="button buttonfancy previewButton">Preview</button>
          </div>
                <div class="box2">
                        <div id="picture_preview" class="previewimgbox">
                            <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Object.Web.drawPreviewElement()">Add Content</button>
                          </div>
                      </div>
        </div>
        
        <div id='tab_object_upload_content' class="fancy_tab_content">
              <div class="box1 box1fancy3">
                <p class="textfancy">Select SWF file to upload</p><br>
                <img class="image_add_url" src="/assets/url_upl.png"/>
                
                  <form  id="object_file_input"class="documentsForm" action="documents.json" method="post" enctype="multipart/form-data">
                      <input type="file" name="document[file]" class="upload_file_input">
                      <input type="hidden" name="document[title]">
                      <input type="hidden" name="document[description]">
                      <input type="hidden" name="document[owner_id]">
                      <input type="hidden" name="authenticity_token">
                      <input type="hidden" name="tags">
                      <input id="upload_document_submit" type="submit" class="button" value="Upload">
                  </form>
                  
                  <div class="upload_progress_bar_wrapper">
                      <div class="upload_progress_bar"></div >
                      <div class="upload_progress_bar_percent">0%</div >
                  </div>
                  
                  <div class="tagBoxUpload">
                    <ul class="tagList"></ul>
                  </div>
                  
              </div>
              <div class="box2 box2_upload">
                      <div class="previewimgbox">
                          <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Object.drawPreviewElement()">Add Content</button>
                      </div>
              </div>
        </div> 
        
        <div id='tab_object_repo_content' class="fancy_tab_content"> 
          <div class="box1 box1fancy2">
            <img src="/assets/repositoryimg.png" class="imagelogotab">         
            <div class="search_container">
              <input id="search_object" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" > </input>
            </div>
            
            <div id="tab_object_repo_content_carrousel"></div>
            <div id="tab_object_repo_content_preview" class="content_preview">
              <div id="tab_object_repo_content_preview_object" class="content_preview_data"></div>
              <div id="tab_object_repo_content_preview_metadata" class="content_preview_metadata"></div>
              <div id="tab_object_repo_content_preview_foot" class="content_preview_foot">
                <button type="button" class="okButton" onclick="VISH.Editor.Object.Repository.addSelectedObject()">Add</button>
              </div>
            </div>        
          </div>
        </div> 
        
        <div id='tab_object_snapshot_content' class="fancy_tab_content">
          <div class="box1 box1fancy1">
            <p class="textfancy">Web Snapshot</p></br>
            <img class="image_add_url" src="/assets/url_img.png"/>
            <input id="object_snapshot_code" type="text" class="input_text_fancy formsizefancy1 marginsfancy1">
            <button type="button" class="button buttonfancy previewButton">Preview</button>
          </div>
          <div class="box2">
                  <div class="previewimgbox">
                      <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Object.Snapshot.drawPreviewElement()">Add Content</button>
                  </div>
          </div>
        </div>
          
      </div>
    </div>
  
  
    <!-- VIDEO -->
    <div style='display:none'>
      <div id="video_fancybox" class="outer_box">
        <div class="fancy_tabs" id="video_fancy_tabs_id">    
            <ul>
              <li><a href="#" onclick="VISH.Editor.loadTab('tab_video_from_url')" id="tab_video_from_url" class="fancy_tab">url</a></li>
              <li><a href="#" onclick="VISH.Editor.loadTab('tab_video_repo')" id="tab_video_repo" class="fancy_tab">vish</a></li>
              <li><a href="#" onclick="VISH.Editor.loadTab('tab_video_youtube')" id="tab_video_youtube" class="fancy_tab"><img src='/assets/youtube.png'/></a></li>
              <li style='display:none'><a href="#" onclick="VISH.Editor.loadTab('tab_video_vimeo')" id="tab_video_vimeo" class="fancy_tab"><img src='/assets/vimeo.png'/></a></li>
            </ul>
            <img class='help_in_fancybox' id='tab_video_from_url_help' src='/assets/helptutorial_circle_blank.png'/>
            <img class='help_in_fancybox' id='tab_video_repo_help' src='/assets/helptutorial_circle_blank.png'/>
            <img class='help_in_fancybox' id='tab_video_youtube_help' src='/assets/helptutorial_circle_blank.png'/>
            <img class='help_in_fancybox' id='tab_video_vimeo_help' src='/assets/helptutorial_circle_blank.png'/>
        </div>
        <div id='tab_video_from_url_content' class="fancy_tab_content">
            <div id="box1" class="box1 box1fancy1">
               <p class="textfancy">add video url</p></br>
               <img id="image_add_url" class="image_add_url" src="/assets/url_img.png"/>
               <input id="video_url" class="input_text_fancy formsizefancy1 marginsfancy1" type="video_url">
              <button type="button" class="button buttonfancy previewButton">Preview</button>
            </div>
            <div id="box2" class="box2">
              <div id="previewimgbox" class="previewimgbox">
                <button type="button" class="button buttonaddfancy" onclick="VISH.Editor.Video.drawPreviewElement()">Add Content</button>
              </div>
            </div>
       </div>
        <div id='tab_video_repo_content' class="fancy_tab_content">   
            <div class="box1 box1fancy2"> 
              <img src="/assets/repositoryimg.png" class="imagelogotab">   
              <div class="search_container">
                <input id="search_video" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" > </input>
              </div>
              
              <div id="tab_video_repo_content_carrousel"></div>
              <div id="tab_video_repo_content_preview" class="content_preview">
                <div id="tab_video_repo_content_preview_video" class="content_preview_data">
                  
                </div>
                <div id="tab_video_repo_content_preview_metadata" class="content_preview_metadata"></div>
                <div id="tab_video_repo_content_preview_foot" class="content_preview_foot">
                  <button type="button" class="okButton" onclick="VISH.Editor.Video.Repository.addSelectedVideo()">Add</button>
                </div>
              </div>
            </div>
        </div>  
        
        <div id='tab_video_youtube_content' class="fancy_tab_content">
                  <div class="box1 box1fancy2">
          <img src="/assets/youtubelogo.png" class="imagelogotab">
          <div class="search_container" id="youtube_search_container">
            <input id="search_youtube_fancy" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" id="youtube_text_to_search"> </input>
          </div>
         
        
          <div id="tab_video_youtube_content_carrousel"></div>
          <div id="tab_video_youtube_content_preview" class="content_preview">
            <div id="tab_video_youtube_content_preview_video" class="content_preview_data">
              
            </div>
            <div id="tab_video_youtube_content_preview_metadata" class="content_preview_metadata"></div>
            <div id="tab_video_youtube_content_preview_foot" class="content_preview_foot">
              <button type="button" class="okButton" onclick="VISH.Editor.Video.Youtube.addSelectedVideo()">Add</button>
            </div>
          </div>
          
          </div>
                </div>
                <div id='tab_video_vimeo_content' class="fancy_tab_content">
                  <div class="box1 box1fancy2">
          <img src="/assets/vimeologo.png" class="imagelogotab">
          <div class="search_container" id="vimeo_search_container">
            <input id="search_vimeo_fancy" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" id="vimeo_text_to_search"> </input>
          </div>
         
        
          <div id="tab_video_vimeo_content_carrousel"></div>
          <div id="tab_video_vimeo_content_preview" class="content_preview">
            <div id="tab_video_vimeo_content_preview_video" class="content_preview_data">
              
            </div>
            <div id="tab_video_vimeo_content_preview_metadata" class="content_preview_metadata"></div>
            <div id="tab_video_vimeo_content_preview_foot" class="content_preview_foot">
              <button type="button" class="okButton" onclick="VISH.Editor.Video.vimeo.addSelectedVideo()">Add</button>
            </div>
          </div>
          
          </div>
                </div>
          </div>
      </div>
      
        
    <!-- LIVE -->
    <div style='display:none'>
      <div id="live_fancybox" class="outer_box">
        <div class="fancy_tabs" id="live_fancy_tabs_id">    
          <ul>
            <li><a href="#" onclick="VISH.Editor.loadTab('tab_live_webcam')" id="tab_live_webcam" class="fancy_tab">Webcams</a></li>
            <li style='display:none'><a href="#" onclick="VISH.Editor.loadTab('tab_live_micro')" id="tab_live_micro" class="fancy_tab">Microscopes</a></li>
          </ul>
          <img class='help_in_fancybox' id='tab_live_from_url_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_live_upload_help' src='/assets/helptutorial_circle_blank.png'/>
          <img class='help_in_fancybox' id='tab_live_repo_help' src='/assets/helptutorial_circle_blank.png'/>
        </div>
        
        <div id='tab_live_webcam_content' class="fancy_tab_content"> 
          <div class="box1 box1fancy2">
            <img src="/assets/repositoryimg.png" class="imagelogotab">         
            <div class="search_container">
              <input id="search_webcam" type="search" class="input_text_fancy formsizefancy2 marginsfancy2" > </input>
            </div>
            
            <div id="tab_live_webcam_content_carrousel"></div>
            <div id="tab_live_webcam_content_preview" class="content_preview">
              <div id="tab_live_webcam_content_preview_live" class="content_preview_data"></div>
              <div id="tab_live_webcam_content_preview_metadata" class="content_preview_metadata"></div>
              <div id="tab_live_webcam_content_preview_foot" class="content_preview_foot">
                <button type="button" class="okButton" onclick="VISH.Editor.Object.Live.addSelectedObject()">Add</button>
              </div>
            </div>        
          </div>
        </div>
        <div id='tab_live_micro_content' class="fancy_tab_content">
        </div>  
      </div>
    </div>
      
      
     <!-- WALKTHROUGH HELP SECTION -->
      <!-- help for initial screen -->
      <ol id="initial_screen_help" class="joyRideTipContent">
        <li data-id="tutorialstart" data-text="Next" data-options="tipLocation:none;" class="tut_welcome Next tut_without_arrow">
          <h2>Welcome to ViSH editor!</h2>
          <p>
            <span i18n-key="i.walk1">Using the "Walkthrough icon"</span>
            <img src="/assets/helptutorial_circle.png"/> 
            <span i18n-key="i.walk2">around the application, will show you in several easy steps how to use the ViSH editor.All the features related to it will be shown to you, as well as the way to publish the final result generated. Click on "Next" to start the Walkthrough.</span>
          </p>
        </li>
        <li data-id="excursion_title" data-text="Next" data-options="tipLocation:bottom;" class="Next">
          <h2>Let´s write a title (Obligatory)</h2>
          <p i18n-key="i.walk3">This black space will allow you to write a title to name your excursions. The title in the excursion it is obligatory cause with this feature other user can find your excursions inside the ViSH platform. Click on "Next" to continue. </p>
        </li>
        <li data-id="excursion_description" data-text="Next">
          <h2>Write a description (optional)</h2>
          <p i18n-key="i.walk4">Here you can explain in a little more detail what the excursion is about. Click on "Next" to continue.</p>
        </li>
        <li data-id="tagindex" data-text="Next">
          <h2>Add tags to your excursion</h2>
          <p i18n-key="i.walk5">In this zone you can add topics words that will represent your excursion when users search in the ViSH platform. Click on "Next" to continue.</p>
        </li>
        <li data-id="avatars_carrousel" data-text="Next" data-options="tipLocation:top">
          <h2>Choose an image that will represent your excursion</h2>
          <p i18n-key="i.walk6">In this zone you can choose an image that will represent your excursion. Try the arrows on the sides or the circles at the bottom to check all the images and choose one.Then click "Next" to continue.</p>
        </li>
        <li data-id="save_excursion_details"  class="tut_savedetails tut_with_arrow" data-options="tipLocation:none" data-text="Close">
          <h2>Save your excursion details</h2>
          <p i18n-key="i.walk7">Once you click on the close button, you will be able to click on continue to save your excursion details, and to start adding content to your excursion.</p>
        </li>
      </ol>
      
      <ol id="menubar_help" class="joyRideTipContent">
        <li data-id="menubar" data-text="Next" class="tut_welcome_exc tut_without_arrow Next" data-options="tipLocation:none">
          <h2>This is ViSH editor!</h2>
          <p i18n-key="i.walk8">Remember that you can use the "Walkthrough icon"<img src="/assets/helptutorial_circle.png"/> when you need any help around the application. This is the application desktop where you can create your excursions.Click on "Next" to continue.</p>
        </li>
        <li data-id="menubar" data-text="Next" class="tut_menubar tut_with_arrow Next" data-options="tipLocation:none">
          <h2>This is the tools menu</h2>
          <p i18n-key="i.walk9">In this bar you can see all the options provided to create and manage a new virtual excursion in ViSH. Click on "Next" to continue. </p>
        </li>
        <li data-id="config_div" data-text="Next" data-options="tipLocation:top">
          <h2>Configuration Button</h2>
          <p i18n-key="i.walk10">Clicking this button will get you to the first screen where you added the title and the description to your excursion.Click on "Next" to continue.</p>
        </li>
        <li data-id="menubar" data-text="Next" class="tut_menubar tut_with_arrow Next" data-options="tipLocation:none">
          <h2>This is the tools menu</h2>
          <p i18n-key="i.walk11">In this zone you will manage all the slides in the grey spaces at the bottom. Every next slide available will be appearing at the grey zones. Click on "Next" to continue. </p>
        </li>
        <li data-id="save_excursion_details"  class="tut_saveexcursion tut_with_arrow" data-options="tipLocation:none;" data-text="Next">
          <h2>Save Button</h2>
          <p i18n-key="i.walk12">This button will able you to save your excursion.Click on "Next" to continue.</p>
        </li>
        <li data-id="addslidebutton" class="tut_addslide tut_with_arrow" data-text="Close">
          <h2>Add new slide button</h2>
          <p i18n-key="i.walk13">This icon will get you to the templates selection screen to add your slide to your excursion. As you add the slides they will appear at the time-line as a icon providing you with the pagination of it inside the presentation. Click on "Close" to finish this walkthrough and start adding content to your excursion.</p>
        </li>
      </ol>
      
      <!--help for template-->
      <ol id="template_help" class="joyRideTipContent">
        <li data-id="zone1" data-text="Close" class="custom tut_template tut_without_arrow" data-options="tipLocation:none">
          <h2>Adding content to a slide</h2>
          <p>
            <span i18n-key="i.walk15">To fill the slide you choosen with content, you can click the grey spaces in the template.If you click on one of them,the content icons will appear:</span>
            <img id="contentusetut" src="/assets/contentuse.png"/>
            <ul>
              <li>
                <h1>Text</h1>
                <img id="textimagetut" src="/assets/text_small.png"/>
              </li>
              <li>
                <h1>Images</h1> 
                <img id="imageimagetut" src="/assets/image_small.png"/>
              </li>
              <li>
                <h1>Flash Content</h1> 
                <img id="flashimagetut" src="/assets/flash_small.png"/>
              </li>
              <li>
                <h1>Videos</h1> 
                <img id="videoimagetut" src="/assets/video_small.png"/>
              </li>
            </ul>
            <span i18n-key="i.walk16">
            If you click one of these icons (depending on which content do you choose to fill the grey space) another
            window will pop-up to help you, for an exception of the text icon, which will make appear a text tools bar at 
            the top of the application that will help you defining the style for your text.
            </span>
          </p>
          <p><img id="textedimagetut" src="/assets/textedimg.png"></p>
          <p>
            <span i18n-key="i.walk17">Once, you fill the grey space with content, you can edit whenever you want just by clicking on it again, and in case you want to delete the content you can use the icon at the right bottom corner on your space:</span>
            <ul>
              <li>
                <h1>Delete Content</h1>
                <img id="deleteimagetut" src="/assets/del_content_small.png"/>
              </li>
            </ul>
            <span i18n-key="i.walk18">If you want to delete a slide you can use the close icon to do the task at the right upper corner:</span>
            <ul>
              <li>
                <h1>Close or Delete</h1>
                <img id="delimagetut" src="/assets/delete.png"/>
              </li>
            </ul>
            <span i18n-key="i.walk19">If you need any help with any of the content you can always use the help icons in their respective windows.Click on "Close" to finish this walkthrough.</span>
          </p>          
        </li>       
      </ol>
    
      <!--help for template selection fancybox-->
      <ol id="help_template_selection_help" class="joyRideTipContent">
        <li data-id="thumbcontent" data-text="Close" class="custom tut_templatesel tut_without_arrow" data-options="tipLocation:none">
          <h2>Selecting a Slide</h2>
          <p i18n-key="i.walk14">This window offers you a variety of templates to create your excursion.You just have to click on one of the image to add it in order to fill it with your content.Click on "Close" to finish this walkthrough.</p>
        </li>     
      </ol>
    
      <!--help for fancybox of images-->
      <ol id="images_fancy_tabs_id_help" class="joyRideTipContent">
          <li data-id="thumbcontent" data-text="Next" class="custom tut_fancy_index tut_without_arrow" data-options="tipLocation:none">
            <h2>Adding Images</h2>
            <p i18n-key="i.walk20">This window will help you in order to add images to the slide. As you can see in the top zone of this window there are few choices:</p>
            <ul>
              <li data-options="tipLocation:top;">
                <h1>Url</h1>
                <span i18n-key="i.walk21">(add image by pasting a url)</span>
              </li>
              <li>
                <h1>Upload</h1>
                <span i18n-key="i.walk22">(add image by upload it from your computer)</span>
              </li>
              <li>
                <h1>Vish</h1>
                <span i18n-key="i.walk23">(add an image by choosing one from the ViSH repository)</span>
              </li>
              <li>
                <h1>Flickr</h1>
                <span i18n-key="i.walk24">(add an image by choosing one from Flickr)</span>
              </li>
            </ul>
            <p i18n-key="i.walk25">Now, you are on the url section, Click on "Next" to continue</p>.
          </li>  
          <li data-id="picture_url" data-text="Next">
            <h2>Adding images by url</h2>
            <p i18n-key="i.walk26">This box is used for pasting or writing on it, a url that contains an image, by example:</p>
            <h1>http://www.####.com/example.jpg</h1>
            <p i18n-key="i.walk27">This supports almost every image format files (jpg,tiff,png,gif...) Click on "Next" to continue. </p>
          </li>     
          <li data-id="picture_preview" data-text="Close" class="custom tut_preview tut_without_arrow" data-options="tipLocation:none">
            <h2>See the image before you add it</h2>
            <p i18n-key="i.walk28">This zone will show you (once you added a link and clicked on "preview") the image you are going to add. Once you are ready to add the image, you just have to click and the button in the right of this zone called "add content"(this button will appear when the image is on preview). Click on "Close" to finish this Walkthrough.</p>
          </li>
      </ol>
            
      <ol id="upload_picture_form_help" class="joyRideTipContent">
        <li data-id="upload_file_input" data-text="Next" class="custom" data-options="tipLocation:bottom">
          <h2>Adding images by upload</h2>
          <p i18n-key="i.walk29">By clicking on the "Browse" button you will access to a browser windows that will allow you to choose an image from your device.Once you do that, you can click the "upload" button in order to preview the image in zone below. This supports almost every image format files (jpg,tiff,png,gif...) Click on "Next" to continue </p>
        </li>         
        <li data-id="picture_preview" data-text="Close" class="custom tut_preview tut_without_arrow" data-options="tipLocation:none">
          <h2>See the image before you add it</h2>
          <p i18n-key="i.walk28">This zone will show you (once you uploaded a file and clicked on "upload") the image you are going to add. Once you are ready to add the image, you just have to click and the button in the right of this zone called "add content"(this button will appear when the image is on preview). Click on "Close" to finish this Walkthrough. </p>
        </li>
      </ol>
      
      <ol id="search_picture_help" class="joyRideTipContent">
        <li data-id="search_picture" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search images in Vish repository</h2>
          <p i18n-key="i.walk30">This box will allow you to search for images in the vish repository.
            Just write inside a word and a gallery will appear to show you the results, If you want to add an image from the results you just have to click on it.
            Click on "Close" to finish this walkthrough.
          </p>
        </li>       
      </ol>
      
      <ol id="search_flickr_fancy_help" class="joyRideTipContent">
        <li data-id="search_flickr_fancy" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search images in Flickr</h2>
          <p i18n-key="i.walk31">This box will allow you to search for images in Flickr.
            Just write inside a word and a gallery will appear to show you the results, If you want to add an image from the results you just have to click on it.
            Click on "Close" to finish this walkthrough.
          </p>
        </li>       
      </ol>
      
      
      <!--help for fancybox of flash-->
      <ol id="flash_fancy_tabs_id_help" class="joyRideTipContent">
        <li data-id="flash_fancy_tabs_id" data-text="Next" class="custom tut_fancy_index tut_without_arrow" data-options="tipLocation:none">
            <h2>Adding flash content</h2>
            <p> 
              <span i18n-key="i.walk32">This window will help you in order to add Flash content to the slide. As you can see in the top zone of this window there are few choices:</span> 
            </p>
            <ul>
              <li data-options="tipLocation:bottom">
                <h1>Embed</h1>
                <span i18n-key="i.walk33">(add flash content by pasting a url)</span>
              </li>
              <li>
                <h1>Upload</h1> 
                <span i18n-key="i.walk34">(add flash content by upload it from your computer)</span>
              </li>
              <li>
                <h1>Vish</h1>
                <span i18n-key="i.walk35"> (add flash content by choosing one from the ViSH repository)</span>
              </li>
            </ul>
            <span i18n-key="i.walk36">Now, you are on the url section, Click on "Next" to continue.</span>
        </li>
        <li data-id="flash_embed_code" data-text="Next">
          <h2>Adding Flash content by url</h2>
          <p> 
            <span i18n-key="i.walk37"> This box is used for pasting or writing on it, a url that contains a flash content, by example:</span>
            <h1>http://www.####.com/example.swf</h1>
            <span i18n-key="i.walk38">This supports Flash content (like swf files) Click on "Next" to continue.</span>
          </p>
        </li>     
        <li data-id="picture_preview" data-text="Close" class="custom tut_preview tut_without_arrow" data-options="tipLocation:none;">
          <h2>See the content before you add it</h2>
          <p i18n-key="i.walk28">This zone will show you (once you added a link and clicked on "preview") the content that you are going to add.
               Once you are ready to add the content, you just have to click and the button in the right of this zone called
               "add content"(this button will appear when the content is on preview).
               Click on "Close" to finish this Walkthrough.
          </p>
        </li>   
      </ol>
            
      <ol id="upload_flash_form_help" class="joyRideTipContent">
        <li data-id="flash_file_input" data-text="Next" class="custom" data-options="tipLocation:bottom;">
          <h2>Adding flash content by upload</h2>
          <p>
            <span i18n-key="i.walk39">By clicking on the "Browse" button you will access to a browser windows that will allow you to choose a file from your device.Once you do that, you can click the "upload" button in order to preview the content in zone below.This supports almost every swf file.Click on "Next" to continue </span>
          </p>
        </li>     
        <li data-id="picture_preview" data-text="Close" class="custom tut_preview tut_without_arrow" data-options="tipLocation:none;">
          <h2>See the content before you add it</h2>
          <p i18n-key="i.walk28">This zone will show you (once you uploaded a file and clicked on "upload") the content you are going to add.
               Once you are ready to add it to the slide, you just have to click and the button in the right of this zone called
               "add content"(this button will appear when the content is on preview).
               Click on "Close" to finish this Walkthrough.
          </p>
        </li>       
      </ol>
      
      <ol id="search_flash_help" class="joyRideTipContent">
        <li data-id="search_flash" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search flash content</h2>
          <p i18n-key="i.walk40">This box will allow you to search for flash content in the ViSH repository.
            Just write inside a word and a gallery will appear to show you the results, If you want to add one from the results you just have to click on it, then, the content will appear below and you will be able to add it to your slide by click the "add button"
            Click on "Close" to finish this walkthrough.
          </p>
        </li>       
      </ol>
      
      
      <!--help for fancybox of videos-->
      <ol id="video_fancy_tabs_id_help" class="joyRideTipContent">
        <li data-id="video_fancy_tabs_id" data-text="Next" class="custom tut_fancy_index tut_without_arrow" data-options="tipLocation:none">
          <h2>Adding Video</h2>
          <p>
            <span i18n-key="i.walk41">This window will help you in order to add videos to the slide. As you can see in the top zone of this window there are few choices: </span>
            <ul>
              <li data-options="tipLocation:bottom">
                <h1>Url</h1> 
                <span i18n-key="i.walk42"> (add video by pasting a url)</span>
              </li>
              <li>
                <h1>Vish</h1>  
                <span i18n-key="i.walk43">(add video from the ViSH repository)</span>
              </li>
              <li>
                <h1>Youtube</h1>
                <span i18n-key="i.walk44">(add video by choosing one from Youtube)</span>
              </li>
              <li>
                <h1>Vimeo</h1>  
                <span i18n-key="i.walk45">(add video by choosing one from Vimeo)</span>
              </li>
            </ul>
            <span i18n-key="i.walk46">Now, you are on the url section, Click on "Next" to continue.</span>
          </p>
        </li>  
          <li data-id="video_url" data-text="Next" class="custom">
            <h2>Adding video by url</h2>
            <p>
              <span i18n-key="i.walk47">This box is used for pasting or writing on it, a url that contains a video, by example:</span>
              <h1>http://www.####.com/example.avi</h1>
              <span i18n-key="i.walk48">This supports almost every image format files (avi,mpg,flv...) Click on "Next" to continue.</span>
            </p>
          </li>     
          <li data-id="picture_preview" data-text="Close" class="custom tut_preview tut_without_arrow" data-options="tipLocation:none">
            <h2>See the video before you add it</h2>
            <p i18n-key="i.walk28">This zone will show you (once you added a link and clicked on "preview") the video you are going to add.
               Once you are ready to add the ideo, you just have to click and the button in the right of this zone called
               "add content"(this button will appear when the video is on preview).
               Click on "Close" to finish this Walkthrough.
            </p>
          </li>     
      </ol>
      
      <ol id="search_video_help" class="joyRideTipContent">
        <li data-id="search_video" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search videos in Vish repository</h2>
          <p i18n-key="i.walk49">Just write inside a word (press Enter)and a gallery will appear to show you the results, If you want to add one from the results you just have to click on it, then, the video will appear below and you will be able to add it to your slide by click the "add button". Click on "Close" to finish this walkthrough.</p>
        </li>           
      </ol>
          
      <ol id="search_youtube_fancy_help" class="joyRideTipContent">
        <li data-id="search_youtube_fancy" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search videos in Youtube</h2>
          <p i18n-key="i.walk50">Just write inside a word (press Enter)and a gallery will appear to show you the results, If you want to add one from the results you just have to click on it, then, the video will appear below and you will be able to add it to your slide by click the "add button". Click on "Close" to finish this walkthrough.</p>
        </li>       
      </ol>
      
      <ol id="search_vimeo_fancy_help" class="joyRideTipContent">
        <li data-id="search_vimeo_fancy" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search videos in Vimeo</h2>
          <p i18n-key="i.walk51">Just write inside a word (press Enter)and a gallery will appear to show you the results, If you want to add one from the results you just have to click on it, then, the video will appear below and you will be able to add it to your slide by click the "add button". Click on "Close" to finish this walkthrough.</p>
        </li>       
      </ol>
      
		  <!--help for fancybox of live-->
      <ol id="tab_live_webcam_id" class="joyRideTipContent">
        <li data-id="thumbcontent" data-text="Next" class="custom tut_fancy_index tut_without_arrow" data-options="tipLocation:none">
          <h2>Adding Live Content</h2>
          <p i18n-key="i.walk52">This window will help you in order to add Live content to a slide. As you can see in the top zone of this window there just one choice for now:</p>
          <ul>
            <li data-options="tipLocation:none;">
              <h1>Webcam</h1>
              <span i18n-key="i.walk53">(add video from a live webcam)<span>
            </li>
          </ul>
          <p i18n-key="i.walk54">Now, you are on the webcam section, Click on "Next" to continue</p>.
        </li>
        <li data-id="search_webcam" data-text="Close" class="custom tut_search tut_with_arrow_up" data-options="tipLocation:none">
          <h2>Search Live Content</h2>
          <p i18n-key="i.walk55">Just write inside a word (press Enter)and a gallery will appear to show you the results, If you want to add one from the results you just have to click on it, then, the content will appear below and you will be able to add it to your slide by click the "add button". Click on "Close" to finish this walkthrough.</p>
        </li> 
      </ol> 
      
