<!-- help excursion -->
<div class="excursion-message-info alert alert-info">
<div class="excursion-item">
  <div class="excursion-item">
    <ul class="thumbnails">
      <li class="img-excursion">
        <%= link_to image_tag("logos/original/excursion-vish.png"), "/excursions/6"%>
      </li>
      <li class="info-excursion">
        <div class="title-excursion-help">
          <%= link_to  t('excursion.how'), "/excursions/6"%>
        </div>
        <div class="by">by 
          <%= t('site.name') %>
        </div>
      </li>
    </ul>
  </div>
</div>





<!-- mesagge info -->
<div class="text-help-excursion">
  <%=t('excursion.newnet_html')%>
</div>
</div>

