<p id="notice"><%= notice %></p>

<div id="editor_wrapper">
  <iframe class="vishEditorIframe" id="presentation_editor_iframe" src="<%=edit_excursion_path(@excursion, :format => :full)%>" width="1200" height="750" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0; ></iframe>
</div>

<%=javascript_include_tag "VISH.IframeAPI" %>

<% content_for :javascript do %>
    function setFavicon(){
      var link = $('link[type="image/vnd.microsoft.icon"]').remove().attr("href");
      $('<link href="'+ link +'" rel="shortcut icon" type="image/x-icon" />').appendTo('head');
    }
        
    location.href = "#presentation_iframe";
    setFavicon();

    $(window).bind("beforeunload", function(e){
      if(false) {
        return I18n.t("excursion.unload_warning");
      }
    });

    window.onload = function(){
      VISH.IframeAPI.init({callback: onConnect});
    };
    function onConnect(origin){
      //console.log("Communication stablished with " + origin);
    }
<%end%>


