  <script>
   
  </script>

<div id="search">
  <div class="tabbable" >
    <ul class="nav nav-tabs">
     <li class="active">
      <a href="#home"><%= t("navigation.home")%></a>
    </li>
    <li><a href="#network"><%=t("navigation.mynetwork") %></a></li>
    <li><a href="#catalogue"><%=t("navigation.catalogue") %></a></li>
      
    </ul>
  </div>
</div>
   

   <div class="tab-content">
    <div class="tab-pane active" id="home"><%= render partial: 'excursions/home_excursions' %></div>
    <div class="tab-pane" id="network">...</div>
    <div class="tab-pane" id="catalogue">...</div>
  </div>

