<div id="editor_wrapper">
	<iframe id="presentation_iframe" src="<%=new_excursion_path(:format => :full)%>" width="1200" height="750" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0;></iframe>
</div>