
  <section class="slides layout-regular template-default">
	<button id="page-fullscreen" class="fullscreen" type="submit" style="border: none; background-color: transparent" tabindex="2"></button>
	<div id="viewbar" class="viewbar">
		<button id="page-switcher-start" class="page-switcher" tabindex="2">
			<
		</button>
		<div id="slide-counter"></div>
		<button id="page-switcher-end" class="page-switcher" tabindex="2" >
			>
		</button>
		</button>
	</div>
</section>
  
<script>	
	options = {};
	var configuration = {};

	configuration["ImagesPath"] = "/assets/";
	configuration["StylesheetsPath"] = "/assets/";

	configuration["presentationSettings"] = true;
	configuration["presentationTags"] = true;
	configuration["presentationThumbnails"] = true;

	configuration["VishLives"] = true;
	configuration["VishRepo"] = true;

	configuration["Flickr"] = true;
	configuration["Youtube"] = true;
	configuration["Vimeo"] = false;

	configuration["Upload"] = true;

	configuration["mode"] = "vish";
	options["configuration"] = configuration;
	options["developping"] = false;

	options["token"] = "<%= form_authenticity_token %>";
	options["lang"] = "<%= I18n.locale.to_s%>";

	options["quiz_active_session_id"]=false;

	<% if user_signed_in? %>
	    options["username"] = "<%= current_user.name %>";
	<% else %>
	    options["username"] = false;
	<% end %>

	function start(){
		var myexcursion;
		if(window.parent.VISH && window.parent.VISH.Editor && (typeof window.parent.VISH.Editor.Preview.getPreview == "function") && (typeof window.parent.VISH.Editor.Preview.getPreview() != 'undefined')){
        	//called to show a preview
        	myexcursion =  window.parent.VISH.Editor.Preview.getPreview();
      	}
      	else{
      		<% if @excursion %>
      			myexcursion = <%= raw @excursion.json %>;
      		<%else%>
      			myexcursion = null;
      		<%end%>
      	}
		VISH.SlideManager.init(options , myexcursion);
	}
</script>
