<section class="slides layout-regular template-default">
    <button id="page-fullscreen" class="fullscreen" type="submit" style="border: none; background-color: transparent" tabindex="2"></button>
    <div id="flashcard-background"></div>
</section>

<div id="viewbar" class="viewbar" style="display:none">   
	<button id="page-switcher-start" class="page-switcher" tabindex="2"><</button>
    <div id="slide-counter"></div>
  <button id="page-switcher-end" class="page-switcher" tabindex="2" >></button>
</div>
 

<div id='mask_stop_quiz' style='display:none,'></div>
<iframe id="my_game_iframe" src="" style="border:0" width="890" height="740" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0; ></iframe>

    <!-- Hidden link to open fancybox when start a quiz session inside a slide  -->
    <a id="addQuizSessionFancybox" href="#start_quiz_fancybox" style="display: none;"></a>    
    <!-- Hidden link to open fancybox when stop a quiz session  -->
    <a id="stopQuizSessionFancybox" href="#stop_quiz_fancybox" style="display: none;" name='modal_fancybox'></a>    

    
    <!-- quiz Session Fancybox -->
    <div style='display:none'>
        <div id="start_quiz_fancybox" class="outer_box">
             <div class="fancy_tabs" id="start_quiz_fancy_tabs_id">      
                    <ul>
                      <li><a href="#" onclick="VISH.Utils.loadTab('tab_quiz_session')" id="tab_quiz_session" class="fancy_tab" i18n-key="i.quiz_session">url</a></li>
                      <li><a href="#" onclick="VISH.Utils.loadTab('tab_quiz_stats_bars')" id="tab_quiz_stats_bars" class="fancy_tab" i18n-key="i.statistics_bars">Stats 1</a></li>
                      <li><a href="#" onclick="VISH.Utils.loadTab('tab_quiz_stats_pie')" id="tab_quiz_stats_pie" class="fancy_tab" i18n-key="i.statistics_pie">Stats 2</a></li>
                    </ul>
                    <img class='help_in_fancybox' id='tab_quiz_session_help' src='/assets/helptutorial_circle_blank.png'/>
                    <img class='help_in_fancybox' id='tab_quiz_stats_bars_help' src='/assets/helptutorial_circle_blank.png'/>
                    <img class='help_in_fancybox' id='tab_quiz_stats_pie_help' src='/assets/helptutorial_circle_blank.png'/>
                </div>
            <div id='tab_quiz_session_content' class="fancy_tab_content" style='display:none;'>
                <div class='quiz_session_header'>
                     <div class='url_share_container'>
                        <span><a target="blank_" href="#" class='url_share_link'></a></span>
                    </div>
                  </div>
                <div class='quiz_session_body'>
                    <div id='hidden_for_qr_quiz' class='hidden_for_qr_quiz' style='display:none;'></div>
                    <div class='quiz_session_qrcode_container'>
                        <img id='qr_quiz_image_id' class="qr_quiz_image" src=""/>
                         <img class='qr_background' src='/assets/quiz/qrcode_background.png' />
                    </div>
                <div class='buttons_container'>
                         <img id="qr_quiz_fullscreen" class='quiz_full_screen' src='/assets/quiz/fullscreen_gofull.png' />
                         <img id="qr_quiz_fullscreen_close" class='quiz_full_screen_back' src='/assets/quiz/fullscreen_goback.png' />
                         <img class='hide_qrcode' src='/assets/quiz/hide_eye.png' />
                         <img class='show_qrcode' src='/assets/quiz/eye.png' />
                    </div>    
               
                </div>
                <div class='quiz_session_inputs_container'>
                        <input type='hidden' class='quiz_session_id' name='quiz_session_id' />
                        <input type='button' class='quiz_session_stop_button' value='Stop Quiz'/>
                    </div>
            </div>
            <div id='tab_quiz_stats_bars_content' class="fancy_tab_content" style='display:none;'>     
                  <div id='quiz_stats_bars_content_id' class='quiz_stats_bars_content'>
                        <div id='quiz_question_container_id' class='quiz_question_container'>
                        </div>
                        <div id='quiz_options_container_id' class='quiz_options_container'> </div>
                        <div class='quiz_session_inputs_container'>
                            <input type='button' class='quiz_session_stop_button' value='Stop Quiz'/>
                        </div>
                  </div>

            </div>  
             <div id='tab_quiz_stats_pie_content' class="fancy_tab_content" style='display:none;'>     
                  <div id='quiz_stats_pie_content_id' class='quiz_stats_pie_content'>

                        <div id='quiz_question_container_id' class='quiz_question_container'>
                        </div>
                        <div id='quiz_chart_container_id' class='quiz_chart_container'><img class='img_chart'/>
                        </div>
                        <div class='quiz_session_inputs_container'>
                            <input type='button' class='quiz_session_stop_button' value='Stop Quiz'/>
                        </div>
                  </div>

            </div>  
                
         </div>       
    </div>

      <div id='stop_quiz_fancybox' class='outer_box' style='diplay:none;'>
            <div id='stop_quiz_fancybox_content' class='window'>
                 <p class='stop_quiz_text'> Are you sure to stop the quiz?</p>
                <input type='text' class='input_text_fancy quiz_saved_session_name' style='position:relative;'  />
                <input type='button' class='quiz_stop_session quiz_stop_session_cancel' value='Cancel'/>
                <input type='button' class='quiz_stop_session quiz_stop_session_dont_save' value='Dont save'/>
                <input type='button' class='quiz_stop_session quiz_stop_session_save' value='Save'/>
            </div>    
         </div>        
      

<div id='mask_stop_quiz' style='display:none,'></div>

<div style="display:none" id="viewerpreview">Preview</div>
<button id="closeButton" style="display:none" ><img id="closeButtonImg" src="/assets/back_icon.png"/></button>
<button id="back_arrow" class="vish_arrow" style="display:none" tabindex="2"><</button>
<button id="forward_arrow" class="vish_arrow" style="display:none" tabindex="2">></button>

<script>	
	options = {};
	var configuration = {};

	configuration["ImagesPath"] = "/assets/";
	configuration["StylesheetsPath"] = "/assets/";
	configuration["mode"] = "vish";
	options["configuration"] = configuration;
	options["full"] = true;
	options["developping"] = false;

	options["token"] = "<%= form_authenticity_token %>";
	options["lang"] = "<%= I18n.locale.to_s%>";

	<% if user_signed_in? %>
	    options["username"] = "<%= current_user.name %>";
	<% else %>
	    options["username"] = false;
	<% end %>

	options.addons = [];

	if(window.parent.loadIframeMessenger===true){
		var addon = new Object();
		addon.target = "Viewer";
		addon.id = "IframeMessenger";
		addon.url = "";
		addon.config = {enable: true};
		options.addons.push(addon);
	}

	function start(){
		var isPreview = false;
        try {
            isPreview = window.parent.VISH && 
            			window.parent.VISH.Editor && 
            			(typeof window.parent.VISH.Editor.Preview.getPreview == "function") && 
            			(typeof window.parent.VISH.Editor.Preview.getPreview() != 'undefined');
        } catch(exception) {
            isPreview = false;
        }
        
		var myexcursion;

		if(isPreview){
			options["preview"] = true;
        	myexcursion =  window.parent.VISH.Editor.Preview.getPreview();
      	} else {
      		<% if @excursion %>
      			myexcursion = <%= raw @excursion.json %>;
      		<%else%>
      			myexcursion = null;
      		<%end%>
      	}
		VISH.SlideManager.init(options , myexcursion);
	}
</script>
