
    <section class="slides layout-regular template-default">
    </section>
  
  
<script>
	//first function called when page loads
	function start(){
		VISH.SlideManager.init(<%= raw @excursion.json %>);
	}
</script>