<p id="notice"><%= notice %></p>

<iframe src="<%=excursion_path(@excursion, :format => :full)%>" width="900" height="750"></iframe>

<%= link_to 'Edit', edit_excursion_path(@excursion) %> |
<%= link_to 'Back', excursions_path %>
