
    <section class="slides layout-regular template-default">
    	<button id="page-switcher-start" class="page-switcher" tabindex="2"><</button>
  		<button id="page-switcher-end" class="page-switcher" tabindex="2" >></button>
    </section>
    
    
  
  
<script>
	//first function called when page loads
	function start(){
		VISH.SlideManager.init(<%= raw @excursion.json %>);
	}
</script>