<div class="rsevaluation_lo">
  <div class="column1">
    <ul class="items">
      <%= render :partial => 'entities/entity', :locals => { :entity => @lo, :prefix_id=> "rsevaluation" } %>
    </ul>
  </div>
  <div class="column2">
    TODO
  </div>
</div>