// followers page

.tabs-followers-follow
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
.follower-item
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  margin-left: 0px
  display: inline-block
  float: left
  ul.thumbnails
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    margin-left: 0px
    li
      margin-left: 0px
    .avatar
      @include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
      margin-left: 0px
      diplay: inline-block
      float: left
      height: 75px
      a
        display: inline-block
        margin-top: 0
        width: 75px
    .info_user
      @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
      diplay: inline-block
      float: left
      .name
        margin-top: -3px
        margin-bottom: -3px
        @include ellipsis 
        padding-left: 10px
        width: 86%
        display: inline-block
        float: left
        font-family: $secondFontFamily
        font-size: $tittleFontSize
        word-wrap: break-word
      .action
        display: inline-block
        float: right
        margin-top: -4px
      .upfoll
        font-size: 11px
        color: $gray
        padding-left: 10px
        line-height: 18.5px
        a
          color: $blue-1
.btn-item-follow
  padding-left: 10px
  float: right
.follow
  @include grid-fluid-span(9, $fluidGridColumnWidth, $fluidGridGutterWidth)
  height: 14px
  margin-top: 3px
  padding: none
.suggestion-title
  clear: both
  color: $red-1
  display: inline-block
  float: right
  text-align: right
