<div id="editor_wrapper">
  <iframe id="presentation_editor_iframe" src="<%= edit_dali_document_path(:format => :full)%>" scrolling="no" style="border:0" width="1200" height="750" iframeborder="0" frameborder="0" iframeElement.frameBorder=0; webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true" scrolling="false"></iframe>
</div>

<%= render :partial => 'dali_documents/scale_dali_documents' %>
