<div id="editor_wrapper">
  <iframe id="presentation_editor_iframe" src="<%= new_dali_document_path(:format => :full)%>" scrolling="no" width="1200" height="750" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder=0; webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true"></iframe>
</div>

<%= render :partial => 'dali_documents/scale_dali_documents' %>
