#show_excursions
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .visor
    @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
    display: block
    float: left
    height: 400px
    background-color: $grayLighter
  .activity
    margin-top: 20px
    @include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
    background-color: $gray
    display: block
    float: left
    height: 400px

  .recomended_excursion
    display: block
    float: left
    height: 400px
    @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
    ul.excursions
      .excursions-item
        @include excursion-box-small
        @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        margin: 15px 11.5px
        list-style: none
        img.img-excursion
          @include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
          float: left
          display: block

        &:first-child
          margin-left: 0
        .badges
          display: none
        .info
          @include grid-fluid-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
          float: left
          display: block
          font-family: $firstFontFamily
          padding: 5px 5px 0 5px
          h5
            color: $green
            font-size: 12px
            margin: 0 auto
            display: inline
            a
              img
                width: 10px
                margin-top: -2px
          .views
            float: right
            margin: -4px 0 -3px 0
            h5.name
              margin: 0 0 5px 0
              line-height: 18px
              a
                float: left
                line-height: 17px
            

        .info-bottom
          font-family: $firstFontFamily
          clear: both
          hr
            margin: 0
          .soften
            margin-bottom: 1px
          h5.author
            width: 154px
            margin: 1px 0 2px 0
            font-size: 13px
            a
              @include ellipsis
              width: 56%
              display: initial

            .like
              float: right
              font-size: 12px
              span
                color: $green
                display: inline
              a
                width: 30px
                img
                  width: 10px
                  margin-top: -2px
          .date,
          .category
            float: right
            font-size: 12px
          .date
            color: $green