#editor_wrapper
  width: 100%
  text-align: center
  position: relative
  margin: 0 auto
  display: block
  .popover-content
    p
      color: $gray
.discard_draft
  position: absolute
  top: 0
  right: -24px
  z-index: 10
  @include border-left-radius(0px)
  font-size: 15px


  