<nav class="headernav">
  <%= link_to(raw("<i class='icon-home icon-large'></i> "), excursions_path, :class => "btn-header tooltip-header", :title =>  t('navigation.home'), :rel => 'tooltip') %>
  <%= link_to(raw("<i class='icon-envelope-alt icon-large" + (current_subject.unread_messages_count > 0 ? " iconnav-notification_message" : "") + "'></i> "), messages_path, :class => "btn-header tooltip-header", :title => current_subject.unread_messages_count.to_s + t('message.unread'), :rel => 'tooltip') %>
 <%= link_to(raw("<i class='icon-bell icon-large'></i> "),
                  contacts_path,
                  :class => "btn-header tooltip-header",
                  :title => current_subject.followers.count.to_s + ' ' + t('follow.followers') + ' / ' + current_subject.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings'),
                  :rel => 'tooltip') %>
  <%= link_to(raw("<i class='icon-facetime-video icon-large'></i> "), excursions_path, :class => "btn-header tooltip-header", :title => t('navigation.home'), :rel => 'tooltip') %>
  <%# unless QuizSession.where(:owner_id => Actor.normalize_id(current_user)).blank? %>
  <%#= link_to(raw("<i class='icon_navbar-quiz'></i> "), quiz_sessions_path, :class => "btn-header tooltip-header", :title => t('quiz.other'), :rel => 'tooltip') %>
  <%# end %>
  
</nav>

