<div class="browse">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Browse
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" href="<%=search_path()%>">Popular</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="<%=search_path(:type => "excursion")%>">Excursions</a></li>
      <li><a tabindex="-1" href="<%=search_path(:type => "user")%>">Users</a></li>
      <li><a tabindex="-1" href="<%=search_path(:type => "resource")%>">Resources</a></li>
    </ul>
  </li>
</div>