<nav class="browse">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Browse
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" href="#">Popular</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Excursions</a></li>
      <li><a tabindex="-1" href="#">Categories</a></li>
      <li><a tabindex="-1" href="#">Events</a></li>
      <li><a tabindex="-1" href="#">Resources</a></li>
    </ul>
  </li>
</nav>