<div class="btn-group " >
  <a href="#" data-toggle="dropdown" class=""><span class="caret"></span></a>
  <ul class="dropdown-menu">
      <li><%=link_to( raw("<i class='icontool16-tool16_followers'></i> ")+ t('excursion.network2')) %></li>

      <li><%=link_to( raw("<i class='icontool16-tool16_my'></i> ")+ t('excursion.my'))%></li>

    <li><%=link_to( raw("<i class='icontool16-tool16_star'></i> ")+ t('excursion.favorites')) %></li>
  </ul>
</div>