<footer id="footer">
    <ul>
        <li>virtual science hub beta &nbsp;&nbsp;2012</li>
        <li><a href="#">conditions & terms of use</a></li>
        <li><a href="#">help</a></li>
        <li><a href="#">languajes</a></li>
    </ul>
</footer>
