<ul class="center">
  <li><%= t('site.name') %> &nbsp;©&nbsp;<%= Date.today.year %></li>
  <li><a href="#">conditions & terms of use</a></li>
  <li><a href="#">help</a></li>
  <li><a href="#">languajes</a></li>
</ul>
