<div class="row">
  <div class="span6">

    <div class="logo-home ">
      <%= link_to(image_tag('logo.png', :alt => t('site.name')), '/', :class => "brand "); %>
    </div>

    <span class="link_virtual size24 virtualsciencehub span3 ">
      <%= link_to(t('site.name'), '/', :class => "brand"); %>
    </span>

  </div>
  <div class="login span6">
    <div id="menu_home">
    </div>
    <div id="espacio_busqueda"></div>
    <div id="header_search">
      <%= render :partial => 'layouts/search', :locals => { :sizeFieldSearch => "input-large" } %>
    </div>
  </div>
</div>
