<div class="banner_top">
  <div id="logo"></div>
  <div id="right">
      <div id="header_search">
          <input type="search" class="header_search_input" name="search" id="search-field" placeholder=search>
      </div>
  </div>
</div>
