<div class="navbar">
  <div class="navbar-inner">
    <div class="container span12">
      <div class="span inline margin-top5">
        <a href="/">
          <img src="/assets/logo.png"  class="pull-left" width="120" height="36" alt="vish logo mobile">
        </a>
      </div>
      <div class="span inline pull-left">
        <form class="navbar-search pull-rigth" action="">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div> 
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

