<article class="container-frontpage row-fluid ">
  <div class=" span12 ">
    <div class="space-center"></div>
    <div class="span12 ">
      <div class="logo">
        <a href="/">
          <img class="" src="/assets/VISH_frontpage.png">
        </a>
      </div>
      <div class="DsignesLight name size-responsive gray">Virtual Science Hub</div>
    </div>
  </div>
</article>

