<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container ">
      <button class="btn btn-navbar margin-top5" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="span margin-right5 margin-top5">
        <img src="/assets/logo.png"  class="pull-left" width="100" height="auto" alt="vish logo mobile">
      </a>


      <% unless controller.class == SearchController %>
        <div class="span2 ">
          <form class="navbar-search pull-rigth" action="<%=search_path%>" method="get">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </div>
      <% end %>


      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active border_bottom margin-top5">
            <%= link_to t('devise.links.sign_in'), new_user_session_path %>
          </li>
          <li class="">
            <%= link_to t('sign_up'), new_user_registration_path %>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
