<article class="container-frontpage row-fluid ">
  <div class=" span12 pagination-centered ">
    <div class="space-center"></div>

      <div class="logo">
        <a href="/">
          <img class="objet_center" src="/assets/VISH_frontpage.png">
        </a>
      </div>
      <div class="DsignesLight name size-responsive gray">Virtual Science Hub</div>

  </div>
</article>

