<header class="header navbar-fixed-top">
    <div class="container-fluid">

      <div class="corporatelogo">
        <%= link_to(image_tag('logo/logo.png', :alt => t('site.name')), '/', :class => ""); %>
      </div>

      <div class="corporatelogo_signedout">
        <h4>virtual science hub</h4>
      </div>

      <div class="navbarbrowse">
      <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">Browse
             <b class="caret"></b>
            </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="#">Popular</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Excursions</a></li>
            <li><a tabindex="-1" href="#">Categories</a></li>
            <li><a tabindex="-1" href="#">Events</a></li>
            <li><a tabindex="-1" href="#">Resources</a></li>
            
          </ul>
        </li>
      </div>

      <div class="navbarsearch">
        <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
      <div class="signin pull-right">
        
        <%=link_to(t('sign_out'), destroy_user_session_path, :method => :delete) %>

      </div>
    </div>
</header>