<div class="row">
  <div class="span6">
    <%= link_to(image_tag('logo.png', :alt => t('site.name')), root_path, :class => "brand inline-block"); %>
    <span class="inline-block link_gray"><h2><%= link_to(t('site.name'), root_path, :class => "brand"); %></h2></span>
  </div>
  <div class="login span6">
    <div id="menu_home">
    </div>
    <div id="espacio_busqueda"></div>
    <div id="header_search">
      <%= render :partial => 'layouts/search', :locals => { :sizeFieldSearch => "input-large" } %>
    </div>
  </div>
</div>
