    <div id="logo"></div>
    <div id="right">
        <div id="searcher">
            <input type="search" class="caja_searcher"name="search" id="search-field" placeholder=search>
        </div>
    </div>
