<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="offset1 span2 inline">
        <a href="/">
          <img src="/assets/logo.png"  class="pull-left" width="120" height="36" alt="vish logo mobile">
        </a>
      </div>
      <% unless controller.class == SearchController %>
        <div class="span3 inline">    
          <form class="navbar-search pull-rigth" action="<%=search_path%>" method="get">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </div> 
      <% end %>
      <div class="btn btn-primary inline">
        <%= link_to t('devise.links.sign_in'), new_user_session_path %>
      </div>
      <div class="btn btn-primary inline-block">
        <%= link_to t('sign_up'), new_user_registration_path %>
      </div>
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

