<article class="row-fluid article">
<div class="space-double-center"></div>
<div class="span11 pagination-centered">
<div class"logo"><a href="/"><img class="article" src="/assets/VISH_frontpage.png"></a></div>
<div id="tags" class=" article name size30">Virtual Science Hub</div>
</div>
</article>
