<article name="main">
  <img class="img-frontpage" src="/assets/corporative/vish.png">
  <div class="name-frontpage"><%=t('site.name')%></div>
    <div class="name-frontpage2"><%=t('site.name')%></div>
</article>
