<div class="container backgindex">
<article class="row-fluid article">
<div class="span12">
<div class="space_top "></div>
<div class="welcome span dsigneslight size50 white">Welcome</div>
<div class="span12">
<div class="space_double-center clear "></div>
<img class="span11 margin-top-double space_bottom article vish-white" src="/assets/VISH_white.png">
</div>
<div class="space"></div>
<form class="span12 margin-bottom navbar-search" action="">
<input type="text" class="span11 search-query" placeholder="Search">
</form>
</article>
</div>

