    <section class="quick-search">

  
      <div class="search-nav ">
      
        <%= form_tag search_path, method: 'get', class: "navbar-search " do %>
          <%= text_field_tag :q, nil, autocomplete: :off, class: 'search-query ', placeholder: t('search.name'), "data-min_query" => SocialStream::Search::MIN_QUERY %>
          <button type="button" id="search_button" class="search_button_class"><i class="icon-search icon-border mini-search"></i></button>
        <% end %>

        



      <%= javascript_tag do %>
        $(function() {
          SocialStream.SearchHeader.show();
          $(".search_button_class").on("click", function(){
            document.location= "/search?q=" + $("#q").val();
          });

        });
      <% end %>
    </section>