<!DOCTYPE html>
<html>
  <head>
    <%if @title%>
      <title><%=@title%></title>
    <% end %>
    <%= favicon_link_tag "icons/favicon.ico" %>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <style type="text/css">
      html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0px !important;
      }
    </style>
    <%= yield :headers %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
