#api_key_settings,
#language_settings,
#cancel_account,
#notifications_settings,
#email_form,
#password_form,
#contact_info,
#experience_info,
#avatar_info,
#profile_info,
#tags_info
  border-bottom: 1px solid $gray-vish
  
  .title
    color: $blue-1
    font-size: 20px
    font-family: $firstFontFamily

  .content,
  #contact_info_briefing
    h4
      color: $gray
    small 
      color: $blue-2
      word-wrap: break-word

    .text
      color: $gray

    .tagBoxNew 
      .tagit 
        border: 1px solid #CCCCCC
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset


#cancel_account
  .title
    color: $red-1
#field_empty
  color: $red-2