#settings  
  .accordion
    @include border-radius($baseBorderRadius)
    @include box-shadow(0 -1px 5px rgba(50,51,51,0.10))
    background: $white
    .accordion-group
      .accordion-heading
        a
          outline: 0px
          font-family: $secondFontFamily
          &:hover,&:focus
            color: $firstColor
            text-decoration: none  
      
    .settings_content
      border-radius: $baseBorderRadius
      @include gradient-vertical-three-colors($startColor: #f3f3f3, $midColor: #f7f7f7, $colorStop: 3%, $endColor: #f1f1f1)
      .accordion-toggle
        @include ellipsis

      .form_label,
      label
        font-size: 1em
        //font-weight: bold
        font-family: $firstFontFamily

      input
        &[type="submit"]
          @include btn-primary
      
      #user_password,
      #user_current_password,
      #user_password_confirmation,
      #user_email
        border: none
        box-shadow: none
        border-bottom: 1px solid #777
        @include border-radius(0px)
        background-color: transparent

    #cancel_account
      &:hover
        border-color: $firstColor !important
        text-decoration: none
        a
          color: $firstColor !important
      #cancel_account_content
        margin-top: 10px
        margin-bottom: 10px
        a
          color: $secondColor !important
          &:hover
            text-decoration: none
