#settings  
  .accordion
    background: $white
    .settings_content
      @include gradient-vertical-three-colors($startColor: #f3f3f3, $midColor: #f7f7f7, $colorStop: 3%, $endColor: #f1f1f1)
      .accordion-toggle
        @include ellipsis

      .form_label,
      label
        font-size: 1em
        font-weight: bold

      input
        &[type="submit"]
          @include btn-primary
      
      #user_password,
      #user_current_password,
      #user_password_confirmation,
      #user_email
        border: none
        box-shadow: none
        border-bottom: 1px solid #777
        @include border-radius(0px)
        background-color: transparent

    #cancel_account
      &:hover
        border-color: $red !important
        a
          color: $red !important
      #cancel_account_content
        a
          color: $red !important