div.search-nav
  float: left
  width: 300px
  @extend hidden-tablet
  form
    width: 100%
    input.search-query
      width: 100%
      margin: -2px 0 0 10px
  .mat
    @include box-shadow(0px 0px 13px rgba(50, 50, 50, 0.15))
    z-index: 200
    margin: 18px 0 0 10px
    width: 322px
    .results
      ul
        margin: 0 0 0px 0px
        padding: 18px 7px 0 7px
        li
          padding: 2px 7px
          
          .contact
            @include contact-layout
        
          .post
            span
         
              padding-left: 4px 
              padding-right: 4px

        li.more
          padding: 13px 7px



.search-mobile
  @extend .hidden-desktop
  @extend .hidden-tablet
  float: left
  margin-top: 0px
  margin-left: 28px
  position: absolute
  z-index: 4
  width: 80%
  &:hover
    z-index: 60


  input
    &[type="text"]
      width: 0px !important
      padding: 0 0 0 22px
      width: 0
      height: 22px
      padding: 2px 11px

  input
    &:hover
      width: 86% !important
      padding-left: 22px