<h3 class="title_WS title_workshop_items_list">
  <%=t('workshop.activities.resource_gallery.title')%>
</h3>

<ul class="ws_gallery items">
	<% wa_resources_gallery.activity_objects.map{|ao| ao.object}.each do |resource| %>
	  <%= render :partial => 'entities/entity', :locals => { :entity => resource, :prefix_id => "wa_resource_gallery_"+wa_resources_gallery.id.to_s } %>
	<% end %>
</ul>
